<div class="col-sm-6 col-md-3 col-lg-3">
    <div class="card card-trombi">
        <div class="flexbox align-items-center px-20 pt-20">
            <label class="toggler toggler-danger fs-16">
                <input type="checkbox" checked>
                <i class="fa fa-heart"></i>
            </label>
            <div class="dropdown">
                <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('user_profil', {slug:'david'}) }}"><i class="fa fa-user"></i> {{ 'profil'|trans }}</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-picture-o"></i>{{ 'site-personnel'|trans }}</a>
                    <a class="dropdown-item" href="#"><i class="ti-world"></i> {{ 'site-univ'|trans }}</a>
                    <a class="dropdown-item" href="#"><i class="ti-email"></i> {{ 'contacter'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="card-body text-center pt-1 pb-50">
            <a href="{{ path('user_profil', {slug:'david'}) }}">
                <img class="avatar avatar-xxl" src="">
            </a>
            <h5 class="mt-3 mb-1">
                <a class="hover-primary" href="{{ path('user_profil', {slug:'david'}) }}">David
                </a>
            </h5>
        </div>
    </div>
</div>