{% extends 'base.html.twig' %}

{% set semestreActif = 0 %}


{% block header %}
    {{ 'trombinoscope.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            {% for semestre in user_data.semestres %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active show{% endif %} semestretrombi" data-toggle="tab"
                       href="#" data-sem="{{ semestre.id }}" role="tab">{{ semestre.libelle }}
                        <small>({{ semestre.etudiants|length }})</small>
                    </a>
                </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link enseignanttrombi" data-toggle="tab" href="#" data-type="permanent" role="tab"> {{ 'permanents.heading'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link enseignanttrombi" data-toggle="tab" href="#" data-type="vacataire" role="tab"> {{ 'vacataires.heading'|trans }}</a>
            </li>
        </ul>
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><i
                        class="material-icons">dashboard</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}


    <div id="trombi">
        {% if user_data.semestres|length > 0 %}
            {% for semestre in user_data.semestres %}
                {% if loop.first %}
                    {% set semestreActif = semestre.id %}
                {% endif %}
            {% endfor %}
            {{ render(controller(
                'App\\Controller\\TrombinoscopeController::trombiEtudiantSemestre', {'semestre':semestreActif}
            )) }}
        {% else %}
            {{ render(controller(
                'App\\Controller\\TrombinoscopeController::trombiPersonnel', {'type':'permanent'}
            )) }}
        {% endif %}
    </div>
{% endblock %}