{% extends 'base.html.twig' %}

{% set semestreActif = 0 %}

{% block stimulus %}
    {{ stimulus_controller('trombinoscope', {
        url: path('trombinoscope_get_data', {type:type}),
        urlGroupe: path('trombinoscope_get_groupe'),
        type: type,
    }) }}
{% endblock %}

{% block header %}
    {{ 'trombinoscope.heading'|trans({'%type%':('trombi.'~type)|trans()}) }}
{% endblock %}

{% block content %}
    {% if type == 'etudiant' %}
        <div class="card">
            <div class="card-body">
                <input type="hidden" name="semestre" id="semestre" value="{{ semestre.id }}">
                <div class="row">
                    <div class="col-3">
                        <label for="typegroupe" class="form-label">Type de Groupe</label>
                        <select class="form-select" id="typegroupe"
                                {{ stimulus_action('trombinoscope', 'changeTypeGroupe') }}
                        >
                            <option value="">Type Groupe</option>
                            {% for tg in typeGroupes %}
                                <option value="{{ tg.id }}"
                                        {% if selectedTypeGroupe != null and tg.id == selectedTypeGroupe.id %}selected{% endif %}
                                >
                                    {{ tg.display }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="groupe" class="form-label">Groupe</label>
                        <select class="form-select" id="groupe"
                                {{ stimulus_action('trombinoscope', 'changeGroupe') }}
                        >
                            {% if selectedTypeGroupe != null %}
                                <option value="">
                                    Choisir un groupe
                                </option>
                                {% for groupe in groupes %}
                                    <option value="{{ groupe.id }}"
                                            {% if groupes|length == 1 and loop.first %}selected{% endif %}>
                                        {{ groupe.display }}
                                    </option>
                                {% endfor %}
                            {% else %}
                                <option value="">Choisir un type de groupe en premier</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="rechercher" class="form-label">
                            Rechercher (nom, prénom, login)</label>
                        <input type="search" class="form-control"
                                {{ stimulus_action('trombinoscope', 'recherche') }}
                               id="rechercher"
                               placeholder="Rechercher">
                    </div>
                    <div class="col-1">&nbsp;</div>
                    <div class="col-2 d-grid">
                        <button class="btn btn-danger d-block"
                                {{ stimulus_action('trombinoscope', 'cleanFiltre') }}
                        >
                            <i class="fas fa-times"></i> Effacer filtre
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="rechercher" class="form-label">
                            Rechercher (nom, prénom, login)</label>
                        <input type="search" class="form-control"
                                {{ stimulus_action('trombinoscope', 'recherche') }}
                               id="rechercher"
                               placeholder="Rechercher">
                    </div>
                    <div class="col-7">&nbsp;</div>
                    <div class="col-2 d-grid">
                        <button class="btn btn-danger d-block"
                                {{ stimulus_action('trombinoscope', 'cleanFiltre') }}
                        >
                            <i class="fas fa-times"></i> Effacer filtre
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row" {{ stimulus_target('trombinoscope', 'content') }}>

    </div>
{% endblock %}

