<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ type~'s.heading'|trans }} ({{ personnels|length }})</h4>
        <div class="card-header-actions" style="">
            {% if is_granted('ROLE_PERMANENT') %}
                <ul class="card-controls">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('trombinoscope_personnel_export', {_format:'pdf', type: type}) }}"
                               class="dropdown-item"><i class="fa fa-file-pdf-o"></i> {{ 'exporter.pdf'|trans }}</a>
                            <a href="{{ path('trombinoscope_personnel_export', {_format:'xlsx', type: type}) }}"
                               class="dropdown-item"><i class="fa fa-file-excel-o"></i> {{ 'exporter.xlsx'|trans }}
                            </a>
                            <a href="{{ path('trombinoscope_personnel_export', {_format:'csv', type: type}) }}"
                               class="dropdown-item"><i class="fa fa-file-text-o"></i> {{ 'exporter.csv'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </header>
    <div class="card-body">

        <div class="row">
            {% if personnels|length >0 %}
                {% for personnel in personnels %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-30" >
                        <div class="text-dark card-body bg-secondary py-20 {{ personnel.statut|border }}"
                             style="min-height: 230px">
                            <div class="flexbox">
                                <a href="{{ path('user_profil', {type: 'personnel', slug: personnel.slug}) }}">
                                    <img class="avatar avatar-xxxl avatar-bordered rounded" src="{{ asset
                                        ('upload/personnels/'~personnel.photoName) }}"
                                         alt="photo de {{ personnel.displayPr }}">
                                </a>
                                <div class="flex-grow pl-20">
                                    <h4><a class="text-dark" data-provide="tooltip"
                                           target="_blank"
                                           data-placement="bottom" title="Profil" href="{{ path('user_profil', {type: 'personnel', slug: personnel.slug}) }}">
                                            {{ personnel.displayPr }}
                                        </a></h4>
                                    <div><i class="fa fa-fw fa-map-marker w-20px"></i>
                                        {% if personnel.statut == 'VAC' %}
                                            {{ personnel.entreprise }}
                                        {% else %}
                                        {{ personnel.bureau1 }} {{ personnel.bureau2 }}
                                            {% endif %}
                                    </div>
                                    <div>
                                        <i class="fa fa-fw fa-globe w-20px"></i>
                                        <a href="{{ personnel.siteUniv }}"
                                           class="text-dark"
                                           target="_blank" title="Site Universitaire" data-provide="tooltip"
                                           data-placement="bottom">{{ personnel.siteUniv|slice(0,20) }}</div>
                                    <div>
                                        <i class="fa fa-fw fa-envelope w-20px"></i>
                                        <a href="mailto:{{ personnel.mailUniv }}" target="_blank" #}
                                           class="text-dark"
                                           title="Contacter" data-provide="tooltip"
                                           data-placement="bottom">Contacter
                                        </a>
                                    </div>
                                    {% if personnel.sitePerso != '' or personnel.sitePerso != null %}
                                        <div>
                                            <i class="fa fa-fw fa-link"></i>
                                            <a href="{{ personnel.sitePerso }}"
                                               class="text-dark"
                                               target="_blank" title="Site personnel" data-provide="tooltip"
                                               data-placement="bottom">{{ personnel.sitePerso|slice(0,20) }}
                                            </a>

                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>





                    {#                    <div class="col-sm-6 col-md-3 col-lg-3">#}
                    {#                        <div class="card card-trombi">#}
                    {#                            <div class="flexbox align-items-center px-20">#}
                    {#                                <label class="toggler toggler-danger fs-16">#}
                    {#                                    &nbsp;#}
                    {#                                </label>#}
                    {#                                <nav class="nav mt-2">#}
                    {#                                    <a href="{{ path('user_profil', {type: 'personnel', slug: personnel.slug}) }}"#}
                    {#                                       class="nav-link"#}
                    {#                                       data-provide="tooltip"#}
                    {#                                       target="_blank"#}
                    {#                                       data-placement="bottom" title="Profil"><i#}
                    {#                                                class="fa fa-user"></i> </a>#}
                    {#                                    <a href="{{ personnel.sitePerso }}"#}
                    {#                                       {% if personnel.sitePerso == '' or personnel.sitePerso == null %}disabled{% endif %}#}
                    {#                                       class="nav-link"#}
                    {#                                       target="_blank" title="Site personnel" data-provide="tooltip"#}
                    {#                                       data-placement="bottom"><i class="fa fa-picture-o"></i> </a>#}
                    {#                                    <a href="{{ personnel.siteUniv }}"#}
                    {#                                       {% if personnel.siteUniv == '' or personnel.siteUniv == null %}disabled{% endif %}#}
                    {#                                       class="nav-link"#}
                    {#                                       target="_blank" title="Site Universitaire" data-provide="tooltip"#}
                    {#                                       data-placement="bottom"><i class="ti-world"></i> </a>#}
                    {#                                    <a href="mailto:{{ personnel.mailUniv }}" target="_blank"#}
                    {#                                       class="nav-link"#}
                    {#                                       title="Contacter" data-provide="tooltip"#}
                    {#                                       data-placement="bottom"><i class="ti-email"></i></a>#}
                    {#                                </nav>#}
                    {#                            </div>#}
                    {#                            <div class="card-body text-center pt-1 pb-50">#}
                    {#                                <a href="{{ path('user_profil', {type: 'personnel', slug: personnel.slug}) }}">#}
                    {#                                    <img class="avatar avatar-xxl"#}
                    {#                                         src="{{ asset('upload/personnels/'~personnel.photoName) }}"#}
                    {#                                         alt="avatar de {{ personnel.display }}">#}
                    {#                                </a>#}
                    {#                                <h5 class="mt-3 mb-1">#}
                    {#                                    <a class="hover-primary"#}
                    {#                                       href="{{ path('user_profil', {type: 'personnel', slug: personnel.slug}) }}">{{ personnel.displayPr }}#}
                    {#                                    </a>#}
                    {#                                </h5>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        Aucun personnel dans ce groupe.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
