<div class="card">
    <h4 class="card-title">{{ 'adm.configuration.tab.departement.heading'|trans }}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <twig:SwitchOptionComponent
                        id="{{ user_data.departement.id }}"
                        cle="optEdt"
                        label="{{ 'table.opt_edt'|trans }}"
                        help="{{ 'help.opt_edt'|trans }}"
                        type="departement"
                        value="{{ user_data.departement.optEdt }}"
                ></twig:SwitchOptionComponent>
                <twig:SwitchOptionComponent
                        id="{{ user_data.departement.id }}"
                        label="{{ 'table.opt_stage'|trans }}"
                        help="{{ 'help.opt_stage'|trans }}"
                        cle="optStage"
                        type="departement"
                        value="{{ user_data.departement.optStage }}"
                ></twig:SwitchOptionComponent>
                <twig:SwitchOptionComponent
                        id="{{ user_data.departement.id }}"
                        cle="optMessagerie"
                        label="{{ 'table.opt_messagerie'|trans }}"
                        help="{{ 'help.opt_messagerie'|trans }}"
                        type="departement"
                        value="{{ user_data.departement.optMessagerie }}"
                ></twig:SwitchOptionComponent>
            </div>
            <div class="col-md-6">
                <twig:SwitchOptionComponent
                        id="{{ user_data.departement.id }}"
                        cle="optAgence"
                        label="{{ 'table.opt_agence'|trans }}"
                        help="{{ 'help.opt_agence'|trans }}"
                        type="departement"
                        value="{{ user_data.departement.optAgence }}"
                ></twig:SwitchOptionComponent>
                <twig:SwitchOptionComponent
                        id="{{ user_data.departement.id }}"
                        cle="optMateriel"
                        label="{{ 'table.opt_materiel'|trans }}"
                        help="{{ 'help.opt_materiel'|trans }}"
                        type="departement"
                        value="{{ user_data.departement.optMateriel }}"
                ></twig:SwitchOptionComponent>
                <twig:SwitchOptionComponent
                        id="{{ user_data.departement.id }}"
                        cle="optSynthese"
                        label="{{ 'table.opt_synthese'|trans }}"
                        help="{{ 'help.opt_synthese'|trans }}"
                        type="departement"
                        value="{{ user_data.departement.optSynthese }}"
                ></twig:SwitchOptionComponent>


                {#                <twig:SelectOptionComponent #}
                {#                        id="{{user_data.departement.id }}" #}
                {#                        cle="respRi" #}
                {#                        label="{{ 'table.respRi'|trans }}" #}
                {#                        help="{{ 'help.respRi'|trans }}" #}
                {#                        type="departement" #}
                {#                        entity="pers" #}
                {#                        value="{{ user_data.departement.respRi != null ? user_data.departement.respRi.id : null }}" #}
                {#                        liste="{{ user_data.personnels }}" #}
                {#                ></twig:SelectOptionComponent> #}

                <div class="media">
                    <div class="media-body">
                        <p><strong>{{ 'table.respRi'|trans }}</strong></p>
                        <p>{{ 'help.respRi'|trans }}</p>
                    </div>
                    <label class="sr-only" for="respRi">respRi</label>
                    <select class="form-select col-sm-6 changeOptionSelect"
                            name="respRi"
                            id="respRi"
                            data-type="departement"
                            data-id="{{ user_data.departement.id }}">
                        <option value="">{{ 'non.selectione'|trans }} / {{ 'aucun'|trans }}</option>
                        {% for personnel in user_data.personnels %}
                            <option value="pers{{ personnel.id }}"
                                    {% if user_data.departement.respRi != null and user_data.departement.respRi.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
