<div class="row">
    <div class="col-md-6">
        <div class="media">
            <div class="media-body">
                <p><strong>{{ 'table.annee_courante'|trans }}</strong></p>
                <p>{{ 'help.annee_courante'|trans }}</p>
            </div>
            <label class="sr-only" for="anneeUniversitaire_{{ diplome.id }}">anneeUniversitaire_{{ diplome.id }}</label>
            <select class="form-select col-sm-6 changeOptionSelect"
                    name="anneeUniversitaire"
                    id="anneeUniversitaire_{{ diplome.id }}"
                    data-type="diplome"
                    data-id="{{ diplome.id }}"
            >
                <option value="">{{ 'non.selectionee'|trans }}
                    / {{ 'aucune'|trans }}</option>
                {% for annee in anneeUniversitaire %}
                    <option value="anneeuniv{{ annee.id }}"
                            {% if diplome.anneeUniversitaire.id == annee.id %}selected{% endif %}>{{ annee.displayAnneeUniversitaire }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="media">
            <div class="media-body">
                <p><strong>{{ 'table.opt_nb_jours_saisie'|trans }}</strong></p>
                <p>{{ 'help.opt_nb_jours_saisie'|trans }}</p>
            </div>
            <label class="sr-only" for="optNbJoursSaisie_{{ diplome.id }}">optNbJoursSaisie_{{ diplome.id }}</label>
            <select class="form-select col-sm-6 changeOptionSelect"
                    name="optNbJoursSaisie"
                    id="optNbJoursSaisie_{{ diplome.id }}"
                    data-type="diplome"
                    data-id="{{ diplome.id }}"
            >
                <option value="0" selected>{{ 'non.selectione'|trans }}
                    / {{ 'illimite'|trans }}</option>
                {% for i in 1 .. 30 %}
                    <option value="{{ i }}"
                            {% if diplome.optNbJoursSaisie == i %}selected{% endif %}>{{ i }}
                        jour(s)
                    </option>
                {% endfor %}
            </select>
        </div>

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_suppr_absence'|trans }}"
                help="{{ 'help.opt_suppr_absence'|trans }}"
                cle="optSupprAbsence_{{ diplome.id }}"
                value="{{ diplome.optSupprAbsence }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>

        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_suppr_absence'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_suppr_absence'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optSupprAbsence_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optSupprAbsence ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optSupprAbsence" #}
        {#                       id="optSupprAbsence_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_espace_perso_visible'|trans }}"
                help="{{ 'help.opt_espace_perso_visible'|trans }}"
                cle="optEspacePersoVisible_{{ diplome.id }}"
                value="{{ diplome.optEspacePersoVisible }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>
        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_espace_perso_visible'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_espace_perso_visible'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optEspacePersoVisible_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optEspacePersoVisible ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optEspacePersoVisible" #}
        {#                       id="optEspacePersoVisible_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_dilpome_decale'|trans }}"
                help="{{ 'help.opt_dilpome_decale'|trans }}"
                cle="optDilpomeDecale_{{ diplome.id }}"
                value="{{ diplome.optDilpomeDecale }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>

        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_dilpome_decale'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_dilpome_decale'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optDilpomeDecale_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optDilpomeDecale ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optDilpomeDecale" #}
        {#                       id="optDilpomeDecale_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_anonymat'|trans }}"
                help="{{ 'help.opt_anonymat'|trans }}"
                cle="optAnonymat_{{ diplome.id }}"
                value="{{ diplome.optAnonymat }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>

        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_anonymat'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_anonymat'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optAnonymat_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optAnonymat ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optAnonymat" #}
        {#                       id="optAnonymat_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}

    </div>
    <div class="col-md-6">
        <div class="media">
            <div class="media-body">
                <p><strong>{{ 'table.opt_nb_semaines_visibles'|trans }}</strong></p>
                <p>{{ 'help.opt_nb_semaines_visibles'|trans }}</p>
            </div>
            <label class="sr-only" for="optSemainesVisibles_{{ diplome.id }}">optSemainesVisibles_{{ diplome.id }}</label>
            <select class="form-select col-sm-6 changeOptionSelect"
                    name="optSemainesVisibles"
                    id="optSemainesVisibles_{{ diplome.id }}"
                    data-type="diplome"
                    data-id="{{ diplome.id }}"
            >
                <option value="0" selected>{{ 'non.selectione'|trans }}
                    / {{ 'afficher.toutes.les.semaines'|trans }}</option>
                {% for i in 1 .. 30 %}
                    <option value="{{ i }}"
                            {% if diplome.optSemainesVisibles == i %}selected{% endif %}>{{ i }}
                        semaine(s)
                    </option>
                {% endfor %}
            </select>
        </div>

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_commentaires_releve'|trans }}"
                help="{{ 'help.opt_commentaires_releve'|trans }}"
                cle="optCommentairesReleve_{{ diplome.id }}"
                value="{{ diplome.optCommentairesReleve }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>
        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_commentaires_releve'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_commentaires_releve'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optCommentairesReleve_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optCommentairesReleve ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optCommentairesReleve" #}
        {#                       id="optCommentairesReleve_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}


        <div class="media">
            <div class="media-body">
                <p><strong>{{ 'table.opt_methode_calcul'|trans }}</strong></p>
                <p>{{ 'help.opt_methode_calcul'|trans }}</p>
            </div>
            <label class="sr-only" for="optMethodeCalcul_{{ diplome.id }}">optMethodeCalcul_{{ diplome.id }}</label>
            <select class="form-select col-sm-6 changeOptionSelect"
                    name="optMethodeCalcul"
                    id="optMethodeCalcul_{{ diplome.id }}"
                    data-type="diplome"
                    data-id="{{ diplome.id }}">
                <option value="moymodules"
                        {% if diplome.optMethodeCalcul == 'moymodules' %}selected{% endif %}>
                    Moyenne des modules
                </option>
                <option value="moyues"
                        {% if diplome.optMethodeCalcul == 'moyues' %}selected{% endif %}>
                    Moyenne des UEs
                </option>
            </select>
        </div>

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_qualite'|trans }}"
                help="{{ 'help.opt_qualite'|trans }}"
                cle="optCertifieQualite_{{ diplome.id }}"
                value="{{ diplome.optCertifieQualite }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>
        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_qualite'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_qualite'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optCertifieQualite_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optCertifieQualite ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optCertifieQualite" #}
        {#                       id="optCertifieQualite_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}

        <div class="media">
            <div class="media-body">
                <p>
                    <strong>{{ 'table.opt_responsable_qualite'|trans }}</strong>
                </p>
                <p>{{ 'help.opt_responsable_qualite'|trans }}</p>
            </div>
            <label class="sr-only" for="optResponsableQualite_{{ diplome.id }}">optResponsableQualite_{{ diplome.id }}</label>
            <select class="form-select col-sm-6 changeOptionSelect"
                    name="optResponsableQualite"
                    id="optResponsableQualite_{{ diplome.id }}"
                    data-type="diplome"
                    data-id="{{ diplome.id }}">
                <option value="">{{ 'non.selectione'|trans }}
                    / {{ 'aucun'|trans }}</option>
                {% for personnel in user_data.allPersonnels %}
                    <option value="pers{{ personnel.id }}"
                            {% if diplome.optResponsableQualite != null and diplome.optResponsableQualite.id == personnel.id %}selected{% endif %}>{{ personnel.display }}</option>
                {% endfor %}
            </select>
        </div>

        <twig:SwitchOptionComponent
                label="{{ 'table.opt_update_celcat'|trans }}"
                help="{{ 'help.opt_update_celcat'|trans }}"
                cle="optUpdateCelcat_{{ diplome.id }}"
                value="{{ diplome.optUpdateCelcat }}"
                type="diplome"
                id="{{ diplome.id }}"></twig:SwitchOptionComponent>
        {#        <div class="media"> #}
        {#            <div class="media-body"> #}
        {#                <p><strong>{{ 'table.opt_update_celcat'|trans }}</strong></p> #}
        {#                <p>{{ 'help.opt_update_celcat'|trans }}</p> #}
        {#            </div> #}
        {#            <label class="switch" for="optUpdateCelcat_{{ diplome.id }}"> #}
        {#                <input type="checkbox" {{ diplome.optUpdateCelcat ? 'checked': '' }} #}
        {#                       class="changeOption" #}
        {#                       name="optUpdateCelcat" #}
        {#                       id="optUpdateCelcat_{{ diplome.id }}" #}
        {#                       data-type="diplome" #}
        {#                       data-id="{{ diplome.id }}"> #}
        {#                <span class="switch-indicator"></span> #}
        {#            </label> #}
        {#        </div> #}
    </div>
</div>
