{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.configuration.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab-departement" role="tab"
                   aria-selected="false">{{ 'adm.configuration.tab.departement.menu'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-diplome" role="tab"
                   aria-selected="false">{{ 'adm.configuration.tab.diplome.menu'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-annee"
                   role="tab">{{ 'adm.configuration.tab.annee.menu'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-semestre"
                   role="tab">{{ 'adm.configuration.tab.semestre.menu'|trans }}</a>
            </li>
        </ul>

        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div class="tab-pane active" id="tab-departement" role="tabpanel">
            {{ include('administration/configuration/_departement.html.twig') }}
        </div>

        <div class="tab-pane" id="tab-diplome" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.diplome.heading'|trans }}</h4>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for diplome in user_data.diplomes|filter(diplome => diplome.actif) %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                   href="#diplome{{ diplome.id }}">{{ diplome.displayCourt }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for diplome in user_data.diplomes|filter(diplome => diplome.actif) %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                                 id="diplome{{ diplome.id }}">
                                {{ include('administration/configuration/_diplome.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-annee" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.annee.heading'|trans }}</h4>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for annee in user_data.annees %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                   href="#annee{{ annee.id }}">{{ annee.libelle }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for annee in user_data.annees %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                                 id="annee{{ annee.id }}">

                                {{ include('administration/configuration/_annee.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab-semestre" role="tabpanel">
            <div class="card">
                <h4 class="card-title">{{ 'adm.configuration.tab.semestre.heading'|trans }}</h4>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for semestre in user_data.semestres %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                                   href="#sem{{ semestre.id }}">{{ semestre.libelle }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for semestre in user_data.semestres %}
                            <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                                 id="sem{{ semestre.id }}">
                                {{ include('administration/configuration/_semestre.html.twig') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.configuration') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.configuration') }}
{% endblock %}
