<table class="table">
    <thead>
    <tr>
        <th>Ordre</th>
        <th>Question</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for question in qualiteSectionQuestions %}
        <tr>
            <td>{{ question.ordre }}</td>
            <td>{{ question.question.libelle }}</td>
            <td>{{ question.question.type }}</td>
            <td>
                <button class="btn btn-danger"
                        data-action="questionnaire-section#btnRemove"
                        data-question="{{ question.id }}"
                >
                    <i class="fas fa-remove"></i>
                </button>
                {% if question.enabled == true %}
                <button class="btn btn-warning" data-action="questionnaire-section#btnHide"
                        data-question="{{ question.id }}"
                        title="Masquer la question"
                >
                    <i class="fas fa-eye-slash"></i>
                </button>
                {% else %}
                    <button class="btn btn-info" data-action="questionnaire-section#btnShow"
                            data-question="{{ question.id }}"
                            title="Afficher la question masquée"
                    >
                        <i class="fas fa-eye"></i>
                    </button>
                    {% endif %}
                {% if not loop.first %}
                    <button class="btn btn-success" data-action="questionnaire-section#btnUp"
                            data-question="{{ question.id }}"
                    >
                        <i class="fas fa-up"></i>
                    </button>
                {% endif %}
                {% if not loop.last %}
                    <button class="btn btn-success" data-action="questionnaire-section#btnDown"
                            data-question="{{ question.id }}"
                    >
                        <i class="fas fa-down"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <label for="">ajouter une question</label>
            <select class="form-select" data-questionnaire-section-target="selectedQuestion">
                <option value=""></option>
                {% for question in questions %}
                <option value="{{ question.id }}">{{ question.libelle }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <button class="btn btn-success" data-action="questionnaire-section#btnAdd">
                <i class="fas fa-plus"></i> Ajouter
            </button>
        </td>
    </tr>
    </tbody>
</table>
