{{ include('components/plan_cours/_nav.html.twig') }}
                {% form_theme form 'form/my-form.html.twig' %}
                {{ form_start(form) }}
                {{ include('components/plan_cours/form/'~template, {form:form}) }}

<button class="btn btn-success">
    <i class="fas fa-floppy-disk"></i> {{ button_label|default('label.save'|trans) }}
</button>

<button class="btn btn-success" value="transmettre" name="btn_valide">
    <i class="fas fa-floppy-disk"></i> Sauvegarder et marquer comme complété
</button>


{% if button_label is defined and button_label == 'update'|trans %}
    <button class="btn btn-success" value="redirect_to_index" name="btn_update">
        <i class="fas fa-floppy-disk-circle-arrow-right"></i> {{ 'button_update_index'|trans }}</button>
{% endif %}
<twig:Alert type="info">
    Tous les champs avec un <span class="text-red">*</span> sont obligatoires
</twig:Alert>
{{ form_end(form) }}
