<div data-structure-diplome-target="content">
    <div class="card">
        <header class="card-header">
            <h4 class="card-title">
                Structure du diplome
                : {{ diplome.typediplome.sigle }} | {{ diplome.libelle }}
            </h4>
        </header>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-12 d-grid">
                    <a href="{{ path('administration_apc_referentiel_index', {diplome:diplome.id}) }}"
                       class="btn btn-info d-block" title="Accéder au référentiel de compétences"><i
                                class="fa fa-warehouse"></i> Accéder au référentiel de compétences</a>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-8">
                    <label class="form-label" for="changePn">Changement de PN</label>
                    <select class="form-select" id="changePn" data-action="change->structure-diplome#changePn"
                            data-diplome="{{ diplome.id }}">
                        <option value="">Choisir un autre PN</option>
                        {% for pn in diplome.ppns %}
                            <option value="{{ pn.id }}" {% if ppn.id
                                == pn.id %}selected{% endif %}>{{ pn.libelle }}
                                ({{ pn.annee }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 d-grid">
                    <a href="{{ path('sa_ppn_new', {diplome:diplome.id}) }}" class="btn btn-success d-block"><i
                                class="fa fa-plus-circle"></i> Ajouter PN</a>
                </div>
            </div>

            <h4>Les parcours</h4>
            {% if referentiel == null %}
                <div class="alert alert-warning">
                    Aucun référentiel de compétence n'est associé à ce diplôme/PPN.
                </div>
            {% else %}
                {% for parcour in parcours %}
                    <div class="row gap-y lignehover">
                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-md-9">Parcours {{ parcour.libelle }}
                                              | {{ parcour.code }}
                            <span class="badge {% if parcour.actif == true
                            %}bg-success{% else %}bg-danger{% endif %}">{% if parcour.actif == true
                                %}Actif{% else %}non proposé{% endif %}</span>
                            <span class="badge {% if parcour.formationContinue == true %}bg-info{% else
                %}bg-primary{% endif %}">{% if parcour.formationContinue == true %}Parcours en formation continue ou
alternance (FC){% else
                                %}Parcours en formation initiale (FI){% endif %}</span>
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('administration_apc_parcours_duplicate', {'id': parcour.id}) }}"
                               class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.dupliquer'|trans }}"><i
                                        class="{{ iconDuplicate }}"></i></a>
                            <a href="{{ path('administration_apc_parcours_show', {'id': parcour.id}) }}"
                               class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"><i
                                        class="{{ iconShow }}"></i></a>

                            <a href="{{ path('administration_apc_parcours_edit', {'id': parcour.id}) }}"
                               class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                        title="{{ 'atitle.modifier'|trans }}"></i></a>
                            <a href="{{ path('administration_apc_parcours_delete', {id: parcour.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ parcour.id) }}"
                               class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row gap-y lignehover">
                <div class="col-md-1"></div>
                <div class="col-md-11 d-grid">
                    <a href="{{ path('administration_apc_parcours_new', {diplome: diplome.id}) }}"
                       class="btn btn-success d-block" title="Ajouter un Parcours/Options"><i
                                class="fa fa-plus-circle"></i> Ajouter un Parcours au diplôme {{ diplome.sigle }}</a>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <h4 class="card-title">
                Structure du diplome
                : {{ diplome.typediplome.sigle }} | {{ diplome.libelle }}
            </h4>
        </header>
        <div class="card-body">
            <ul class="nav nav-tabs">
                {# si type 1 ou 2, il faut afficher le diplôme parent qui est le tronc commun de la première année #}
                {% if diplome.typeStructure != constant('App\\Entity\\Constantes::APC_TYPE_3') %}
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab"
                           href="#diplome{{ diplome.id }}">{{ diplome.typediplome.sigle }} | {{ diplome.sigle }}
                                                                                           (B.U.T. 1)</a>
                    </li>
                {% endif %}

                {% for dip in diplomes %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first and diplome.typeStructure == constant
                            ('App\\Entity\\Constantes::APC_TYPE_3') %} active{% endif %}" data-bs-toggle="tab"
                           href="#diplome{{ dip.id }}">{{ dip.typediplome.sigle }} | {{ dip.sigle }}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% if diplome.typeStructure != constant('App\\Entity\\Constantes::APC_TYPE_3') %}
                    <div class="tab-pane fade active show"
                         id="diplome{{ diplome.id }}">
                        {{ include('structure/diplome/_apc_diplome_detail.html.twig', {diplome:diplome}) }}
                    </div>
                {% endif %}
                {% for dip in diplomes %}
                    <div class="tab-pane {% if  loop.first and diplome.typeStructure == constant
                        ('App\\Entity\\Constantes::APC_TYPE_3') %}fade active show{% endif %}"
                         id="diplome{{ dip.id }}">
                        {{ include('structure/diplome/_apc_diplome_detail.html.twig', {diplome:dip}) }}

                    </div>
                {% endfor %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}

                    <div id="ssdip_new_{{ diplome.id }}" class="row gap-y lignehover">
                        <div class="col-md-12 d-grid"><a
                                    href="{{ path(baseurl ~ 'diplome_new',{departement: diplome.departement.id,
                                        diplome:diplome
                                        .id}) }}"
                                    class="btn d-block btn-success" data-iddip="{{ diplome.id }}"><i
                                        class="fa fa-plus-circle"></i> {{ 'ajouter.sous.diplome'|trans
                                    ({'%libelle%':diplome.libelle}) }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
