<div class="card" data-structure-diplome-target="content">
    <header class="card-header">
        <h4 class="card-title">
            Structure du diplome
            : {{ diplome.typediplome.sigle ~' | ' ~ diplome.libelle ~' | ' ~ diplome.codeDiplome ~' | ' ~ diplome.codeVersion ~' | ' ~ diplome.codeDepartement }}
        </h4>
        <div class="card-header-actions" style="">
            .<a href="{{ path(baseurl ~ 'diplome_duplicate', {'id': diplome.id}) }}"
                class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>
            <a href="{{ path(baseurl ~ 'diplome_show', {'id': diplome.id}) }}"
               class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

            <a href="{{ path(baseurl ~ 'diplome_edit', {'id': diplome.id}) }}"
               class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                        title="{{ 'atitle.modifier'|trans }}"></i></a>
            {% if diplome.actif == 1 %}
                <a href="{{ path('administration_diplome_activate', {id: diplome.id}) }}"
                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
            {% else %}
                <a href="{{ path('administration_diplome_activate', {id: diplome.id}) }}"
                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if diplome.actif == true %}
                    <a href="{{ path(baseurl ~ 'diplome_activate', {'diplome': diplome.id, etat:0}) }}"
                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                {% else %}
                    <a href="{{ path(baseurl ~ 'diplome_activate', {'diplome': diplome.id, etat:1}) }}"
                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                {% endif %}
                {% if diplome.annees|length == 0 %}
                    <a href="{{ path(baseurl ~ 'diplome_delete', {id: diplome.id}) }}"
                       data-csrf="{{ csrf_token('delete' ~ diplome.id) }}"
                       class="btn btn-danger btn-outline btn-square btn-xs supprimer"><i
                                class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <span class="dropdown">
                                <a data-bs-toggle="dropdown" href="#">
                                    <i class="fas fa-ellipsis-h rotate-90"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Options d'export ou d'import"></i>
                                    <span class="sr-only">
                                        Options  d'export  ou d'import</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_import_index', {id:
                                        diplome.id}) }}"><i class="fas fa-upload"></i> Importer une maquette</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_referentiel', {id:
                                        diplome
                                        .id}) }}"><i class="fas fa-download"></i> Exporter Référentiel</a>
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_programme', {id:
                                        diplome.id}) }}"><i class="fas fa-download"></i> Exporter Programme</a>
                                    <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_maquette_apogee',
                                        {id:
                                            diplome.id}) }}"><i class="fas fa-download"></i> Exporter Maquette</a>
                                </div>
                            </span>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-sm-8">
                <label class="form-label" for="changePn">Changement de PN</label>
                <select class="form-select" id="changePn" data-action="change->structure-diplome#changePn"
                        data-diplome="{{ diplome.id }}">
                    <option value="">Choisir un autre PN</option>
                    {% for pn in diplome.ppns %}
                        <option value="{{ pn.id }}" {% if ppn.id == pn.id %}selected{% endif %}>{{ pn.libelle }} ({{ pn
                            .annee }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4 d-grid">
                <a href="{{ path('sa_ppn_new', {diplome:diplome.id}) }}" class="btn btn-success d-block"><i
                            class="{{ iconAdd }}"></i> Ajouter PN</a>
            </div>
        </div>


        {% for annee in diplome.annees %}
            <div class="row gap-y dip_{{ diplome.id }} lignehover">
                <div class="col-md-10">{{ annee.libelle }} | {{ annee.codeEtape }}
                                                           | {{ annee.codeVersion }}</div>
                <div class="col-md-2">
                    <a href="{{ path(baseurl ~ 'annee_duplicate', {'id': annee.id}) }}"
                       class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>
                    <a href="{{ path(baseurl ~ 'annee_show', {'id': annee.id}) }}"
                       class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

                    <a href="{{ path(baseurl ~ 'annee_edit', {'id': annee.id}) }}"
                       class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                title="{{ 'atitle.modifier'|trans }}"></i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% if annee.actif == true %}
                            <a href="{{ path(baseurl ~ 'annee_activate', {'annee': annee.id, etat:0}) }}"
                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                        {% else %}
                            <a href="{{ path(baseurl ~ 'annee_activate', {'annee': annee.id, etat:1}) }}"
                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                        {% endif %}
                        {% if annee.semestres|length == 0 %}
                            <a href="{{ path(baseurl ~ 'annee_delete', {id: annee.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ annee.id) }}"
                               class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                        {% endif %}
                        <a href="{{ path(baseurl ~ 'annee_synchronise_apogee', {annee: annee.id}) }}"
                           data-confirm="true"
                           class="btn btn-purple btn-outline btn-square btn-xs"><i
                                    class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'atitle.synchro_apogee'|trans }}"></i></a>
                    {% endif %}
                </div>
            </div>
            {% for semestre in annee.semestres %}

                <div class="row gap-y dip_semestre_{{ diplome.id }} semestre_{{ annee.id }} lignehover">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">{{ semestre.libelle }} | {{ semestre.codeElement }}</div>
                    <div class="col-md-2">
                        <a href="{{ path(baseurl ~ 'semestre_duplicate', {'id': semestre.id}) }}"
                           class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.dupliquer'|trans }}"><i
                                    class="{{ iconDuplicate }}"></i></a>
                        <a href="{{ path(baseurl ~ 'semestre_show', {'id': semestre.id}) }}"
                           class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.details'|trans }}"><i
                                    class="{{ iconShow }}"></i></a>

                        <a href="{{ path(baseurl ~ 'semestre_edit', {'id': semestre.id}) }}"
                           class="btn btn-warning btn-outline btn-square btn-xs">
                            <i class="{{ iconEdit }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.modifier'|trans }}"></i></a>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% if semestre.actif == true %}
                                <a href="{{ path(baseurl ~ 'semestre_activate', {'semestre': semestre.id,
                                    etat:0}) }}"
                                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                            {% else %}
                                <a href="{{ path(baseurl ~ 'semestre_activate', {'semestre': semestre.id,
                                    etat:1}) }}"
                                   class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                            {% endif %}
                            {% if semestre.ues|length == 0 and semestre
                            .parcours|length == 0 and semestre.etudiants|length == 0 %}
                                <a href="{{ path(baseurl ~ 'semestre_delete', {id: semestre.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ semestre.id) }}"
                                   class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                            class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'atitle.supprimer'|trans }}"></i></a>
                            {% endif %}
                            <a href="{{ path(baseurl ~ 'semestre_synchronise_apogee', {semestre: semestre.id}) }}"
                               class="btn btn-purple btn-outline btn-square btn-xs"><i
                                        class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ 'atitle.synchro_apogee_semestre'|trans }}"></i></a>
                        {% endif %}
                    </div>
                </div>

                {% for ue in semestre.ues %}
                    <div class="row gap-y ue_{{ semestre.id }} lignehover">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">UE {{ ue.numeroUe }} | {{ ue.codeElement }}
                                              | {{ ue.libelle }} {% if ue
                            .bonification==true %}(Bonification){% endif %}</div>
                        <div class="col-md-2">
                            <a href="{{ path(baseurl ~ 'ue_duplicate', {'id': ue.id}) }}"
                               class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.dupliquer'|trans }}"><i
                                        class="{{ iconDuplicate }}"></i></a>
                            <a href="{{ path(baseurl ~ 'ue_show', {'id': ue.id}) }}"
                               class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"><i
                                        class="{{ iconShow }}"></i></a>

                            <a href="{{ path(baseurl ~ 'ue_edit', {'id': ue.id}) }}"
                               class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                        title="{{ 'atitle.modifier'|trans }}"></i></a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% if semestre.actif == true %}
                                    <a href="{{ path(baseurl ~ 'ue_activate', {'ue': ue.id, etat:0}) }}"
                                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                                {% else %}
                                    <a href="{{ path(baseurl ~ 'ue_activate', {'ue': ue.id, etat:1}) }}"
                                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                                {% endif %}
                                {% if ue.matieres|length == 0 %}
                                    <a href="{{ path(baseurl ~ 'ue_delete', {id: ue.id}) }}"
                                       data-csrf="{{ csrf_token('delete' ~ ue.id) }}"
                                       class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                {% endif %}
                                <a href="{{ path(baseurl ~ 'ue_synchronise_apogee', {ue: ue.id}) }}"
                                   class="btn btn-purple btn-outline btn-square btn-xs"><i
                                            class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'atitle.synchro_apogee_ue'|trans }}"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% for matiere in ue.matieres %}
                        <div class="row gap-y matiere_{{ ue.id }} lignehover">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">{{ matiere.codeMatiere }} | {{ matiere.codeElement }}
                                                                            | {{ matiere.libelle }}</div>
                            <div class="col-md-2">
                                <a href="{{ path(baseurl ~ 'matiere_duplicate', {'id': matiere.id}) }}"
                                   class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.dupliquer'|trans }}"><i
                                            class="{{ iconDuplicate }}"></i></a>
                                <a href="{{ path(baseurl ~ 'matiere_show', {'id': matiere.id}) }}"
                                   class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ 'atitle.details'|trans }}"><i
                                            class="{{ iconShow }}"></i></a>

                                <a href="{{ path(baseurl ~ 'matiere_edit', {'id': matiere.id}) }}"
                                   class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                            data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                            title="{{ 'atitle.modifier'|trans }}"></i></a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if semestre.actif == true %}
                                        <a href="{{ path(baseurl ~ 'matiere_activate', {'matiere': matiere
                                        .id, etat:1}) }}"
                                           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                                    {% else %}
                                        <a href="{{ path(baseurl ~ 'matiere_activate', {'matiere': matiere
                                        .id, etat:0}) }}"
                                           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                                    {% endif %}
                                    <a href="{{ path(baseurl ~ 'matiere_delete', {id: matiere.id}) }}"
                                       data-csrf="{{ csrf_token('delete' ~ matiere.id) }}"
                                       class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                                class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% if diplome.ppns|length == 0 %}
                        <div class="row gap-y lignehover">
                            <div class="col-md-2"></div>

                            <div class="col-md-10 d-grid">
                                <a href="{{ path(baseurl ~ 'ppn_new', {diplome: diplome.id}) }}"
                                   class="btn btn-warning addPpn d-block" title="Ajouter un PPN"><i
                                            class="fa fa-plus-circle"></i> Aucun PPN dans le diplôme. Vous
                                                                           devez en ajouter un.</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row gap-y lignehover" id="matiere_new_{{ ue.id }}">
                            <div class="col-md-3"></div>

                            <div class="col-md-9 d-grid">
                                <a href="{{ path(baseurl ~ 'matiere_new', {diplome: diplome.id, ue: ue.id}) }}"
                                   class="btn btn-success addMatiere d-block" title="Ajouter une Matière"
                                   data-ue="{{ ue.id }}"><i
                                            class="fa fa-plus-circle"></i> Ajouter une Matière dans l'UE
                                    {{ ue.libelle }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row gap-y lignehover" id="ue_new_{{ semestre.id }}">
                    <div class="col-md-2"></div>

                    <div class="col-md-10 d-grid">
                        <a href="{{ path(baseurl ~ 'ue_new', {semestre: semestre.id}) }}"
                           class="btn btn-success addUe d-block" title="Ajouter une UE"
                           data-semestre="{{ semestre.id }}"><i
                                    class="fa fa-plus-circle"></i> Ajouter une UE au
                                                                   semestre {{ semestre.libelle }}</a>
                    </div>
                </div>
                {# options #}
                {% for parcour in semestre.parcours %}
                    <div class="row gap-y parcour_{{ semestre.id }} lignehover">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">Parcours/Options {{ parcour.libelle }}
                                              | {{ parcour.codeElement }}</div>
                        <div class="col-md-2">
                            <a href="{{ path(baseurl ~ 'parcour_duplicate', {'id': parcour.id}) }}"
                               class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.dupliquer'|trans }}"><i
                                        class="{{ iconDuplicate }}"></i></a>
                            <a href="{{ path(baseurl ~ 'parcour_show', {'id': parcour.id}) }}"
                               class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"><i
                                        class="{{ iconShow }}"></i></a>

                            <a href="{{ path(baseurl ~ 'parcour_edit', {'id': parcour.id}) }}"
                               class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                        title="{{ 'atitle.modifier'|trans }}"></i></a>
                            <a href="{{ path(baseurl ~ 'parcour_delete', {id: parcour.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ parcour.id) }}"
                               class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                        </div>
                    </div>

                {% endfor %}
                <div class="row gap-y lignehover">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 d-grid">
                        <a href="{{ path(baseurl ~ 'parcour_new', {semestre: semestre.id}) }}"
                           class="btn btn-success d-block" title="Ajouter un Parcours/Options"><i
                                    class="fa fa-plus-circle"></i> Ajouter un Parcours/Options au
                                                                   semestre {{ semestre.libelle }}</a>
                    </div>
                </div>
            {% endfor %}

            <div class="row gap-y lignehover" id="semestre_new_{{ annee.id }}">
                <div class="col-md-1"></div>
                <div class="col-md-11 d-grid">
                    <a href="{{ path(baseurl ~ 'semestre_new', {annee: annee.id}) }}"
                       class="btn btn-success d-block addSemestre" title="Ajouter un semestre"
                       data-annee="{{ annee.id }}"><i class="fa fa-plus-circle"></i> Ajouter un semestre à
                                                                                     l'année {{ annee.libelle }}
                    </a>
                </div>
            </div>
        {% endfor %}
        <div id="dip_new_{{ diplome.id }}" class="row gap-y lignehover">
            <div class="col-md-12 d-grid"><a
                        href="{{ path(baseurl ~ 'annee_new',{diplome:diplome.id}) }}"
                        class="btn d-block btn-success" data-iddip="{{ diplome.id }}"><i
                            class="fa fa-plus-circle"></i> {{ 'ajouter.annee.diplome'|trans({'%libelle%':diplome.libelle}) }}
                </a>
            </div>
        </div>
    </div>
</div>
