{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set baseurl = 'sa_' %}
{% else %}
    {% set baseurl = 'administration_' %}
{% endif %}

{% block header %}
    {{ 'structure.de.la.departement.heading'|trans({ '%departement%': departement.libelle}) }}
{% endblock %}

{% block stimulus %}
{{ stimulus_controller('structure-diplome', {
   'urlDiplome': path('structure_diplome_affiche')
}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <nav class="nav nav-tabs">
            {% for diplome in departement.diplomes|filter(diplome => diplome.parent == null) %}
                <a class="nav-link {% if (diplomeSelect == null and loop.first) or (diplomeSelect != null and diplomeSelect
                .id==diplome.id) %}active{% endif %} changeDiplome"
                   href="#" data-diplome="{{ diplome.id }}"
                   data-action="click->structure-diplome#changeDiplome"
                >{{ diplome.displayCourt }} {% if diplome.actif %}<span class="badge bg-success">Actif</span>{% else %}
                        <span class="badge bg-danger">Inactif</span>{% endif %}
                </a>
            {% endfor %}
        </nav>

        <div class="buttons">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path(baseurl ~ 'diplome_new', {departement:departement.id}) }}"
                   class="btn btn-success btn-sm btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.nouveau_diplome'|trans }}"><i class="{{ iconAdd }}"></i><span
                            class="sr-only">{{ 'atitle.nouveau_diplome'|trans }}</span></a>
                <a href="{{ path(baseurl ~ 'departement_edit', {'id': departement.id}) }}"
                   class="btn btn-warning btn-sm btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.modifier'|trans }}"><i class="{{ iconEdit }}"></i><span
                            class="sr-only">{{ 'atitle.modifier'|trans }}</span></a>
                <a href="{{ path(baseurl ~ 'departement_show', {'id': departement.id}) }}"
                   class="btn btn-info btn-sm btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.voir'|trans }}"><i class="{{ iconShow }}"></i><span
                            class="sr-only">{{ 'atitle.voir'|trans }}</span></a>

                <a href="{{ path('sa_matiere_import', {departement:departement.id}) }}" class="btn btn-info btn-sm
                btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.import_ppn'|trans }}"><i class="fas fa-file-import"></i><span
                            class="sr-only">importer</span></a>

                <a href="{{ path('sa_diplome_new_wizard_index', {departement:departement.id}) }}" class="btn btn-info
                btn-sm
                btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'assistant.creation.diplome'|trans }}"><i class="fas fa-magic"></i><span
                            class="sr-only">{{ 'assistant.creation.diplome'|trans }}</span></a>
                <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_super_administration'|trans }}">
                    <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
                </a>
            {% else %}
                <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div data-structure-diplome-target="content">

    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_structure_export', {departement: departement.id, _format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fas fa-print"},
        {
            type:'info',
            href:path('administration_structure_export', {departement: departement.id, _format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-table'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_structure'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
