{% if diplome.apcParcours == null %}
    <h2><span class="badge bg-info">Tronc commun ou parcours non précisé</span></h2>
{% else %}
    <h2><span class="badge bg-warning">Parcours {{ diplome.apcParcours.display }} ({{ diplome.apcParcours.code
    }})</span></h2>
{% endif %}

<div class="mb-2 mt-2">
    <a href="{{ path(baseurl ~ 'diplome_duplicate', {'id': diplome.id}) }}"
       class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
       title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>
    <a href="{{ path(baseurl ~ 'diplome_show', {'id': diplome.id}) }}"
       class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
       title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

    <a href="{{ path(baseurl ~ 'diplome_edit', {'id': diplome.id}) }}"
       class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                title="{{ 'atitle.modifier'|trans }}"></i></a>
    {% if diplome.actif == 1 %}
        <a href="{{ path('administration_diplome_activate', {id: diplome.id}) }}"
           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
    {% else %}
        <a href="{{ path('administration_diplome_activate', {id: diplome.id}) }}"
           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% if diplome.actif == true %}
            <a href="{{ path(baseurl ~ 'diplome_activate', {'diplome': diplome.id, etat:0}) }}"
               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
        {% else %}
            <a href="{{ path(baseurl ~ 'diplome_activate', {'diplome': diplome.id, etat:1}) }}"
               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
        {% endif %}
        {% if diplome.annees|length == 0 %}
            <a href="{{ path(baseurl ~ 'diplome_delete', {id: diplome.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ diplome.id) }}"
               class="btn btn-danger btn-outline btn-square btn-xs supprimer"><i
                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
        {% endif %}
        <a href="{{ path('sa_diplome_codification_index', {'diplome': diplome.id}) }}"
           class="btn btn-warning btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ 'atitle.codification'|trans }}"><i class="fas fa-wrench"></i></a>
        <span class="dropdown">
            <a data-bs-toggle="dropdown" href="#">
                <i class="fas fa-ellipsis-h rotate-90"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Options d'export ou d'import"></i>
                <span class="sr-only">
                    Options  d'export  ou d'import</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_import_index', {id:
                    diplome.id}) }}"><i class="fas fa-upload"></i> Importer une maquette</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_referentiel', {id:
                    diplome
                    .id}) }}"><i class="fas fa-download"></i> Exporter Référentiel</a>
                <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_programme', {id:
                    diplome.id}) }}"><i class="fas fa-download"></i> Exporter Programme</a>
                <a class="dropdown-item" href="{{ path(baseurl ~ 'diplome_export_maquette_apogee',
                    {id:
                        diplome.id}) }}"><i class="fas fa-download"></i> Exporter Maquette</a>
            </div>
        </span>
    {% endif %}
</div>

{% for annee in diplome.annees %}
    <div class="row gap-y dip_{{ diplome.id }} lignehover">
        <div class="col-md-10">
            <a data-href="{{ path('sa_annee_ajax_edit', {id:annee.id}) }}"
               class="editable"
               data-field="libelle">{{ annee.libelle }}</a> |
            <a data-href="{{ path('sa_annee_ajax_edit', {id:annee.id}) }}"
               class="editable"
               data-field="codeEtape">{{ annee.codeEtape }}</a> |
            <a data-href="{{ path('sa_annee_ajax_edit', {id:annee.id}) }}"
               class="editable"
               data-field="codeVersion">{{ annee.codeVersion }}</a>
            {% if annee.actif == false %}
            <span class="badge bg-danger">Année inactive</span>
            {% endif %}
        </div>
        <div class="col-md-2">
            <a href="{{ path(baseurl ~ 'annee_duplicate', {'id': annee.id}) }}"
               class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>
            <a href="{{ path(baseurl ~ 'annee_show', {'id': annee.id}) }}"
               class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

            <a href="{{ path(baseurl ~ 'annee_edit', {'id': annee.id}) }}"
               class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                        data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                        title="{{ 'atitle.modifier'|trans }}"></i></a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if annee.actif == true %}
                    <a href="{{ path(baseurl ~ 'annee_activate', {'annee': annee.id, etat:0}) }}"
                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                {% else %}
                    <a href="{{ path(baseurl ~ 'annee_activate', {'annee': annee.id, etat:1}) }}"
                       class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                {% endif %}
                {% if annee.semestres|length == 0 %}
                    <a href="{{ path(baseurl ~ 'annee_delete', {id: annee.id}) }}"
                       data-csrf="{{ csrf_token('delete' ~ annee.id) }}"
                       class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                {% endif %}
                <a href="{{ path(baseurl ~ 'annee_synchronise_apogee', {annee: annee.id}) }}"
                   data-confirm="true"
                   class="btn btn-purple btn-outline btn-square btn-xs"><i
                            class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="{{ 'atitle.synchro_apogee'|trans }}"></i></a>
            {% endif %}
        </div>
    </div>
    {% for semestre in annee.semestres %}

        <div class="row gap-y dip_semestre_{{ diplome.id }} semestre_{{ annee.id }} lignehover">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <a data-href="{{ path('sa_semestre_ajax_edit', {id:semestre.id}) }}"
                   class="editable"
                   data-field="libelle">{{ semestre.libelle }}</a> |
                <a data-href="{{ path('sa_semestre_ajax_edit', {id:semestre.id}) }}"
                   class="editable"
                   data-field="codeElement">{{ semestre.codeElement }}</a>
                {% if semestre.actif == false %}
                    <span class="badge bg-danger">Semestre inactif</span>
                {% endif %}
            </div>
            <div class="col-md-2">
                <a href="{{ path(baseurl ~ 'semestre_duplicate', {'id': semestre.id}) }}"
                   class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.dupliquer'|trans }}"><i
                            class="{{ iconDuplicate }}"></i></a>
                <a href="{{ path(baseurl ~ 'semestre_show', {'id': semestre.id}) }}"
                   class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.details'|trans }}"><i
                            class="{{ iconShow }}"></i></a>

                <a href="{{ path(baseurl ~ 'semestre_edit', {'id': semestre.id}) }}"
                   class="btn btn-warning btn-outline btn-square btn-xs">
                    <i class="{{ iconEdit }}"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.modifier'|trans }}"></i></a>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {% if semestre.actif == true %}
                        <a href="{{ path(baseurl ~ 'semestre_activate', {'semestre': semestre.id,
                            etat:0}) }}"
                           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                    {% else %}
                        <a href="{{ path(baseurl ~ 'semestre_activate', {'semestre': semestre.id,
                            etat:1}) }}"
                           class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                    {% endif %}
                    {% if semestre.ues|length == 0 and semestre
                    .parcours|length == 0 and semestre.etudiants|length == 0 %}
                        <a href="{{ path(baseurl ~ 'semestre_delete', {id: semestre.id}) }}"
                           data-csrf="{{ csrf_token('delete' ~ semestre.id) }}"
                           class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                    class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'atitle.supprimer'|trans }}"></i></a>
                    {% endif %}
                    <a href="{{ path(baseurl ~ 'semestre_synchronise_apogee', {semestre: semestre.id}) }}"
                       class="btn btn-purple btn-outline btn-square btn-xs"><i
                                class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="{{ 'atitle.synchro_apogee_semestre'|trans }}"></i></a>
                {% endif %}
            </div>
        </div>

        {% for ue in semestre.ues %}
            <div class="row gap-y ue_{{ semestre.id }} lignehover">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    UE <a data-href="{{ path('sa_ue_ajax_edit', {id:ue.id}) }}"
                          class="editable"
                          data-field="numeroUe">{{ ue.numeroUe }}</a> |
                    <a data-href="{{ path('sa_ue_ajax_edit', {id:ue.id}) }}"
                       class="editable"
                       data-field="codeElement">{{ ue.codeElement }}</a> |
                    <a data-href="{{ path('sa_ue_ajax_edit', {id:ue.id}) }}"
                       class="editable"
                       data-field="libelle">{{ ue.libelle }}</a>
                    {% if ue.bonification == true %}(Bonification){% endif %} |
                    {% if ue.apcCompetence != null %}<span class="badge bg-{{ ue.apcCompetence.couleur }}">{{ ue
                    .apcCompetence.nomCourt }}</span>{% else %}
                        <span class="badge bg-danger">non défini</span>{% endif %}
                </div>
                <div class="col-md-2">
                    <a href="{{ path(baseurl ~ 'ue_duplicate', {'id': ue.id}) }}"
                       class="btn btn-success btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.dupliquer'|trans }}"><i
                                class="{{ iconDuplicate }}"></i></a>
                    <a href="{{ path(baseurl ~ 'ue_show', {'id': ue.id}) }}"
                       class="btn btn-info btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.details'|trans }}"><i
                                class="{{ iconShow }}"></i></a>

                    <a href="{{ path(baseurl ~ 'ue_edit', {'id': ue.id}) }}"
                       class="btn btn-warning btn-outline btn-square btn-xs"><i class="{{ iconEdit }}"
                                                                                data-bs-toggle="tooltip" data-bs-placement="bottom"

                                                                                title="{{ 'atitle.modifier'|trans }}"></i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% if semestre.actif == true %}
                            <a href="{{ path(baseurl ~ 'ue_activate', {'ue': ue.id, etat:0}) }}"
                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.desactiver'|trans }}"><i class="fa
                       fa-eye-slash"></i></a>
                        {% else %}
                            <a href="{{ path(baseurl ~ 'ue_activate', {'ue': ue.id, etat:1}) }}"
                               class="btn btn-secondary btn-outline btn-square btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="{{ 'atitle.active'|trans }}"><i class="fa
                       fa-eye"></i></a>
                        {% endif %}
                        {% if ue.matieres|length == 0 %}
                            <a href="{{ path(baseurl ~ 'ue_delete', {id: ue.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ ue.id) }}"
                               class="btn btn-danger btn-outline btn-square btn-xs supprimer" data-id="id"><i
                                        class="{{ iconDelete }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                        {% endif %}
                        <a href="{{ path(baseurl ~ 'ue_synchronise_apogee', {ue: ue.id}) }}"
                           class="btn btn-purple btn-outline btn-square btn-xs"><i
                                    class="fas fa-sync-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'atitle.synchro_apogee_ue'|trans }}"></i></a>
                    {% endif %}
                </div>
            </div>
            {% if diplome.ppns|length == 0 and (diplome.parent != null and diplome.parent.ppns|length == 0) %}
                <div class="row gap-y lignehover">
                    <div class="col-md-2"></div>

                    <div class="col-md-10 d-grid">
                        <a href="{{ path(baseurl ~ 'ppn_new', {diplome: diplome.id}) }}"
                           class="btn btn-warning addPpn d-block" title="Ajouter un PPN"><i
                                    class="fa fa-plus-circle"></i> Aucun PPN dans le diplôme.
                                                                   Vous
                                                                   devez en ajouter un.</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row gap-y lignehover">
            <div class="col-md-2"></div>
            {% if referentiel != null %}
                <div class="col-md-3 d-grid">
                    <a href="{{ path('administration_apc_ressource_new', {diplome:diplome.id, referentiel: referentiel.id}) }}"
                       class="btn btn-success d-block" title="Ajouter une Ressource"
                       data-semestre="{{ semestre.id }}"><i
                                class="fa fa-plus-circle"></i> Ajouter une Ressource au
                                                               semestre {{ semestre.libelle }}
                    </a>
                </div>
                <div class="col-md-3 d-grid">
                    <a href="{{ path('administration_apc_sae_new', {diplome:diplome.id, referentiel: referentiel.id}) }}"
                       class="btn btn-success d-block" title="Ajouter une SAÉ"
                       data-semestre="{{ semestre.id }}"><i
                                class="fa fa-plus-circle"></i> Ajouter une SAÉ au
                                                               semestre {{ semestre.libelle }}</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMINISTRATIF') %}
                <div class="col-md-4 d-grid">
                    <a href="{{ path('sa_apc_codification_index', {semestre:semestre.id}) }}"
                       class="btn btn-warning d-block" title="Gérer codification {{ semestre.libelle }}"><i
                                class="fa fa-binary"></i> Gérer codification {{ semestre.libelle }}</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 d-grid">
                    <a href="{{ path('administration_apc_pn_duplique_ressource_semestre', {semestre:semestre.id}) }}"
                       class="btn btn-warning d-block" title="Dupliquer les ressources du {{ semestre.displayLong }}"><i
                                class="fa fa-copy"></i> Dupliquer les ressources du {{ semestre.displayLong }}</a>
                </div>
                <div class="col-md-4 d-grid">
                    <a href="{{ path('administration_apc_pn_duplique_sae_semestre', {semestre:semestre.id}) }}"
                       class="btn btn-warning d-block" title="Dupliquer les SAE du {{ semestre.displayLong }}"><i
                                class="fa fa-copy"></i> Dupliquer les SAE du {{ semestre.displayLong }}</a>
                </div>
            {% endif %}
        </div>
        <div class="row gap-y lignehover" id="ue_new_{{ semestre.id }}">
            <div class="col-md-2"></div>

            <div class="col-md-10 d-grid">
                <a href="{{ path(baseurl ~ 'ue_new', {semestre: semestre.id}) }}"
                   class="btn btn-success addUe d-block" title="Ajouter une UE"
                   data-semestre="{{ semestre.id }}"><i
                            class="fa fa-plus-circle"></i> Ajouter une UE au
                                                           semestre {{ semestre.libelle }}</a>
            </div>
        </div>

    {% endfor %}

    <div class="row gap-y lignehover" id="semestre_new_{{ annee.id }}">
        <div class="col-md-1"></div>
        <div class="col-md-11 d-grid">
            <a href="{{ path(baseurl ~ 'semestre_new', {annee: annee.id}) }}"
               class="btn btn-success d-block addSemestre" title="Ajouter un semestre"
               data-annee="{{ annee.id }}"><i class="fa fa-plus-circle"></i> Ajouter un semestre
                                                                             à
                                                                             l'année {{ annee.libelle }}
            </a>
        </div>
    </div>
{% endfor %}
<div id="dip_new_{{ diplome.id }}" class="row gap-y lignehover">
    <div class="col-md-12 d-grid"><a
                href="{{ path(baseurl ~ 'annee_new',{diplome:diplome.id}) }}"
                class="btn d-block btn-success" data-iddip="{{ diplome.id }}"><i
                    class="fa fa-plus-circle"></i> {{ 'ajouter.annee.diplome'|trans
                ({'%libelle%':diplome.libelle}) }}
        </a>
    </div>
</div>
