{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.diplome.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'structure_diplome', retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.structure.diplome.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                <thead>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.code_apogee'|trans }}</th>
                    <th>{{ 'table.code_version'|trans }}</th>
                    <th>{{ 'table.code_departement'|trans }}</th>
                    <th>{{ 'table.opt_methode_calcul'|trans }}</th>
                    <th>{{ 'table.volume_horaire'|trans }}</th>
                    <th>{{ 'table.code_celcat_departement'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for diplome in diplomes %}
                    <tr>
                        <td>{{ diplome.id }}</td>
                        <td>{{ diplome.libelle }}</td>
                        <td>{{ diplome.updated ? diplome.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                        <td>{{ diplome.codeApogee }}</td>
                        <td>{{ diplome.codeVersion }}</td>
                        <td>{{ diplome.codeDepartement }}</td>
                        <td>{{ diplome.optMethodeCalcul }}</td>
                        <td>{{ diplome.volumeHoraire }}</td>
                        <td>{{ diplome.codeCelcatDepartement }}</td>
                        <td>
                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'structure_diplome', id:diplome.id}) }}

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_structure_diplome_print'),
            title: 'imprimer'|trans,
            icone : "ti-printer"},
        {
            type:'info',
            href:path('administration_structure_diplome_save'),
            title: 'sauvegarder'|trans,
            icone: 'ti-save'
        },
        {
            type:'info',
            href:path('administration_structure_diplome_new'),
            title: 'ajouter'|trans,
            icone: 'ti-plus'
        },
        {
            type:'info',
            href:path('administration_structure_diplome_help'),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}