{% extends 'base.html.twig' %}

{% block title %}Bac index{% endblock %}

{% block body %}
    <h1>Bac index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Libelle</th>
                <th>LibelleLong</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bac in bacs %}
            <tr>
                <td>{{ bac.id }}</td>
                <td>{{ bac.created ? bac.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bac.updated ? bac.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bac.libelle }}</td>
                <td>{{ bac.libelleLong }}</td>
                <td>
                    <a href="{{ path('bac_show', {'id': bac.id}) }}">show</a>
                    <a href="{{ path('bac_edit', {'id': bac.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bac_new') }}">Create new</a>
{% endblock %}
