{% extends "pdf/basepdf.html.twig" %}

{% block style %}
    {% include('pdf/cssPDF.css.twig') %}
    body
    {
    font-size: 13px;
    line-height: normal;
    }

    p {
    margin: 0;
    padding:0;
    padding-bottom:10px;
    }

    .text-center {
    text-align:center
    }

    h1 {
    font-size:20px;
    font-weight:bold;
    }

    .text-encadre {
    font-size:20px;
    font-weight:bold;
    padding:10px;
    text-align:center;
    background-color:#cccccc;
    display:block;
    border:1px solid black;
    }
{% endblock %}

{% block content %}
    <table style="width: 100%; border:none;">
        <tr>
            <td style="text-align: center; width:30%">
                <img src="{{ settings('BASE_PATH') }}logo/{{ settings('LOGO_UNIVERSITE') }}" alt="logo"
                     height="100px"/>
            </td>
            <td style="text-align: center; width:40%">&nbsp;</td>
            <td style="text-align: center; width:30%"><img
                        src="{{ settings('BASE_PATH') }}logo/{{ settings('LOGO_IUT') }}"
                        alt="logo"
                        height="100px"/></td>
        </tr>
    </table>
    <br>
    <h1 class="text-encadre">CONVOCATION</h1>
    <br>
    <br>
    <br>

    <p>Je soussigné, Martial MARTIN, Directeur de l’IUT de TROYES, atteste que dans le cadre des activités en présentiel
       autorisées par décret du Ministère de l’Enseignement Supérieur et la Recherche et arrêtés de la Rectrice ESR
       Grand-Est :</p>
    <br>
    <br>
    <p>Nom : <strong>{{ etudiant.nom }}</strong></p>

    <p>Prénom : <strong>{{ etudiant.prenom }}</strong></p>

    <p>Date et lieu de naissance : <strong>{{ etudiant.dateNaissance|format_date('short') }}
            , {{ etudiant.lieuNaissance }}</strong>
    </p>

    <p>Numéro étudiant : <strong>{{ etudiant.numEtudiant }}</strong></p>

    <p>Adresse du domicile : <strong>{{ etudiant.adresse != null ?
            etudiant.adresse.display|striptags }}</strong></p>
    <br><br>
    <p class="text-center">est convoqué(e) à se rendre à l’IUT de TROYES,<br>
                           9 rue de Québec 10000 TROYES, pour :
    </p>
    <br><br>

    <p>un devoir surveillé / un TP / un TD, </p>

    <p>dans le cadre de la matière (code et intitulé) :
        <strong>{% for matiere in covidAttestationEtudiant.matieres %}{{ matiere.display }}{% if not loop.last %}, {% endif %}{% endfor %}</strong>
    </p>

    <p>De la formation : <strong>{{ covidAttestationEtudiant.diplome.display }}</strong></p>

    <p>qui aura lieu à la date du : <strong>{{ covidAttestationEtudiant.datePresence != null ?
            covidAttestationEtudiant.datePresence|format_date('medium') : '-' }}
            , {{ covidAttestationEtudiant.heureLong }}</strong><br>
    </p>
    <p>en salle : <strong>{{ covidAttestationEtudiant.salles }}</strong></p>

    <br>
    <table style="width: 100%">
        <tr>
            <td style="width: 40%">
                <p>Fait à TROYES, le {{ 'now'|format_date('medium') }}</p>
            </td>
            <td style="width: 40%">
                <img src="{{ settings('BASE_PATH') }}covid/cachet.png" width="100px" style="float:left" alt="Cachet
                IUT">
                <img src="{{ settings('BASE_PATH') }}covid/signature.png" width="100px" style="float:left;
                margin-top:40px" alt="Signature">
                <p style="clear: both">
                    Martial MARTIN<br>
                    Directeur
                </p>
            </td>
        </tr>
    </table>
    <br><br>
    <footer>
        <hr>
        <p class="text-center">I.U.T. de TROYES – 9, rue de Québec – CS 90 396 – 10026 TROYES Cedex<br>
                               Téléphone : 03 25 42 46 46</p>
    </footer>

{% endblock %}
