{% extends "pdf/basepdf.html.twig" %}

{% block style %}
    {% include('pdf/cssPDF.css.twig') %}
    body
    {
    font-size: 13px;
    line-height: normal;
    }

    p {
    margin: 0;
    padding:0;
    padding-bottom:10px;
    }

    .text-center {
    text-align:center
    }

    h1 {
    font-size:20px;
    font-weight:bold;
    }
{% endblock %}

{% block content %}
    <h1 class="text-center">JUSTIFICATIF DE DÉPLACEMENT PROFESSIONNEL</h1>
    <br>
    <p class="text-center">En application du décret n°2020-1310 du 29 octobre 2020 prescrivant les mesures générales
                           nécessaires pour faire face à l'épidémie de Covid19 dans le cadre de l'état d'urgence
                           sanitaire</p>
    <br><br>
    <p>Je soussigné(e),</p>

    <p>Nom prénom de l’employeur : <strong>MARTIN Martial</strong></p>

    <p>Fonctions : <strong>Directeur de l’IUT de Troyes</strong></p>

    <p>certifie que les déplacements de la personne ci-après, entre son domicile et le ou les lieux d’exercice de son
       activité professionnelle ou à l’occasion de l’exercice de ses fonctions, ne peuvent être différés ou sont
       indispensables à l’exercice d’activités ne pouvant être organisées sous forme de télétravail :</p>

    <p>Nom : <strong>{{ covidAttestationPersonnel.personnel.nom }}</strong></p>

    <p>Prénom : <strong>{{ covidAttestationPersonnel.personnel.prenom }}</strong></p>

    <p>Date de naissance : <strong>{{ covidAttestationPersonnel.personnel.dateNaissance|format_date('short') }}</strong>
    </p>

    <p>Lieu de naissance : <strong>{{ covidAttestationPersonnel.personnel.lieuNaissance }}</strong></p>

    <p>Adresse du domicile : <strong>{{ covidAttestationPersonnel.personnel.adresse != null ?
            covidAttestationPersonnel.personnel.adresse.display|striptags }}</strong></p>

    <p>Nature de l’activité professionnelle : <strong>Enseignant</strong></p>

    <p>Lieux d’exercice de l’activité professionnelle : IUT – 9 rue de Québec – 10000 TROYES</p>

    <p>Moyen de déplacement : {{ covidAttestationPersonnel.moyenDeplacement }}</p>

    <p>Durée de validité : <br>
        {% for creneau in covidAttestationPersonnel.covidCreneauPresences %}
            - {{ creneau.date|format_date('short') }}<br>
        {% endfor %}
    </p>
    <br>
    <p>Nom et cachet de l'employeur : Université de Reims Champagne Ardenne - IUT de Troyes</p>

    <table style="width: 100%">
        <tr>
            <td style="width: 40%">
                <p>Fait à : TROYES,</p>
                <p>Le : {{ covidAttestationPersonnel.dateValidationDirection|format_date('medium') }}</p>
            </td>
            <td style="width: 40%">
                <img src="{{ settings('BASE_PATH') }}covid/cachet.png" style="float:left" width="100px">
                <img src="{{ settings('BASE_PATH') }}covid/signature.jpg" style="float:left" width="100px">
                <p style="clear: both">
                    Martial MARTIN<br>
                    Directeur
                </p>
            </td>
        </tr>
    </table>
    <br><br>
    <p style="font-size: 9px">1- Ce document, établi par l’employeur, est suffisant pour justifier les déplacements
                              professionnels d’un salarié, qu’il s’agisse :<br>
                              - du trajet habituel entre le domicile et le lieu de travail du salarié ou des
                              déplacements entre les différents
                              lieux de travail lorsque la nature de ses fonctions l'exige ;<br>
                              - des déplacements de nature professionnelle qui ne peuvent pas être différés, à la
                              demande de l'employeur.<br>

                              Il n'est donc pas nécessaire que le salarié se munisse, en plus de ce justificatif, de
                              l'attestation de
                              déplacement dérogatoire.<br>
                              Les travailleurs non-salariés, pour lesquels ce justificatif ne peut être établi, doivent
                              en revanche se munir de
                              l'attestation de déplacement dérogatoire en cochant le premier motif de déplacement.</p>

    <p style="font-size: 9px">2- Indiquer tous les lieux d’exercice de l’activité du salarié, sauf si la nature même
                              de cette activité, qui doit être scrupuleusement renseignée, ne permet pas de les
                              connaître
                              à l’avance (par exemple: livraisons, interventions sur appel, etc.).</p>

    <p style="font-size: 9px">3- La durée de validité de ce justificatif est déterminée par l’employeur. Il n’est donc
                              pas nécessaire de le renouveler chaque jour. Cette durée doit tenir compte de
                              l’organisation du travail mise en place par l’employeur (rotations de personnel par
                              exemple) ainsi que des périodes de congé ou de repos.</p>

{% endblock %}
