{% extends "pdf/basepdf.html.twig" %}

{% block style %}
    {% include('pdf/cssPDF.css.twig') %}
    body
    {
    font-size: 13px;
    line-height: normal;
    }

    p {
    margin: 0;
    padding:0;
    padding-bottom:10px;
    }

    .text-center {
    text-align:center
    }

    h1 {
    font-size:20px;
    font-weight:bold;
    }

    .text-encadre {
    font-size:20px;
    font-weight:bold;
    padding:10px;
    text-align:center;
    background-color:#cccccc;
    display:block;
    border:1px solid black;
    }
{% endblock %}

{% block content %}
    <table style="width: 100%; border:none;">
        <tr>
            <td style="text-align: center; width:30%">
                <img src="{{ settings('BASE_PATH') }}logo/{{ settings('LOGO_UNIVERSITE') }}" alt="logo"
                     height="100px"/>
            </td>
            <td style="text-align: center; width:40%">&nbsp;</td>
            <td style="text-align: center; width:30%"><img
                        src="{{ settings('BASE_PATH') }}logo/{{ settings('LOGO_IUT') }}"
                        alt="logo"
                        height="100px"/></td>
        </tr>
    </table>
    <br>
    <h1 class="text-encadre">JUSTIFICATIF DE DÉPLACEMENT UNIVERSITAIRE</h1>
    <br>
    <br>
    <br>
    <p class="text-center"><strong>
            En application des dispositions de l’article 4 du décret n°2020-1310 du 29 octobre
            2020 prescrivant les mesures générales nécessaires pour faire face à l'épidémie de Covid19
            dans le cadre de l'état d'urgence sanitaire.
        </strong>
    </p>
    <p>Je soussigné, <br><strong>Guillaume GELLÉ, président de l’université de Reims Champagne-Ardenne,</strong> <br>
       certifie que les déplacements de la personne ci-après, étudiant.e à l’université de Reims Champagne-Ardenne,
       entre son domicile et le lieu d’enseignement, ne peuvent être différés.</p>
    <br>
    <br>
    <p>Nom : <strong>{{ etudiant.nom }}</strong></p>

    <p>Prénom : <strong>{{ etudiant.prenom }}</strong></p>

    <p>Date et lieu de naissance : <strong>{{ etudiant.dateNaissance|format_date('short') }}
            , {{ etudiant.lieuNaissance }}</strong>
    </p>

    <p>Numéro étudiant : <strong>{{ etudiant.numEtudiant }}</strong></p>

    <p>Formation : <strong>{{ etudiant.semestre.diplome.libelleLong }}</strong></p>

    <p>Adresse du domicile : <strong>{{ etudiant.adresse != null ?
            etudiant.adresse.display|striptags }}</strong></p>
    <p>Lieux d’enseignement : <strong>IUT de Troyes, 9 rue de Québec 10000 TROYES</strong></p>

    <p>Moyen de déplacement : moyen de transport personnel (vélo, voiture) /transport en commun</p>
    <p>Période
       :<strong>du {{ covidAttestationEtudiant.dateDebut != null ? covidAttestationEtudiant.dateDebut|format_date('short') : '' }}
                au {{ covidAttestationEtudiant.dateFin != null ?
            covidAttestationEtudiant.dateFin|format_date('short') : '' }}</strong></p>

    <p>Nature et justificatif de la venue sur site de l’université de Reims Champagne-Ardenne :</p>
    <ul>
        <li>Activités de formation autorisées : sur présentation du planning (Bureau virtuel URCA)</li>
        <li>Concours : sur présentation de la convocation</li>
        <li>Examens : sur présentation du planning (Bureau virtuel URCA)</li>
        <li>Venue à la Bibliothèque universitaire : sur réservation et convocation</li>
        <li>Utilisation d’une salle de travail équipée en matériel informatique ou avec accès internet : sur réservation
            et convocation
        </li>
    </ul>


    <p>L’étudiant.e a pris connaissance des mesures sanitaires mises en place et s’engage à les respecter.
       Il/elle doit
       également présenter sa carte d’étudiant lorsqu’il/elle se rend sur un site de l’URCA.
    </p>

    <br>
    <table style="width: 100%">
        <tr>
            <td style="width: 40%">
                <p>Fait à TROYES, le {{ 'now'|format_date('medium') }}</p>
            </td>
            <td style="width: 40%">
                <img src="{{ settings('BASE_PATH') }}covid/cachetpresident.jpg" width="100px" style="float:left"
                     alt="Cachet IUT"><br>
                Guillaume Gellé, Président de l'Université de Reims Champagne Ardenne
            </td>
        </tr>
    </table>
{% endblock %}
