{% extends "pdf/basepdf.html.twig" %}

{% block style %}
    {% include('pdf/cssPDF.css.twig') %}
    body
    {
    font-size: 13px;
    line-height: normal;
    }

    p {
    margin: 0;
    padding:0;
    padding-bottom:10px;
    }

    .text-center {
    text-align:center
    }

    h1 {
    font-size:20px;
    font-weight:bold;
    }
{% endblock %}

{% block content %}
    <h1 class="text-center">JUSTIFICATIF D'ACCES</h1>
    <br>
    <br>
    <p>Je soussigné(e),</p>

    <p>Nom prénom de l’employeur : <strong>MARTIN Martial</strong></p>

    <p>Fonctions : <strong>Directeur de l’IUT de Troyes</strong></p>

    <p>Autorise l’accès de la personne ci-après à son lieu d’exercice de son activité professionnelle pour l’exercice
       d’activités
       ne pouvant être organisées sous forme de télétravail :</p>

    <p>Nom : <strong>{{ covidAttestationPersonnel.personnel.nom }}</strong></p>

    <p>Prénom : <strong>{{ covidAttestationPersonnel.personnel.prenom }}</strong></p>

    <p>Date de naissance : <strong>{{ covidAttestationPersonnel.personnel.dateNaissance|format_date('short') }}</strong>
    </p>

    <p>Lieu de naissance : <strong>{{ covidAttestationPersonnel.personnel.lieuNaissance }}</strong></p>

    <p>Adresse du domicile : <strong>{{ covidAttestationPersonnel.personnel.adresse != null ?
            covidAttestationPersonnel.personnel.adresse.display|striptags }}</strong></p>

    <p>Nature de l’activité professionnelle : <strong>Enseignant</strong></p>

    <p>Lieux d’exercice de l’activité professionnelle : IUT – 9 rue de Québec – 10000 TROYES</p>

    <p>Moyen de déplacement : {{ covidAttestationPersonnel.moyenDeplacement }}</p>

    <p>Durée de validité : <br>
        {% for creneau in covidAttestationPersonnel.covidCreneauPresences %}
            - {{ creneau.date|format_date('short') }}<br>
        {% endfor %}
    </p>
    <br>
    <p>Nom et cachet de l'employeur : Université de Reims Champagne Ardenne - IUT de Troyes</p>

    <table style="width: 100%">
        <tr>
            <td style="width: 40%">
                <p>Fait à : TROYES,</p>
                <p>Le : {{ covidAttestationPersonnel.dateValidationDirection|format_date('medium') }}</p>
            </td>
            <td style="width: 40%">
                <img src="{{ settings('BASE_PATH') }}covid/cachet.png" width="100px" style="float:left" alt="Cachet
                IUT">
                <img src="{{ settings('BASE_PATH') }}covid/signature.png" width="100px" style="float:left;
                margin-top:40px" alt="Signature">
                <p style="clear: both">
                    Martial MARTIN<br>
                    Directeur
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
