{% extends 'base.html.twig' %}

{% block header %}
    {{ 'aide-sur.heading'|trans }} {{ article ? article.titre : '' }}
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ article ? article.titre : 'help.notfound.heading'|trans }}</h4>

        <div class="card-body">
            {% if article %}
                {{ article.texte|raw }}
            {% else %}
                <div class="alert alert-warning">
                    {{ 'help.notfound.message'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {% if article %}
        {{ include('composants/fab-buttons.html.twig', {boutons:[
            {type: 'info',
                href: path('help_print', {article: article.slug}),
                title: 'imprimer'|trans,
                icone : "fa fa-file-pdf-o"}
        ]}) }}
    {% endif %}
{% endblock %}
