{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.projet_periode.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-edit.html.twig', {elt:'projet_periode', id: projet_periode.uuidString}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.projet_periode.modification.heading'|trans }}</h4>
        <div class="card-body">
            <twig:Alert type="warning">
                La suppression d'une période de projet entrainera la suppression de toutes les données associées
                (projet d'étudiants, offres de projets, ...). La suppression ne devrait être utilisée qu'en cas
                d'erreur dans la création de la période. Il est préférable de conserver
                cette période de projet et de créer une autre période de projet pour une nouvelle année universitaire.
            </twig:Alert>
            <br>
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('label.update'|trans) }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
