{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.projet_periode.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'projet_periode', id: projet_periode.uuidString}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.projet_periode.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ projet_periode.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ projet_periode.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.semestre'|trans }}</th>
                    <td>{{ projet_periode.semestre ? projet_periode.semestre.libelle : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.anneeUniversitaire'|trans }}</th>
                    <td>{{ projet_periode.anneeUniversitaire ? projet_periode.anneeUniversitaire.annee : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.responsables_projet_periode'|trans }}</th>
                    <td>
                        <ul>
                            {% for personnel in projet_periode.responsables %}
                                <li>{{ personnel.displayPr }}</li>
                            {% else %}
                                {{ 'non.defini'|trans }}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th>{{ 'table.dateDebut'|trans }}</th>
                    <td>{{ projet_periode.dateDebut ? projet_periode.dateDebut|format_date('long') : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.dateFin'|trans }}</th>
                    <td>{{ projet_periode.dateFin ? projet_periode.dateFin|format_date('long') : 'non.defini'|trans }}</td>
                </tr>

                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ projet_periode.created ? projet_periode.created|format_datetime('long', 'short') : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ projet_periode.updated ? projet_periode.updated|format_datetime('long', 'short') : 'non.defini'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
