{% use "bootstrap_4_layout.html.twig" %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="row">
            {%- for child in form %}
                <div class="col-sm-12 col-md-3">
                    {{- form_widget(child, {
                        parent_label_class: label_attr.class|default(''),
                        translation_domain: choice_translation_domain,
                        valid: valid,
                    }) -}}
                </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded %}

{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    <div class="vich-file">
        <div class="row">
            <div class="col-sm-6">
                {{ form_widget(form.file) }}
            </div>
            <div class="col-sm-2">
                {% if download_uri %}
                    <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if form.delete is defined %}
                    {{ form_row(form.delete) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    <div class="vich-image">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
            {{ form_row(form.delete) }}
        {% endif %}

        {% if image_uri %}
            <a href="{{ image_uri }}"><img src="{{ image_uri }}" alt=""/></a>
        {% endif %}
        {% if download_uri %}
            <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block my_date_range_widget %}
    <div class="input-group" data-provide="datepicker" data-language="{{ app.request.locale }}">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ 'from_date'|trans }}</span>
        </div>
        {{ form_widget(form.from_date, {'attr': attr}) }}
        <div class="input-group-prepend input-group-append">
            <span class="input-group-text">{{ 'to_date'|trans }}</span>
        </div>
        {{ form_widget(form.to_date, {'attr': attr}) }}
    </div>
{% endblock %}

{% block collection_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}
    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {{ block('form_widget') }}
{% endblock collection_widget %}

{% block quill_js_row %}
    {{ form_label(form) }}
    <div id="{{ id }}" name="{{ name }}" data-provide="quill">
        {{ value }}
    </div>
{% endblock %}

{%- block form_widget_simple -%}
    {% if input_prefix or input_suffix %}
        <div class="input-group">
            {% if input_prefix %}
                <div class="input-group-prepend">
                    {{ input_prefix | raw }}
                </div>
            {% endif %}
            {{- parent() -}}
            {% if input_suffix %}
                <div class="input-group-append">{{ input_suffix | raw }}</div>
            {% endif %}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
    <div class="invalid-feedback"></div>
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
    {{ parent() }}
    <div class="invalid-feedback"></div>
{%- endblock form_widget_compound -%}

