{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.compare.personnels.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_edt_compare_matiere', {source:source}) }}"
               class="btn btn-info btn-float btn-sm"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.comparer_par_matiere'|trans }}">
                <i class="fas fa-random"></i></a>
            <a href="{{ path('administration_edt_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title"><strong>{{ 'adm.edt.compare.personnels.heading'|trans }}</strong></h4>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan>Matière</th>
                    <th>Semestre</th>
                    <th colspan="2">CM</th>
                    <th colspan="2">TD</th>
                    <th colspan="2">TP</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                {% for personnel in personnels|filter(personnel => personnel.typeuser != 'ASS' and personnel.typeuser!='TEC') %}
                    <tr style="background-color:#cccccc;">
                        <td colspan="10"
                            style="text-align:center;">{{ personnel.display }}</td>
                    </tr>
                    <tr>
                        <td colspan>&nbsp;</td>
                        <td>Semestre</td>
                        <td>EDT.</td>
                        <td>Prévi.</td>
                        <td>EDT</td>
                        <td>Prévi.</td>
                        <td>EDT</td>
                        <td>Prévi.</td>
                    </tr>
                    {% for ed in comparatifs[personnel.id] %}
                        <tr>
                            <td>
                                <button data-provide="modaler"
                                        data-url="{{ path('administration_edt_compare_plus_info',
                                            {'matiere': ed.matiere_id}) }}"
                                        class="btn btn-info"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-size="lg"
                                        title="{{ 'compare.plusinfos.details'|trans }}"
                                        data-title="{{ 'compare.plusinfos.details.title'|trans }}"
                                >
                                    <i class="{{ iconShow }}"></i> {{ ed.matiere_code }} | {{ ed.matiere_libelle }}
                                </button>
                            <td>{{ ed.semestre_libelle }}</td>
                            <td>
                                <span class="badge badge-pill {% if ed.nbCMEDT > ed.nbCMPrevi %} badge-danger {% elseif ed.nbCMEDT == ed.nbCMPrevi %} badge-success {% else %} badge-warning {% endif %}">{{ ed.nbCMEDT }}</span>
                            </td><!--CM -->
                            <td>
                                <span class="badge badge-pill {% if ed.nbCMPrevi > ed.nbCMEDT %} badge-danger {% elseif ed.nbCMEDT == ed.nbCMPrevi %} badge-success {% else %} badge-warning {% endif %}">{{ ed.nbCMPrevi }}</span>
                            </td>

                            <td>
                                <span class="badge badge-pill {% if ed.nbTDEDT > ed.nbTDPrevi %} badge-danger {% elseif ed.nbTDEDT == ed.nbTDPrevi %} badge-success {% else %} badge-warning {% endif %}">{{ ed.nbTDEDT }}</span>
                            </td><!--TD -->
                            <td>
                                <span class="badge badge-pill {% if ed.nbTDPrevi > ed.nbTDEDT %} badge-danger {% elseif ed.nbTDEDT == ed.nbTDPrevi %} badge-success {% else %} badge-warning {% endif %}">{{ ed.nbTDPrevi }}</span>
                            </td>

                            <td>
                                <span class="badge badge-pill {% if ed.nbTPEDT > ed.nbTPPrevi %} badge-danger {% elseif ed.nbTPEDT == ed.nbTPPrevi %} badge-success {% else %} badge-warning {% endif %}">{{ ed.nbTPEDT }}</span>
                            </td><!-- TP -->
                            <td>
                                <span class="badge badge-pill {% if ed.nbTPPrevi > ed.nbTPEDT %} badge-danger {% elseif ed.nbTPEDT == ed.nbTPPrevi %} badge-success {% else %} badge-warning {% endif %}">{{ ed.nbTPPrevi }}</span>
                            </td>

                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>


    <div id="modalcompare" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="zone_modal_edt">
                    test
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

