{% extends 'base.html.twig' %}

{% block header %}
    {{ 'gestion.des.groupes.semestre.heading'|trans({'%libelle%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestres %}
            <a href="{{ path('administration_etudiant_groupe_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-square btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-provide="tooltip"
               data-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="ti-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">Choisir</h4>
        <div class="card-body">
            <div class="row">
                {% for typeGroupe in semestre.typeGroupes %}
                    <div class="col-sm-2">
                        <button data-typegroupe="{{ typeGroupe.id }}"
                                class="btn btn-block {% if selectedTypeGroupe is defined and selectedTypeGroupe.id == typeGroupe.id %}btn-primary{% endif %} admChangeTypeGroupe">{{ typeGroupe.libelle }}</button>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            Aucun groupe n'existe dans ce semestre. <a href="{{ path('administration_groupe_index') }}">Veuillez
                                d'abord ajouter des types de groupe et des groupes.</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if semestre.typeGroupes|length > 0 %}
        <div class="card">
            <h4 class="card-title">Gérer les groupes des étudiants</h4>
            <div class="card-body" id="listeEtudiantsGroupes">
                <div class="row">

                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            Veuillez choisir un type de groupe ci-dessus pour pouvoir affecer des étudiants aux groupes.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
