{% extends 'base.html.twig' %}

{% block header %}
    {{ 'gestion.des.groupes.semestre.heading'|trans({'%libelle%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_etudiant_groupe_semestre_index'}) }}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_etudiant_groupe_synchro_parent', {semestre:semestre.id}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.synchro_parent'|trans }}"><i class="fas
               fa-sync"></i></a>
            <a href="{{ path('administration_etudiant_groupe_synchro_apogee', {semestre:semestre.id}) }}"
               class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.synchro_apogee'|trans }}"><i class="fas
               fa-file-import"></i></a>
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">Choisir</h4>
        <div class="card-body">
            <div class="row">
                {% for typeGroupe in typeGroupes %}
                    <div class="col-sm-2 d-grid">
                        <button data-typegroupe="{{ typeGroupe.id }}"
                                class="btn d-block {% if selectedTypeGroupe is defined and selectedTypeGroupe.id ==
                                    typeGroupe.id %}btn-primary{% endif %} admChangeTypeGroupe">{{ typeGroupe.libelle }}</button>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <twig:Alert type="warning">
                            Aucun groupe n'existe dans ce semestre. <a href="{{ path('administration_groupe_index',
                                {semestre:semestre.id}) }}">
                                Veuillez d'abord ajouter des types de groupe et des groupes.
                            </a>
                        </twig:Alert>
                    </div>
                {% endfor %}
                <br><br>
                <twig:Alert class="info">
                    Vous pouvez ne remplir que le groupe de plus bas niveau (TP) et synchroniser pour remplir
                    automatiquement les groupes parents. Si les groupes sont saisis dans Apogée, vous pouvez aussi
                    les synchroniser (il faut attendre 24h entre la saisie dans Apogée et la possibilité de
                    synchroniser).
                </twig:Alert>
            </div>
        </div>
    </div>

    {% if typeGroupes|length > 0 %}
        <div class="card">
            <h4 class="card-title">Gérer les groupes des étudiants</h4>
            <div class="card-body" id="listeEtudiantsGroupes">
                <div class="row">

                    <div class="col-md-12">
                        <twig:Alert type="warning">
                            Veuillez choisir un type de groupe ci-dessus pour pouvoir affecer des étudiants aux groupes.
                        </twig:Alert>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.etudiant_groupe') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.etudiant_groupe') }}
{% endblock %}
