{% extends 'base-super_admin.html.twig' %}


{% block header %}
    {{ 'adm.bc.centre_financier.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-index.html.twig', {elt:'bc_centre_financier',  retour: {path:
            'sa_compta_index', titre: 'Service comptabilité'}}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.bc.centre_financier.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">

                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Code</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for bc_centre_financier in bc_centre_financiers %}
                    <tr>
                        <td>{{ bc_centre_financier.libelle }}</td>
                        <td>{{ bc_centre_financier.code }}</td>
                        <td>
                            {{ include('composants/sadm-buttons-table-index.html.twig', {elt:'bc_centre_financier', id: bc_centre_financier.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
