{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.bc.centre_financier.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'bc_centre_financier', id: bc_centre_financier.id
        }) }}

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.bc.centre_financier.show.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ bc_centre_financier.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ bc_centre_financier.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.code'|trans }}</th>
                    <td>{{ bc_centre_financier.code }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ bc_centre_financier.created ? bc_centre_financier.created|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ bc_centre_financier.updated ? bc_centre_financier.updated|format_datetime('long', 'short') : '' }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
