{% if is_granted('ROLE_QUALITE') %}
    <a href="{{ path('sa_qualite_type_document_duplicate', {'id': type_document.id,
        source:source}) }}"
       class="btn btn-success btn-outline btn-square"
       data-bs-toggle="tooltip" data-bs-placement="bottom"
       title="{{ 'atitle.dupliquer'|trans }}">
        <i class="{{ iconDuplicate }}"></i>
        <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
    </a>

    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'adm.type_document.show.heading'|trans,
                modalUrl:  path('sa_qualite_type_document_show', {'id': type_document
                .id, source:source}) }) }}
            data-action="click->modal#openModal"
            class="btn btn-info btn-outline btn-square"
            data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="{{ 'atitle.details'|trans }}"
    >
        <i class="{{ iconShow }}"></i>
        <span class="sr-only">{{ 'atitle.details'|trans }}</span>
    </button>

    <a href="{{ path('sa_qualite_type_document_edit', {source:source, id: type_document.id}) }}"
       data-csrf="{{ csrf_token('edit' ~ type_document.id) }}"
       class="btn btn-warning btn-outline btn-square editer"
       data-bs-toggle="tooltip" data-bs-placement="bottom"

       title="{{ 'atitle.edit'|trans }}">
        <i class="{{ iconEdit }}"></i>
        <span class="sr-only">{{ 'atitle.edit'|trans }}</span>
    </a>

    <a href="{{ path('sa_qualite_type_document_delete', {id: type_document.id,
        source:source}) }}"
       data-csrf="{{ csrf_token('delete' ~ type_document.id) }}"
       class="btn btn-danger btn-outline btn-square supprimer"
       data-bs-toggle="tooltip" data-bs-placement="bottom"

       title="{{ 'atitle.supprimer'|trans }}">
        <i class="{{ iconDelete }}"></i>
        <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
    </a>
{% else %}
    <a href="{{ path('administration_type_document_duplicate', {'id': type_document.id,
        source:source}) }}"
       class="btn btn-success btn-outline btn-square"
       data-bs-toggle="tooltip" data-bs-placement="bottom"
       title="{{ 'atitle.dupliquer'|trans }}">
        <i class="{{ iconDuplicate }}"></i>
        <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
    </a>

    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'adm.type_document.show.heading'|trans,
                modalUrl:  path('administration_type_document_show', {'id': type_document
                .id,
                    source:source}) }) }}
            data-action="click->modal#openModal"
            class="btn btn-info btn-outline btn-square"
            data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="{{ 'atitle.details'|trans }}"
    >
        <i class="{{ iconShow }}"></i>
        <span class="sr-only">{{ 'atitle.details'|trans }}</span>
    </button>

    <a href="{{ path('administration_type_document_delete', {id: type_document.id,
        source:source}) }}"
       data-csrf="{{ csrf_token('delete' ~ type_document.id) }}"
       class="btn btn-danger btn-outline btn-square supprimer"
       data-bs-toggle="tooltip" data-bs-placement="bottom"

       title="{{ 'atitle.supprimer'|trans }}">
        <i class="{{ iconDelete }}"></i>
        <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
    </a>
{% endif %}
