{% extends is_granted('ROLE_QUALITE') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.type_document.index.heading'|trans }}
{% endblock %}



{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if is_granted('ROLE_QUALITE') %}
                <a href="{{ path('sa_qualite_documents_new',{source:source}) }}"
                   class="btn btn-success btn-sm btn-float"
                   title="{{ 'atitle.creer_nouveau_document'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-book"></i>
                    <span class="sr-only">{{ 'atitle.creer_nouveau_document'|trans }}</span>
                </a>

                <a href="{{ path('super_admin_homepage') }}"
                   class="btn btn-primary btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'atitle.retour_administration'|trans }}">
                    <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i>
                </a>
            {% else %}
                <a href="{{ path('administration_document_new',{source:source}) }}"
                   class="btn btn-success btn-sm btn-float"
                   title="{{ 'atitle.creer_nouveau_document'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-book"></i>
                    <span class="sr-only">{{ 'atitle.creer_nouveau_document'|trans }}</span>
                </a>

                <a href="{{ path('administration_index') }}"
                   class="btn btn-primary btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'atitle.retour_administration'|trans }}">
                    <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i>
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}

    {% macro menu_categories(categories, source, rang) %}
        {% import _self as macros %}
        {% for type_document_enfant in categories %}
            <tr id="ligne_{{ type_document_enfant.id }}">
                <td>{% for i in 0..rang %}&nbsp;{% endfor %}{{ type_document_enfant.libelle }}</td>
                <td>{{ type_document_enfant.documents|length }}</td>
                <td>
                    {{ include('document/type_document/_btnTable.html.twig', {type_document: type_document_enfant, source:source}) }}
                </td>
            </tr>
            {% set rang = rang + 2 %}
            {{ macros.menu_categories(type_document_enfant.enfants, source, rang) }}
        {% endfor %}
    {% endmacro %}

{% block content %}

    {% import _self as macros %}
    {{ render(controller('App\\Controller\\document\\TypeDocumentController::create', {source:source})) }}

    <div class="card">
        <h4 class="card-title">{{ 'adm.type_document.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.nb_documents'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for type_document in type_documents|filter(type_document => type_document.parent == null) %}
                    <tr id="ligne_{{ type_document.id }}">
                        <td>{{ type_document.libelle }}</td>
                        <td>{{ type_document.documents|length }}</td>
                        <td>
                            {{ include('document/type_document/_btnTable.html.twig',{source:source}) }}
                        </td>
                    </tr>
                    {{ macros.menu_categories(type_document.enfants, source, 2) }}
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_type_document_export', {_format:'pdf', source:source}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_type_document_export', {_format:'csv', source:source}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_type_document_export', {_format:'xlsx', source:source}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_document_type_document'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
