
    <div class="card">
        <h4 class="card-title">{{ 'adm.type_document.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ type_document.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ type_document.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ type_document.created ? type_document.created|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ type_document.updated ? type_document.updated|format_datetime('long', 'short') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.type_document.liste.documents'|trans }}</h4>
        <div class="card-body">
            {{ include('document/administration/_liste-document.html.twig', {documents: type_document.documents}) }}
        </div>
    </div>
