{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.evenement.show.heading'|trans({}, 'evenement') }}
{% endblock %}

{% block headeractions %}
    <div class="header-action d-flex gap-2">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'evenement', id: evenement.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.evenement.show.heading'|trans({}, 'evenement') }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ evenement.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ evenement.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.date'|trans }}</th>
                    <td>{{ evenement.date ? evenement.date|format_date('long') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.heure_debut'|trans }}</th>
                    <td>{{ evenement.debut ? evenement.debut|date('H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.heure_fin'|trans }}</th>
                    <td>{{ evenement.fin ? evenement.fin|date('H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.adresse'|trans }}</th>
                    <td>
                            {{ evenement.adresse.adresse1 }} {{ evenement.adresse.adresse2 }} {{ evenement.adresse.adresse3 }} {{ evenement.adresse.codePostal }} {{ evenement.adresse.ville }} {{ evenement.adresse.pays }}

                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.description'|trans }}</th>
                    <td>{{ evenement.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.participants'|trans }}</th>
                    <td>
                        {{ evenement.etudiantEvenements|length }}
                    </td>
                </tr>
                </tbody>
            </table>

            <h5>{{ 'adm.evenement.attendance'|trans({}, 'evenement') }}</h5>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>{{ 'table.prenom'|trans }}</th>
                        <th>{{ 'table.nom'|trans }}</th>
                        <th>{{ 'table.email'|trans }}</th>
                        <th>présence</th>
                    </tr>
                </thead>
                <tbody>
                    {% for etudiantEvenement in etudiantsEvenement %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ etudiantEvenement.etudiant.prenom }}</td>
                            <td>{{ etudiantEvenement.etudiant.nom ?? '-' }}</td>
                            <td>{{ etudiantEvenement.etudiant.email ?? '-' }}</td>
                            <td>
                                {% if etudiantEvenement.present %}
                                    <span class="badge bg-success">{{ 'oui'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-danger">{{ 'non'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{{ 'table.empty'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
