{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'sadm.personnel.edit.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h2 class="card-title">{{ 'sadm.personnel.edit.heading'|trans }}</h2>
        <div class="card-body">
            {{ include('common_form/_addPersonnel.html.twig',{'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}
