{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'sadm.gestion.rh.import.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_rh_import_personnel') }}" class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.import_personnel'|trans }}"><i class="fas
               fa-file-import"></i></a>
            <a href="{{ path('sa_rh_add_personnel') }}" class="btn btn-info btn-sm btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.creer_nouveau'|trans }}"><i class="fas fa-plus"></i></a>
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'sadm.gestion.rh.import.ldap.heading'|trans }}</h4>
        <div class="card-body">
            <form class="form" method="post">
                <div class="form-group">
                    <label for="username" class="required">{{ 'username.import'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" class="form-control">
                    <p class="help">Nom, email, login URCA, ou identifiant RH</p>
                </div>
                <button class="btn btn-success">Rechercher LDAP</button>
            </form>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'sadm.gestion.rh.import.heading'|trans }}</h4>
        <div class="card-body">
            <twig:Alert type="info"><p>Importer un fichier csv (ou xlsx) contenant les données des personnels. Vous
                    pouvez <a
                            href="">récupérer un modèle ici</a>. Veuillez respecter l'ordre des colonnes, ne pas en
                    ajouter ni en supprimer. Laisser vide les données non connues.</p>
                <p>Les personnels déjà présents ne seront ni supprimés ni modifiés.</p>
            </twig:Alert>
            <br>
            <twig:Alert type="warning">Le <strong>login est obligatoire</strong> pour permettre l'accès via le système
                d'authentification de l'université.
            </twig:Alert>
            <form class="form">
                <div class="form-group">
                    <label for="fichier" class="required">{{ 'fichier.personnel.import'|trans }}</label>
                    <input type="file" id="fichier" name="fichier" required="required" class="form-control">
                </div>
                <button class="btn btn-success">Importer</button>
            </form>
        </div>
    </div>
{% endblock %}
