{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'sadm.gestion.rh.import.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_rh_import_personnel') }}" class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.import_personnel'|trans }}"><i class="fas
               fa-file-import"></i></a>
            <a href="{{ path('sa_rh_add_personnel') }}" class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.creer_nouveau'|trans }}"><i class="fas fa-plus"></i></a>
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">dashboard</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'sadm.gestion.rh.import.ldap.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Id. RH</th>
                    <th>email</th>
                    <th>Login</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Id. RH</td>
                        <td>email</td>
                        <td>Login</td>
                        <td>Ajouter</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
