{% extends 'base.html.twig' %}

{% block header %}
    {{ 'sadm.personnel.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_rh_index') }}" class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}" data-provide="tooltip"
               data-placement="bottom"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'sadm.personnel.new.heading'|trans }}</h4>
        <div class="card-body">
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}

            <h4>Données professionnelles</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.civilite) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.username) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.prenom) }}
                    {{ form_row(form.numero_harpege) }}
                    {{ form_row(form.mail_univ) }}
                </div>
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        Le login URCA est obligatoire pour accéder à l'intranet. Si vous ne le connaissez pas,
                        utilisez le bouton ci-dessous pour le récupérer depuis l'annuaire de l'université. Sous
                        réserve que le dossier soit validé par les services RH.
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-success" id="searchLdap">Rechercher sur le LDAP (nom, prénom
                                                                                  obligatoire)
                        </button>
                    </div>
                </div>
            </div>

            <h4>Données administratives</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.statut) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.initiales) }}
                    {{ form_row(form.nbHeuresService) }}
                </div>
            </div>

            <h4>Données personnelles</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.date_naissance) }}
                    {{ form_row(form.photoFile) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.adresse) }}
                </div>
            </div>

            <h4>Contacts et sites</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.mail_perso) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.site_univ) }}
                    {{ form_row(form.site_perso) }}
                </div>
            </div>

            <h4>Adresses et téléphones</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.bureau1) }}
                    {{ form_row(form.bureau2) }}
                    {{ form_row(form.poste_interne) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.tel_bureau) }}
                    {{ form_row(form.tel1) }}
                    {{ form_row(form.tel2) }}
                </div>
            </div>

            <h4>Autres informations</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.responsabilites) }}
                    {{ form_row(form.domaines) }}
                    {{ form_row(form.cvFile) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form_row(form.remarque) }}
                    {{ form_row(form.signature) }}
                </div>
            </div>

            <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>

            <button class="btn btn-success" value="redirect_to_index" name="btn_update">{{ 'button_update_index'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sadm.personnels') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sadm.personnels') }}
{% endblock %}
