{% extends 'base.html.twig' %}

{% block header %}
    {{ 'sadm.personnel.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_rh_index') }}" class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'sadm.personnel.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('common_form/_addPersonnel.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sadm.personnels') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sadm.personnels') }}
{% endblock %}
