{% extends 'base.html.twig' %}

{% block header %}
    {{ 'ri.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link changeinformation active"
                   href="{{ path('article_categorie', {categorie: 'ri'}) }}">{{ 'menu.internationale'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link changeinformation" data-toggle="tab"
                   href="{{ path('article_categorie', {categorie: 'c2i'}) }}"
                   role="tab">C2I</a>
            </li>
            {% if user_data.formation.optInfos == true %}
                <li class="nav-item">
                    <a class="nav-link changeinformation" data-toggle="tab"
                       href="{{ path('article_categorie', {categorie: 'infos'}) }}"
                       role="tab">Informations Pratiques</a>
                </li>
            {% endif %}
        </ul>
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><i
                        class="material-icons">dashboard</i></a>
        </div>
    </div>


{% endblock %}

{% block content %}
    {{ render(controller(
        'App\\Controller\\ArticleController::categorie', {categorie: 'ri'}
    )) }}
{% endblock %}