<div class="card">
    <header class="card-header">
        <h4 class="card-title"><strong>{{ 'sadm.service.previsionnel.heading'|trans }}</strong>
            {{ previsionnel.personnel.display }} | ({{ 'periode'|trans }}
                                                 : {{ annee }})</h4>
        <ul class="card-controls">
            <li class="dropdown">
                <a data-bs-toggle="dropdown" href="#"><i class="fas fa-ellipsis-h rotate-90"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('previsionnel_chronologique') }}"><i
                                class="fas fa-bell"></i> {{ 'chronologique'|trans }}</a>
                    {# todo: finaliser la partie export des prévisionnels et harmoniser. #}
                    {# <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'csv'}) }}"><i #}
                    {# class="ti-export"></i> {{ 'exporter.csv'|trans }}</a> #}
                    {# <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'pdf'}) }}"><i #}
                    {# class="ti-export"></i> {{ 'exporter.pdf'|trans }}</a> #}
                    {# <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'xlsx'}) }}"><i #}
                    {# class="ti-export"></i> {{ 'exporter.xlsx'|trans }}</a> #}
                </div>
            </li>
            <li><a class="card-btn-reload" href="#" id="saReloadPreviPersonnel" data-annee="{{ annee }}"
                   data-personnel="{{ previsionnel.personnel.id }}" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="{{ 'atitle.refresh'|trans }}"><i class="fa fa-refresh"></i></a>
            </li>
        </ul>
    </header>


    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for departement in previsionnel.departements %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                       href="#departement{{ departement.id }}">{{ departement.libelle }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for departement in previsionnel.departements %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="semestre{{ departement.id }}">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="cm">NB h*</th>
                            <th class="cm">NB Gr.</th>
                            <th class="cm">1.5**</th>

                            <th class="previtd">NB h/ Gr.*</th>
                            <th class="previtd">NB Gr.</th>
                            <th class="previtd">1.5**</th>

                            <th class="previtp">NB h/ Gr.*</th>
                            <th class="previtp">NB Gr.</th>
                            <th class="previtp">1.5**</th>

                            <th class="cm">tot. CM*</th>
                            <th class="previtd">tot. TD</th>
                            <th class="previtp">tot. TP</th>

                            <th>total eq. TD**</th>
                            <th>total etu.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if previsionnel.servicePrevisionnelByDepartement[departement.id] is defined %}
                            {% for previsionnel in previsionnel.servicePrevisionnelByDepartement[departement.id] %}
                                <tr>
                                    <td colspan="11">
                                        {{ previsionnel.matiere.codeMatiere }} | {{ previsionnel.matiere.libelle }}
                                                                               | {{ previsionnel.matiere.codeElement }}
                                    </td>
                                    {# todo: uniquement si admin... #}
                                    <td colspan="2">
                                        <a href="">Détail du module</a>
                                    </td>
                                    <td colspan="1">
                                        {% if (user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE')) %}
                                            <a href="{{ path('administration_previsionnel_duplicate', {id: previsionnel.id}) }}"
                                               class="btn btn-success btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="{{ 'atitle.dupliquer'|trans }}"><i
                                                        class="{{ iconDuplicate }}"></i></a>
                                            <a href="{{ path('administration_previsionnel_delete', {id: previsionnel.id}) }}"
                                               class="btn btn-danger btn-outline btn-square supprimer" data-bs-toggle="tooltip" data-bs-placement="bottom"

                                               title="{{ 'atitle.supprimer'|trans }}"><i
                                                        class="{{ iconDelete }}"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="editPrevi" data-pk="{{ previsionnel.id }}"
                                           data-name="NbHCm">{{ previsionnel.nbHCm }}</a> h
                                    </td>
                                    <td><a href="#" class="editPrevi" data-pk="{{ previsionnel.id }}"
                                           data-name="NbGrCm">{{ previsionnel.nbGrCm }}</td>
                                    <td>{{ previsionnel.nbSeanceCm }}</td>
                                    <td class="previtd"><a href="#" class="editPrevi" data-pk="{{ previsionnel.id }}"
                                                           data-name="NbHTd">{{ previsionnel.nbHTd }}</a> h
                                    </td>
                                    <td class="previtd"><a href="#" class="editPrevi" data-pk="{{ previsionnel.id }}"
                                                           data-name="NbGrTd">{{ previsionnel.nbGrTd }}</a></td>
                                    <td class="previtd">{{ previsionnel.nbSeanceTd }}</td>

                                    <td class="previtp"><a href="#" class="editPrevi" data-pk="{{ previsionnel.id }}"
                                                           data-name="NbHTp">{{ previsionnel.nbHTp }}</a> h
                                    </td>
                                    <td class="previtp"><a href="#" class="editPrevi" data-pk="{{ previsionnel.id }}"
                                                           data-name="NbGrTp">{{ previsionnel.nbGrTp }}</a></td>
                                    <td class="previtp">{{ previsionnel.nbSeanceTp }}</a></td>

                                    <td>{{ previsionnel.totalHCm }} h</td>
                                    <td class="previtd">{{ previsionnel.totalHTd }} h</td>
                                    <td class="previtp">{{ previsionnel.totalHTp }} h</td>

                                    <td>{{ previsionnel.totalEqTd }} h</td>
                                    <td>{{ previsionnel.totalEtudiant }} h</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="14">Pas de service</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <twig:Alert type="info">* CM non majorés; ** CM majorés, TP=TD.
                                                  Information indicative !
                    </twig:Alert>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ include('bloc_previsionnel/_sa_hrs.html.twig') }}

{{ include('bloc_previsionnel/_sa_total.html.twig') }}


Détail /  département (pas par semestre).

Synthèse par département et total
Warning si sous-service

répartition CM/TD/TP

Prime
