{% extends 'base-administratif.html.twig' %}

{% block header %}
    {{ 'scolarite.recherche.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administratif_homepage') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_administratif'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="ti-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_administratif'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'scolarite.recherche.heading'|trans }}</h4>
        <div class="card-body">
            {% for reponse in reponses %}
                {% if type == 'etudiant' %}
                    {{ include('administratif/recherche/_resultat_etudiant.html.twig') }}
                {% else %}
                    {{ include('administratif/recherche/_resultat_personnel.html.twig') }}
                {% endif %}
            {% else %}
                <div class="alert alert-info">
                    La recherche de <strong>{{ recherche }}</strong> n'a donnée aucun résultat. <a href="{{ path
                        ('administratif_homepage') }}">Effectuer une autre recherche ?</a>
                </div>
                {% if type == 'etudiant' %}
                    {{ include('administratif/recherche/_etudiant.html.twig') }}
                {% else %}
                    {{ include('administratif/recherche/_personnel.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
