{% extends 'base-speciale.html.twig' %}

{% block header %}{{ 'security.login.heading'|trans }}{% endblock %}

{% block body %}
    min-h-fullscreen bg-img center-vh" style="background-image: url({{ asset('assets/bg/2.jpg') }});
{% endblock %}

{% block body_complement %}
    data-overlay="7"
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-600px mb-0 text-center" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <div>
            {% if user.photoName != null and user.photoName != 'noimage.png' %}
                <img class="avatar" src="{% if user.typeUser == 'permanent' %}
                        {{ asset('upload/personnels/'~user.photoName)|imagine_filter('avatar') }}
                    {% else %}
                        {{ asset('upload/etudiants/'~user.photoName)|imagine_filter('avatar') }}
                    {% endif %}"
                     alt="Votre avatar">
            {% else %}
                {{ include('composants/_avatar.html.twig', {user:user, size:'xxl'}) }}
            {% endif %}
            <br><br>
            <h5 class="lead">{{ user.displayPr }}</h5>
            <p>Veuillez définir votre formation par défaut</p>
            <small>Vous pourrez modifier ce choix dans vos paramètres.</small>
        </div>

        <form class="form" method="post" action="{{ path('security_choix_departement') }}">
            <div class="row">
                {% for departement in departements %}
                    <div class="col-4 d-grid d-block mt-2">
                        <input type="radio"
                               class="btn-check"
                               name="departement"
                               value="{{ departement.departement.id }}"
                               id="departement_{{ departement.id }}"
                               autocomplete="off">
                        <label class="btn btn-outline-primary" for="departement_{{ departement.id }}">
                            {{ departement.departement.libelle }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <br>
            <p>Si le département n'apparaît pas dans la liste, merci de contacter le responsable de ce département
               .</p>
            <div class="d-grid col-12 d-block mt-2">
                <button class="btn btn-bold btn-primary" type="submit"><i class="fas fa-save mr-2"></i>
                    Enregistrer
                </button>
            </div>
        </form>

        <p class="text-center text-muted fs-13 mt-20">Vous n'êtes pas {{ user.displayPr }}? <a class="text-primary
        fw-500" href="{{ path('security_logout') }}">Déconnexion</a></p>
    </div>
{% endblock %}
