{% extends 'base-speciale.html.twig' %}

{% block header %}{{ 'security.login.heading'|trans }}{% endblock %}
{% block body %}
    class="min-h-fullscreen bg-img center-vh p-20" style="background-image: url({{ asset('assets/bg/2.jpg') }});" data-overlay="7"
{% endblock %}
{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0 text-center" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <div>
            <img class="avatar avatar-xxl" src="{{ asset('upload/photo/'~user.photoName) }}" alt="Photo de {{ user
            .display }}">
            <br><br>
            <h5 class="lead">{{ user.displayPr }}</h5>
            <p>Veuillez définir votre formation par défaut</p>
            <small>Vous pourrez modifier ce choix dans vos paramètres.</small>
        </div>

        <form class="form-type-material" method="post" action="{{ path('security_choix_departement') }}">
            <div class="row">
                {% for departement in departements %}
                    <div class="col-sm-12 col-md-6">
                        <div class="custom-control custom-control-lg custom-radio">
                            <input type="radio" class="custom-control-input" id="departement_{{ departement.id }}"
                                   value="{{ departement.id }}"
                                   name="departement">
                            <label class="custom-control-label"
                                   for="departement_{{ departement.id }}" style="padding: 5px; background-color: {{ departement
                            .departement.couleur }}; color:white;
                                   display:block">{{ departement.departement.libelle }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <p>Si le département n'apparaît pas dans la liste, merci de contacter le responsable de ce département
               .</p>
            <br>
            <button class="btn btn-bold btn-block btn-primary" type="submit"><i class="fa fa-unlock-alt mr-2"></i>
                Enregistrer
            </button>
        </form>

        <p class="text-center text-muted fs-13 mt-20">Vous n'êtes pas {{ user.displayPr }}? <a class="text-primary
        fw-500" href="{{ path('security_logout') }}">Déconnexion</a></p>
    </div>
{% endblock %}
