{% extends 'base-speciale.html.twig' %}

{% block header %}{{ 'security.lock.heading'|trans }}{% endblock %}

{% block content %}
    <div class="row no-gutters min-h-fullscreen bg-white">
        <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url({{ asset('assets/bg/2.jpg') }})" data-overlay="6">

            <div class="row h-100 pl-50">
                <div class="col-md-10 col-lg-8 align-self-end">
                    <img src="{{ asset('assets/logo/logo-light-lg.png') }}" alt="Logo Intranet">
                    <br><br><br>
                    <h4 class="text-white">The admin is the best admin framework available online.</h4>
                    <p class="text-white">Credibly transition sticky users after backward-compatible web services. Compellingly strategize team building interfaces.</p>
                    <br><br>
                </div>
            </div>

        </div>



        <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
            <div class="px-80 py-30 text-center">
                <div>
                    <img class="avatar avatar-xxl" src="../assets/img/avatar/2.jpg" alt="...">
                    <br><br>
                    <h5 class="lead">{{ user_data.user.display }}</h5>
                    <small>{{ 'saisir.password.lock'|trans }}</small>
                </div>

                <hr class="w-30px">

                <form class="form-type-material" method="post">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                    </div>

                    <br>
                    <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'security.login.connexion'|trans }}</button>
                </form>

                <p class="text-center text-muted fs-13 mt-20">{{ 'vous.netes.pas'|trans }} {{ user_data.user.display }} ? <a class="text-primary fw-500" href="#">{{ 'connectez.vous'|trans }}</a></p>
            </div>
        </div>
    </div>

{% endblock %}
