{% extends 'base-speciale.html.twig' %}

{% block header %}{{ 'security.login.heading'|trans }}{% endblock %}

{% block body %}
    class="min-h-fullscreen bg-img center-vh" style="background-image: url({{ asset('assets/bg/home_troyes.jpg') }});"
    data-overlay="7"
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <h5 class="text-uppercase">{{ 'security.login.connexion'|trans }}</h5>
        <br>
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans }}
            </div>
        {% endif %}
        <p>Etudiants, personnels de l'Université et vacataires, connectez-vous avec l'authentification de
           l'Université .<a href="{{ path('sso_cas') }}" class="btn btn-bold btn-block
           btn-primary">Connexion URCA</a>
        </p>
        <div class="divider">{{ 'security.login.sign-with'|trans }}</div>

        <form class="form-type-material" action="{{ path('security_login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" value="{{ last_username }}">
                <label for="username">{{ 'security.login.username'|trans }}</label>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password">
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>

            <div class="form-group flexbox">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked id="remenber-me">
                    <label class="custom-control-label" for="remenber-me">{{ 'security.login.remenber-me'|trans }}</label>
                </div>

                <a class="text-muted hover-primary fs-13"
                   href="{{ path('security_password_lost') }}">{{ 'security.login.forgot-password'|trans }}</a>
            </div>

            <div class="form-group">
                <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'security.login.login'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
