{% extends 'base-speciale.html.twig' %}

{% block body %}
    class="min-h-fullscreen bg-img center-vh p-20" style="background-image: url({{ asset('assets/bg/2.jpg') }});" data-overlay="7"
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <h5 class="text-uppercase">{{ 'password_lost'|trans }}</h5>
        <br>

        <form class="form-type-material" method="POST" action="{{ path('security_password_lost') }}">
            <input type="hidden" name="token" value="{{ csrf_token('password-lost') }}"/>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email">
                <label for="email">{{ 'email.address'|trans }}</label>
            </div>

            <br>
            <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'reset'|trans }}</button>
        </form>
    </div>
{% endblock %}

{% block header %}

{% endblock %}

