{% extends 'base-speciale.html.twig' %}

{% block body %}
    min-h-fullscreen bg-img center-vh" style="background-image: url({{ asset('assets/bg/2.jpg') }});
{% endblock %}

{% block content %}
    <div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
        <div class="header-special" style="background-color: {{ settings('COLOR_IUT') }}">
            <img src="{{ asset('upload/logo/'~settings('LOGO_IUT')) }}" alt="Logo de
            l' {{ settings('NOM_IUT') }}" class="img-fluid" style="height: 100px">
        </div>
        <h5 class="text-uppercase">{{ 'password_lost'|trans }}</h5>
        <br>
        <div class="alert alert-info">
            <strong>Attention !</strong> La gestion du mot de passe se fait par l'Université pour les étudiants et la
                                         majorité des intervenants et enseignants. Vous ne devriez pas utiliser cette
                                         page dans la plupart des cas.
        </div>
        <br>
        <form class="form-type-material" method="POST" action="{{ path('security_password_lost') }}">
            <input type="hidden" name="token" value="{{ csrf_token('password-lost') }}"/>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email">
                <label for="email">{{ 'email.address'|trans }}</label>
            </div>

            <br>
            <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'reset'|trans }}</button>
        </form>
    </div>
{% endblock %}

{% block header %}
 Récupération de mot de passe
{% endblock %}

