<div class="d-flex align-items-stretch mt-3">
    <div class="col-3 competence ">
        <div class="p-3 comp competence{{ competence.couleur }}">
            {{ competence.nomCourt }}
        </div>
    </div>
    <div class="col-3 competencelongue  ms-3">
        <div class="p-3 competencelongue{{ competence.couleur }}">
            {{ competence.libelle }}
        </div>
    </div>
    <div class="col-6 composantesessentielles{{ competence.couleur }}">
        <ul>
            {% for composante in competence.apcComposanteEssentielles %}
                <li>{{ composante.libelle }}
                    <a href="{{ path('administration_apc_composante_essentielle_edit',
                        {id:composante.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a></li>
            {% endfor %}
            <li>
                <a href="{{ path('administration_apc_composante_essentielle_new', {competence:competence.id}) }}"><i class="fas fa-plus-circle"></i>
                    Ajouter une composante essentielle</a></li>
        </ul>

    </div>
</div>

{# Situtations professionnelles #}
<div class="d-flex align-items-stretch mt-3">
    <div class="col-3">
        <div class="p-3 situationpro situation{{ competence.couleur }}">Situations professionnelles</div>
    </div>
    <div class="col-9 ms-3 situationliste">
        <div class="p-3 situationliste{{ competence.couleur }}">Prestataire : Livrables sous forme de recommandation
                                                                stratégique, dans une approche de communication ou de
                                                                conception de produit / service.<br>
                                                                Organisation traditionnelle : Direction marketing,
                                                                communication, DPO, CRM… dans une entreprise, une
                                                                administration ou une association.<br>
                                                                Start-up : Les livrables sont utilisés de façon
                                                                itérative pour améliorer le produit créé par
                                                                l’organisation, amélioration pilotée par un product
                                                                owner.
        </div>
    </div>
</div>

{# Niveaux #}
<div class="d-flex align-items-stretch mt-3">
    <div class="col-3">
        <div class="p-3 titreniveau">Niveaux</div>
    </div>
    <div class="col-9 ms-3">
        <div class="p-3 titreac">Apprentissages critiques
        </div>
    </div>
</div>

{% for niveau in competence.apcNiveaux %}
    <div class="d-flex align-items-stretch mt-3">
        <div class="col-flex-3 niveau  niveau{{ niveau.ordre }}{{ competence.couleur }}">
            <div class="p-3 niveaucourt ">
                {% if niveau.ordre == 1 %}
                Novice
            {% elseif niveau.ordre == 2 %}
                Intermédiaire
            {% elseif niveau.ordre == 3 %}
                Compétent
                {% endif %}<br>
                B.U.T. {{ niveau.ordre }}</div>
            <div class="p-3 niveaulong">{{ niveau.libelle }} <a href="{{ path('administration_apc_niveau_edit',
                    {id:niveau.id}) }}">
                    <i class="fas fa-edit"></i></a>
            </div>
        </div>
        <div class="col-flex-9 ms-3" style="padding-right:15px;">
            <div class="p-3 niveauliste niveau{{ niveau.ordre }}{{ competence.couleur }}">
                <ul>
                    {% for ac in niveau.apcApprentissageCritiques %}
                        <li>{{ ac.libelle }} <a href="{{ path('administration_apc_apprentissage_critique_edit',
                                {id:ac.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a></li>
                    {% endfor %}
                    <li>
                        <a href="{{ path('administration_apc_apprentissage_critique_new', {niveau:niveau.id}) }}"><i class="fas fa-plus-circle"></i>
                            Ajouter une composante essentielle</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endfor %}
<a href="{{ path('administration_apc_niveau_new', {competence:competence.id}) }}"><i class="fas fa-plus-circle"></i>
    Ajouter un niveau</a>
