{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.etudiant.edit.heading'|trans({'%etudiant%': etudiant.displayPr}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if origin == 'semestre' and etudiant.semestre != null %}
                <a href="{{ path('administration_semestre_index', {semestre:etudiant.semestre.id}) }}"
                   class="btn btn-primary btn-float" data-provide="tooltip"
                   data-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            {% else %}
                <a href="{{ path('administration_etudiant_index') }}"
                   class="btn btn-primary btn-float" data-provide="tooltip"
                   data-placement="bottom" title="{{ 'atitle.retour_etudiants'|trans }}"><i class="fas
                   fa-arrow-left"></i></a>
            {% endif %}
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ include('composants/_formEditEtudiant.html.twig') }}
{% endblock %}
