{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.gestion.des.etudiants.departement'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_etudiant_semestre_add') }}" class="btn btn-info
            btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}" data-bs-toggle="tooltip"
               data-bs-placement="bottom"><i
                        class="fas fa-plus"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">{{ 'atitle.retour_administration'|trans }}</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.gestion.des.etudiants.departement'|trans }}</h4>
        <div class="card-body">
            {{ table_render(table) }}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration_etudiants_departement'})
    }
    ) }}
{% endblock %}

