{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.etudiant.semestre.parcours.heading'|trans() }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_etudiant_parcours_semestre_index'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>N° Etudiant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Semestre courant</th>
                    <th>Parcours</th>
                    {#                    <th>A suivre</th>#}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.numEtudiant }}</td>
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>{{ etudiant.semestre.display }}</td>
                        <td>{% for scolarite in etudiant.scolarites %}
                                <span class="badge bg-primary">{{ scolarite.semestre.display }}</span>
                            {% endfor %}</td>
                        {#                        <td>{{ etudiant.suivre }}</td>#}
                        <td>
                            actions
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

