{% extends 'base.html.twig' %}

{% block header %}
    {{ 'liste.etudiants.semestre'|trans({'%libelle%':semestre.libelle})|raw }} ({{ semestre.etudiants|length }})
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_etudiant_semestre_index'}) }}
    </div>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {{ table_render(table) }}
        </div>
    </div>

{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration_etudiants_semestre'})}) }}
{% endblock %}
