{% extends "pdf/basepdf.html.twig" %}

{% block style %}
    {% include('pdf/cssPDF.css.twig') %}
    body {
    font-family: "DejaVu Sans", serif;
    font-size: 12px;
    }

    #logoCourrier {
    position:fixe;
    top: 5px;
    right:5px;
    }
{% endblock %}

{% block content %}
    <div id="logoCourrier">
        <img src="{{ settings('BASE_PATH') }}logo/urca_petit.jpg" alt="logo Université"
             width="100px"/><br>
        <img
                src="{{ settings('BASE_PATH') }}logo/{{ settings('LOGO_IUT') }}"
                alt="logo"
                height="75px"/>
    </div>

    <div id="adresseent">
        {% set initiales = '' %}
        {% for responsable in stageEtudiant.stagePeriode.responsables %}
            {% set initiales = initiales~responsable.prenom|slice(0,1)~responsable.nom|slice(0,1) %}
            {% if not loop.last %}
                {% set initiales = initiales~'/' %}
            {% endif %}
            {{ responsable.displayPr }}<br/>
        {% endfor %}
        Responsable des stages<br/><br/>

        <div>
            A<br/>
            {{ stageEtudiant.entreprise.raisonSociale }}<br/>
            {{ stageEtudiant.entreprise.responsable.display }}<br/>
            {{ stageEtudiant.entreprise.adresse.display|raw }}
        </div>
    </div>
    <div id="courrier">

        <div id="refcourrier">
            {{ stageEtudiant.etudiant.semestre.annee.diplome.sigle }}
            N° {{ date('now')|date('Y') }}/{{ initiales }}
            /{{ stageEtudiant.etudiant.semestre.annee.diplome.assistantDiplome.prenom|slice(0,1) }}{{ stageEtudiant.etudiant.semestre.annee.diplome.assistantDiplome.nom|slice(0,1) }}
        </div>
        <div id="datecourrier">
            {{ stageEtudiant.etudiant.semestre.annee.diplome.departement.ufr.sitePrincipal.adresse.ville }},
            le {{ 'now'|date
                ('d/m/Y') }}
        </div>

        <div id="messagecourrier">
            {{ render(controller(
                'App\\Controller\\administration\\stage\\StageEtudiantController::genereContentCourrier',
                {stageEtudiant:stageEtudiant}
            )) }}
        </div>
        <div id="signatures">
            {% if stageEtudiant.stagePeriode.responsables|length == 1 %}
                {% if stageEtudiant.stagePeriode.responsables[0].civilite == 'M.' %}
                    Le responsable des stages<br/>
                    {{ stageEtudiant.stagePeriode.responsables[0].displayPr }}
                {% else %}
                    La responsable des stages<br/>
                    {{ stageEtudiant.stagePeriode.responsables[0].displayPr }}
                {% endif %}
            {% else %}
                Le(s) responsable(s) des stages<br/>
                {% for responsable in stageEtudiant.stagePeriode.responsables %}
                    {{ responsable.displayPr }}<br/>
                {% endfor %}
            {% endif %}
            {% if stageEtudiant.stagePeriode.responsables[0].signatureElectronique != null %}
                <br/>
                <img src="{{ settings('BASE_PATH') }}signature/{{ stageEtudiant.stagePeriode.responsables[0].signatureElectronique }}"
                     width="100px"
                     alt="signature"
                />
            {% endif %}
        </div>
    </div>
    <div style="text-align: right; position:fixed; bottom: 50px; right:15px; font-size:11px">
        Université de Reims Champagne-Ardenne<br/>
        {{ settings('NOM_IUT') }} - Département {{ stageEtudiant.etudiant.semestre.annee.diplome.sigle }}<br/>
        {{ user_data.departement.ufr.sitePrincipal.adresse.display|striptags }} /
        Tél. {{ stageEtudiant.etudiant.semestre.annee.diplome.departement.telContact|tel_format }}<br/>
        {{ settings('SITE_IUT') }}<br/>
    </div>
{% endblock %}
