{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.covid_attestation_etudiant.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-provide="tooltip"
               data-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.covid_attestation_etudiant.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" data-provide="datatables">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Matières</th>
                    <th>Groupe(s)</th>
                    <th>Motif</th>
                    <th>Salles</th>
                    <th>Envoyé?</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for covid_attestation_etudiant in covid_attestation_etudiants %}
                    <tr>
                        <td>{{ covid_attestation_etudiant.datePresence != null ? covid_attestation_etudiant
                            .datePresence|format_date('short') : '' }}</td>
                        <td>{{ covid_attestation_etudiant.heureLong }}</td>
                        <td>{% for matiere in covid_attestation_etudiant.matieres %}{{ matiere.codeMatiere }}{% if not loop
                                .last %}, {% endif %}{% endfor %}</td>
                        <td>{% for groupe in covid_attestation_etudiant.groupes %}{{ groupe.displaySemestre }}{% if not
                                loop
                                .last %}, {% endif %}{% endfor %}</td>
                        <td>{{ covid_attestation_etudiant.motif|trans }}</td>
                        <td>{{ covid_attestation_etudiant.salles }}</td>
                        <td>{% if covid_attestation_etudiant.convocationEnvoyee == true %}
                                {{ covid_attestation_etudiant.dateEnvoi != null ? covid_attestation_etudiant
                                .dateEnvoi|format_date('short') : '' }}
                            {% else %}
                                Non envoyé
                            {% endif %}
                        </td>
                        <td>

                            <a href="{{ path('sa_covid_attestation_etudiant_show', {'id':
                                covid_attestation_etudiant.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-provide="tooltip"
                               data-placement="bottom"
                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'info',
            href:path('sa_covid_attestation_etudiant_export'),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}
