{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.covid_attestation_etudiant.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_covid_attestation_etudiant_index') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.covid_attestation_etudiant.show.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <td>Date</td>
                    <td>{{ covid_attestation_etudiant.datePresence != null ? covid_attestation_etudiant
                        .datePresence|format_date('short') : '' }}</td>
                </tr>
                <tr>
                    <td>Heure</td>
                    <td>{{ covid_attestation_etudiant.heureLong }}</td>
                </tr>
                <tr>
                    <td>Matieres</td>
                    <td>{% for matiere in covid_attestation_etudiant.matieres %}{{ matiere.codeMatiere }}{% if not loop
                            .last %}, {% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <td>Groupes</td>
                    <td>{% for groupe in covid_attestation_etudiant.groupes %}{{ groupe.displaySemestre }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <th>Motif</th>
                    <td>{{ covid_attestation_etudiant.motif|trans }}</td>
                </tr>
                <tr>
                    <th>Salles</th>
                    <td>{{ covid_attestation_etudiant.salles }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.covid_attestation_etudiant.concerne.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" data-provide="datatables">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail Univ / Perso</th>
                    <th>Semestre</th>
                    <th>Groupe(s)</th>
                </tr>
                </thead>
                <tbody>
                {% for groupe in covid_attestation_etudiant.groupes %}
                    {% for etudiant in groupe.etudiants %}
                        <tr>
                            <td>{{ etudiant.nom }}</td>
                            <td>{{ etudiant.prenom }}</td>
                            <td>{{ etudiant.mailUniv }}, {{ etudiant.mailPerso }}</td>
                            <td>{{ etudiant.semestre.display }}</td>
                            <td>{% for gr in etudiant.groupes %}{{ gr.displaySemestre }}, {% endfor %}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            <br>
            {% if covid_attestation_etudiant.convocationEnvoyee == true %}
                {{ covid_attestation_etudiant.dateEnvoi != null ? covid_attestation_etudiant
                .dateEnvoi|format_date('short') : '' }}
            {% else %}
                Non envoyé
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
