{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.qualite.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_dashboard'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconAdmin }}"></i>
                <span class="sr-only">{{ 'atitle.retour_dashboard'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.qualite.index.heading'|trans }}</h4>
        <div class="card-body">
            {{ table_render(table) }}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
            href:path('help_article', {sujet: 'administration_qualite'}),
    }) }}
{% endblock %}


