{{ include('bloc_notes_absences/etudiant_absences.html.twig') }}

 {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_CDD') or user_data
     .isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
     <div class="card">
         <h4 class="card-title">Ajouter une absence</h4>
         <div class="card-body">
             <table class="table">
                 <thead>
                 <tr>
                     <th class="w-20"><label for="jourabs">Date</label></th>
                     <th class="w-20"><label for="heureabs">Heure</label></th>
                     <th class="w-30"><label for="moduleabs">Matière</label></th>
                     <th class="w-15"><label for="justifabs">Justifié ?</label></th>
                     <th class="w-15">&nbsp;</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td>
                         <input placeholder="jj/mm/aaaa" name="jourabs" id="jourabs" class="form-control"
                                value="{{ date("now")|date('Y-m-d') }}" type="date">
                     </td>
                     <td><select class="form-select heure" name="heureabs" id="heureabs">
                             {% for i in 08..19 %}
                                 <option value="{{ i }}:00">{{ i }}h00</option>
                                 <option value="{{ i }}:15">{{ i }}h15</option>
                                 <option value="{{ i }}:30">{{ i }}h30</option>
                                 <option value="{{ i }}:45">{{ i }}h45</option>
                             {% endfor %}
                         </select></td>
                     <td><select class="form-select" name="moduleabs" id="moduleabs"
                                 {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                         >
                             <option value="0">Choisir</option>
                             {% for matiere in matieres %}
                                 <option value="{{ matiere.typeIdMatiere }}">{{ matiere.display }}</option>
                             {% endfor %}
                         </select></td>
                     <td>
                         <input type="radio" id="justifabs" name="justifabs" value="true"> Oui |
                         <input type="radio" name="justifabs" value="false" checked title="Justification de l'absence">
                         Non
                     </td>
                     <td>
                         <button class="btn btn-primary d-block" id="btnabs" data-etudiant="{{ etudiant.id }}">
                             Ajouter
                         </button>
                     </td>
                 </tr>
                 </tbody>
             </table>
         </div>
     </div>
 {% endif %}

{# <div class="card"> #}
{#    <h4 class="card-title">Planning</h4> #}
{#    <div class="card-body"> #}
{#        Planning du semestre avec les absences. #}
{#        Mise en valeur des WE et des vacances. #}
{#        sur une demi journée. Et un chiffre avec le nb de cours manqué sur une demi-journée. #}
{#        <table class="table table-bordered table-striped"> #}
{#            <thead> #}
{#            <tr> #}
{#                <th colspan="3">Février</th> #}
{#                <th colspan="3">Mars</th> #}
{#                <th colspan="3">Avril</th> #}
{#                <th colspan="3">Mai</th> #}
{#                <th colspan="3">Juin</th> #}
{#            </tr> #}
{#            <tr> #}
{#                <th>Jrs.</th> #}
{#                <th>AM</th> #}
{#                <th>PM</th> #}
{#                <th>Jrs.</th> #}
{#                <th>AM</th> #}
{#                <th>PM</th> #}
{#                <th>Jrs.</th> #}
{#                <th>AM</th> #}
{#                <th>PM</th> #}
{#                <th>Jrs.</th> #}
{#                <th>AM</th> #}
{#                <th>PM</th> #}
{#                <th>Jrs.</th> #}
{#                <th>AM</th> #}
{#                <th>PM</th> #}
{#            </tr> #}
{#            </thead> #}
{#            <tbody> #}
{#            {% for i in 1..31 %} #}
{#                <tr> #}
{#                    {% for j in 1..5 %} #}
{#                        {% if tabPlanning[j][i] is defined %} #}
{#                            {% set we = tabPlanning[j][i]|date('N') == 6 or tabPlanning[j][i]|date('N') == 7 %} #}


{#                            <td {{ we ? 'style="background-color: #00AAAA"' }}>{{ tabJour[tabPlanning[j][i]|date('N')] }} {{ tabPlanning[j][i]|date('d') }}</td> #}

{#                            {% if tabPlanning[j][i]|date('Y-m-d') in tabFerie %} #}
{#                                <td colspan="2" style="background-color: orangered">Férié</td> #}
{#                            {% else %} #}

{#                                <td {{ we ? 'style="background-color: #00AAAA"' }}>{% if tabAbsence[i] is defined and tabAbsence[i][j] is defined %}{{ tabAbsence[i][j].am }}{% else %}&nbsp;{% endif %}</td> #}
{#                                <td {{ we ? 'style="background-color: #00AAAA"' }}>{% if tabAbsence[i] is defined and tabAbsence[i][j] is defined %}{{ tabAbsence[i][j].pmde }}{% else %}&nbsp;{% endif %}</td> #}
{#                                #}{# {% if events[tabPlanning[j][i]|date('Y-m-d')] is defined %} #}
{#                                {% for event in events[tabPlanning[j][i]|date('Y-m-d')] %} #}
{#                                    <span class="event">{{ event.libelle }}</span> #}
{#                                {% endfor %} #}
{#                            {% endif %} #}
{#                            {% endif %} #}

{#                        {% else %} #}
{#                            <td colspan="3">&nbsp;</td> #}
{#                        {% endif %} #}
{#                    {% endfor %} #}
{#                </tr> #}
{#            {% endfor %} #}
{#            </tbody> #}
{#        </table> #}
{#    </div> #}
{# </div> #}
