<div class="card">
    <header class="card-header">
        <h4 class="card-title" id="changeSemestreNotesTitre">{{ 'bloc.note.apc.etu.heading'|trans({'%semestre%':
                semestre.display}) }}</h4>
        <div class="card-header-actions">
            <a class="btn btn-info changeprofil" href="{{ path('profil_etudiant_apc', {slug: etudiant.slug}) }}">Revenir
                                                                                                              au semestre en cours</a>
            <select class="form-select" id="changeSemestreNotes">
                <option>Semestres précédents</option>
                {% for prec in semestresPrecedents %}
                <option value="{{ prec.id }}">{{ prec.semestre.display }} ({{ prec.anneeUniversitaire
                    .displayAnneeUniversitaire }})</option>
                {% endfor %}
            </select>
        </div>
    </header>

    <div class="card-body" id="changeSemestreNotesZone">
        {{ include('user/composants/_notes_apc_semestre.html.twig') }}
    </div>
</div>
