<div class="card">
    <h4 class="card-title">{{ 'bloc.scolarite.etu.heading'|trans }}</h4>
    <div class="card-body">
        <table class="table table-border">
            <thead>
            <tr>
                <th>{{ 'table.ordre'|trans }}</th>
                <th>{{ 'table.semestre'|trans }}</th>
                <th>{{ 'table.moyenneues'|trans }}</th>
                {% if etudiant.semestre.diplome.typeDiplome.apc == false %}
                    <th>{{ 'table.moyenne'|trans }}</th>
                {% endif %}
                <th>{{ 'table.decision'|trans }}</th>
                <th>{{ 'table.proposition'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for parcour in scolarites %}
                {% if  (user_data.isGoodDepartement('ROLE_NOTE') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or
                    user_data.isGoodDepartement('ROLE_ADMIN')) or parcour.diffuse ==true %}
                    <tr class="{% if parcour.diffuse == false %}bg-secondary{% endif %}">
                        <td>{{ parcour.ordre }} {% if parcour.diffuse == false %}(Non diffusé){% endif %}</td>
                        <td>{{ parcour.semestre ? parcour.semestre.display : 'non.defini'|trans }}</td>

                        <td>
                            {% if parcour.decision.value != 'EC' and parcour.decision.value != 'DEF' %}
                                {% for ue in parcour.semestre.ues %}
                                    <strong>UE {{ ue.numeroUe }}:</strong>
                                    {{ parcour.moyennesUes[ue.id].moyenne|styleMoyenne }}
                                    {{ parcour.moyennesUes[ue.id].decision is defined ? parcour.moyennesUes[ue.id].decision|styleDecisionUe : '-' }}
                                    <br>
                                {% endfor %}
                            {% else %}
                                {% if parcour.decision.value == 'EC' %}
                                EC
                                {% else %}
                                    <span class="badge bg-danger">
                                    Défaillant
                                </span>
                            {% endif %}
                            {% endif %}
                        </td>
                        {% if etudiant.semestre.diplome.typeDiplome.apc == false %}
                            <td>{{ parcour.moyenne|styleMoyenne }}</td>
                        {% endif %}
                        <td>{{ parcour.decision|styleDecisionSemestre }}</td>
                        <td>{{ parcour.proposition }}</td>
                        <td>
                            <a href="{{ path('app_etudiant_scolarite_detail', {'id': parcour.id}) }}"
                               class="btn btn-info btn-outline btn-xs" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>
                            {% if  user_data.isGoodDepartement('ROLE_NOTE') or
                                user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                                <a href="{{ path('administration_scolarite_etudiant_edit', {slug: etudiant.slug,scolarite:parcour.id }) }}"
                                   title="Editer la scolarité de {{ etudiant.displayPr }}"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   class="btn btn-warning btn-outline btn-xs"><i class="{{ iconEdit }}"></i></a>
                            {% endif %}

                            {% if  user_data.isGoodDepartement('ROLE_NOTE') or  user_data.isGoodDepartement('ROLE_CDD')
                                or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                                {% if parcour.scolaritePromo != null %}
                                    <a href="{{ path('administration_semestre_export_releve_definitif',{slug:etudiant
                                    .slug, scolarite: parcour.id}) }}"
                                       class="btn btn-outline btn-success btn-xs" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       title="Editer un
                                        relevé de notes définitif"><i
                                                class="fas fa-print"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% if etudiant.semestre.diplome.typeDiplome.apc == true %}
                        {% if parcour.semestre.ordreLmd is even and bilanAnnees[parcour.semestre.annee.ordre] is defined %}
                            <tr>
                                <td colspan="2">Bilan BUT {{ parcour.semestre.annee.ordre }}</td>
                                <td>
                                    {% set ordreAnnee = parcour.semestre.annee.ordre %}
                                    {% for ue in parcour.semestre.ues %}
                                        <strong>UE {{ ue.numeroUe }}:</strong>

                                        {{ bilanAnnees[ordreAnnee]['ues'][ue.numeroUe].decision|styleDecisionUe }}
                                        <br>
                                    {% endfor %}
                                </td>
                                <td>{{ bilanAnnees[ordreAnnee].decision|styleDecisionSemestre }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
        {% if  user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
            <a href="{{ path('administration_scolarite_etudiant_edit', {slug: etudiant.slug}) }}" class="btn
            btn-primary
            d-block">
                <i class="{{ iconAdd }}"></i>
                Ajouter un élément dans la scolarité de {{ etudiant.displayPr }}</a>
        {% endif %}
    </div>
</div>
