<div class="publisher publisher-multi bg-white b-1 mb-30">
    <textarea class="publisher-input auto-expand" rows="4" placeholder="Write something"></textarea>
    <div class="flexbox">
        <div class="gap-items">
                  <span class="publisher-btn file-group">
                    <i class="fa fa-image file-browser"></i>
                    <input type="file">
                  </span>
            <a class="publisher-btn" href="#"><i class="fa fa-map-marker"></i></a>
            <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
        </div>

        <button class="btn btn-sm btn-bold btn-primary">Post</button>
    </div>
</div>


<div class="card">
    <div class="media bb-1 border-fade">
        <img class="avatar avatar-lg" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <div class="media-body">
            <p>
                <strong class="fs-14">Maryam Amiri</strong>
                <time class="float-right text-lighter" datetime="2018">24 min ago</time>
            </p>
            <p>
                <small>Designer</small>
            </p>
        </div>
    </div>

    <a href="#">
        <img src="{{ asset('assets/avatar/1.jpg') }}" alt="..." data-provide="lity">
    </a>

    <div class="card-body py-12">
        <div class="gap-items-4">
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-thumbs-up me-1"></i> 83
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-comment me-1"></i> 0
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-share-alt me-1"></i> 1
            </a>
        </div>
    </div>

    <form class="publisher bg-transparent bt-1 border-fade">
        <img class="avatar avatar-sm" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <input class="publisher-input" type="text" placeholder="Add Comment">
        <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
        <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
    </form>

</div>


<div class="card">
    <div class="media bb-1 border-fade">
        <img class="avatar avatar-lg" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <div class="media-body">
            <p>
                <strong class="fs-14">Maryam Amiri</strong>
                <time class="float-right text-lighter" datetime="2018">3 hours ago</time>
            </p>
            <p>
                <small>Designer</small>
            </p>
        </div>
    </div>

    <div class="card-body bb-1 border-fade">
        <p class="lead">Authoritatively syndicate goal-oriented leadership skills for clicks-and-mortar
                        outsourcing. Synergistically reconceptualize enabled catalysts for change.</p>

        <div class="gap-items-4 mt-2">
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-thumbs-up me-1"></i> 196
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-comment me-1"></i> 24
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-share-alt me-1"></i> 3
            </a>
        </div>
    </div>


    <div class="media-list media-list-divided bg-lighter">
        <div class="media">
            <a class="avatar" href="#">
                <img src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
            </a>
            <div class="media-body">
                <p>
                    <a href="#"><strong>Frank Camley</strong></a>
                    <time class="float-right text-fade" datetime="2018-07-14 20:00">Just now</time>
                </p>
                <p>Uniquely enhance world-class channels with just in time schemas.</p>

                <div class="media px-0">
                    <a class="avatar" href="#">
                        <img src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
                    </a>
                    <div class="media-body">
                        <p>
                            <a href="#"><strong>Maryam Amiri</strong></a>
                            <time class="float-right text-fade" datetime="2018-07-14 20:00">26 mins
                                ago
                            </time>
                        </p>
                        <p>Thank you for your nice comment.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="media">
            <a class="avatar" href="#">
                <img src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
            </a>
            <div class="media-body">
                <p>
                    <a href="#"><strong>Tim Hank</strong></a>
                    <time class="float-right text-fade" datetime="2018-07-14 20:00">2 hours ago</time>
                </p>
                <p>Continually drive user friendly solutions through performance based
                    infomediaries.</p>
            </div>
        </div>
    </div>


    <form class="publisher bt-1 border-fade bg-white">
        <img class="avatar avatar-sm" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <input class="publisher-input" type="text" placeholder="Add Your Comment">
        <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
        <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
    </form>

</div>


<div class="card">
    <div class="media bb-1 border-fade">
        <img class="avatar avatar-lg" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <div class="media-body">
            <p>
                <strong class="fs-14">Maryam Amiri</strong>
                <time class="float-right text-lighter" datetime="2018">Yesterday</time>
            </p>
            <p>
                <small>Designer</small>
            </p>
        </div>
    </div>

    <div class="card-body">
        <p class="lead">Check this out. It is the next big thing!!</p>
    </div>

    <div class="embed-responsive embed-responsive-16by9">

    </div>


    <div class="card-body py-12">
        <div class="gap-items-4">
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-thumbs-up me-1"></i> 196
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-comment me-1"></i> 24
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-share-alt me-1"></i> 3
            </a>
        </div>
    </div>

    <form class="publisher bg-transparent bt-1 border-fade">
        <img class="avatar avatar-sm" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <input class="publisher-input" type="text" placeholder="Add Comment">
        <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
        <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
    </form>

</div>


<div class="card">
    <div class="media bb-1 border-fade">
        <img class="avatar avatar-lg" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <div class="media-body">
            <p>
                <strong class="fs-14">Maryam Amiri</strong>
                <time class="float-right text-lighter" datetime="2018">18 Feb</time>
            </p>
            <p>
                <small>Designer</small>
            </p>
        </div>
    </div>

    <div class="card-body">
        <p>Best memory from the beach...</p>
    </div>

    <div class="row gap-1" data-provide="photoswipe">
        <a class="col-6" href="#">
            <img src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        </a>

        <a class="col-6" href="#">
            <img src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        </a>
    </div>


    <div class="card-body py-12">
        <div class="gap-items-4">
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-thumbs-up me-1"></i> 196
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-comment me-1"></i> 24
            </a>
            <a class="text-lighter hover-light" href="#">
                <i class="fa fa-share-alt me-1"></i> 3
            </a>
        </div>
    </div>


    <div class="media-list media-list-divided bg-lighter">
        <div class="media">
            <a class="avatar" href="#">
                <img src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
            </a>
            <div class="media-body">
                <p>
                    <a href="#"><strong>Tim Hank</strong></a>
                    <time class="float-right text-fade" datetime="2018-07-14 20:00">25 Feb</time>
                </p>
                <p>Continually drive user friendly solutions through performance based
                    infomediaries.</p>
            </div>
        </div>
    </div>


    <form class="publisher bg-transparent bt-1 border-fade">
        <img class="avatar avatar-sm" src="{{ asset('assets/avatar/1.jpg') }}" alt="...">
        <input class="publisher-input" type="text" placeholder="Add Comment">
        <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
        <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
    </form>

</div>
