{% block type_chainee %}
    {% import _self as formMacros %}

    <div class="row">
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.obligatoire) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-6">
            {{ form_row(form.help) }}
        </div>
        <div class="col-3">
            {{ form_row(form.choix_autre) }}
        </div>
        <div class="col-3">
            {{ form_row(form.choix_nc) }}
        </div>
        <div class="col-12">
            {{ form_row(form.questReponses) }}
        </div>
        <div class="col-12">
            {{ form_row(form.questionsEnfants) }}
        </div>
    </div>
{% endblock %}

{% block type_echelle %}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.obligatoire) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-9">
            {{ form_row(form.help) }}
        </div>
        <div class="col-3">&nbsp;</div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.min) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.max) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.pas) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block type_libre %}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.obligatoire) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-9">
            {{ form_row(form.help) }}
        </div>
        <div class="col-3">&nbsp;</div>
    </div>
{% endblock %}

{% block type_oui_non %}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.obligatoire) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-6">
            {{ form_row(form.help) }}
        </div>
        <div class="col-3">
            {{ form_row(form.choix_autre) }}
        </div>
        <div class="col-3">
            {{ form_row(form.choix_nc) }}
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    1.
                </div>
                <div class="col-5">
                    {{ form_row(form.libelle_1) }}
                </div>
                <div class="col-5">
                    {{ form_row(form.valeur_1) }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    2.
                </div>
                <div class="col-5">
                    {{ form_row(form.libelle_2) }}
                </div>
                <div class="col-5">
                    {{ form_row(form.valeur_2) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block type_qcm %}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.obligatoire) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-6">
            {{ form_row(form.help) }}
        </div>
        <div class="col-2">
            {{ form_row(form.maxChoix) }}
        </div>
        <div class="col-2">
            {{ form_row(form.choix_autre) }}
        </div>
        <div class="col-2">
            {{ form_row(form.choix_nc) }}
        </div>
        <div class="col-12">
            {{ form_row(form.questReponses) }}
        </div>
    </div>
{% endblock %}

{% block type_qcu %}
    {% import _self as formMacros %}

    <div class="row">
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.obligatoire) }}
        </div>
        <div class="col-4">
            {{ form_row(form.type) }}
        </div>
        <div class="col-6">
            {{ form_row(form.help) }}
        </div>
        <div class="col-3">
            {{ form_row(form.choix_autre) }}
        </div>
        <div class="col-3">
            {{ form_row(form.choix_nc) }}
        </div>
        <div class="col-12">
            {{ form_row(form.questReponses) }}
        </div>
    </div>
{% endblock %}


{% macro response(form) %}
    <div class="row">
        <div class="col-2">
            {{ form_row(form.ordre) }}
        </div>
        <div class="col-5">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-3">
            {{ form_row(form.valeur) }}
        </div>
        <div class="col-2">
            {{ form_row(form.supprimer) }}
        </div>
    </div>
{% endmacro %}

