<div class="row mb-2" {{ stimulus_target('questionnaire--section', 'sectionEdit') }}>
    <div class="col-10">
        <h3>Section : "{{ section.titre }}"</h3>
    </div>
    <div class="col-2">
        <button class="btn btn-danger btn-sm"
                {{ stimulus_action('questionnaire--section', 'delete', 'click') }}
        ><i class="{{ iconDelete }}"></i></button>
        <button class="btn btn-primary btn-sm"
                {{ stimulus_action('questionnaire--section', 'edit', 'click', {section: section.id}) }}
        ><i class="{{ iconEdit }}"></i></button>
        <button
                class="btn btn-primary btn-sm" {% if section.ordre == 1 %}disabled{% endif %}
                {{ stimulus_action('questionnaire--section', 'left', 'click', {section: section.id}) }}
        ><i class="fas
                fa-left"></i></button>
        <button class="btn btn-primary btn-sm" {% if section.ordre == lastSection %}disabled{% endif %}
                {{ stimulus_action('questionnaire--section', 'right', 'click', {section: section.id}) }}
        ><i class="fas
                fa-right"></i></button>
    </div>
</div>

{% for question in questions %}
    {{ question_creation_render(question) }}
    {% if not loop.last %}
        <div class="divider text-primary text-capitalize">
            <a href="#"
                    {{ stimulus_controller('modal', {
                        size: 'lg',
                        modalTitle: 'Configurer le questionnaire',
                        modalUrl: path('adm_questionnaire_creation_section_transition_question', {section:section.id,
                            question:question.id})
                    }) }}
               data-action="click->modal#openModal"
            >
                <i class="fas fa-gears"></i>
                Configurer condition(s)
            </a>
        </div>
    {% endif %}
{% endfor %}

