<div class="row mb-2" {{ stimulus_target('questionnaire--section', 'sectionEdit') }}>
    <div class="col-10">
        <h3>Section : "{{ section.titre }}" <span class="badge bg-info">{{ section.typesectionTexte }}</span></h3>
    </div>
    <div class="col-2">
        <button class="btn btn-danger btn-sm"
                {{ stimulus_action('questionnaire--section', 'delete', 'click') }}
        ><i class="{{ iconDelete }}"></i></button>
        <button class="btn btn-primary btn-sm"
                {{ stimulus_action('questionnaire--section', 'edit', 'click', {section: section.id}) }}
        ><i class="{{ iconEdit }}"></i></button>
        <button
                class="btn btn-primary btn-sm" {% if section.ordre == 1 %}disabled{% endif %}
                {{ stimulus_action('questionnaire--section', 'left', 'click', {section: section.id}) }}
        ><i class="fas
                fa-left"></i></button>
        <button class="btn btn-primary btn-sm" {% if section.ordre == lastSection %}disabled{% endif %}
                {{ stimulus_action('questionnaire--section', 'right', 'click', {section: section.id}) }}
        ><i class="fas
                fa-right"></i></button>
    </div>
</div>
{% if section.typeSection == 'App\\Components\\Questionnaire\\Section\\ConfigurableSection' %}
    <twig:Alert type="info">
        Cette section est configurable, vous pouvez donc définir les libellés des questions avec des valeurs qui seront
        paramètrés pour chaque valeur. Vous choisirez les éléments sur la dernière étape.
        Les champs sont, à écrire strictement de cette manière , {{ '{{' }}libelle{{ '}}' }}, {{ '{{' }}code{{ '}}' }}
    </twig:Alert>
{% endif %}
{% for question in questions %}
    {{ include('components/questionnaire/creation/_addQuestion.html.twig', {ordre:question.ordre}) }}
    {{ question_creation_render(question) }}
    {% if loop.last %}
        {{ include('components/questionnaire/creation/_addQuestion.html.twig', {ordre:question.ordre + 1}) }}
    {% endif %}
{% endfor %}

