{% extends 'base.html.twig' %}

{% block header %}
    {{ 'actualite.liste.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'actualite.liste.heading'|trans }}</h4>
        <div class="card-body">
            <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                {% for actualite in actualites %}
                    <li class="timeline-block">
                        <div class="timeline-point timeline-point-primary">
                            <span class="badge badge-ring bg-primary"></span>
                        </div>
                        <div class="timeline-content">
                            <time datetime="{{ actualite.updated|date('Y-m-d') }}">{{ actualite.updated|format_datetime
                                    ('short', 'short') }}</time>
                            <h5>{{ actualite.titre }}</h5>
                            <p>{{ actualite.texte }}</p>
                        </div>
                    </li>
                {% else %}
                    <li class="alert alert-info">{{ 'pas.encore.actualite'|trans }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
