{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.article.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'article'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.article.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered"
                    {% if articles|length >0 %}
                data-provide="datatables"
                data-checkbox="true"
                    {% endif %}>
                <thead>
                <tr>
                    <th><label class="sr-only" for="select_all">Tout selectionner</label>
                        <input name="select_all" value="1" id="select_all" type="checkbox"/></th>
                    <th>{{ 'table.titre'|trans }}</th>
                    <th>{{ 'table.texte'|trans }}</th>
                    <th>{{ 'table.categorie'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr id="ligne_{{ article.id }}">
                        <td></td>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.texte|slice(0, 50) }}</td>
                        <td>{{ article.categorie ? article.categorie.libelle : 'non.defini'|trans }}</td>
                        <td>{{ article.updated ? article.updated|format_datetime('long', 'short') : '' }}</td>
                        <td>
                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'article', id: article.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_article_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf-o"
        },
        {
            type:'info',
            href:path('administration_article_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-text-o'
        },
        {
            type:'info',
            href:path('administration_article_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel-o'
        },
        {
            type:'info',
            href:path('administration_article_new'),
            title: 'ajouter'|trans,
            icone: 'ti-plus'
        },
        {
            type:'success',
            href:path('administration_article_categories'),
            title: 'article_categories'|trans,
            icone: 'ti-tag'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_article'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
