{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.article.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'article'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.article.index.heading'|trans }}</h4>
        <div class="card-body">
            {{ table_render(table) }}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'success',
            href:path('administration_article_categories'),
            title: 'article_categories'|trans,
            icone: 'fas fa-tag'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_article'}),
            title: 'aide'|trans,
            icone: 'fas fa-question'
        }
    ]}) }}
{% endblock %}


