{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.article.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'article'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.article.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                <thead>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <th>{{ 'table.titre'|trans }}</th>
                    <th>{{ 'table.texte'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr id="ligne_{{ article.id }}">
                        <td>{{ article.id }}</td>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.texte }}</td>
                        <td>{{ article.updated ? article.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                        <td>
                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'article', id: article.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_article_print'),
            title: 'imprimer'|trans,
            icone : "ti-printer"},
        {
            type:'info',
            href:path('administration_article_save'),
            title: 'sauvegarder'|trans,
            icone: 'ti-save'
        },
        {
            type:'info',
            href:path('administration_article_new'),
            title: 'ajouter'|trans,
            icone: 'ti-plus'
        },
        {
            type:'info',
            href:path('administration_article_help'),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}