{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.article.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
<div class="header-action">
    {{ include('composants/adm-buttons-show.html.twig', {elt: 'article', id: article.id}) }}
</div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.article.show.heading'|trans }}</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.titre'|trans }}</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>{{ 'table.texte'|trans }}</th>
                <td>{{ article.texte|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'table.nbLike'|trans }}</th>
                <td>{{ article.articleLikes|length }}</td>
            </tr>
            <tr>
                <th>{{ 'table.semestres'|trans }}</th>
                <td>{% for semestre in article.semestres %}{{ semestre.libelle }}, {% endfor %}</td>
            </tr>
            <tr>
                <th>{{ 'table.auteur'|trans }}</th>
                <td>{{ article.personnel ? article.personnel.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.created'|trans }}</th>
                <td>{{ article.created ? article.created|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.updated'|trans }}</th>
                <td>{{ article.updated ? article.updated|format_datetime('long', 'short') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
