Bonjour {{ personnel.displayPr }},

<p>Vous trouverez en pièce jointe votre planning pour l'année universitaire {{ anneeUniversitaire }} dans le
    département {{ departement.libelle }}.</p>

<p>Vous pouvez également synchroniser votre planning en utilisant le lien ical suivant : <a
            href="{{ personnel|genereLienIcal }}">{{ personnel|genereLienIcal }}</a>. A la suite de demandes de
    modifications sur votre planning ce lien peut mettre jusqu'à 24 heures pour s'actualiser.</p>

<p>Malgré toute la vigilance accordée, si des créneaux ne sont plus possible pour vous merci de contacter (en l'absence
    temporaire de Régis Huez) : </p>
<ul>
    <li>Pour les intervenants professionnels, ou vacataires : <a href="mailto:romain.delon@univ-reims.fr">Romain Delon
            (romain.delon@univ-reims.fr)</a> ou <a href="mailto:marina.matosin@univ-reims.fr">Marina Matosin
            (marina.matosin@univ-reims.fr)</a></li>
    <li>Pour les collègues de l'IUT : merci de proposer une modification à <a
                href="mailto:david.annebicque@univ-reims.fr">David Annebicque (david.annebicque@univ-reims.fr)</a></li>
</ul>

<p>Bien cordialement,</p>
<p>David Annebicque & Romain Delon</p>



