{% extends 'base.html.twig' %}

{% block header %}
    {{ 'applications.etudiant.qualite.questionnaire.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_index', {onglet:'qualite'}) }}" class="btn btn-primary btn-float"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_applications'|trans }}"><i
                        class="material-icons">arrow_back</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'applications.etudiant.qualite.questionnaire.heading'|trans }}</h4>
        <div class="card-body">
            <form data-provide="wizard">
                <input type="hidden" value="{{ questionnaire.uuidString }}" id="questionnaire">
                <ul class="nav nav-process nav-process-circle">
                    <li class="nav-item">
                        <span class="nav-title">Introduction</span>
                        <a class="nav-link" data-toggle="tab" href="#wizard-intro"></a>
                    </li>
                    {% for qualiteQuestionnaireSection in questionnaire.qualiteQuestionnaireSections %}
                        <li class="nav-item">
                            <span class="nav-title">Section {{ qualiteQuestionnaireSection.ordre }}</span>
                            <a class="nav-link" data-toggle="tab" href="#wizard-section-{{ qualiteQuestionnaireSection.id }}"></a>
                        </li>
                    {% endfor %}

                    <li class="nav-item">
                        <span class="nav-title">Confirmation</span>
                        <a class="nav-link" data-toggle="tab" href="#wizard-fin"></a>
                    </li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane fade active show" id="wizard-intro">
                        <p class="text-center fs-35 text-muted"><strong class="text-primary">Bienvenue</strong>
                            sur le questionnaire {{ questionnaire.libelle }}</p>
                        <p class="text-center text-gray">{{ questionnaire.texteDebut }}</p>
                        <hr class="w-100px">
                        <div class="alert alert-info">Questionnaire à compléter entre le {{ questionnaire
                            .dateOuverture|format_date
                                ('short') }}
                                                      au {{ questionnaire.dateFermeture|format_date('short') }}.
                        </div>
                    </div>


                    {% for qualiteQuestionnaireSection in questionnaire.qualiteQuestionnaireSections %}
                        <div class="tab-pane fade" data-provide="validation" id="wizard-section-{{ qualiteQuestionnaireSection.id }}">
                            {{ render(controller(
                                'App\\Controller\\appEtudiant\\QualiteController::section',
                                {qualiteQuestionnaireSection:qualiteQuestionnaireSection.id}
                            )) }}
                        </div>
                    {% endfor %}


                    <div class="tab-pane fade" id="wizard-fin">
                        <p class="text-center fs-35 text-muted"><strong class="text-primary">Merci</strong></p>
                        <p class="text-center text-gray">{{ questionnaire.textFin }}</p>
                        <hr class="w-100px">
                        <div class="alert alert-warning">Pour compléter votre questionnaire, n'oubliez pas de cliquer
                                                         sur "terminer" pour recevoir l'accusé de réception.
                        </div>
                    </div>
                </div>

                <hr>

                <div class="flexbox">
                    <button class="btn btn-secondary" data-wizard="prev" type="button">Précédent</button>
                    <button class="btn btn-secondary" data-wizard="next" type="button">Suivant</button>
                    <a href="{{ path('app_etudiant_qualite_questionnaire_complete', {uuid: questionnaire.uuidString}) }}"
                       class="btn btn-primary d-none"
                       data-wizard="finish"
                       type="submit">Terminer</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
