{% set num_titre = ordre %}
<h5><strong>{{ ordre }}.</strong> {{ section.titre }}</h5>
{% if section.config == null %}
    {% for question in section.qualiteSectionQuestions %}
        {% set numero = num_titre~"."~ loop.index %}
        {{ include('quizz_question/_question.html.twig', {question:question.question, numero: numero}) }}
    {% endfor %}
{% else %}
    {% set nbOnglet = (section.previs|length / 3)|round(0, 'ceil') %}
    <div class="alert alert-warning">
        Merci de compléter tous les onglets.
    </div>

    <ul class="nav nav-tabs">
        {% for onglet in 1..nbOnglet %}
            <li class="nav-item">
                <a class="nav-link {% if loop.first %} active{% endif %}" data-toggle="tab"
                   href="#onglet{{ onglet }}">Partie {{ loop.index }}</a>
            </li>
        {% endfor %}
    </ul>
    {% set compteur = 0 %}
    {% set onglet = 0 %}
    <div class="tab-content">
        {% for previ in section.previs %}
            {% if compteur == 0 and  onglet < nbOnglet %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                id="onglet{{ onglet+1 }}">
            {% endif %}
            {% set num_titre2 = num_titre~'.'~loop.index %}
            {% for question in section.qualiteSectionQuestions %}
                {% set numero = num_titre2~"."~ loop.index %}
                {{ include('quizz_question/_question.html.twig', {question:question.question, numero: numero,
                    config: {id: previ, matiere:tPrevisionnel[previ].matiere.libelle,
                        personnel:tPrevisionnel[previ].personnel.displayPr}}) }}
            {% endfor %}
            {% set compteur = compteur +1 %}
            <hr>
            {% if compteur == 3 or loop.last %}
                </div>
                {% set compteur = 0 %}
                {% set onglet = onglet +1 %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
