<form class="form-horizontal" method="post" action="{{ path('application_etudiant_emprunt_valide') }}">
    <div class="form-group">
        <label for="listemotif" class="control-label required">
            Raison de l'emprunt *:
        </label>
        <select name="listemotif" id="listemotif" class="form-control"
                required="required">
            <option value="">Veuillez Choisir un motif</option>
            <option value="Production Audiovisuelle (M1207/M2207/M3207)">Production Audiovisuelle (M1207/M2207/M3207)
            </option>
            <option value="Autres modules MMI">Autres modules MMI</option>
            <option value="Emprunts durant le stage court/long">Emprunts durant le stage court/long</option>
            <option value="Projet personnels">Projet personnels</option>
        </select>
    </div>

    <div class="form-group">
        <label for="motif" class="control-label required">
            Description de la demande (projet, lieu(x), étudiant(s)) *:
        </label>
        <textarea name="motif" id="motif" rows="10" class="form-control"
                  required="required"></textarea>
    </div>
    <div class="alert alert-info">
        Vous veillerez à argumenter votre demande de matériel (projet, lieux de tournages, projet personnel ou scolaire,
        liste des étudiants du groupe).
    </div>
    <div class="form-group">
        <label for="telportable" class="control-label required">
            Téléphone portable *:
        </label>
        <input type="text" name="telportable" id="telportable" class="form-control"
               required="required">
    </div>
    <br/>
    <div class="alert alert-info">La période soirée s'entend pour un emprunt le soir après les
                                  cours, et un retour le lendemain 8h00.
    </div>
    <br>
    <table class="table-edt">
        <thead>
        <tr>
            <th>Période</th>
            {% for jr in myEmprunt.jours %}
                {% if jr.jour == 'Vendredi' %}
                    <th colspan="2" {% if jr.texte == 'now'|date('d/m/Y') %} style="background-color: lightpink"{% endif %}>{{ jr.jour }}
                        <br/>{{ jr.texte }}</th>
                {% elseif jr.jour == 'WE' %}
                    <th>{{ jr.jour }}<br/>{{ jr.texte }}</th>
                {% else %}
                    <th colspan="3" {% if jr.texte == 'now'|date('d/m/Y') %} style="background-color: lightpink"{% endif %}>{{ jr.jour }}
                        <br/>{{ jr.texte }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>Matériel</th>
            {% for jr in myEmprunt.jours %}
                {% if jr.jour == 'Vendredi' %}
                    <th>Matin</th>
                    <th>Après-midi</th>
                {% elseif jr.jour == 'WE' %}
                    <th>WE</th>
                {% else %}
                    <th>Matin</th>
                    <th>Après-midi</th>
                    <th>Soirée</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for mat in materiels %}
            <tr>
                <td>{{ mat.libelle }}</td>
                {% for jr in myEmprunt.jours %}
                    {% set reserve=0 %}
                    <td {% if studios[jr.i]['08'] is defined %} data-stud="ok" {% endif %}
                            {% if dispo[jr.date]['08'] is defined %}
                                {% for d in dispo[jr.date]['08'] %}
                                    {% if d[mat.id] is defined %}
                                        class="reserve"
                                        {% set reserve=1 %}

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    >
                        {% if reserve==1 %}
                            Res.
                        {% else %}
                            <input type="checkbox" value="{{ jr.date }} 08:00:00_{{ mat.id }}"
                                   name="materiels[]"/>
                        {% endif %}
                    </td>
                    {% set reserve=0 %}
                    {% if jr.jour != 'WE' %}
                        <td {% if studios[jr.i]['14'] is defined %} data-stud="ok" {% endif %}
                                {% if dispo[jr.date]['14'] is defined %}
                                    {% for d in dispo[jr.date]['14'] %}
                                        {% if d[mat.id] is defined %}
                                            class="reserve"
                                            {% set reserve=1 %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                        >
                            {% if reserve==1 %}
                                Res.
                            {% else %}
                                <input type="checkbox" value="{{ jr.date }} 14:00:00_{{ mat.id }}"
                                       name="materiels[]"/>
                            {% endif %}</td>
                        {% if jr.jour != 'Vendredi' %} {#on affiche pas soirée le vendredi soir#}
                            {% set reserve=0 %}
                            <td {% if studios[jr.i]['19'] is defined %} data-stud="ok" {% endif %}
                                    {% if dispo[jr.date]['19'] is defined %}
                                        {% for d in dispo[jr.date]['19'] %}
                                            {% if d[mat.id] is defined %}
                                                class="reserve"
                                                {% set reserve=1 %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            >
                                {% if reserve==1 %}
                                    Res.
                                {% else %}
                                    <input type="checkbox"
                                           value="{{ jr.date }} 19:00:00_{{ mat.id }}"
                                           name="materiels[]"/>
                                {% endif %}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <div class="alert alert-info">Tous les champs avec un * sont obligatoires !</div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large">
            Confirmer la demande de réservation
        </button>
    </div>
</form>
