<li class="dropdown d-none d-md-block">
                <span class="topbar-btn {% if newNotification == true %}has-new{% endif %}" data-bs-toggle="dropdown"
                      data-bs-placement="bottom"
                      data-controller="interface--tooltip"
                      title="Notifications"
                ><i
                            class="{{ iconNotification }}"></i><span
                            class="sr-only">Notifications</span></span>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="media-list media-list-divided media-list-hover media-list-xs scrollable">
            {% for notification in notifications %}
                <a class="media row {% if notification.lu == false %}media-new{% endif %} notification"
                   href="{{ path('notification_lire', {uuid:notification.uuidString}) }}">
                                    <span class="avatar bg-{{ notification.color }} col-3"><i
                                                class="{{ notification.icone }}"></i></span>
                    <div class="media-body col-9">
                        <p>{{ notification.type|trans }}</p>
                        <time datetime="{{ notification.created|format_datetime('medium', 'short') }}">{{ notification.created|time_ago(app.request.locale) }}</time>
                    </div>
                </a>
            {% else %}
                <a class="media notification">{{ 'aucune.notification'|trans }}</a>
            {% endfor %}
        </div>

        <div class="dropdown-footer">
            <div class="left">
                <a href="{{ path('notification_index') }}">{{ 'lire.toutes.les.notifications'|trans }}</a>
            </div>

            <div class="right">
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'marquer.tout.comme.lu'|trans }}"
                   id="marquerNotificationsRead">
                    <i class="fas fa-circle">
                        <span class="sr-only">Marquer comme lu</span>
                    </i>
                </a>
                <a href="{{ path('notification_delete_all') }}" class="supprimer"
                   data-csrf="{{ csrf_token('delete') }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'supprimer.tout'|trans }}">
                    <i class="fas fa-trash-alt">
                        <span class="sr-only">Supprimer tout</span>
                    </i>
                </a>
            </div>
        </div>
    </div>
</li>
