{% extends 'base.html.twig' %}

{% block header %}
    {{ 'notification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            {{ 'notification.heading'|trans }}
        </h4>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Notification</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for notification in notifications %}
                    <tr class="{% if notification.lu == false %}bg-color{% endif %}" id="ligne_{{ notification.id }}">
                        <td>
                            <a class="me-2"
                               href="{{ notification.url }}">
                            <span class="avatar bg-{{ notification.color }}">
                                <i class="{{ notification.icone }}"></i>
                            </span>
                            </a>
                        <span class="title">{{ notification.type|trans }}</span></td>
                        <td>
                            <time datetime="{{ notification.created|format_datetime('short', 'short') }}">{{ notification.created|time_ago(app.request.locale) }}</time>
                        </td>
                        <td>
                            <a href="{{ path('notification_delete', {id: notification.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~  notification.id) }}"
                               class="btn btn-danger btn-sm supprimer"
                               title="{{ 'atitle.supprimer'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                            >
                                <i class="fas fa-trash"></i>
                                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            {{ 'aucune.notification'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
