{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.ue.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('composants/sadm-buttons-show.html.twig', {elt: 'ue', id: ue.id, retour: {path: 'sa_structure_index', titre: 'atitle.retour_structure'|trans, params:{departement:ue.diplome.departementid}}}) }}
        {% else %}
            {{ include('composants/adm-buttons-show.html.twig', {elt: 'ue', id: ue.id, retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
        {% endif %}       </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">Détails de Ue</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.libelle'|trans }}</th>
                <td>{{ ue.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.semestre'|trans }}</th>
                <td>{{ ue.semestre ? ue.semestre.libelle : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.numero_ue'|trans }}</th>
                <td>{{ ue.numeroUe }}</td>
            </tr>
            <tr>
                <th>{{ 'table.coefficient'|trans }}</th>
                <td>{{ ue.coefficient }}</td>
            </tr>
            <tr>
              <th>{{ 'table.nb_ects'|trans }}</th>
              <td>{{ ue.nbEcts }}</td>
            </tr>
{% if ue.diplome != null and ue.diplome.typeDiplome != null and ue.diplome.typeDiplome.apc == true %}
    <tr>
        <th>{{ 'table.competence'|trans }}</th>
        <td>{{ ue.apcCompetence != null ? ue.apcCompetence.nomCourt : 'non.defini'|trans }}</td>
    </tr>
{% endif %}

            <tr>
              <th>{{ 'table.code_element'|trans }}</th>
              <td>{{ ue.codeElement }}</td>
            </tr>
            <tr>
              <th>{{ 'table.created'|trans }}</th>
              <td>{{ ue.created ? ue.created|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
              <th>{{ 'table.updated'|trans }}</th>
              <td>{{ ue.updated ? ue.updated|format_datetime('long', 'short') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
