<div class="card">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h5><a class="hover-primary text-uppercase fs-15 fw-400 ls-1" href="#">{{ article.titre }}</a></h5>
                <hr class="w-50px ml-0 bt-2 border-pink hr-sm">

                <p>{{ article.resume }}</p>

                <div class="flexbox align-items-center mt-3">
                    <a class="btn btn-round btn-bold btn-primary"
                       href="{{ path('information_read_more', {slug:article.slug}) }}">{{ 'btn.read_more'|trans }}</a>

                    <div class="gap-items-4">
                        <a class="text-light" href="#">
                            <span class="fw-500 ml-2">{{ article.personnel ? article.personnel.displayPr : 'non.defini'|trans }}</span>
                        </a>
                        {#                        todo: a mettre en place #}
                        {#                        <a class="text-muted articleLike" href="#" data-article="{{ article.slug }}">#}
                        {#                            <i class="ti-heart#}
                        {#                            {% if mesArticles[article.id] is defined %}text-success{% else %}text-danger {% endif %}#}
                        {#                            fs-11"></i> {{ article.articleLikes|length }}#}
                        {#                        </a>#}
                        {#                        <a class="text-muted" href="#">#}
                        {#                            <i class="fa fa-comment mr-1"></i> 3#}
                        {#                        </a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
