{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.ufr.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'ufr', id: ufr.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.ufr.show.heading'|trans }}</h4>

        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ ufr.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ ufr.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.responsable_site'|trans }}</th>
                    <td>{{ ufr.responsable ? ufr.responsable.displayPr : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.site_principal'|trans }}</th>
                    <td>
                        {% if ufr.sitePrincipal != null %}
                        <a href="{{ path('sa_site_show', {id:ufr.sitePrincipal.id}) }}" target="_blank">{{ ufr.sitePrincipal
                            .libelle }}</a>
                        {% else %}
                        {{ 'non.defini'|trans }}
                            {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.sites'|trans }}</th>
                    <td>
                        {% for site in ufr.sites %}
                                {% if loop.first %}<ul>{% endif %}
                                <li><a href="{{ path('sa_site_show', {id:site.id}) }}" target="_blank">{{ site.libelle }}</a></li>
                            {% if loop.last %}</ul>{% endif %}
                            {% else %}
                                -
                            {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ ufr.created ? ufr.created|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ ufr.updated ? ufr.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
