{% extends 'base.html.twig' %}

{% block title %}QuestionnaireQuestion{% endblock %}

{% block body %}
    <h1>QuestionnaireQuestion</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ questionnaire_question.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ questionnaire_question.libelle }}</td>
        </tr>
        <tr>
            <th>Help</th>
            <td>{{ questionnaire_question.help }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ questionnaire_question.type }}</td>
        </tr>
        <tr>
            <th>Obligatoire</th>
            <td>{{ questionnaire_question.obligatoire ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Alignement</th>
            <td>{{ questionnaire_question.alignement }}</td>
        </tr>
        <tr>
            <th>Parametre</th>
            <td>{{ questionnaire_question.parametre }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ questionnaire_question.created ? questionnaire_question.created|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ questionnaire_question.updated ? questionnaire_question.updated|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('questionnaire_question_index') }}">back to list</a>

    <a href="{{ path('questionnaire_question_edit', {'id': questionnaire_question.id}) }}">edit</a>

    {{ include('questionnaire_question/_delete_form.html.twig') }}
{% endblock %}
