{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'scolarite.rdd.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_administration'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_administration'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'scolarite.rdd.index.heading'|trans }}</h4>
        <div class="card-body">
            <twig:Alert type="info">
                {% set pourcent = nbComplet/nbDiplomes*100 %}
                Nombre de diplômé : <strong>{{ nbDiplomes }}</strong>. Nombre de réponses validées :
                <strong>{{ nbComplet }}</strong> (soit {{ pourcent|number_format(2) }}%)
            </twig:Alert>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Numéro étudiant</th>
                    <th>Nom Prénom</th>
                    <th>Date Naissance</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Diplôme</th>
                    <th>Réponse</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for diplome in diplomes %}
                    <tr>
                        <td>{{ diplome.numEtudiant }}</td>
                        {% if etudiants[diplome.numEtudiant] is defined %}
                            <td>{{ etudiants[diplome.numEtudiant].display }}</td>
                            <td>{{ etudiants[diplome.numEtudiant].dateNaissance|format_date('short') }}</td>
                            <td>{{ etudiants[diplome.numEtudiant].username }}</td>
                            <td>{{ etudiants[diplome.numEtudiant].mailPerso|mailto }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                        <td>{{ diplome.libelleDiplome }}</td>
                        <td>
                            {{ diplome.confirme == true ? 'Oui' : 'Non' }}
                        </td>
                        <td>{{ diplome.updated|format_datetime('short', 'short') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'info',
            href:path('sa_rdd_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        }
    ]}) }}
{% endblock %}

