<table class="table table-bordered" id="mcc-table">
    <thead>
    <tr>
        <th colspan="9">
            &nbsp;
        </th>
        <th colspan="27" class="text-center">
            Contrôle Continu
        </th>
        <th></th>
        <th colspan="{{ niveaux|length }}" class="text-center">
            Coefficients
        </th>
        <td></td>
    </tr>
    <tr>
        <th colspan="9">
            &nbsp;
        </th>
        <th colspan="12" class="text-center">
            Ressources
        </th>
        <th colspan="14" class="text-center">
            SAE
        </th>
        <th></th>
        <th></th>
        {% for niveau in niveaux %}
            <td class="text-center">BC..</td>
        {% endfor %}
        <td></td>
    </tr>
    <tr>
        <th colspan="9">
            &nbsp;
        </th>
        <th colspan="8" class="text-center">
            TD / TP
        </th>
        <th colspan="4" class="text-center">
            Epreuve Promo. Entière
        </th>
        <th colspan="8" class="text-center">
            IUT
        </th>
        <th colspan="6" class="text-center">
            Stage
        </th>
        <th></th>
        <th></th>
        {% for niveau in niveaux %}
            <td class="text-center">Exp...</td>
        {% endfor %}
        <td></td>
    </tr>
    <tr>
        <th colspan="2" class="text-center">
            Element Constitutif
        </th>
        <th colspan="4" class="text-center">
            Volume Horaire
        </th>
        <th colspan="3" class="text-center">
            Groupes
        </th>
        {% for i in 1..13 %}
            <th colspan="2" class="text-center">x..X</th>
        {% endfor %}
        <th rowspan="2">Nb<br>Notes</th>
        <th>&nbsp;</th>
        {% for niveau in niveaux %}
            <td class="text-center">ECTS</td>
        {% endfor %}
        <td></td>
    </tr>

    <tr>
        <th class="text-center" scope="col">Code</th>
        <th class="text-center" scope="col">Intitule</th>
        <th class="text-center bg-cm" scope="col">CM</th>
        <th class="text-center bg-td" scope="col">TD</th>
        <th class="text-center bg-tp" scope="col">TP</th>
        <th class="text-center bg-ptut" scope="col">PTUT</th>
        <th class="text-center bg-cm" scope="col">CM</th>
        <th class="text-center bg-td" scope="col">TD</th>
        <th class="text-center bg-tp" scope="col">TP</th>
        {% for i in 1..13 %}
        <th class="text-center" scope="col">%</th>
        <th class="text-center" scope="col">Nb</th>
        {% endfor %}
        <th>&nbsp;</th>
        {% for niveau in niveaux %}
            <td scope="col"><input type="number" class="form-control mcc"></td>{# todo: comment récupérer par rapport au semestre
            ? #}
        {% endfor %}
        <td scope="col">30</td>
    </tr>
    </thead>
    <tbody>
    {% set tabIndex = 0 %}
    {% for sae in saes %}
        <tr>
            <th scope="row">{{ sae.codeElement }}</th>
            <th>
                <a href="#" title="{{ sae.display }}" data-bs-toggle="tooltip" data-bs-placement="bottom">{{ sae.codeMatiere }}</a>
            </th>
            <td class="bg-cm"><input type="number" class="form-control mcc"></td>
            <td class="bg-td"><input type="number" class="form-control mcc " ></td>
            <td class="bg-tp"><input type="number" class="form-control mcc "></td>
            <td class="bg-ptut"><input type="number" class="form-control mcc " ></td>
            <td class="bg-cm"><input type="number" class="form-control mcc " ></td>
            <td class="bg-td"><input type="number" class="form-control mcc " ></td>
            <td class="bg-tp"><input type="number" class="form-control mcc " ></td>
            <td colspan="12" class="bg-disabled">&nbsp;</td>
            {% for i in 1..7 %}

                <td class="{% if i is odd %}col-odd{% endif %}">
                    <input type="number" class="form-control mcc"  data-matiere-pourcentage="sae_{{ sae.id }}">
                </td>
                <td class="{% if i is odd %}col-odd{% endif %}">
                    <input type="number" class="form-control mcc" data-matiere="sae_{{ sae.id }}">
                </td>
            {% endfor %}
            <td id="nb_sae_{{ sae.id }}">2</td>
            <td>&nbsp;</td>
            {% for niveau in niveaux %}
                <td>
                    <input type="text" class="form-control changeCoefficientSae" tabindex="{{ tabIndex }}"
                           data-semestre="{{ semestre.id }}"
                           data-matiere="{{ sae.id }}" data-competence="{{ niveau.competence.id }}" data-sae="true"
                           value="{{ coefficients.saes[sae.id][niveau.competence.id] is defined ? coefficients
                           .saes[sae.id][niveau.competence.id] : 0 }}" />
                </td>
                {% set tabIndex = tabIndex  + 1 %}
            {% endfor %}
            <td>
                <a href="#" title="{{ sae.display }}" data-bs-toggle="tooltip" data-bs-placement="bottom">{{ sae
                    .codeMatiere }}</a>
            </td>
        </tr>
    {% endfor %}
    {% for ressource in ressources %}
        <tr>
            <td>{{ ressource.codeElement }}</td>
            <td>
                <a href="#" title="{{ ressource.display }}" data-bs-toggle="tooltip" data-bs-placement="bottom">{{ ressource.codeMatiere }}</a>
            </td>
            <td  class="bg-cm"><input type="number" class="form-control mcc"></td>
            <td  class="bg-td"><input type="number" class="form-control mcc"></td>
            <td  class="bg-tp"><input type="number" class="form-control mcc"></td>
            <td class="bg-disabled">&nbsp;</td>
            <td  class="bg-cm"><input type="number" class="form-control mcc"></td>
            <td  class="bg-td"><input type="number" class="form-control mcc"></td>
            <td  class="bg-tp"><input type="number" class="form-control mcc"></td>

            {% for i in 1..6 %}
                <td  class="{% if i is odd %}col-odd{% endif %}">
                    <input type="number" class="form-control mcc" data-matiere-pourcentage="res_{{ ressource.id }}">
                </td>
                <td  class="{% if i is odd %}col-odd{% endif %}">
                    <input type="number" class="form-control mcc" data-matiere="res_{{ ressource.id }}">
                </td>
            {% endfor %}
            <td colspan="14" class="bg-disabled">&nbsp;</td>
            <td id="nb_res_{{ ressource.id }}">2</td>
            <td>&nbsp;</td>
            {% for niveau in niveaux %}
                <td>
                    <input type="text" class="form-control changeCoefficientSae" tabindex="{{ tabIndex }}"
                           data-matiere="{{ ressource.id }}" data-competence="{{ niveau.competence.id }}"
                           data-semestre="{{ semestre.id }}"
                           value="{{ coefficients.ressources[ressource.id][niveau.competence.id] is defined ?
                           coefficients
                           .ressources[ressource.id][niveau.competence.id] : 0 }}" />
                </td>
                {% set tabIndex = tabIndex  + 1 %}
            {% endfor %}
            <td>
                <a href="#" title="{{ ressource.display }}" data-bs-toggle="tooltip" data-bs-placement="bottom">{{ ressource.codeMatiere }}</a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
    <tfoot>
    <tr>

        <th colspan="2" class="text-end">Total</th>
        <td  class="bg-cm">xx</td>
        <td  class="bg-td">xx</td>
        <td class="bg-tp">xx</td>
        <td class="bg-ptut">xx</td>
        <th colspan="3" class="text-end">Total</th>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <td>&nbsp;</td>
        <td>xx</td>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <td>&nbsp;</td>
        <td>xx</td>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <td>&nbsp;</td>
        <td>xx</td>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <td>&nbsp;</td>
        <td>xx</td>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <td>&nbsp;</td>
        <td>xx</td>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <td>&nbsp;</td>
        <td>xx</td>
        <td class="col-odd">&nbsp;</td>
        <td class="col-odd">xx</td>
        <th colspan="2" class="text-end">Total</th>
        {% for niveau in niveaux %}
            <td class="text-center" id="total_comp_{{ niveau.competence.id }}">xx</td>
        {% endfor %}
        <td>xxx</td>
    </tr>
    <tr>
        <th rowspan="2"  colspan="37" class="text-end">SAE</th>
        {% for niveau in niveaux %}
            <td class="text-center" id="total_sae_comp_{{ niveau.competence.id }}">xx</td>
        {% endfor %}
        <td>xxx</td>
    </tr>
    <tr>
        {% for niveau in niveaux %}
            <td class="text-center" ><span class="badge" id="rapport_sae_comp_{{ niveau.competence.id }}">xx%</span></td>
        {% endfor %}
        <td>100%</td>
    </tr>
    </tfoot>
</table>
