<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th class="previcm cm">NB h*</th>
        <th class="previcm cm">NB Gr.</th>
        <th class="previcm cm">1.5**</th>

        <th class="previtd">NB h/ Gr.*</th>
        <th class="previtd">NB Gr.</th>
        <th class="previtd">1.5**</th>

        <th class="previtp">NB h/ Gr.*</th>
        <th class="previtp">NB Gr.</th>
        <th class="previtp">1.5**</th>
    </tr>
    </thead>
    <tbody>

    {% for previ in previsionnel.previsionnels %}
        <tr>
            <td colspan="9">
                {{ previ.personnel_prenom }} {{ previ.personnel_nom }}
            </td>
        </tr>
        <tr>
            <td class="previcm">{{ previ.nbHCm }} h</td>
            <td class="previcm">{{ previ.nbGrCm }}</td>
            <td class="previcm">{{ previ.nbSeanceCm }}</td>
            <td class="previtd">{{ previ.nbHTd }} h</td>
            <td class="previtd">{{ previ.nbGrTd }}</td>
            <td class="previtd">{{ previ.nbSeanceTd }}</td>
            <td class="previtp">{{ previ.nbHTp }} h</td>
            <td class="previtp">{{ previ.nbGrTp }}</td>
            <td class="previtp">{{ previ.nbSeanceTp }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>
