{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.stage_periode_offre.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_stage_periode_offre_new', {stagePeriode: stagePeriode.uuidString }) }}"
               class="btn btn-info btn-sm btn-float" title="{{ 'atitle.creer_nouveau'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-plus"></i></a>
            <a href="{{ path('administration_stage_periode_gestion', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour.stage_periode_gestion'|trans }}"><i class="fas fa-arrow-left"></i></a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.stage_periode_offre.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.entreprise'|trans }}</th>
                    <th>{{ 'table.ville'|trans }}</th>
                    <th>{{ 'table.document'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>Périodes concernées</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for stage_periode_offre in stage_periode_offres %}
                  <tr>
                    <td>{{ stage_periode_offre.libelle }}</td>
                      <td>{{ stage_periode_offre.entreprise }}</td>
                      <td>{{ stage_periode_offre.ville }}</td>
                      <td>
                          <a href="{{ vich_uploader_asset(stage_periode_offre, 'documentFile') }}" target="_blank">{{ 'voir.le.document'|trans }}</a>
                      </td>
                      <td>{{ stage_periode_offre.updated ? stage_periode_offre.updated|format_datetime('long', 'short') : 'non.defini'|trans }}
                      </td>
                      <td>
                          {% for periode in stage_periode_offre.stagePeriodes %}
                              <span class="badge badge-info">{{ periode.libelle }}</span>
                          {% endfor %}
                      </td>
                      <td>

                          <a href="{{ path('administration_stage_periode_offre_duplicate', {'id': stage_periode_offre.id}) }}"
                             class="btn btn-success btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                             title="{{ 'atitle.dupliquer'|trans }}"><i class="{{ iconDuplicate }}"></i></a>

                          <a href="{{ path('administration_stage_periode_offre_show', {'id': stage_periode_offre.id, stagePeriode:stagePeriode.uuidString}) }}"
                             class="btn btn-info btn-outline btn-square" data-bs-toggle="tooltip" data-bs-placement="bottom"
                             title="{{ 'atitle.details'|trans }}"><i class="{{ iconShow }}"></i></a>

                          <a href="{{ path('administration_stage_periode_offre_edit', {'id': stage_periode_offre.id}) }}"
                             class="btn btn-warning btn-outline btn-square"
                             data-bs-toggle="tooltip" data-bs-placement="bottom"

                             title="{{ 'atitle.modifier'|trans }}"><i class="{{ iconEdit }}"></i></a>
                          <a href="{{ path('administration_stage_periode_offre_delete', {id: stage_periode_offre.id}) }}" data-csrf="{{ csrf_token('delete' ~ stage_periode_offre.id) }}"
                             class="btn btn-danger btn-outline btn-square supprimer" data-bs-toggle="tooltip" data-bs-placement="bottom"
                             title="{{ 'atitle.supprimer'|trans }}"><i class="{{ iconDelete }}"></i></a>
                      </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_stage_periode_offre_export', {stagePeriode:stagePeriode.uuidString, _format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_stage_periode_offre_export', {stagePeriode:stagePeriode.uuidString,_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_stage_periode_offre_export', {stagePeriode:stagePeriode.uuidString,_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('administration_stage_periode_offre_new', {stagePeriode:stagePeriode.uuidString}),
            title: 'ajouter'|trans,
            icone: 'fas fa-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_stage_offre'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
