{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.stage_periode_offre.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_stage_periode_offre_index', {uuid: stagePeriode.uuidString}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour.stage_periode_offre'|trans }}"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.stage_periode_offre.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}
