<div class="col-md-4 col-sm-12">
    <div class="card">
        <h4 class="card-title">{{ sae.display }}<br>
            {% for competence in sae.apcSaeCompetences %}
                <span class="badge bg-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }}</span>
            {% endfor %}
        </h4>
        <div class="card-body">
            <p>{{ sae.description != null ? sae.description|markdown_to_html : '' }}</p>
            <p>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom"
                   href="{{ path('but_fiche_sae',
                       {'apcSae': sae.id, diplome:diplome.sigle|lower}) }}"
                   class="btn btn-info"
                   title="Voir la fiche SAE"
                   target="_blank"
                >
                    Voir la fiche SAE  <i class="fas fa-arrow-up-right-from-square"></i>
                </a>
            </p>
        </div>
        <div class="card-footer">
            {% if sae.mutualisee == true %}
                <span class="badge bg-info">
                SAE mutualisée
            </span>
            {% else %}
                {% for parcour in sae.parcours|filter(parcour => parcour != null) %}
                    <span class="badge bg-{{ parcour.couleur }}">
                        {{ parcour.libelle }}</span>
                {% else %}
                    <span class="badge bg-info">
                        Tronc commun ou pas de parcours spécifié sur ce semestre
                        </span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

