<p>Bonjour {{ questChoix.display }},</p>

<p>{{ questionnaire.texteExplication|raw }}</p>

<p>
    <a href="{{ url('enquete_questionnaire_qualite_index', {uuidQuestionnaire: questionnaire.uuidString, uuid: questChoix
    .cleQuestionnaire}) }}" target="_blank">
        Pour y répondre, merci de cliquer sur ce lien</a> ou copier/coller l'adresse suivante dans votre navigateur :
    <br>
    {{ url('enquete_questionnaire_qualite_index', {uuidQuestionnaire: questionnaire.uuidString, uuid: questChoix.cleQuestionnaire}) }}
</p>

<p>Le questionnaire est anonyme et confidentiel.</p>
<p>Merci d'y consacrer quelques minutes !</p>
<p>Vous pourrez à tout moment vous interrompre puis revenir au questionnaire quand vous le souhaiterez.</p>

<p>Il est accessible du {{ questionnaire.dateOuverture|format_datetime('short', 'short') }} au {{ questionnaire
    .dateFermeture|format_datetime('short', 'short') }}.</p>

<p>Nous vous remercions vivement de votre participation,</p>

<p>La Formation Continue & en Alternance<br>

<p>
    <i>Remarque : dans le questionnaire, le genre masculin est employé pour désigner les femmes et les hommes.</i>
</p>
