{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.celcat_calendrier.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'celcat_calendrier', id: celcat_calendrier.id}) }}

    </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.celcat_calendrier.show.heading'|trans }}</h4>
    <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.semaineFormation'|trans }}</th>
                <td>{{ celcat_calendrier.semaineFormation }}</td>
            </tr>
            <tr>
                <th>{{ 'table.semaineReelle'|trans }}</th>
                <td>{{ celcat_calendrier.semaineReelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.dateLundi'|trans }}</th>
                <td>{{ celcat_calendrier.dateLundi ? celcat_calendrier.dateLundi|localizeddate('long', 'none', app
                        .request.getLocale()) : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.created'|trans }}</th>
                <td>{{ celcat_calendrier.created ? celcat_calendrier.dateLundi|localizeddate('long', 'short', app
                        .request.getLocale()) : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.updated'|trans }}</th>
                <td>{{ celcat_calendrier.updated ? celcat_calendrier.dateLundi|localizeddate('long', 'short', app
                        .request.getLocale()) : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
