{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.celcat_calendrier.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'celcat_calendrier', id: celcat_calendrier.id}) }}

    </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.celcat_calendrier.show.heading'|trans }}</h4>
    <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ celcat_calendrier.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ celcat_calendrier.created ? celcat_calendrier.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ celcat_calendrier.updated ? celcat_calendrier.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SemaineFormation</th>
                <td>{{ celcat_calendrier.semaineFormation }}</td>
            </tr>
            <tr>
                <th>SemaineReelle</th>
                <td>{{ celcat_calendrier.semaineReelle }}</td>
            </tr>
            <tr>
                <th>DateLundi</th>
                <td>{{ celcat_calendrier.dateLundi ? celcat_calendrier.dateLundi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
