{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    {{include('pdf/_headerPdf.html.twig', {
        departement: departement,
        titre: '<h2>Planning | '~personnel.display~' | '~user_data.displayAnneeUniversitaire~'</h2>',
        qualite: false
    }) }}
{#    <table style="width: 100%; border:none;">#}
{#        <tr>#}
{#            <td style="text-align: center; width:20%">#}
{#                <img src="{{ settings('BASE_PATH') }}{{ 'logo/'~user_data.departement.logoName }}" alt="logo" height="75px"/>#}
{#            </td>#}
{#            <td style="text-align: center; width:60%">#}
{#                <h2>Planning | {{ personnel.display }} | {{ user_data.displayAnneeUniversitaire }}</h2>#}
{#            </td>#}
{#            <td style="text-align: center; width:20%">#}
{#                <img src="{{ settings('BASE_PATH') }}{{ 'logo/' }}{{ settings('LOGO_IUT') }}"#}
{#                     alt="logo"#}
{#                     height="75px"/>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}

    <table style="clear:both;width:100%" class="table">
        <thead>
        <tr>
            <th>Promo</th>
            <th>Module</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Cours</th>
            <th>Durée</th>
            <th>Groupes</th>
            <th>Salle</th>
            <th>Eval</th>
        </tr>
        </thead>
        <tbody>
        {% for pl in planning %}
            <tr style="height: 27px;">
                <td>S{{ pl.ordreSemestre }}</td>
                <td>{{ matieres[pl.typeIdMatiere] is defined ? matieres[pl.typeIdMatiere].display : 'non.defini'|trans }}</td>
                <td>{{ pl.date|date('d/m/Y') }}</td>
                <td>{{ pl.debutTexte }}</td>
                <td>{{ pl.type|upper }}</td>
                <td>{{ pl.dureeTexte }}</td>
                <td>{{ pl.displayGroupe }}</td>
                <td>{{ pl.salle }}</td>
                <td>{{ pl.evaluation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
