{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    {{include('pdf/_headerPdf.html.twig', {
        departement: departement,
        titre: '<h2>Planning | '~personnel.display~' | '~user_data.displayAnneeUniversitaire~'</h2>',
        qualite: false
    }) }}

    <div>
        <strong>Information</strong> : Vous pouvez synchroniser votre planning en utilisant le lien ical suivant : <a
                href="{{ personnel|genereLienIcal }}">{{ personnel|genereLienIcal }}</a>. A la suite de demandes de
        modifications sur votre planning ce lien peut mettre jsuqu'à 24 heures pour s'actualiser.
    </div><br><br>

    <table style="clear:both;width:100%" class="table">
        <thead>
        <tr>
            <th>Promo</th>
            <th>Module</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Cours</th>
            <th>Durée</th>
            <th>Groupes</th>
            <th>Salle</th>
            <th>Eval</th>
        </tr>
        </thead>
        <tbody>
        {% for pl in planning %}
            <tr style="height: 27px;">
                <td>S{{ pl.ordreSemestre }}</td>
                <td>{{ matieres[pl.typeIdMatiere] is defined ? matieres[pl.typeIdMatiere].display : 'non.defini'|trans }}</td>
                <td>{{ pl.date|date('d/m/Y') }}</td>
                <td>{{ pl.debutTexte }}</td>
                <td>{{ pl.type|upper }}</td>
                <td>{{ pl.dureeTexte }}</td>
                <td>{{ pl.displayGroupe }}</td>
                <td>{{ pl.salle }}</td>
                <td>{{ pl.evaluation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
