{% use "form/my-form.html.twig" %}

{% block form_group_class -%}
    {{ group_class }}
{%- endblock form_group_class %}

{# {% block form_label_class -%} #}
{# {{ label_class }} #}
{# {%- endblock form_label_class %} #}

{# {% block form_widget_simple -%} #}
{# {% if input_prefix is defined or input_suffix is defined %} #}
{# <div class="input-group"> #}
{# {% if input_prefix %} #}
{# {{ input_prefix | raw }} #}
{# {% endif %} #}
{# {{- parent() -}} #}
{# {% if input_suffix %} #}
{# {{ input_suffix | raw }} #}
{# {% endif %} #}
{# </div> #}
{# {% else %} #}
{# {{- parent() -}} #}
{# {% endif %} #}
{# {%- endblock form_widget_simple %} #}

{%- block form_widget_simple -%}
    {% if input_prefix or input_suffix %}
        <div class="input-group">
            {% if input_prefix %}
                <div class="input-group-prepend">
                    {{ input_prefix | raw }}
                </div>
            {% endif %}
            {{- parent() -}}
            {% if input_suffix %}
                <div class="input-group-append">{{ input_suffix | raw }}</div>
            {% endif %}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
    <div class="invalid-feedback"></div>
{%- endblock form_widget_simple -%}
