{{ form_start(form) }}
<div class="modal-body">
    <p class="help-block">Selectionez qui pourra (en plus de vous) saisir les notes.</p>
    <div class="form-group">
        <div class="row">
            <input type="hidden" name="evaluation" value="{{ eval.uuidString }}"/>
            {% for child in form.personnelAutorise %}
                <div class="col-sm-6">
                    {% if child.vars.value != user_data.user.id %}
                        {{ form_widget(child) }}
                    {% else %}
                        {{ form_widget(child, { 'attr': {'checked': 'checked', 'disabled': true} }) }}
                    {% endif %}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
            {{ form_errors(form.personnelAutorise) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</div>
{{ form_end(form) }}

