{% extends 'base.html.twig' %}

{% block header %}
    <strong>Saisie</strong> des notes | {{ evaluation.matiere.codeMatiere }}
    | {{ evaluation.matiere.libelle }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_note_index', {matiere: evaluation.matiere.id, index: evaluation.id}) }}"
               class="btn btn-primary btn-float"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_synthese'|trans }}"><i class="ti-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card">
        <h4 class="card-title"><strong>Saisie</strong> des notes | {{ evaluation.matiere.codeMatiere }}
            | {{ evaluation.matiere.libelle }}
        </h4>{# todo: mettre les onglets directement ici ? Harmoniser... #}
        <div class="card-body">

            <div class="alert alert-info">Dans le cas des modules optionnels (ou de parcours) seul les groupes ayant
                suivis cette option sont affichés.
            </div>
            <br/>
            <ul class="nav nav-tabs">
                {% for groupe in evaluation.typeGroupe.groupes %} {# if matiere.option == null or groupe.options == matiere.option #}


                    <li class="nav-item"><a href="#gr{{ groupe.id }}"
                                            class="nav-link {% if loop.index == 1 %} active show{% endif %}"
                                            data-toggle="tab" role="tab">{{ groupe.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for groupe in evaluation.typeGroupe.groupes %} {# if matiere.option == null or groupe.options == matiere.option#}
                    <div class="tab-pane {% if loop.index == 1 %} active {% endif %}" id="gr{{ groupe.id }}">
                        <div class="alert alert-warning">
                            Naviguez dans les onglets. <strong>N'oubliez pas de sauvegarder chaque groupe.</strong> Les
                            groupes non saisis pourront être complétés plus tard.
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Etudiant</th>
                                <th>Note</th>
                                <th>Commentaire optionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set tab=1 %}
                            {% for etudiant in groupe.etudiants %}
                                <tr {% if not(notes[etudiant.id] is defined) or notes[etudiant.id].note == '-0.01' %}class="bg-pale-warning"{% endif %}>
                                    <td>{{ etudiant.nom|capitalize }} {{ etudiant.prenom|capitalize }}  </td>
                                    <td><input type="text" name="no_{{ etudiant.id }}" tabindex="{{ tab }}"
                                               id="no_{{ etudiant.id }}" data-etudiant="{{ etudiant.id }}"
                                               class="form-control noteetudiant groupe_{{ groupe.id }}"
                                               value="{% if notes[etudiant.id] is defined %}{{ notes[etudiant.id].note }}{% else %}-0.01{% endif %}"/>
                                        {# todo: verifier en js que la note est entre 0 et 20, validation. #}
                                    </td>
                                    <td>Absent.</td>
                                    <td><input type="text" name="com_{{ etudiant.id }}" id="com_{{ etudiant.id }}"
                                               class="form-control groupe_{{ groupe.id }}"/></td>
                                </tr>
                                {% set tab=tab+1 %}
                            {% else %}
                                <tr class="bg-warning">
                                    <td colspan="3">{{ 'pas.etudiant.groupe'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br/>
                        <button class="btn btn-success btn-large btn-block savegroupe"
                                id="groupe_{{ groupe.id }}" data-evaluation="{{ evaluation.id }}">Enregistrer les notes
                            de ce groupe
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


