{% extends 'base.html.twig' %}

{% block header %}
    <strong>Saisie</strong> des notes | {{ evaluation.matiere.display }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_note_index', {matiere: evaluation.matiere.id, index: evaluation.id}) }}"
               class="btn btn-primary btn-float"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_synthese'|trans }}"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card card-slided-up">
        <header class="card-header">
            <h4 class="card-title"><strong>Détails</strong> de l'évaluation | {{ evaluation.matiere.display }}</h4>
            <ul class="card-controls">
                <li>
                    <a class="card-btn-slide" href="#" title="Plus de détails et modifications" data-provide="tooltip"></a>
                </li>
            </ul>
        </header>
        <div class="card-content">
            <div class="card-body">
                {{ include('composants/_edit_eval.html.twig') }}
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title"><strong>Saisie</strong> des notes | {{ evaluation.matiere.display }}
        </h4>
        <div class="card-body">
            {{ include('composants/_saisie_notes.html.twig') }}
        </div>
    </div>

    {# todo: gérer le modal pour ajotuer des enseignants dans les notes #}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('notes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('notes') }}
{% endblock %}

