{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_parcours.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_apc_parcours_delete', {id: parcour.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ parcour.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="{{ iconDelete }}"></i>
                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
            </a>
            <a href="{{ path('administration_apc_parcours_edit', {id: parcour.id}) }}"
               class="btn btn-warning btn-sm btn-float"
               title="{{ 'atitle.modifier'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="{{ iconEdit }}"></i>
                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
            </a>


            <a href="{{ path('administration_apc_referentiel_index',{'diplome' : parcour.diplome.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_parcours.show.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('apc/_parcour.html.twig') }}
        </div>
    </div>
{% endblock %}
