<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.typegroupe.semestre.index.heading'|trans }} {{ semestre.libelle }} |
            {{ diplome.displayCourt }}</h4>
        <div class="card-header-actions" style="">
            <a class="btn btn-sm btn-primary"
               title="{{ 'generation.automatique'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               href="{{ path('administration_type_groupe_semestre_generation_auto', {semestre:semestre.id}) }}"
            >
                <i class="fas fa-hat-wizard"></i>
            </a>
        </div>
    </header>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Type</th>
                <th>Défauts?</th>
                <th>Mutualisé?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tg in typeGroupes %}
                <tr>
                    <td><a class="editable"
                           data-field="libelle"
                           data-href="{{ path('administration_type_groupe_ajax_edit', {id:tg.id}) }}"
                           title="Corriger le libellé du type de groupe">
                            {{ tg.libelle }}</a>
                    </td>
                    <td><label class="sr-only" for="typegroupe_{{ tg.id }}"></label>
                        <select id="typegroupe_{{ tg.id }}" name="typegroupe_{{ tg.id }}" class="form-select"
                                data-action="change->groupes-adm#changeTypeTypeGroupe"
                                data-typegroupe="{{ tg.id }}">
                            <option value="" selected>Type de type de Groupe</option>
                            {% for type in typeGroupeEnum %}
                                <option value="{{ type.value }}" {% if tg.type.value == type.value %}selected{% endif
                                %}>
                                    {{ type.value }}
                                </option>
                            {% endfor %}
                        </select></td>
                    <td>
                        <label class="switch" for="defaut_{{ tg.id }}">
                            <input type="checkbox" {{ tg.defaut ? 'checked': '' }}
                                   value="true"
                                   data-action="change->groupes-adm#changeDefaut"
                                   name="defaut_{{ tg.id }}"
                                   id="defaut_{{ tg.id }}"
                                   data-type_groupe="{{ tg.id }}"
                                   data-semestre="{{ semestre.id }}">
                            <span class="switch-indicator"></span>
                        </label>
                    </td>
                    <td>
                        <label class="switch" for="mutualise_{{ tg.id }}">
                            <input type="checkbox" {{ tg.mutualise ? 'checked': '' }}
                                   data-action="change->groupes-adm#changeMutualise"
                                   value="{{ tg.mutualise ? false : true }}"
                                   name="mutualise_{{ tg.id }}"
                                   id="mutualise_{{ tg.id }}"
                                   data-type_groupe="{{ tg.id }}"
                                   data-semestre="{{ semestre.id }}">
                            <span class="switch-indicator"></span>
                        </label>
                    </td>
                    <td class="text-right table-actions">
                        <a class="table-action hover-primary duplicate-type_groupe"
                           href="#"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           data-typegroupe="{{ tg.id }}"
                           data-semestre="{{ semestre.id }}"
                           title="{{ 'atitle.dupliquer'|trans }}">
                            <span class="{{ iconDuplicate }}"></span>
                            <span class="sr-only">Dupliquer le type de groupe</span>
                        </a>
                        <a class="table-action hover-danger supprimer"
                           href="{{ path('administration_type_groupe_delete', {id:tg.id}) }}"
                           data-csrf="{{ csrf_token('delete' ~ tg.id) }}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.supprimer'|trans }}">
                            <span class="{{ iconDelete }}"></span>
                            <span class="sr-only">Supprimer le type de groupe</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <label class="sr-only" for="typegroupe_libelle">Libellé</label>
                    <input type="text" name="typegroupe_libelle" id="typegroupe_libelle" class="form-control">
                    <div class="invalid-feedback" id="error_typegroupe_libelle">
                        Libellé du type de groupe obligatoire
                    </div>

                </td>
                <td>
                    <label class="sr-only" for="typegroupe_type">Type</label>
                    <select id="typegroupe_type" name="typegroupe_type" class="form-select">
                        <option value="" selected>Type de type de Groupe</option>
                        {% for type in typeGroupeEnum %}
                            <option value="{{ type.value }}">
                                {{ type.value }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback" id="error_typegroupe_type">
                        Type de type de groupe obligatoire
                    </div>
                </td>
                <td>
                    <label class="switch" for="typegroupe_defaut">
                        <input type="checkbox"
                               name="typegroupe_defaut"
                               value="true"
                               id="typegroupe_defaut">
                        <span class="switch-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="switch" for="typegroupe_mutualise">
                        <input type="checkbox"
                               name="typegroupe_mutualise"
                               value="true"
                               id="typegroupe_mutualise">
                        <span class="switch-indicator"></span>
                    </label>
                </td>
                <td>
                    <button class="btn btn-success"
                            data-action="click->groupes-adm#addTypeGroupe"
                            data-semestre="{{ semestre.id }}">{{ button_label|default('label.save'|trans) }}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
