{% for typeGroupe in semestre.typeGroupes %}
    <tr id="ligne_{{ typeGroupe.id }}">
        <th scope="row">{{ typeGroupe.libelle }}</th>
        <td>
            <div class="form-check">
                <input class="form-check-input typegroupe_defaut" type="radio"
                       name="type_groupe_defaut_{{ typeGroupe.semestre.id }}"
                       {% if typeGroupe.defaut %}checked{% endif %}
                       id="type_groupe_defaut_{{ typeGroupe.id }}" value="{{ typeGroupe.id }}">
                <label class="form-check-label" for="type_groupe_defaut_{{ typeGroupe.id }}">
                    Par défaut
                </label>
            </div>
        </td>
        {# todo: duplicate (en js?) et modifier (en ligne ?) #}

        <td class="text-right table-actions">
            <a class="table-action hover-primary"
               href="{{ path('administration_type_groupe_duplicate', {id:typeGroupe.id}) }}"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.dupliquer'|trans }}"><span
                        class="{{ iconDuplicate }}"></span>
                <span class="sr-only">Dupliquer le type de groupe</span></a>
            <a class="table-action hover-info"
               href="#"
               data-provide="modaler tooltip"
               data-size="lg"
               data-confirm-text="{{ 'fermer'|trans }}"
               data-url="{{ path('administration_type_groupe_show', {id:typeGroupe.id}) }}"
               data-placement="bottom"
               data-title="{{ 'details.groupes.type_groupe'|trans }}"
               title="{{ 'atitle.details'|trans }}">
                <span class="ti-eye"></span>
                <span class="sr-only">Voir le détail</span>
            </a>
            <a class="table-action hover-warning"
               href="{{ path('administration_type_groupe_edit', {id:typeGroupe.id}) }}"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.modifier'|trans }}"><span
                        class="{{ iconEdit }}"></span>
                <span class="sr-only">Modifier le type de groupe</span>
            </a>
            <a class="table-action hover-danger supprimer"
               href="{{ path('administration_type_groupe_delete', {id:typeGroupe.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ typeGroupe.id) }}"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.supprimer'|trans }}"><span
                        class="{{ iconDelete }}"></span>
                <span class="sr-only">Supprimer le type de groupe et les groupes associés</span>
            </a>
        </td>
    </tr>
{% endfor %}
