<table class="table">
    <tbody>
    <tr>
        <th>{{ 'table.libelle'|trans }}</th>
        <td>{{ type_groupe.libelle }}</td>
    </tr>
    <tr>
        <th>{{ 'table.semestre'|trans }}</th>
        <td>{{ type_groupe.semestre ? type_groupe.semestre.libelle : 'non.defini'|trans }}</td>
    </tr>
    <tr>
        <th>Groupes</th>
        <td>{% for groupe in type_groupe.groupes %}{{ groupe.libelle }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <th>{{ 'table.created'|trans }}</th>
        <td>{{ type_groupe.created ? type_groupe.created|format_datetime('long', 'short') : '' }}</td>
    </tr>
    <tr>
        <th>{{ 'table.updated'|trans }}</th>
        <td>{{ type_groupe.updated ? type_groupe.updated|format_datetime('long', 'short') : '' }}</td>
    </tr>
    </tbody>
</table>
