{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.type_groupe.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'type_groupe', id: type_groupe.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.type_groupe.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ type_groupe.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.code'|trans }}</th>
                    <td>{{ type_groupe.codeApogee }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ type_groupe.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.semestre'|trans }}</th>
                    <td>{{ type_groupe.semestre ? type_groupe.semestre.libelle : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ type_groupe.created ? type_groupe.created|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ type_groupe.updated ? type_groupe.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# toto: liste des compétences enfants + ajout #}
{% endblock %}