{% for etudiant in etudiants %}
    <div class="row">
        <div class="col-sm-2">
            <a href="" rel="tooltip"
               data-placement="bottom" data-original-title="Accéder au profil" target="_blank"><img
                        src="{{ asset('uploads/img/etudiants/'~etudiant.photoName) }}"
                        alt="photo Etudiant" width="80"/></a>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-9 search-info">
                    <a href="" rel="tooltip"
                       data-placement="bottom" data-original-title="Accéder au profil"
                       target="_blank">{{ etudiant.displayPr }}</a><br/>
                    <a href="mailto:{{ etudiant.mailuniv }}" rel="tooltip" data-placement="bottom"
                       data-original-title="Ecrire" target="_blank">{{ etudiant.mailuniv }}</a><br/>
                    <a href="mailto:{{ etudiant.mailperso }}" rel="tooltip" data-placement="bottom"
                       data-original-title="Ecrire" target="_blank">{{ etudiant.mailperso }}</a>
                    <p class="url">{% if etudiant.semestre != null %}{{ etudiant.semestre.display }} - {% endif %}
                        Promo {{ etudiant.promo }} - Groupe(s) :
                        {% for gr in etudiant.groupes %}
                            {{ gr.nomgroupe }},
                        {% else %}
                            -
                        {% endfor %}
                    </p>
                </div>
                <div class="col-sm-3">
                    <a href="#"
                       class="btn btn-warning btnInit" data-element="{{ etudiant.id }}" rel="tooltip"
                       data-placement="bottom"
                       title="Ré/initiliser le mot de passe"><i class="fa fa-magic"></i></a>
                    <a href="" class="btn btn-info"
                       rel="tooltip" data-placement="bottom" title="Voir le profil" target="_blank"><i
                                class="fa fa-eye"></i></a>
                    <a href=""><a href="{{ path('',{etudiant:etudiant.id, path:'sadm'}) }}"
                                  class="btn btn-warning" rel="tooltip" data-placement="bottom"
                                  title="Modifier"><i class="fa fa-pencil"></i></a></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-2" for="chgt_etudiant_semestre">Semestre actuel</label>
                        <div class="col-sm-10">
                            <select class="form-control chgt_etudiant_semestre" name="semestre"  data-etudiant="{{ etudiant.id }}">
                                {% for semestre in connect.semestres %}
                                    <option value="{{ semestre.id }}" {% if etudiant.semestre != null and semestre.id == etudiant.semestre.id %} selected {% endif %}>{{ semestre.display }}</option>
                                {% endfor %}
                                <option value="null" {% if etudiant.semestre == null %} selected {% endif %}>Aucun semestre</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-2" for="chgt_etudiant_departement">Département actuel</label>
                        <div class="col-sm-10">
                            <select class="form-control chgt_etudiant_departement" name="departement" data-etudiant="{{ etudiant.id }}">
                                {#todo: a tester !! #}
                                {% for format in formats %}
                                    <option value="{{ format.id }}" {% if format.id == etudiant.departement.id %} selected {% endif %}>{{ format.nomformation }}</option>
                                {% endfor %}
                                <option value="null">Aucune formation</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-2" for="chgt_etudiant_fin">Année sortie DUT/LP/IUT</label>
                        <div class="col-sm-10">
                            <select class="form-control chgt_etudiant_fin" name="fin"  data-etudiant="{{ etudiant.id }}">
                                {% set thisYear = "now"|date('Y') %}
                                <option value="0" selected>Formation en cours</option>
                                {% for an in 2010.. thisYear %}
                                    <option value="{{ an }}" {% if an == etudiant.anneesortie %} selected {% endif %}>{{ an }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
{% else %}
    <div class="alert alert-warning">Il n'y a aucune réponse pour votre recherche</div>
{% endfor %}

