{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'scolarite.semestre.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_scolarite_diplome', {diplome:semestre.diplome.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_diplome'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_diplome'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'scolarite.semestre.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Semestre</th>
                    <th>Effectif</th>
                    <th>Actif</th>
                    <th>Export Apogée</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
