<table class="table table-striped">
    <thead>
    <tr>
        <th>Personnel</th>
        <th>Catégorie</th>
        <th>CM</th>
        <th>TD</th>
        <th>TP</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for previsionnel in synthesePrevisionnel.personnelsTries %}
        <tr>
            <th>{{ previsionnel.display }}</th>
            <td>{{ previsionnel.type|badgeStatut }}</td>
            <td class="previcm">{{ previsionnel.totalCM|nombreHeure }}</td>
            <td class="previtd">{{ previsionnel.totalTD|nombreHeure }}</td>
            <td class="previtp">{{ previsionnel.totalTP|nombreHeure }}</td>
            <td>{{ previsionnel.total|nombreHeure }}</td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="8" class="bg-complementary">
            <div class="d-grid ">
                <span class="btn d-block text-white">
                    Synthèse
                </span>
            </div>

        </td>
    </tr>
    <tr>
        <th colspan="2">Total</th>
        <th class="previcm">{{ synthesePrevisionnel.totalCM|nombreHeure }}</th>
        <th class="previtd">{{ synthesePrevisionnel.totalTD|nombreHeure }}</th>
        <th class="previtp">{{ synthesePrevisionnel.totalTP|nombreHeure }}</th>
        <th>{{ synthesePrevisionnel.total|nombreHeure }}</th>
    </tr>
    <tr>
        <td colspan="8" class="bg-complementary">
            <div class="d-grid ">
                <span class="btn d-block text-white">
                    Répartition
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <th colspan="2">Permanent</th>
        <th colspan="2">Vacataire</th>
        <th colspan="2">Autres</th>
    </tr>
    <tr>
        <td colspan="2">Répartition</td>
        <td colspan="2">{{ synthesePrevisionnel.pourcentagePermanent|pourcentage }}</td>
        <td colspan="2">{{ synthesePrevisionnel.pourcentageVacataire|pourcentage }}</td>
        <td colspan="2">{{ synthesePrevisionnel.pourcentageAutre|pourcentage }}</td>
    </tr>
    </tbody>
</table>
