<table class="table table-striped">
    <thead>
    <tr>
        <th>Intervenant</th>
        <th>Catégorie</th>
        <th>Service</th>
        <th>CM</th>
        <th>TD</th>
        <th>TP</th>
        <th>Total</th>
        <th>Ecart</th>
    </tr>
    </thead>
    <tbody>
    {% for previsionnel in synthesePrevisionnel.personnelsTries %}
        <tr>
            <th>{{ previsionnel.display }}</th>
            <td>{{ previsionnel.type|badgeStatut }}</td>
            <td>{{ previsionnel.nbHeuresService|nombreHeure }}</td>
            <td class="previcm">{{ previsionnel.totalCM|nombreHeure }}</td>
            <td class="previtd">{{ previsionnel.totalTD|nombreHeure }}</td>
            <td class="previtp">{{ previsionnel.totalTP|nombreHeure }}</td>
            <td>{{ previsionnel.total|nombreHeure }}</td>
            <td>
                {% if previsionnel.type == 'vacataire' %}
                    {% if previsionnel.total > previsionnel.nbHeuresService %}
                        <span class="badge bg-warning">
                            <i class="fas fa-exclamation-triangle"></i>
                            Dépassement de {{ (previsionnel.total - previsionnel.nbHeuresService) }} heures</span>
                    {% else %}
                        <span class="badge bg-success">
                            <i class="fas fa-check"></i>
                            Peut rester {{ (previsionnel.nbHeuresService-previsionnel.total) }} heures</span>
                    {% endif %}
                {% else %}
                    {{ (previsionnel.total - previsionnel.nbHeuresService)|badgeDiffence }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="8" class="bg-complementary">
            <div class="d-grid ">
                <span class="btn d-block text-white">
                    Synthèse
                </span>
            </div>

        </td>
    </tr>
    <tr>
        <th colspan="3">Total</th>
        <th class="previcm">{{ synthesePrevisionnel.totalCM|nombreHeure }}</th>
        <th class="previtd">{{ synthesePrevisionnel.totalTD|nombreHeure }}</th>
        <th class="previtp">{{ synthesePrevisionnel.totalTP|nombreHeure }}</th>
        <th>{{ synthesePrevisionnel.total|nombreHeure }}</th>
    </tr>
    <tr>
        <td colspan="9" class="bg-complementary">
            <div class="d-grid ">
                <span class="btn d-block text-white">
                    Répartition
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <th colspan="2">Permanent</th>
        <th colspan="2">Vacataire</th>
        <th colspan="2">Autres</th>
    </tr>
    <tr>
        <td colspan="3">Répartition</td>
        <td colspan="2">{{ synthesePrevisionnel.pourcentagePermanent|pourcentage }}</td>
        <td colspan="2">{{ synthesePrevisionnel.pourcentageVacataire|pourcentage }}</td>
        <td colspan="2">{{ synthesePrevisionnel.pourcentageAutre|pourcentage }}</td>
    </tr>
    </tbody>
</table>
