<div class="row">
    <div class="col-sm-8">
        <div class="card card-bordered" style="height: 300px" id="sortable">

        </div>
    </div>
    <div class="col-sm-4">

        {% for question in questions %}
            <div class="card card-bordered bg-pale-info draggable">
           {% if question.type == constant('QUESTION_TYPE_QCU', question) %}
                {{ include('quizz_question/_qcu.html.twig') }}
            {% elseif question.type == constant('QUESTION_TYPE_QCM', question) %}
                {{ include('quizz_question/_qcm.html.twig') }}
            {% elseif question.type == constant('QUESTION_TYPE_YESNO', question) %}
                {{ include('quizz_question/_yesno.html.twig') }}
            {% elseif question.type == constant('QUESTION_TYPE_ECHELLE', question) %}
                {{ include('quizz_question/_qcu.html.twig') }}
            {% elseif question.type == constant('QUESTION_TYPE_LIBRE', question) %}
                {{ include('quizz_question/_libre.html.twig') }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


