<p>Bonjour {{ etudiant.displayPr }},</p>

<p>Merci d'avoir pris le temps de compléter le questionnaire qualité {{ questionnaire.titre }}.
   Vos réponses seront étudiées avec attention afin d'améliorer la qualité de la formation.</p>

<p>Le responsable du diplôme<br>
    {{ etudiant.diplome.responsableDiplome.displayPr }}</p>

<p>Le responsable qualité<br>
    {{ etudiant.diplome.optResponsableQualite.displayPr }}</p>

<p>Ce message est un message automatique envoyé depuis l'intranet de l'{{ settings('NOM_IUT') }}. Aucune réponse ne
   pourra être prise en compte.</p>
