{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.bc.demandes.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'bc_demande'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.bc.demandes.index.heading'|trans }}</h4>
        <div class="card-body">
            {# {{ table_render(table) }} #}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_bc_demande'}),
            title: 'aide'|trans,
            icone: 'fas fa-question'
        }
    ]}) }}
{% endblock %}


