{% extends 'base.html.twig' %}

{% block title %}AnneeUniversitaire{% endblock %}

{% block body %}
    <h1>AnneeUniversitaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annee_universitaire.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ annee_universitaire.libelle }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ annee_universitaire.annee }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ annee_universitaire.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annee_universitaire_index') }}">back to list</a>

    <a href="{{ path('annee_universitaire_edit', {'id': annee_universitaire.id}) }}">edit</a>

    {{ include('annee_universitaire/_delete_form.html.twig') }}
{% endblock %}
