{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.annee_universitaire.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'annee_universitaire', id: annee_universitaire.id}) }}

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.annee_universitaire.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ annee_universitaire.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.annee'|trans }}</th>
                    <td>{{ annee_universitaire.annee }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.commentaire'|trans }}</th>
                    <td>{{ annee_universitaire.commentaire }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.annee_universitaire.formation.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                {% for departement in annee_universitaire.departements %}
                    <tr>
                        <th>{{ 'table.libelle'|trans }}</th>
                        <td>{{ departement.libelle }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
