<div class="row">
    {% for ressource in ressources %}
        <div class="col-md-6">
            <div class="form-check">
                <input type="checkbox" id="ressource_{{ ressource.id }}" name="ressources[]" class="form-check-input"
                       value="{{ ressource.id }}" {% if ressource.checked %}checked{% endif %}>
                <label class="form-check-label" for="ressource_{{ ressource.id }}">{{ ressource.code }} : {{ ressource.libelle
                    }}</label></div>
        </div>
    {% else %}
        <div class="col-md-12">
            <twig:Alert type="info">
                <p>Aucun Ressource n'est disponible</p>
            </twig:Alert>
        </div>
    {% endfor %}
</div>
