<table class="table {% if apc_saes|length>0 %}table-striped{% endif %} table-bordered">
    <thead>
    <tr>
        <th>{{ 'table.code_sae'|trans }}</th>
        <th>{{ 'table.code_element'|trans }}</th>
        <th>{{ 'table.libelle'|trans }}</th>
        <th>Compétences</th>
        <th>Suspendu?</th>
        <th>Bonification</th>
        <th>Heures CM</th>
        <th>Heures TD</th>
        <th>Heures TP</th>
        <th>Heures Projet</th>
        <th>Nb Notes</th>
        <th>{{ 'table.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for apc_sae in apc_saes|filter(apc_sae => apc_sae.hasSemestre(semestre) == true) %}
        <tr id="ligne_{{ apc_sae.id }}" {% if apc_sae.suspendu == true %}class="bg-pale-warning"{% endif %}>
            <td>{{ apc_sae.codeMatiere }}</td>
            <td>{{ apc_sae.codeElement }}</td>
            <td>{{ apc_sae.libelle }}</td>
            <td>
                {% for competence in apc_sae.apcSaeCompetences %}
                    <span class="badge badge-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }} ({{ competence.coefficient }})
                    </span>
                {% endfor %}</td>
            <td>{{ apc_sae.suspendu|badgeYesNo }}</td>
            <td>{{ apc_sae.bonification|badgeYesNo }}</td>
            <td>
                <a class="editable"
                   data-field="CmFormation"
                   data-href="{{ path('administration_apc_sae_ajax_edit', {id:apc_sae.id}) }}"
                   title="Corriger le volume horaire">
                    {{ apc_sae.cmFormation }}</a>
            </td>
            <td>
                <a class="editable"
                   data-field="TdFormation"
                   data-href="{{ path('administration_apc_sae_ajax_edit', {id:apc_sae.id}) }}"
                   title="Corriger le volume horaire">
                    {{ apc_sae.tdFormation }}</a>
            </td>
            <td>
                <a class="editable"
                   data-field="TpFormation"
                   data-href="{{ path('administration_apc_sae_ajax_edit', {id:apc_sae.id}) }}"
                   title="Corriger le volume horaire">
                    {{ apc_sae.tpFormation }}</a>
            </td>
            <td>
                <a class="editable"
                   data-field="ProjetFormation"
                   data-href="{{ path('administration_apc_sae_ajax_edit', {id:apc_sae.id}) }}"
                   title="Corriger le volume horaire">
                    {{ apc_sae.projetFormation }}</a>
            </td>
            <td><a class="editable"
                   data-field="NbNotes"
                   data-href="{{ path('administration_apc_sae_ajax_edit', {id:apc_sae.id}) }}"
                   title="Corriger le nombre de notes">
                    {{ apc_sae.nbNotes }}</a>
            </td>
            <td>
                {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'apc_sae', id: apc_sae.id}) }}
            </td>
        </tr>
    {% else %}
        <tr class="bg-pale-warning">
            <td colspan="10">{{ 'no.record.found'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
