{% extends 'base.html.twig' %}

{% block header %}
    Gestion des SAE de {{ apcSae.display }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">

            <a href="{{ path('administration_apc_sae_delete', {id:  apcSae.id}) }}"
               data-csrf="{{ csrf_token('delete' ~  apcSae.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-trash"></i>
                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
            </a>
            <a href="{{ path('administration_apc_sae_show', {id: apcSae.id}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.voir'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-eye"></i>
                <span class="sr-only">{{ 'atitle.voir'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('apc-enfant', {
        urlListeDiplome: path('administration_apc_sae_liste_diplomes', { 'id': apcSae.id }),
        urlPostDiplome: path('administration_apc_sae_add_diplome', { 'id': apcSae.id }),
        urlDeleteDiplome: path('administration_apc_sae_delete_diplome', { 'id': apcSae.id }),
    }) }}>
        {% if apcSae.mutualisee == true %}
            <div class="card">
                <h4 class="card-title">
                    SAE {{ apcSae.display }} mutualisée. Choix des autres diplôme
                </h4>
                <div class="card-body">
                    <div data-apc-enfant-target="contentDiplome">
                        {{ include('apc/apc_sae/_liste_diplomes.html.twig') }}
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <select class="form-select" id="semestreAdd">
                                <option value="">Choisir un semestre</option>
                                {% for semestre in semestres %}
                                    <option value="{{ semestre.id }}">
                                        {{ semestre.display }}, {{ semestre.diplome.display }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-2 d-grid">
                            <button class="btn btn-primary d-block"
                                    data-action="click->apc-enfant#addDiplome">Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="card">
            <h4 class="card-title">
                Dupliquer la SAE {{ apcSae.display }}. Choisir le semestre pour configurer
            </h4>
            <div class="card-body">
                <form action="{{ path('administration_apc_duplique_move_sae', {sae:apcSae.id}) }}"
                      method="post">
                    <div class="row">
                        <div class="col-md-10">
                            <select class="form-select" id="semestre_destination" name="semestre_destination">
                                <option value="">Choisir le semestre de destination</option>
                                {% for semestre in semestres %}
                                    <option value="{{ semestre.id }}">
                                        {{ semestre.display }}, {{ semestre.diplome.display }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 d-grid">
                            <button class="btn btn-primary d-block"
                                    type="submit">Dupliquer
                            </button>
                        </div>
                        <div class="col-sm-12">
                            <twig:Alert type="info">
                                Une nouvelle SAE sera créée avec les mêmes paramètres que la SAE
                                {{ apcSae.display }} et associée au semestre que vous avez selectionné. Vous
                                pourrez ensuite la configurer pour la mutualiser avec d'autres semestres. (Exemple
                                copier une ressource de FI vers FC).
                            </twig:Alert>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
