{% extends is_granted('ROLE_ADMINISTRATIF') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_sae.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">

            <a href="{{ path('administration_matiere_index', {diplome:diplome.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block stimulus %}
    {{ stimulus_controller('apc_sae_form', {
        sae: null
    }) }}
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_sae.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ form_start(form) }}
            {% form_theme form 'form/my-form.html.twig' %}
            {{ include('apc/apc_sae/_form.html.twig') }}

            <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


