{% extends is_granted('ROLE_ADMINISTRATIF') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_sae.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    {% set semestre = apc_sae.semestres|length > 0 and apc_sae.semestres.first != null ? apc_sae.semestres.first : null %}

    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_apc_sae_export_one', {id: apc_sae.id}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.print'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconPrint }}"></i>
                <span class="sr-only">{{ 'atitle.print'|trans }}</span>
            </a>
            <a href="{{ path('administration_apc_sae_delete', {id: apc_sae.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ apc_sae.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconDelete }}"></i>
                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
            </a>
            <a href="{{ path('administration_apc_sae_edit', {id: apc_sae.id, semestre: semestre ? semestre.id : null}) }}"
               class="btn btn-warning btn-sm btn-float"
               title="{{ 'atitle.modifier'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconEdit }}"></i>
                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
            </a>

                <a href="{{ path('administration_matiere_index', {diplome:apc_sae.diplome.id}) }}"
                   class="btn btn-primary btn-float"
                   title="Retour aux programmes"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-arrow-left"></i>
                    <span class="sr-only">Retour aux programmes</span>
                </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_sae.show.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('apc/apc_sae/_detail.html.twig') }}
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_sae.previsionnel.heading'|trans }}</h4>
        <div class="card-body">
           Prévisionnel de la SAE
        </div>
    </div>
{% endblock %}
