<div class="row">
    <div class="col-sm-12">

        <strong>Suivi des absents en "temps réel" pour le {{ 'now'|date('d/m/Y') }}</strong>
        <table class="table">
            <thead>
            <tr>
                <th>Semestre</th>
                <th>Etudiant</th>
                <th>Heure</th>
                <th>Prof.</th>
                <th>Matière</th>
            </tr>
            </thead>
            <tbody>
            {% for absence in absences %}
                <tr>
                    <td>{{ absence.semestre.display }}</td>
                    <td>{{ absence.etudiant.display }}</td>
                    <td>{{ absence.dateHeure|format_time('short') }}</td>
                    <td>{{ absence.personnel.display }}</td>
                    <td>{{ matieres[absence.typeIdMatiere].display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="alert alert-info">
            <p>
                {{ absences|length }} absent(s) sur la demi-journée en cours. (avant 13h00 ou après 13h00)
            </p>
        </div>
    </div>
</div>

