{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.article.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.article.index.heading'|trans }}</h4>
        <div class="card-body">
            bandeau avec des radios pour le type
            1 clic bloqué, 2 clic bloqué mais pas obligatoire et 3 clic rien.
            Sauvegarde à la volée
            {{ include('composants/planning_creneaux.html.twig') }}
        </div>
    </div>
{% endblock %}

