{% if selectedTypeGroupe != null and selectedTypeGroupe.groupes|length >0 %}
    <div class="tabs">
        <ul class="nav nav-tabs">
            {% for groupe in selectedTypeGroupe.groupes %}
                <li class="nav-item">
                    <a class="nav-link {% if (event is defined and event.ordreGroupe == groupe.ordre) or (event is not
                        defined and loop.first) %}active{% endif %}" data-bs-toggle="tab"
                       href="#groupe_{{ groupe.id }}">{{ groupe.libelle }} ({{ groupe.etudiants|length }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">
        {% for groupe in selectedTypeGroupe.groupes %}
            <div class="tab-pane {% if (event is defined and event.ordreGroupe == groupe.ordre) or (event is not
                defined and loop.first) %}fade active
            show{% endif %}"
                 id="groupe_{{ groupe.id }}">
                {{ include('bloc_saisie_absence/_boutonAbsences.html.twig') }}
                <div class="row mt-2">
                    {% for etudiant in groupe.etudiants %}
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="card card-trombi etudiant" id="etu_{{ etudiant.id }}"
                                    {% if user_data.user.configuration['saisieDesPresents'] is defined and user_data.user
                                    .configuration['saisieDesPresents'] == true %}
                                        {{ stimulus_action('absences', 'etudiantPresent', 'click') }}
                                    {% elseif user_data.user.configuration['validationSaisieAbsence'] is defined and user_data.user
                                    .configuration['validationSaisieAbsence'] == true %}
                                        {{ stimulus_action('absences', 'etudiantPreAbsent', 'click') }}
                                    {% else %}
                                        {{ stimulus_action('absences', 'etudiantAbsent', 'click') }}
                                    {% endif %}
                            >
                                <div class="card-body text-center pt-1 pb-50">
                                    <img class="avatar avatar-xxl" src="{{ asset('upload/etudiants/'~etudiant.photoName)|imagine_filter('thumb') }}"

                                         alt="avatar de {{ etudiant.display }}">
                                    <h5 class="mt-3">
                                        {{ etudiant.displayPr }}
                                    </h5>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                Aucun étudiant dans ce groupe.
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ include('bloc_saisie_absence/_boutonAbsences.html.twig') }}

            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        Aucun groupe dans ce type de groupe.
    </div>
{% endif %}
