{% extends is_granted('ROLE_ADMINISTRATIF') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.document.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
<div class="header-action">
    <div class="header-action">
        {% if is_granted('ROLE_QUALITE') %}
            <div class="buttons">
                    <a href="{{ path('sa_qualite_documents_index', {source:source}) }}" class="btn btn-primary
                    btn-float"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.retour_liste'|trans }}"><i class="fas fa-arrow-left"></i></a>
            </div>
        {% else %}
            <div class="buttons">
                <a href="{{ path('administration_document_index', {source:source}) }}" class="btn btn-primary
                    btn-float"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="{{ 'atitle.retour_liste'|trans }}"><i class="fas fa-arrow-left"></i></a>
            </div>
        {% endif %}
    </div>
    {% endblock %}

    {% block content %}
        <div class="card">
            <h4 class="card-title">{{ 'adm.document.new.heading'|trans }}</h4>
            <div class="card-body">
                {{ include('composants/adm-form.html.twig', {button_add_other:true}) }}
            </div>
        </div>
    {% endblock %}
</div>
