{% extends 'base.html.twig' %}

{% block header %}
    {{ 'default.heading'|trans({'%departement%':user_data.departement.libelle})|raw }}
{% endblock %}

{% block content %}
    {#    {{ component('ShortEdtComponent') }} #}

    <div class="row">
        {% if actualites is defined and actualites|length > 0 %}
            <div class="col-sm-12 col-md-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'dernieres.actualites.departement.heading'|trans }}</h4>
                        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                            <div class="card-header-actions">
                                <a href="{{ path('administration_actualite_new') }}"
                                   class="btn btn-sm btn-primary"
                                   title="{{ 'atitle.deposer_nouvelle_actualite'|trans }}"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom">
                                    <i class="{{ iconAdd }}"></i>
                                    <span class="sr-only">{{ 'atitle.deposer_nouvelle_actualite'|trans }}</span>
                                </a>
                            </div>
                        {% endif %}
                    </header>
                    <div class="card-body">
                        <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                            {% for actualite in actualites %}
                                <li class="timeline-block">
                                    <div class="timeline-point timeline-point-primary">
                                        <span class="badge badge-ring bg-primary"></span>
                                    </div>
                                    <div class="timeline-content">
                                        <time datetime="{{ actualite.updated|date('Y-m-d') }}"
                                              class="text-complementaire">{{ actualite
                                            .updated|format_datetime('short', 'short') }}</time>
                                        <p><strong>{{ actualite.titre }}</strong> : {{ actualite.texte|raw }}
                                        </p>
                                    </div>
                                </li>
                            {% else %}
                                <li class="alert alert-info">{{ 'pas.encore.actualite'|trans }}</li>
                            {% endfor %}
                        </ol>
                        <a href="{{ path('actualite_liste') }}"
                           class="pull-right">{{ 'voir.anciennes.actualites'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if dates is defined and dates|length > 0 %}
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'prochains.evenements.heading'|trans }}</h4>
                        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                            <div class="card-header-actions">
                                <a href="{{ path('administration_date_new') }}" class="btn btn-sm btn-primary"
                                   title="{{ 'atitle.deposer_nouvel_evenement'|trans }}" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"><i
                                            class="{{ iconAdd }}"></i><span
                                            class="sr-only">{{ 'atitle.deposer_nouvel_evenement'|trans }}</span></a>
                            </div>
                        {% endif %}
                    </header>
                    <div class="card-body">
                        <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                            {% for date in dates %}
                                <li class="timeline-block">
                                    <div class="timeline-point timeline-point-primary">
                                        <span class="badge badge-ring {{ date.couleurBadge }}"></span>
                                    </div>
                                    <div class="timeline-content">
                                        <time datetime="{{ date.dateDebut|date('Y-m-d') }}"
                                              class="text-complementaire">{{ date
                                            .dateDebut|format_date('short') }} {{ date.heureDebut|format_time('short') }}</time>
                                        <p>{{ date.libelle }} : {{ date.texte }}</p>
                                    </div>
                                </li>
                            {% else %}
                                <li class="alert alert-info">{{ 'pas.encore.date'|trans }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-sm-12">
            {% if user_data.departement.optEdt == true %}
                {% if is_granted('ROLE_PERMANENT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\EdtController::dashboardPersonnel'
                    )) }}
                {% elseif is_granted('ROLE_ETUDIANT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\EdtController::dashboardEtudiant'
                    )) }}
                {% else %}
                    erreur
                {% endif %}
            {% endif %}
        </div>

        {% if is_granted('ROLE_PERMANENT') %}
            {#            {{ component('personnel_mes_cours_old',{ semestre:  user_data.semestresActifs[0] }) }} #}
            {{ component('personnel_mes_cours', {
                user: app.user,
                departement: user_data.departement,
            }) }}
        {% elseif is_granted('ROLE_ETUDIANT') %}
            <div class="col-12">
                {{ render_esi(controller(
                    'App\\Controller\\BlocNotesAbsencesController::etudiantAbsences'
                )) }}
            </div>

            <div class="col-12">
                {{ render_esi(controller(
                    'App\\Controller\\BlocNotesAbsencesController::etudiantNotes', {etudiant: user_data.user.id}
                )) }}
            </div>

            {{ render_esi(controller(
                'App\\Controller\\BlocNotesAbsencesController::mccSemestre'
            )) }}
        {% endif %}

        {% if is_granted('ROLE_PERMANENT') %}
            {{ component('listings_etudiants') }}
        {% endif %}
    </div>
{% endblock %}


