{% extends 'base.html.twig' %}

{% block header %}
    Intranet du département <strong>{{ user_data.formation.libelle }}</strong>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <h4 class="card-title">{{ 'dernieres.actualites.departement.heading'|trans }}</h4>
                <div class="card-body">
                    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                        {% for actualite in actualites %}
                            <li class="timeline-block">
                                <div class="timeline-point timeline-point-primary">
                                    <span class="badge badge-ring badge-primary"></span>{# todo: varier les couleurs#}
                                </div>
                                <div class="timeline-content">
                                    <time datetime="2018">{{ actualite.updated|localizeddate('short', 'short', app.request.getLocale()) }}</time>
                                    <p>{{ actualite.titre }} : {{ actualite.texte }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h4 class="card-title">{{ 'prochains.evenements.heading'|trans }}</h4>
                <div class="card-body">
                    {% for date in dates %}

                    {% endfor %}
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_PERMANENT') %}
            {{ render(controller(
                'App\\Controller\\BlocNotesAbsencesController::personnel'
            )) }}
        {% elseif is_granted('ROLE_ETUDIANT') %}
            {{ render(controller(
                'App\\Controller\\BlocNotesAbsencesController::etudiant'
            )) }}

            {# todo: MCC #}
        {% endif %}
    </div>
{% endblock %}