{% extends 'base.html.twig' %}

{% block header %}
    {{ 'default.heading'|trans({'%departement%':user_data.departement.libelle})|raw }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'dernieres.actualites.departement.heading'|trans }}</h4>
                    {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                        <div class="card-header-actions">
                            <a href="{{ path('administration_actualite_new') }}" class="btn btn-sm btn-primary"
                               title="{{ 'atitle.deposer_nouvelle_actualite'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                                        class="{{ iconAdd }}"></i><span class="sr-only">{{ 'atitle.deposer_nouvelle_actualite'|trans }}</span></a>
                        </div>
                    {% endif %}
                </header>
                <div class="card-body">
                    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                        {% for actualite in actualites %}
                            <li class="timeline-block">
                                <div class="timeline-point timeline-point-primary">
                                    <span class="badge badge-ring bg-primary"></span>
                                </div>
                                <div class="timeline-content">
                                    <time datetime="{{ actualite.updated|date('Y-m-d') }}" class="text-complementaire">{{ actualite
                                        .updated|format_datetime('short', 'short') }}</time>
                                    <p><strong>{{ actualite.titre }}</strong> : {{ actualite.texte|raw }}
                                    </p>
                                </div>
                            </li>
                        {% else %}
                            <li class="alert alert-info">{{ 'pas.encore.actualite'|trans }}</li>
                        {% endfor %}
                    </ol>
                    <a href="{{ path('actualite_liste') }}"
                       class="pull-right">{{ 'voir.anciennes.actualites'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'prochains.evenements.heading'|trans }}</h4>
                    {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
                        <div class="card-header-actions" style="">
                            <a href="{{ path('administration_date_new') }}" class="btn btn-sm btn-primary"
                               title="{{ 'atitle.deposer_nouvel_evenement'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i
                                        class="{{ iconAdd }}"></i><span class="sr-only">{{ 'atitle.deposer_nouvel_evenement'|trans }}</span></a>
                        </div>
                    {% endif %}
                </header>
                <div class="card-body">
                    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right text-left w-100">
                        {% for date in dates %}
                            <li class="timeline-block">
                                <div class="timeline-point timeline-point-primary">
                                    <span class="badge badge-ring {{ date.couleurBadge }}"></span>
                                </div>
                                <div class="timeline-content">
                                    <time datetime="{{ date.dateDebut|date('Y-m-d') }}" class="text-complementaire">{{ date
                                        .dateDebut|format_date('short') }} {{ date.heureDebut|format_time('short') }}</time>
                                    <p>{{ date.libelle }} : {{ date.texte }}</p>
                                </div>
                            </li>
                        {% else %}
                            <li class="alert alert-info">{{ 'pas.encore.date'|trans }}</li>
                        {% endfor %}
                    </ol>
                    <a href="{{ path('planning_index', {annee: user_data.anneeUniversitaire}) }}"
                       class="pull-right">{{ 'voir.planning'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            {% if user_data.departement.optEdt == true %}
                {% if is_granted('ROLE_PERMANENT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\EdtController::dashboardPersonnel'
                    )) }}
                {% elseif is_granted('ROLE_ETUDIANT') %}
                    {{ render_esi(controller(
                        'App\\Controller\\EdtController::dashboardEtudiant'
                    )) }}
                {% else %}
                    erreur
                {% endif %}
            {% endif %}
        </div>

        {% if is_granted('ROLE_PERMANENT') %}
            {{ component('personnel_mes_cours',{ semestre:  user_data.semestresActifs[0] }) }}
        {% elseif is_granted('ROLE_ETUDIANT') %}
            <div class="col-12">
                {{ render_esi(controller(
                    'App\\Controller\\BlocNotesAbsencesController::etudiantAbsences'
                )) }}
            </div>

            <div class="col-12">
                {{ render_esi(controller(
                    'App\\Controller\\BlocNotesAbsencesController::etudiantNotes', {etudiant: user_data.user.id}
                )) }}
            </div>

            {{ render_esi(controller(
                'App\\Controller\\BlocNotesAbsencesController::mccSemestre'
            )) }}
        {% endif %}

        {% if is_granted('ROLE_PERMANENT') %}
            {{ component('listings_etudiants') }}
        {% endif %}

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'liens.utiles.heading'|trans }}</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="{{ settings('SITE_UNIVERSITE') }}" target="_blank"><img
                                        src="{{ asset('upload/logo/'~ settings('LOGO_UNIVERSITE')) }}"
                                        alt="{{ settings('NOM_UNIVERSITE') }}" class="img-rounded"
                                        width="90px"/><br/>
                                {{ settings('NOM_UNIVERSITE') }}</a>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="https://{{ settings('SITE_IUT') }}"
                               target="_blank"><img
                                        src="{{ asset('upload/logo/' ~ settings('LOGO_IUT')) }}"
                                        alt="{{ settings('NOM_IUT') }}" class="img-rounded"
                                        width="90px"/><br/>
                                {{ settings('NOM_IUT') }}</a>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="{{ settings('SITE_ENT') }}" target="_blank"><img
                                        src="{{ asset('upload/logo/' ~ settings('LOGO_IUT')) }}"
                                        alt="Bureau Virtuel / ENT" class="img-rounded" width="90px"/><br/>
                                Bureau Virtuel / ENT
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="{{ user_data.departement.siteWeb }}" target="_blank"><img
                                        src="{{ asset('upload/logo/'~user_data.departement.logoName) }}"
                                        alt="{{ user_data.departement.libelle }}" class="img-rounded" width="90px"/><br/>
                                {{ user_data.departement.libelle }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                {# todo: notion d'organigramme ? #}
                <h4 class="card-title">{{ 'contacts.heading'|trans }}</h4>
                <div class="card-body">
                    {% for diplome in user_data.diplomes|filter(diplome => diplome.actif == true) %}
                        <h5>{{ diplome.typeDiplome.sigle }} {{ diplome.libelle }} ({{ diplome.sigle }})</h5>
                        <dl class="row">
                            {% if diplome.responsableDiplome != null %}
                                <dt class="col-sm-4">Responsable :</dt>
                                <dd class="col-sm-6"><a
                                            href="{{ path('user_profil', {slug: diplome.responsableDiplome.slug,
                                                type: 'personnel'}) }}"
                                            target="_blank">{{ diplome.responsableDiplome.displayPr }}</a></dd>
                            {% endif %}
                            {% if diplome.assistantDiplome != null %}
                                <dt class="col-sm-4">Assistant(e) :</dt>
                                <dd class="col-sm-6"><a
                                            href="{{ path('user_profil', {slug: diplome.assistantDiplome.slug, type:
                                                'personnel'}) }}"
                                            target="_blank">{{ diplome.assistantDiplome.displayPr }}</a></dd>
                            {% endif %}
                        </dl>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


