{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">
            <strong>{{ 'adm.edt.actions'|trans }}</strong>
        </h4>
        <div class="card-body">
            <form action="{{ path('administration_edt_export_script_ajax') }}" method="POST">
                <div class="row">
                    <div class="col-3">
                        <label for="semestre">Semestre</label>
                        <select name="semestre" id="semestre">
                            <option>Choisir</option>
                            {% for semestre in semestres %}
                                <option value="{{ semestre.id }}">{{ semestre.display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="semaine">Semaine MMI</label>
                        <select name="semaine" id="semaine">
                            <option>Choisir</option>
                            {% for semaine in 1..52 %}
                                <option value="{{ semaine }}">{{ semaine }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-success btn-block" type="submit">Générer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

