{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.export.voir.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="header-action">
            <div class="buttons">
                <a href="{{ path('administration_edt_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" title="{{ 'atitle.retour_edt'|trans }}"><i class="fas fa-arrow-left"></i></a>
                <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
                   data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('adm--edt--export', {

    }) }}>
        <div class="card">
            <h4 class="card-title">Liste des <strong>fichiers</strong></h4>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom Prénom</th>
                        <th>Fichier</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personnel in user_data.personnels %}
                        <tr>
                            <td>
                                <input type="checkbox" {% if docs[personnel.id] is not defined %}disabled{% endif %}>
                            </td>
                            <td>{{ personnel.display }}</td>
                            <td id="pdf_{{ personnel.id }}">
                                {% if docs[personnel.id] is defined %}
                                    <div class="d-grid">
                                        <a href="{{ path('administration_edt_download_one', {
                                            personnel: personnel.id
                                        }) }}"
                                       class="btn btn-info d-block"
                                       target="_blank"><i class="fas fa-download"></i></a>
                                    </div>
                                {% else %}
                                    Pas de fichier
                                {% endif %}
                            </td>
                            <td>
                                <button
                                        {{ stimulus_action('adm--edt--export', 'generatePdf', 'click', {
                                            url: path('administration_edt_export_one', {personnel: personnel.id, source:'intranet', _format:'pdf'}),
                                            profId: personnel.id
                                        }) }}
                                   class="btn btn-warning genereOne"
                                   title="Générer/Mettre à jour le fichier">
                                    <i class="fas fa-sync"></i>
                                </button>
                                {% if docs[personnel.id] is defined %}
                                    <button
                                            {{ stimulus_action('adm--edt--export', 'sendEdt', 'click', {
                                                url: path('administration_edt_send_one', {personnel: personnel.id}),
                                            }) }}
                                            class="btn btn-success"
                                            title="Envoyer le PDF">
                                        <i class="fa fa-envelope"></i>
                                    </button>
                                {% else %}
                                    <span id="mail_{{ personnel.id }}"></span>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="card">
            <h4 class="card-title"><strong>Envoyer</strong> par mail les PDF</h4>
            <div class="card-body">
                <div class="form-group">
                    <label for="titre" class="form-label required">Sujet *</label>
                    <input type="text" id="titre" name="titre" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <label for="message" class="form-label required">Message *</label><br>
                    Bonjour XXX,
                    <textarea id="message" rows="15" name="message" required="required" class="form-control"></textarea>
                    Cordialement,<br/>
                    <br/>
                    {{ user_data.user.signature }}
                </div>
                <div class="form-actions d-grid">
                    <input type="submit" class="btn d-block btn-primary" value="Envoyer les mails">
                </div>

            </div>
        </div>
    </div>
{% endblock %}
