{% extends 'base.html.twig' %}

{% block header %}
    Sous <strong>commission live du semestre {{ semestre.libelle }}</strong>
{% endblock %}


{#  todo:

Pour l'APC on a juste besoin du semestre impair si semestre pair. Sinon pas de précédent.
Ajouter une partie synthèse année avec les UE, les décison/moyenne des deux semestres et la décision de l'année pour
chaque UE, et pour l'année au global.
#}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_sous_commission_live'}) }}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_sous_commission_exporter', {semestre:semestre.id}) }}" class="btn btn-info
            btn-float btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.exporter'|trans }}"><i
                        class="fas fa-download"></i></a>
            <a href="{{ path('administration_sous_commission_travail', {semestre:semestre.id}) }}" class="btn btn-info
            btn-float btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.basculer.sous_comm_travail'|trans }}"><i
                        class="fas fa-pencil-ruler"></i></a>
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4><strong>Synthèse</strong> | {{ semestre.display }}</h4>
        </div>
        <div class="card-body">
            <br>
            {{ render(controller('App\\Controller\\administration\\NoteController::analyse', {semestre:semestre.id})) }}
            <br>
            {% if semestre.optPenaliteAbsence == true %}
                <twig:Alert type="info">
                    Les moyennes affichées sont les moyennes avec les pénalités pour les absences. Survolez une note
                    pour
                    voir la moyenne sans ces pénalités.
                </twig:Alert>
            {% endif %}

            <div class="table-responsive" style="height: 500px; overflow-y: auto">
                <button class="btn btn-primary" id="masquerRessourcesSaes">Afficher/Masquer les ressources et
                    SAE
                </button>
                <table class="table table-striped table-hover table-bordered table-fixheader"
                       style="font-size:10px;">
                    <thead>
                    <tr style="position: sticky; top: 0px; background-color:var(--colorIUTComplementaire); color:var(--policeLight)">
                        <th colspan="4" rowspan="2" style="text-align: right" scope="col">Ressources/SAÉ</th>
                        {% for matiere in sousCommission.matieres|filter(matiere => matiere.nbNotes!=0 and matiere
                        .suspendu == false) %}
                            <th scope="col"
                                class="matiere">
                                <abbr title="{{ matiere.libelle }}">
                                    {{ matiere.codeMatiere }}</abbr></th>
                        {% endfor %}
                        <th colspan="{{ (sousCommission.ues|length*2) + 4 }}" class="text-center" scope="col">
                            Semestre {{ semestre.libelle }}</th>
                        {# decision semestre #}
                        {% if semestre.isPair %}
                            <!-- Bilan de l'année   -->
                            <th colspan="{{ (sousCommission.ues|length*6) + 4 }}" class="text-center" scope="col">
                                Année {{ semestre.annee.ordre }}</th>
                        {% endif %}
                        {#                        <th scope="col" rowspan="3">Etudiant</th> #}
                    </tr>

                    <tr style="position: sticky; top: 20px;
                    background-color:var(--colorIUTComplementaire);
                    color:var(--policeLight)">
                        {% for matiere in sousCommission.matieres|filter(matiere => matiere.nbNotes!=0 and matiere
                        .suspendu == false) %}
                            <th class="matiere" rowspan="2" scope="col">
                                {% for comp in matiere.tab_ues %}
                                    <span class="carre-{{ comp.ue_couleur }}">&nbsp;</span>
                                {% endfor %}
                            </th>
                        {% endfor %}
                        {% for u in sousCommission.ues %}
                            <th colspan="2" class="text-center" scope="col">
                                <span class="badge bg-{{ u.apcCompetence.couleur }}">
                                    <abbr title="{{ u.apcCompetence.nomCourt }}">UE {{ u.numeroue }}</abbr>
                                    </span>
                            </th>
                        {% endfor %}
                        <th rowspan="2" scope="col">Bonif</th>
                        <th rowspan="2" scope="col">Décis.</th>
                        <th rowspan="2" scope="col">Abs.</th>
                        <th rowspan="2" scope="col">Etudiant</th>
                        {% if semestre.isPair %}
                            {% for u in sousCommission.ues %}
                                <th colspan="6" class="text-center" scope="col">
                                <span class="badge bg-{{ u.apcCompetence.couleur }}">
                                    <abbr title="{{ u.apcCompetence.nomCourt }}">UE {{ u.numeroue }}</abbr>
                                    </span>
                                </th>
                            {% endfor %}
                            <th colspan="4">B.U.T {{ semestre.annee.ordre }}</th>
                        {% endif %}
                    </tr>
                    <tr style="position: sticky; top: 40px;
                    background-color:var(--colorIUTComplementaire);
                    color:var(--policeLight)">
                        <th scope="col">#</th>
                        <th scope="col">Etudiant</th>
                        <th scope="col">Bac</th>
                        <th scope="col">Coeff.</th>
                        {% for u in sousCommission.ues %}
                            <th scope="col">Moy.</th>
                            <th scope="col">Décis.</th>
                        {% endfor %}

                        {% if semestre.isPair %}
                            {% for u in sousCommission.ues %}
                                <th class="text-center" scope="col" colspan="2">S1</th>
                                <th class="text-center" scope="col" colspan="2">S2</th>
                                <th class="text-center" scope="col" colspan="2">Année</th>
                            {% endfor %}

                            <th class="text-center" scope="col">S1</th>
                            <th class="text-center" scope="col">S2</th>
                            <th class="text-center" scope="col">Année</th>
                            <th class="text-center" scope="col">Prop.</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for etudiant in sousCommission.etudiants %}
                        {% set myEtudiant = sousCommission.sousCommissionEtudiant(etudiant.id) %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <th><a href="{{ path('user_profil',{type:'etudiant', slug:etudiant.slug}) }}"
                                   target="_blank" title="Profil de l'étudiant"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom">{{ etudiant.display }}</a></th>
                            <td>{{ etudiant.bac ? etudiant.bac.libelle : 'N.C.' }}</td>
                            <td>{{ etudiant.numetudiant }}</td>

                            {# matieres #}
                            {% for matiere in sousCommission.matieres|filter(matiere => matiere.nbNotes!=0 and matiere.suspendu == false) %}
                                {% if matiere.bonification == true %}
                                    {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].moyenne != '-0.01'
                                        and myEtudiant.moyenneMatieres[matiere.typeIdMatiere].moyenne > 0 %}
                                        <td class="matiere">
                                            {{ myEtudiant.moyenneMatieres[matiere.typeIdMatiere].moyenne|styleMatiere }}
                                        </td>
                                    {% else %}
                                        <td class="matiere">
                                            <span class="badge bg-primary">No PAC</span>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td class="matiere">
                                    {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].matiereAAnnuler == true %}
                                        <span class="badge bg-purple">
                                                    Abs. Just.
                                                </span>
                                    {% else %}
                                        {% if semestre.optPenaliteAbsence == true %}

                                            {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].optionFaite == true %}
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   title="{{ matiere.codeMatiere }}, sans pénalité : {{ myEtudiant
                                                   .moyenneMatieres[matiere.typeIdMatiere].moyenne|number_format(2) }}">
                                                    {{ myEtudiant.moyenneMatieres[matiere.typeIdMatiere]
                                                    .moyennePenalisee|styleMatiere }}
                                                </a>
                                            {% else %}
                                                <span class="badge bg-gray">
                                                    N.C.
                                                </span>
                                            {% endif %}

                                        {% else %}

                                            {% if myEtudiant.moyenneMatieres[matiere.typeIdMatiere].optionFaite == false %}
                                                <span class="badge bg-gray">N.C.</span>
                                            {% else %}
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                   title="{{ matiere.codeMatiere }}">{{ myEtudiant
                                                    .moyenneMatieres[matiere.typeIdMatiere].moyenne|styleMatiere }}</a>
                                            {% endif %}

                                        {% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                            {# decision semestre #}

                            {% for u in sousCommission.ues %}

                                {% if semestre.optPenaliteAbsence == true %}
                                    <td>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                           title="sans pénalité : {{ myEtudiant.moyenneUes[u.id].moyennePac|number_format(3) }}">
                                            {{ myEtudiant.moyenneUes[u.id].moyennePacPenalisee|styleMoyenne }}
                                        </a>
                                    </td>
                                    <td>{{ myEtudiant.moyenneUes[u.id].decisionPenalisee|styleDecisionUe }}</td>
                                {% else %}
                                    <td>
                                        {{ myEtudiant.moyenneUes[u.id].moyennePac|styleMoyenne }}
                                    </td>
                                    <td>{{ myEtudiant.moyenneUes[u.id].decision|styleDecisionUe }}</td>
                                {% endif %}
                            {% endfor %}

                            <td>{{ myEtudiant.bonification|styleBonification }}</td>
                            <td>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="{{ etudiant.display }}">
                                    {{ myEtudiant.decision|styleDecisionSemestre }}
                                </a>
                            </td>

                            <td>{{ myEtudiant.nbAbsences|styleAbsences }}</td>
                            <td><a href="{{ path('user_profil',{type:'etudiant', slug:etudiant.slug}) }}"
                                   target="_blank" title="Profil de l'étudiant"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom">{{ etudiant.display }}</a></td>

                            {# decisions passées #}
                            {% if semestre.isPair %}
                                {% set sem = sousCommission.semestrePrecedent %}
                                {# partie année #}
                                {% for u in sousCommission.ues %}
                                    {% if myEtudiant.scolarite[sem.ordreLmd] is defined %}
                                        <td>
                                            {% if myEtudiant.scolarite[sem.ordreLmd].moyenneUes[u.numeroUe] is
                                                defined %}
                                                {{ myEtudiant.scolarite[sem.ordreLmd].moyenneUes[u.numeroUe]
                                                .moyenne|styleMoyenne }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ myEtudiant.scolarite[sem.ordreLmd].moyenneUes[u.numeroUe].decision|styleDecisionUe }}
                                        </td>
                                    {% else %}
                                        <td> -</td>
                                    {% endif %}
                                    {% if semestre.optPenaliteAbsence == true %}
                                        <td>
                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="sans pénalité : {{ myEtudiant.moyenneUes[u.id].moyennePac|number_format(3) }}">
                                                {{ myEtudiant.moyenneUes[u.id].moyennePacPenalisee|styleMoyenne }}
                                            </a>
                                        </td>
                                        <td>{{ myEtudiant.moyenneUes[u.id].decisionPenalisee|styleDecisionUe }}</td>
                                    {% else %}
                                        <td>
                                            {{ myEtudiant.moyenneUes[u.id].moyennePac|styleMoyenne }}
                                        </td>
                                        <td>{{ myEtudiant.moyenneUes[u.id].decision|styleDecisionUe }}</td>
                                    {% endif %}
                                    {% if myEtudiant.moyenneAnneeUes[u.numeroUe] != null %}
                                        <td>{{ myEtudiant.moyenneAnneeUes[u.numeroUe].moyenneAnnee|styleMoyenne }}</td>
                                        <td>{{ myEtudiant.moyenneAnneeUes[u.numeroUe].decisionAnnee|styleDecisionUe }}</td>
                                    {% else %}
                                        <td>Sans info ?</td>
                                        <td>Sans info ?</td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% if myEtudiant.scolarite[sem.ordreLmd] is defined %}
                                        {{ myEtudiant.scolarite[sem.ordreLmd].decision|styleDecisionSemestre }}
                                    {% else %}
                                        Sans info ?
                                    {% endif %}
                                    {# todo: est-ce que la décision peu évoluer  #}
                                </td>

                                <td>{{ myEtudiant.decision|styleDecisionSemestre }}</td>
                                <td>{{ myEtudiant.decisionAnnee|styleDecisionSemestre }}</td>
                                <td>{{ myEtudiant.propositionAnnee }}</td>
                                <th><a href="{{ path('user_profil',{type:'etudiant', slug:etudiant.slug}) }}"
                                       target="_blank" title="Profil de l'étudiant"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom">{{ etudiant.display }}</a>
                                </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {# <div class="card"> #}
    {# <div class="card-header"> #}
    {# <h4><strong>Statistiques</strong> | {{ semestre.display }}</h4> #}
    {# </div> #}
    {# <div class="card-body"> #}
    {# <table class="table table-striped table-bordered"> #}
    {# <thead> #}
    {# <tr> #}
    {# <th>Bac</th> #}
    {# <th colspan="2">Validé</th> #}
    {# <th colspan="2">Non validé</th> #}
    {# <th colspan="2">Réorientation</th> #}
    {# <th colspan="2">Redoublement</th> #}
    {# </tr> #}
    {# </thead> #}
    {# <tbody> #}
    {# <tr> #}
    {# {% set effectif = sousCommission.etudiants|length %} #}
    {# <th>Global</th> #}
    {# <td>{{ stats['global'].nbValide }}</td> #}
    {# <td>{{ stats['global'].pourcentageValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats['global'].nbNonvalide }}</td> #}
    {# <td>{{ stats['global'].pourcentageNonValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats['global'].nbReorientation }}</td> #}
    {# <td>{{ stats['global'].pourcentageReorientation(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats['global'].nbRedoublement }}</td> #}
    {# <td>{{ stats['global'].pourcentageRedoublement(effectif)|number_format(2) }}%</td> #}

    {# </tr> #}
    {# {% for bac in bacs %} #}
    {# <tr> #}
    {# <th>{{ bac.libelle }}</th> #}
    {# <td>{{ stats[bac.id].nbValide }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats[bac.id].nbNonvalide }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageNonValide(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats[bac.id].nbReorientation }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageReorientation(effectif)|number_format(2) }}%</td> #}
    {# <td>{{ stats[bac.id].nbRedoublement }}</td> #}
    {# <td>{{ stats[bac.id].pourcentageRedoublement(effectif)|number_format(2) }}%</td> #}
    {# </tr> #}
    {# {% endfor %} #}
    {# </tbody> #}
    {# </table> #}
    {# </div> #}
    {# </div> #}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.notes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.notes') }}
{% endblock %}
