{% extends 'base.html.twig' %}

{% block header %}
    Sous <strong>commission du semestre {{ semestre.libelle }}</strong>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestres %}
            <a href="{{ path('administration_sous_comission_travail', {semestre:sem.id}) }}"
               class="btn btn-square btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-provide="tooltip"
               data-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="ti-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4><strong>Synthèse</strong> | {{ semestre.display }}</h4>
            Export / grand jury / diffusion / edition
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                <strong>Information </strong>. Dans cette partie vous avez le résultat de la sous
                                             commission {{ semestre.display }}. Les données sont sauvegardées et
                                             peuvent être modifiée en fonction des décisions précises. A la fin
                                             de la sous-commission il est possible de publier où non les
                                             résultats aux étudiants. Un ensemble de fonctionnalités sont
                                             disponibles à l'issue de cette sous-commission (courriers, relevé
                                             de note, ...).
            </div>
            <br/>
            <div class="alert alert-danger">
                <strong>Attention</strong> Cette fonctionnalité est relativement gourmande en ressource, il est
                                           préférable de l'utiliser à bon escient et non pour avoir des
                                           simulations de l'année. Pour cela aller dans la rubrique application
                                           > Sous-Commission
            </div>


            {#        {% if sc.publier == false %}#}
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ path('administration_sous_comission_purger', {semestre:semestre.id}) }}"
                       class="btn btn-block btn-danger">Nettoyer les notes (remplace les -0.01 par des 0)
                        <strong>Attention, opération irréversible !</strong></a>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <br>
            <a href="{{ path('administration_sous_comission_recalculer', {semestre:semestre.id}) }}"
               class="btn btn-block btn-warning">Recalculer la sous-commission (effectue un nouveau calcul
                                                 des moyennes (semestre et UE). Modifie les décisions en
                                                 fonction des résultats.</a>
            <a href="{{ path('administration_sous_comission_publier', {semestre:semestre.id}) }}"
               class="btn btn-block btn-success">Publier les résultats aux étudiants (une fois publiée, vous
                                                 pourrez modifier le parcours sur chaque profil étudiant, la
                                                 sous-commission ne sera plus active)</a>


            {#        {% endif %}#}
            <form action="{{ path('administration_sous_comission_exporter', {semestre:semestre.id}) }}"
                  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2">
                        Fichier type
                    </label>
                    <div class="col-sm-10">
                        <input type="file" name="fichier" class="form-control"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-success">Export Apogée (va générer le fichier txt
                                                                        pour la scolarité)
                </button>
            </form>
            <br/>
            <a href="{{ path('administration_sous_comission_exporter_grand_jury', {semestre:semestre.id}) }}"
               class="btn btn-block btn-success">Sauvegarde Excel / Fichier de Grand Jury</a>
        </div>
    </div>
{% endblock %}


