<div class="card">
    <div class="card-header">
        <h4>Liste des étudiants pour la saisie de la scolarité du semestre {{ semestre.display }} pour
            l'année {{ anneeUniversitaire.displayAnneeUniversitaire }}</h4>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <input type="hidden" name="semestre" value="{{ semestre.id }}">
            <input type="hidden" name="anneeUniversitaire" value="{{ anneeUniversitaire.id }}">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Num étudiant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ordre</th>
                    <th>Moyenne semestre</th>
                    <th>Nb Absences</th>
                    <th>Décision</th>
                    <th>Proposition</th>
                    {% for ue in semestre.ues %}
                        <th>{{ ue.numeroUe }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for etudiant in semestre.etudiants %}
                    <tr>
                        <td>{{ etudiant.numEtudiant }}</td>
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>
                            <label for="ordre_{{ etudiant.numEtudiant }}" class="sr-only">
                                Ordre de la scolarité
                            </label>
                            <input type="text"
                                   class="form-control"
                                   name="ordre_{{ etudiant.numEtudiant }}"
                                   id="ordre_{{ etudiant.numEtudiant }}"
                                   placeholder="Ordre de la scolarité"
                                   value="{{ semestre.ordreLmd }}">
                        </td>
                        <td>
                            <label for="moyenne_{{ etudiant.numEtudiant }}" class="sr-only">
                                Moyenne du semestre
                            </label>
                            <input type="text" class="form-control" name="moyenne_{{ etudiant.numEtudiant }}"
                                   id="moyenne_{{ etudiant.numEtudiant }}"
                                   placeholder="Moyenne du semestre">
                        </td>
                        <td>
                            <label for="nbabsence_{{ etudiant.numEtudiant }}" class="sr-only">
                                Nb Absences
                            </label>
                            <input type="text" class="form-control"
                                   name="nbabsence_{{ etudiant.numEtudiant }}"
                                   id="nbabsence_{{ etudiant.numEtudiant }}"
                                   placeholder="Nb Absences">
                        </td>
                        <td>
                            <label for="s_{{ etudiant.numEtudiant }}" class="sr-only">??</label>
                            <select id="s_{{ etudiant.numEtudiant }}">
                                <option></option>
                            </select>
                        </td>
                        <td>
                            <label for="nbabsence_{{ etudiant.numEtudiant }}" class="sr-only">Nb Absences</label>
                            <input type="text" class="form-control"
                                   name="nbabsence_{{ etudiant.numEtudiant }}"
                                   id="nbabsence_{{ etudiant.numEtudiant }}"
                                   placeholder="Nb Absences"></td>
                        {% for ue in semestre.ues %}
                            <td>
                                <label for="ue_{{ etudiant.numEtudiant }}__{{ ue.id }}" class="sr-only">
                                    Moyenne UE {{ ue.numeroUe }}</label>
                                <input type="text" class="form-control"
                                       name="ue_{{ etudiant.numEtudiant }}__{{ ue.id }}"
                                       id="ue_{{ etudiant.numEtudiant }}__{{ ue.id }}"
                                       placeholder="Moyenne UE {{ ue.numeroUe }}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-grid">
            <button type="submit" class="btn btn-success d-block">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
