{% extends 'base.html.twig' %}

{% block header %}
    {{ 'justifier.absences.heading'|trans({'%semestre%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_absences_semestre_justifier'}) }}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i><span
                        class="sr-only">{{ 'atitle.retour_semestres'|trans }}</span></a>
            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# todo: en live component #}
    <div class="card">
        <h4 class="card-title">{{ 'selectionnez.un.etudiant'|trans }}</h4>
        <div class="card-body">
            <div class="form-group">
                <label for="justifier_etudiant"
                       class="form-label required">{{ 'choisir.letudiant'|trans }}</label>
                <select id="justifier_etudiant" name="justifier_etudiant" required="required"
                        {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                        class="form-select">
                    <option value="">{{ 'choisir.letudiant'|trans }}</option>
                    {% for etudiant in semestre.etudiants %}
                        <option value="{{ etudiant.id }}">{{ etudiant.display }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="card" id="listeJustifie">
        <h4 class="card-title" id="titre_justifie">{{ 'selectionnez.un.etudiant'|trans }}</h4>
        <div class="card-body">
            <twig:Alert type="info">Choisir un étudiant</twig:Alert>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.absences') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.absences') }}
{% endblock %}
