{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.bac.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'bac', id: bac.id}) }}

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.bac.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ bac.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ bac.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle_long'|trans }}</th>
                    <td>{{ bac.libelleLong }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ bac.created ? bac.created|localizeddate('long', 'short', app.request.getLocale()) : ''
                        }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ bac.updated ? bac.updated|localizeddate('long', 'short', app.request.getLocale()) : ''
                        }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
