{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.annee.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('composants/sadm-buttons-show.html.twig', {elt: 'annee', id: annee.id, retour: {path: 'sa_structure_index', titre: 'atitle.retour_structure'|trans, params:{departement:annee.diplome.id}}}) }}
        {% else %}
            {{ include('composants/adm-buttons-show.html.twig', {elt: 'structure_annee', id: annee.id, retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.structure.annee.show.heading'|trans }}</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <td>{{ annee.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.libelle'|trans }}</th>
                <td>{{ annee.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.libelle_long'|trans }}</th>
                <td>{{ annee.libelleLong }}</td>
            </tr>
            <tr>
              <th>{{ 'table.diplome'|trans }}</th>
              <td>{{ annee.diplome ? annee.diplome.libelle : 'non.defini'|trans }}</td>
            </tr>
            <tr>
              <th>{{ 'table.ordre'|trans }}</th>
              <td>{{ annee.ordre }}</td>
            </tr>
            <tr>
              <th>{{ 'table.created'|trans }}</th>
              <td>{{ annee.created ? annee.created|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
              <th>{{ 'table.updated'|trans }}</th>
              <td>{{ annee.updated ? annee.updated|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
              <th>{{ 'table.code_apogee'|trans }}</th>
              <td>{{ annee.codeEtape }}</td>
            </tr>
            <tr>
              <th>{{ 'table.code_version'|trans }}</th>
              <td>{{ annee.codeVersion }}</td>
            </tr>
            <tr>
              <th>{{ 'table.code_departement'|trans }}</th>
              <td>{{ annee.codeDepartement }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_alternance'|trans }}</th>
                <td>{{ annee.optAlternance ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.couleur_cm'|trans }}</th>
                <td><span class="carre"
                          style="background-color: {{ annee.couleurCm }}">&nbsp;</span> {{ annee.couleurCm }}</td>
            </tr>
            <tr>
                <th>{{ 'table.couleur_td'|trans }}</th>
                <td><span class="carre"
                          style="background-color: {{ annee.couleurTd }}">&nbsp;</span> {{ annee.couleurTd }}</td>
            </tr>
            <tr>
                <th>{{ 'table.couleur_tp'|trans }}</th>
                <td><span class="carre"
                          style="background-color: {{ annee.couleurTp }}">&nbsp;</span> {{ annee.couleurTp }}</td>
            </tr>
            <tr>
                <th>{{ 'table.couleur_texte'|trans }}</th>
                <td><span class="carre"
                          style="background-color: {{ annee.couleurTexte }}">&nbsp;</span> {{ annee.couleurTexte }}</td>
            </tr>

        </tbody>
    </table>
    </div>
</div>
{% endblock %}
