{% extends 'base.html.twig' %}

{% block header %}
    {{ 'applications.heading'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        {% if is_granted('ROLE_PERMANENT') %}
            <twig:BlocApplication
                    link="{{ path('messagerie_index') }}"
                    title="{{ 'menu.messagerie'|trans }}"
                    icon="fa-envelope"
            />
            <twig:BlocApplication
                    link="{{ path('previsionnel_index') }}"
                    title="{{ 'menu.previsionnel'|trans }}"
                    icon="fa-calendar"
            />

            {% if user_data.departement.optStage == true %}
                <twig:BlocApplication
                        link="{{ path('application_personnel_stage_index') }}"
                        title="{{ 'menu.stages'|trans }}"
                        icon="fa-briefcase"
                />

            {% endif %}
            {# todo: décomposer en deux entrées #}

            <twig:BlocApplication
                    link="{{ path('application_personnel_salle_examen_index') }}"
                    title="{{ 'menu.salle_examen'|trans }}"
                    icon="fa-people-roof"
            />

            <twig:BlocApplication
                    link="{{ path('application_personnel_plan_cours_index') }}"
                    title="{{ 'menu.plan_cours'|trans }}"
                    icon="fa-books"
            />
        {% else %}
            <twig:BlocApplication
                    link="{{ path('messagerie_index') }}"
                    title="{{ 'menu.messagerie'|trans }}"
                    icon="fa-envelope"
            />

            <twig:BlocApplication
                    link="{{ path('app_etudiant_absence_justificatif_index') }}"
                    title="{{ 'menu.justificatif'|trans }}"
                    icon="fa-envelope"
            />


            {% if  user_data.user.annee.optAlternance == true %}
                <twig:BlocApplication
                        link="{{ path('application_etudiant_alternance_index') }}"
                        title="{{ 'menu.alternance'|trans }}"
                        icon="fa-calendar-alt"
                />
            {% endif %}

            {% if user_data.departement.optStage == true %}
                <twig:BlocApplication
                        link="{{ path('application_etudiant_stage_index') }}"
                        title="{{ 'menu.stages'|trans }}"
                        icon="fa-calendar-check"
                />
            {% endif %}

            <twig:BlocApplication
                    link="{{ path('application_etudiant_projet_index') }}"
                    title="{{ 'menu.projet'|trans }}"
                    icon="fa-calendar-check"
            />

            {% if user_data.user.semestre.optRattrapage == true %}
                <twig:BlocApplication
                        link="{{ path('application_etudiant_rattrapage_index') }}"
                        title="{{ 'menu.rattrapage'|trans }}"
                        icon="fa-calendar-check"
                />
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
