<table class="table table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>Nb. Notes</th>
        {% for niveau in niveaux %}
            <th>{{ niveau.competence.nomCourt }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% set tabIndex = 0 %}
    {% for sae in saes %}
        <tr>
            <td>
                <a href="#" title="{{ sae.display }}" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">{{ sae.codeMatiere }}</a>
            </td>
            <td>
                <label for="nbNotes_{{ sae.id }}" class="sr-only">Nb. Notes</label>
                <input id="nbNotes_{{ sae.id }}" type="number" value="{{ sae.nbNotes }}"
                       class="form-control form-control-sm changeNbNotesSae"
                       min="0" max="20" data-matiere="{{ sae.id }}">
            </td>

            {% for niveau in niveaux %}
                <td>
                    <label for="coefficient_{{ sae.id }}" class="sr-only">Coefficient</label>
                    <input id="coefficient_{{ sae.id }}" type="text" class="form-control changeCoefficientSae"
                           tabindex="{{ tabIndex }}"
                           data-matiere="{{ sae.id }}" data-competence="{{ niveau.competence.id }}"
                           value="{{ coefficients.saes[sae.id][niveau.competence.id] is defined ? coefficients
                           .saes[sae.id][niveau.competence.id] : 0 }}"/>
                    {#                    </a> #}
                </td>
                {% set tabIndex = tabIndex  + 1 %}
            {% endfor %}
        </tr>
    {% endfor %}
    {% for ressource in ressources %}
        <tr>
            <td>
                <a href="#" title="{{ ressource.display }}" data-bs-toggle="tooltip"
                   data-bs-placement="bottom">{{ ressource.codeMatiere }}</a> {% if ressource.hasCoefficientDifferent == true %}
                    <i class="fas fa-exclamation-circle" title="Coefficient différents selon les parcours"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"></i>{% endif %}
            </td>
            <td>
                <label for="nbNotes_{{ ressource.id }}" class="sr-only">Nb. Notes</label>
                <input id="nbNotes_{{ ressource.id }}" type="number" value="{{ ressource.nbNotes }}" class="form-control form-control-sm
                changeNbNotesRessource" data-matiere="{{ ressource.id }}"
                       min="0" max="20">
            </td>
            {% for niveau in niveaux %}
                <td>
                    <label for="coefficient_{{ ressource.id }}" class="sr-only">Coefficient</label>
                    {% if ressource.hasCoefficientDifferent == true and parcours != null %}
                        <input id="coefficient_{{ ressource.id }}" type="text"
                               class="form-control changeCoefficientRessource" tabindex="{{ tabIndex }}"
                               data-matiere="{{ ressource.id }}"
                               data-competence="{{ niveau.competence.id }}"
                               data-parcours="{{ parcours.id }}"
                               value="{{ coefficients.ressources[ressource.id][niveau.competence.id][parcours.id] is defined ? coefficients
                               .ressources[ressource.id][niveau.competence.id][parcours.id] : 0 }}"/>
                    {% else %}
                        <input id="coefficient_{{ ressource.id }}" type="text"
                               class="form-control changeCoefficientRessource" tabindex="{{ tabIndex }}"
                               data-matiere="{{ ressource.id }}" data-competence="{{ niveau.competence.id }}"
                               value="{{ coefficients.ressources[ressource.id][niveau.competence.id] is defined ? coefficients
                               .ressources[ressource.id][niveau.competence.id] : 0 }}"/>
                    {% endif %}
                </td>
                {% set tabIndex = tabIndex  + 1 %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>
