<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline-warning">
            <header class="card-header">
                <h4 class="card-title">Convocations pour des TP/Evaluations</h4>
            </header>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Matières</th>
                        <th>Convocation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for convocation in convocations %}
                        <tr>
                            <td>{{ convocation.datePresence != null ? convocation.datePresence|format_date
                                    ('long') : 'erreur' }}</td>
                            <td>{{ convocation.heureLong }}</td>
                            <td>{% for matiere in convocation.matieres %}{{ matiere.codeMatiere }}{% if not loop
                                    .last %}, {% endif %}{% endfor %}</td>
                            <td>
                                <a href="{{ path('app_etudiant_covid_attestation_pdf', {'id':
                                    convocation.id}) }}"
                                   class="btn btn-info btn-outline btn-square"
                                   data-provide="tooltip"
                                   data-placement="bottom"
                                   title="{{ 'atitle.print'|trans }}">
                                    <i class="{{ iconPrint }}"></i>
                                    <span class="sr-only">{{ 'atitle.print'|trans }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
