{# zone de recherche (filtre/tri) #}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('document_index', {source:source}) }}">Documents</a>
                    </li>
                    {% for bread in breadCrumbs %}
                        <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                            <a href="#" data-type="{{ bread.id }}" data-action="click->documents#afficheDocuments">{{ bread.libelle }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
    {% for typedocument in typeDoc.enfants %}
        {{ include('document/public/_typeDocumentElement.html.twig') }}
    {% endfor %}
</div>

<div class="row">
{% for document in documents %}
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    {{ document.libelle }}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <a class="primary" href="{{ asset('upload/documents/'~document.documentName) }}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                           title="{{ 'telecharger'|trans }}">
                            {{ document.typeFichierIcone|raw }}
                        </a>
                    </div>
                    <div class="col-8">
                        <p>
                            {{ document.description|raw }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="primary" href="{{ asset('upload/documents/'~document.documentName) }}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank"
                           title="{{ 'telecharger'|trans }}"><i
                                    class="fas fa-save"></i></a>
                        <label class="toggler toggler-danger fs-16" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'favori'|trans }}">
                            <input type="checkbox" class="addFavori" value="{{ document.uuidString }}"
                                   {% if document.id in listesFavoris %}checked{% endif %}
                                   data-action="click->documents#addFavori"
                            >
                            <i class="fa fa-heart"></i>
                        </label>
                    </div>
                    <div>
                        <small>{{ 'taille'|trans }}: {{ document.tailleKo|number_format(2) }} ko</small>
                    </div>
                    <div>
                        <small>{{ 'updated'|trans }}
                            : {{ document.updated|format_datetime('long', 'short') }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12">
        <twig:Alert type="info">
            Il n'y a pas de document dans cette catégorie.
        </twig:Alert>
    </div>
{% endfor %}
</div>
