{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.competence.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            {% for diplome in user_data.diplomes %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active show{% endif %}" data-toggle="tab"
                       href="#tab-diplome-{{ diplome.id }}" role="tab"
                       aria-selected="false">{{ diplome.libelle }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="buttons">

            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="ti-home"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content">
        {% for diplome in user_data.diplomes %}
            <div class="tab-pane {% if loop.first %}active show{% endif %}" id="tab-diplome-{{ diplome.id }}"
                 role="tabpanel">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'adm.competence.index.heading'|trans }}</h4>
                        <div class="card-header-actions" style="">
                <span id="trombifiltre">
                    <a href="{{ path('administration_competence_new',{diplome:diplome.id}) }}"
                       class="btn btn-sm btn btn-info" title="{{ 'atitle.creer_nouveau'|trans }}" data-provide="tooltip"
                       data-placement="bottom"><i class="ti-plus"></i></a>

                </span>
                            <ul class="card-controls">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                        <a href="#" class="dropdown-item"><i class="fa fa-file-excel-o"></i>
                                            Excel</a>
                                        <a href="#" class="dropdown-item"><i class="fa fa-file-text-o"></i> CSV</a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </header>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                            <thead>
                            <tr>
                                <th colspan="2">{{ 'table.code'|trans }}</th>
                                <th>{{ 'table.libelle'|trans }}</th>
                                <th>{{ 'table.updated'|trans }}</th>
                                <th>{{ 'table.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for competence in competences if competence.parent == null %}
                                <tr id="ligne_{{ competence.id }}">
                                    <td colspan="2">{{ competence.code }}</td>
                                    <td>{{ competence.libelle }}</td>
                                    <td>{{ competence.updated ? competence.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                                    <td>
                                        <a href="{{ path('administration_competence_duplicate', {'id': competence.id}) }}"
                                           class="btn btn-success btn-outline btn-square" data-provide="tooltip"
                                           data-placement="bottom" title="{{ 'atitle.dupliquer'|trans }}"><i
                                                    class="fa fa-copy"></i></a>
                                        {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'competence', id: competence.id}) }}
                                    </td>
                                </tr>
                                {% for comp in competence.enfants %}
                                    <tr id="ligne_{{ comp.id }}">
                                        <td>&nbsp;</td>
                                        <td>{{ comp.code }}</td>
                                        <td>{{ comp.libelle }}</td>
                                        <td>{{ comp.updated ? comp.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                                        <td>
                                            <a href="{{ path('administration_competence_duplicate', {'id': comp.id}) }}"
                                               class="btn btn-success btn-outline btn-square" data-provide="tooltip"
                                               data-placement="bottom" title="{{ 'atitle.dupliquer'|trans }}"><i
                                                        class="fa fa-copy"></i></a>
                                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'competence', id: comp.id}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">{{ 'no.record.found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {
            type:'info',
            href:path('administration_competence_help'),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}