<tr>
    {% if parent is defined %}
    <td>Parent : {{ parent.libelle }}</td>
    <td>
        <label class="sr-only" for="groupe_libelle_{{ parent.id }}">Libellé du groupe</label>
        <input type="text"
               class="form-control"
               placeholder="Libellé"
               id="groupe_libelle_{{ parent.id }}"
               name="groupe_libelle_{{ parent.id }}">
    </td>
    <td><label class="sr-only" for="groupe_code_apogee_{{ parent.id }}">Code apogée du groupe</label>
        <input type="text"
               class="form-control"
               placeholder="Code apogée"
               id="groupe_code_apogee_{{ parent.id }}"
               name="groupe_code_apogee_{{ parent.id }}">
    </td>
    <td>
        <label class="sr-only" for="groupe_type_groupe_{{ parent.id }}">Type de Groupe</label>
        <select class="form-control" id="groupe_type_groupe_{{ parent.id }}" name="groupe_type_groupe_{{ parent.id }}">
        <option value="">Type de Groupe</option>
            {% for typegroupe in semestre.typeGroupes %}
                <option value="{{ typegroupe.id }}">{{ typegroupe.libelle }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <label class="sr-only" for="groupe_parcours_{{ parent.id }}">Parcours</label>
        <select class="form-control" id="groupe_parcours_{{ parent.id }}" name="groupe_parcours_{{ parent.id }}">
            <option value="">Parcours d'option</option>
            {% for parcour in semestre.parcours %}
                <option value="{{ parcour.id }}">{{ parcour.libelle }}</option>
            {% endfor %}
        </select>
    </td>
    <td class="text-right table-actions">
        <button class="btn btn-primary btn-block add_groupe" data-parent="{{ parent.id }}">
            <span class="ti-plus"></span> Ajouter</button>
    </td>
    {% else %}
        <td>&nbsp;</td>
        <td>
            <label class="sr-only" for="groupe_libelle_s{{ semestre.id }}">Libellé du groupe</label>
            <input type="text"
                   class="form-control"
                   placeholder="Libellé"
                   id="groupe_libelle_s{{ semestre.id }}"
                   name="groupe_libelle_s{{ semestre.id }}">
        </td>
        <td><label class="sr-only" for="groupe_code_apogee_s{{ semestre.id }}">Code apogée du groupe</label>
            <input type="text"
                   class="form-control"
                   placeholder="Code apogée"
                   id="groupe_code_apogee_s{{ semestre.id }}"
                   name="groupe_code_apogee_s{{ semestre.id }}">
        </td>
        <td>
            <label class="sr-only" for="groupe_type_groupe_s{{ semestre.id }}">Type de Groupe</label>
            <select class="form-control" id="groupe_type_groupe_s{{ semestre.id }}" name="groupe_type_groupe_s{{ semestre.id }}">
                <option value="">Type de Groupe</option>
                {% for typegroupe in semestre.typeGroupes %}
                    <option value="{{ typegroupe.id }}">{{ typegroupe.libelle }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label class="sr-only" for="groupe_parcours_s{{ semestre.id }}">Parcours</label>
            <select class="form-control" id="groupe_parcours_s{{ semestre.id }}" name="groupe_parcours_s{{ semestre.id }}">
                <option value="">Parcours d'option</option>
                {% for parcour in semestre.parcours %}
                    <option value="{{ parcour.id }}">{{ parcour.libelle }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="text-right table-actions">
            <button class="btn btn-primary btn-block add_groupe" data-parent="s{{ semestre.id }}">
                <span class="ti-plus"></span> Ajouter</button>
        </td>
    {% endif %}
</tr>
