<tr id="ligne_{{ groupe.id }}">
    <th>{{ groupe.ordre }}</th>
    <th>{% if space is defined %}{% for i in 1..space %}&nbsp;&nbsp;&nbsp;{% endfor %}{% endif %}{{ groupe.libelle }}</th>
    <td>{{ groupe.codeapogee }}</td>
    <td>{{ groupe.typegroupe.libelle }}</td>
    <td>
        {% if semestre.parcours|length > 0 %}
            <label class="sr-only" for="parcours_{{ groupe.id }}"></label>
            <select id="parcours_{{ groupe.id }}" name="parcours_{{ groupe.id }}">
                <option value="">Indiquer l'option</option>
                {% for option in semestre.parcours %}
                    <option value="{{ option.id }}">{{ option.libelle }}</option>
                {% endfor %}
            </select>
        {% else %}
            Pas d'option
        {% endif %}
    </td>
    {# todo: duplicate (en js?) et modifier (en ligne ?) #}
    <td class="text-right table-actions">
        <a class="table-action hover-primary"
           href="{{ path('administration_groupe_duplicate', {id:groupe.id}) }}"
           data-provide="tooltip"
           data-placement="bottom" title="{{ 'atitle.dupliquer'|trans }}">
            <span class="{{ iconDuplicate }}"></span>
            <span class="sr-only">Dupliquer le groupe</span>
        </a>
        <a class="table-action hover-info"
           href="#"
           data-provide="modaler tooltip"
           data-size="lg"
           data-confirm-text="{{ 'fermer'|trans }}"
           data-url="{{ path('administration_groupe_show', {id:groupe.id}) }}"
           data-placement="bottom"
           data-title="{{ 'details.groupes.groupe'|trans }}"
           title="{{ 'atitle.details'|trans }}">
            <span class="ti-eye"></span>
            <span class="sr-only">Voir le détail</span>
        </a>
        <a class="table-action hover-warning"
           href=""
           data-provide="tooltip"
           data-placement="bottom" title="{{ 'atitle.modifier'|trans }}"><span
                    class="{{ iconEdit }}"></span>
            <span class="sr-only">Modifier le type de groupe</span>
        </a>
        <a class="table-action hover-danger supprimer"
           href="{{ path('administration_groupe_delete', {id:groupe.id}) }}"
           data-csrf="{{ csrf_token('delete' ~ groupe.id) }}"
           data-provide="tooltip"
           data-placement="bottom" title="{{ 'atitle.supprimer'|trans }}">
            <span class="{{ iconDelete }}"></span>
            <span class="sr-only">Supprimer le groupe</span>
        </a>
    </td>
</tr>
