<tr id="ligne_{{ groupe.id }}">
    <td>
        <label class="sr-only" for="libelle_groupe_{{ groupe.id }}">Modifier le libellé du groupe</label>
        <input type="text"
               id="libelle_groupe_{{ groupe.id }}"
               data-action="change->groupes-adm#updateGroupe"
               data-groupes-adm-id-param="{{ groupe.id }}"
               data-groupes-adm-field-param="libelle"
               class="form-control {% if space is defined %}ms-{{ space }}{% endif %}"
               value="{{ groupe.libelle }}"/>
    </td>
    <td>
        <div class="col-3">
            <label class="sr-only" for="ordre_groupe_{{ groupe.id }}">Modifier l'ordre du groupe</label>
            <input type="text"
                   id="ordre_groupe_{{ groupe.id }}"
                   data-action="change->groupes-adm#updateGroupe"
                   data-groupes-adm-id-param="{{ groupe.id }}"
                   data-groupes-adm-field-param="ordre"
                   class="form-control"
                   value="{{ groupe.ordre }}"/>
        </div>
    </td>
    <td>
        <label class="sr-only" for="parent_{{ groupe.id }}"></label>
        <select id="parent_{{ groupe.id }}" name="parent_{{ groupe.id }}" class="form-select"
                data-groupe="{{ groupe.id }}"
                data-action="change->groupes-adm#changeParent">
            <option value="" selected>Groupe Parent</option>
            {% for gr in groupes|filter(gr => gr.typegroupe.id != groupe.typegroupe.id) %}
                <option value="{{ gr.id }}" {% if groupe.parent != null and groupe.parent.id == gr.id %}selected{% endif %}>
                    {{ gr.libelle }}
                </option>
            {% endfor %}
        </select>
    </td>
    <td>
        <label class="sr-only" for="codeapogee_{{ groupe.id }}">Modifier le code apogée du groupe</label>
        <input type="text"
               id="codeapogee_{{ groupe.id }}"
               data-action="change->groupes-adm#updateGroupe"
               data-groupes-adm-id-param="{{ groupe.id }}"
               data-groupes-adm-field-param="codeapogee"
               class="form-control"
               value="{{ groupe.codeapogee }}"/>
    </td>
    <td>
        <label class="sr-only" for="typegroupe_{{ groupe.id }}"></label>
        <select id="typegroupe_{{ groupe.id }}"
                name="typegroupe_{{ groupe.id }}"
                class="form-select"
                data-groupe="{{ groupe.id }}"
                data-action="change->groupes-adm#changeTypeGroupe">
            <option value="" selected>Type de Groupe</option>
            {% for tg in typeGroupes %}
                <option value="{{ tg.id }}" {% if groupe.typegroupe != null and  groupe.typegroupe.id == tg.id %}selected{% endif %}>
                    {{ tg.libelle }}
                </option>
            {% endfor %}
        </select>
    </td>
    <td>
        {% if parcours is defined and parcours|length > 0 %}
            <label class="sr-only" for="parcours_{{ groupe.id }}"></label>
            <select id="parcours_{{ groupe.id }}"
                    name="parcours_{{ groupe.id }}"
                    class="form-select"
                    data-groupe="{{ groupe.id }}"
                    data-action="change->groupes-adm#changeParcours"
            >
                <option value="">Indiquer l'option</option>
                {% for option in parcours %}
                    <option value="{{ option.id }}" {% if (groupe.parcours != null and  groupe.parcours.id == option
                    .id) or (groupe.apcParcours != null and  groupe.apcParcours.id == option
                    .id) %}selected{% endif %}>{{ option.display }}</option>
                {% endfor %}
            </select>
        {% else %}
            Pas d'option
        {% endif %}
    </td>
    <td class="text-right table-actions">
        <a class="table-action hover-primary"
           href="#"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           data-groupe="{{ groupe.id }}"
           data-action="click->groupes-adm#duplicateGroupe"
           title="{{ 'atitle.dupliquer'|trans }}">
            <span class="{{ iconDuplicate }}"></span>
            <span class="sr-only">Dupliquer le groupe</span>
        </a>
        <a class="table-action hover-danger supprimer"
           href="{{ path('administration_groupe_delete', {id:groupe.id}) }}"
           data-csrf="{{ csrf_token('delete' ~ groupe.id) }}"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom" title="{{ 'atitle.supprimer'|trans }}">
            <span class="{{ iconDelete }}"></span>
            <span class="sr-only">Supprimer le groupe</span>
        </a>
    </td>
</tr>
