<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.groupe.semestre.add.heading'|trans }} | {{ semestre.libelle }}</h4>
        <div class="card-header-actions" style=""></div>
    </header>
    <div class="card-body">
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}
        <table class="table">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Ordre</th>
                <th>Parent</th>
                <th>Code Apogée</th>
                <th>Type Groupe</th>
                <th>Parcours</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ form_widget(form.libelle) }}</td>
                <td>{{ form_widget(form.ordre) }}</td>
                <td>{{ form_widget(form.parent) }}</td>
                <td>{{ form_widget(form.codeApogee) }}</td>
                <td>{{ form_widget(form.typeGroupe) }}</td>
                <td>{{ form_widget(form.parcours) }}</td>
                <td>
                    <button class="btn btn-success" id="addGroupe" data-semestre="{{ semestre.id }}">{{ button_label|default('label.save'|trans) }}</button>
                </td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</div>
