{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'import.des.groupes.heading'|trans() }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_groupes_departement_index', {departement:departement.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_groupes'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="ti-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_groupes'|trans }}</span>
            </a>
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_super_administration'|trans }}"><i
                        class="material-icons">dashboard</i></a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'import.des.groupes.heading'|trans({ '%departement%': departement.libelle}) }}</h4>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fichier">Fichier CSV à importer</label>
                    <input type="file" class="form-control" name="fichier" id="fichier">
                </div>
                <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
                <br>
                <br>
                <div class="alert alert-warning">
                    Le fichier doit être au format CSV (séparateur ;) et doit correspondre au formatage défini dans le
                    modèle joint. (<a href="{{ asset('exemples/groupes.xlsx') }}">télécharger un exemple</a>).
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block fabactions %}

{% endblock %}
