{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.groupe.index.heading'|trans({'%semestre%':semestre.libelle, '%diplome%': diplome.displayCourt}) }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_groupe_index'}) }}
    </div>
{% endblock %}

{% block stimulus %}
    {{ stimulus_controller('groupes-adm', {
        'urlListeGroupes': path('administration_groupe_liste_semestre', {'semestre': semestre.id}),
        'urlListeTypeGroupes': path('administration_type_groupe_liste_semestre', {'semestre': semestre.id}),
    }) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="alert alert-info mb-2">
        Dans le cadre des B.U.T. pour le semestre {{ semestre.ordreLmd }}, vous trouverez dans cette page tous les
        groupes pour l'ensemble des parcours (s'ils existent). Les modifications faites sur cette page sont répercutées
        sur les autres parcours du semestre {{ semestre.ordreLmd }}.
    </div>

    {% if (semestre.diplome.responsableDiplome.id == user_data.user.id and user_data.isGoodDepartement('ROLE_RP')) or user_data.isGoodDepartement
        ('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
        <div id="liste_semestre" data-groupes-adm-target="contentGroupe">
        </div>

        <div id="type_groupes_semestre" data-groupes-adm-target="contentTypeGroupe">
        </div>
    {% endif %}
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_groupe_export', {_format:'pdf', semestre:semestre.id}),
            title: 'exporter.pdf'|trans,
            id: 'export_pdf',
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'csv',semestre:semestre.id}),
            title: 'exporter.csv'|trans,
            id: 'export_csv',
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'xlsx',semestre:semestre.id}),
            title: 'exporter.xls'|trans,
            id: 'export_xlsx',
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_groupe'}),
            title: 'aide'|trans,
            icone: 'fas fa-question',
            target: '_blank'
        }
    ]}) }}
{% endblock %}

