{% extends 'base.html.twig' %}

{% block header %}{{ 'adm.type.groupes.index.titre'|trans }}{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            {% for semestre in user_data.semestres %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active show{% endif %}" data-toggle="tab"
                       href="#semestre{{ semestre.id }}" role="tab">{{ semestre.libelle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tab-content">
        {% for semestre in user_data.semestres %}
            <div class="tab-pane {% if loop.first %} active show{% endif %}"
                 id="semestre{{ semestre.id }}" role="tabpanel">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">Groupes du semestre {{ semestre.libelle }}</h4>
                        <div class="card-header-actions" style="">
                            <span id="trombifiltre">
                                <a href="{{ path('administration_type_groupe_new',{semestre:semestre.id}) }}"
                                   class="btn btn-sm btn btn-info" title="{{ 'atitle.creer_nouveau'|trans }}"
                                   data-provide="tooltip"
                                   data-placement="bottom"><i class="ti-plus"></i></a>
                            </span>
                            <ul class="card-controls">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                        <a href="#" class="dropdown-item"><i class="fa fa-file-excel-o"></i>
                                            Excel</a>
                                        <a href="#" class="dropdown-item"><i class="fa fa-file-text-o"></i> CSV</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </header>

                    <div class="card-body">
                        <table class="table table-separated">
                            <tbody>
                            {% for typeGroupe in semestre.typeGroupes %}
                            <tr class="bg-success">
                                <th scope="row">{{ typeGroupe.libelle }}</th>
                                <td>{{ typeGroupe.type }}</td>
                                <td>&nbsp;</td>
                                <td><div class="form-check">
                                        <input class="form-check-input" type="radio" name="new_type_groupe"
                                               id="new_type_groupe" value="true">
                                        <label class="form-check-label" for="new_type_groupe">
                                            Par défaut
                                        </label>
                                    </div></td>
                                <td class="text-right table-actions">
                                    <a class="table-action hover-primary"
                                       href="{{ path('administration_type_groupe_duplicate', {id:typeGroupe.id}) }}"
                                       data-provide="tooltip"
                                       data-placement="bottom" title="{{ 'atitle.dupliquer'|trans }}"><span
                                                class="{{ iconDuplicate }}"></span></a>
                                    <a class="table-action hover-info"
                                       href="{{ path('administration_type_groupe_show', {id:typeGroupe.id}) }}"
                                       data-provide="tooltip"
                                       data-placement="bottom" title="{{ 'atitle.details'|trans }}"><span
                                                class="ti-eye"></span></a>
                                    <a class="table-action hover-warning"
                                       href="{{ path('administration_type_groupe_edit', {id:typeGroupe.id}) }}"
                                       data-provide="tooltip"
                                       data-placement="bottom" title="{{ 'atitle.modifier'|trans }}"><span
                                                class="{{ iconEdit }}"></span></a>
                                    <a class="table-action hover-danger supprimer"
                                       href="{{ path('administration_type_groupe_delete', {id:typeGroupe.id}) }}"
                                       data-csrf="{{ csrf_token('delete' ~ typeGroupe.id) }}"
                                       data-provide="tooltip"
                                       data-placement="bottom" title="{{ 'atitle.supprimer'|trans }}"><span
                                                class="{{ iconDelete }}"></span></a>

                                    <div class="dropdown table-action">
                                        <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i class="ti-menu-alt"></i> Details</a>
                                            <a class="dropdown-item" href="#"><i class="ti-clip"></i> Add file</a>
                                            <a class="dropdown-item" href="#"><i class="ti-bar-chart"></i> Performance</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                {% for groupe in typeGroupe.groupes %}
                                <tr>
                                    <td scope="row">&nbsp;</td>
                                    <th>{{ groupe.libelle }}</th>
                                    <td>{{ groupe.codeapogee }}</td>
                                    <td><select></select></td>
                                    <td class="text-right table-actions">
                                        <a class="table-action hover-primary"
                                           href="{{ path('administration_groupe_duplicate', {id:groupe.id}) }}"
                                           data-provide="tooltip"
                                           data-placement="bottom" title="{{ 'atitle.dupliquer'|trans }}"><span
                                                    class="{{ iconDuplicate }}"></span></a>
                                        <a class="table-action hover-info"
                                           href="{{ path('administration_groupe_show', {id:groupe.id}) }}"
                                           data-provide="tooltip"
                                           data-placement="bottom" title="{{ 'atitle.details'|trans }}"><span
                                                    class="ti-eye"></span></a>
                                        <a class="table-action hover-warning"
                                           href="{{ path('administration_groupe_edit', {id:groupe.id}) }}"
                                           data-provide="tooltip"
                                           data-placement="bottom" title="{{ 'atitle.modifier'|trans }}"><span
                                                    class="{{ iconEdit }}"></span></a>
                                        <a class="table-action hover-danger supprimer"
                                           href="{{ path('administration_groupe_delete', {id:groupe.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ groupe.id) }}"
                                           data-provide="tooltip"
                                           data-placement="bottom" title="{{ 'atitle.supprimer'|trans }}"><span
                                                    class="{{ iconDelete }}"></span></a>

                                        <div class="dropdown table-action">
                                            <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="ti-menu-alt"></i> Details</a>
                                                <a class="dropdown-item" href="#"><i class="ti-clip"></i> Add file</a>
                                                <a class="dropdown-item" href="#"><i class="ti-bar-chart"></i> Performance</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td scope="row">&nbsp;</td>
                                    <th><input type="text" class="form-control" placeholder="Libellé"></th>
                                    <td><input type="text" class="form-control" placeholder="Code Apogée"></td>
                                    <td class="text-right table-actions">
                                        <button class="btn btn-primary btn-block"><span
                                                    class="ti-plus"></span> Ajouter</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td scope="row"><input type="text" class="form-control" placeholder="Libellé"></td>
                                <td><select class="form-control" placeholder="Code Apogée"></select></td>
                                <td></td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="new_type_groupe"
                                               id="new_type_groupe" value="true">
                                        <label class="form-check-label" for="new_type_groupe">
                                            Par défaut
                                        </label>
                                    </div>


                                </td>
                                <td class="text-right table-actions">
                                    <button class="btn btn-primary btn-block"><span
                                                class="ti-plus"></span> Ajouter</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_groupe_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf-o"
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-text-o'
        },
        {
            type:'info',
            href:path('administration_groupe_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel-o'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_groupe'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}
