{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'sa_qualite.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-6  col-sm-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ 'sa_enquete.heading'|trans }}</h2>

                </header>

                <div class="card-body">

                    <div class="col-sm-12 col-md-12">
                        <div><a href="{{ path('administratif_enquete_index') }}"
                                class="btn btn-block btn-primary"> {{ 'enquete.index'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6  col-sm-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ 'sa_quizz.heading'|trans }}</h2>
                </header>

                <div class="card-body">

                    <div class="col-sm-12 col-md-12">
                        <div><a href="{{ path('quizz_question_index') }}"
                                class="btn btn-block btn-primary"> {{ 'questions.index'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ 'sa_quizz.heading'|trans }}</h2>
                </header>

                <div class="card-body">

                    <div class="col-sm-12 col-md-4">
                        <div><a href="{{ path('sadm_questionnaire_qualite_index') }}"
                                class="btn btn-block btn-primary"> Gérer les questionnaires</a></div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div><a href="{{ path('sadm_questionnaire_section_index') }}"
                                class="btn btn-block btn-primary"> Gérer les sections</a></div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div><a href="{{ path('sadm_questionnaire_question_index') }}"
                                class="btn btn-block btn-primary"> Gérer les questions</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
