
    <p class="confirm_infos">Date de début : {{ stageEtudiant.dateDebutStage|date('d-m-Y') }}</p>
    <p class="confirm_infos">Date de fin : {{ stageEtudiant.dateFinStage|date('d-m-Y') }}</p>
    <p class="confirm_infos">Nombre de jours de stage : {{ stageEtudiant.dureeJoursStage }} <br></p>
    <p class="confirm_infos">Service dans l'entreprise : {{ stageEtudiant.serviceStageEntreprise }} <br></p>
    <p class="confirm_infos">Mission principale : {{ stageEtudiant.sujetStage }} <br></p>
    <p class="confirm_infos">Activités à réaliser : {{ stageEtudiant.activites }} <br></p>
    <p class="confirm_infos">Périodes d'interruptions : {{ stageEtudiant.periodesInterruptions }} <br></p>
    <p class="confirm_infos">Durée de travail hebdomadaire : {{ stageEtudiant.dureeHebdomadaire }} <br></p>
    <p class="confirm_infos">Commentaires sur la durée du travail : {{ stageEtudiant.commentaireDureeHebdomadaire }}
        <br></p>
    <p class="confirm_infos">Aménagement du stage : {{ stageEtudiant.amenagementStage }} <br></p>
    <p class="confirm_infos">Gratification : {{ stageEtudiant.gratification }} <br></p>
    <p class="confirm_infos">Période de gratification : {{ stageEtudiant.gratificationPeriode }} <br></p>
    <p class="confirm_infos">Montant de la gratification : {{ stageEtudiant.gratificationMontant }} €<br></p>
    <p class="confirm_infos">Avantages : {{ stageEtudiant.avantages }} <br></p>



