
    <p class="confirm_infos">Prénom : {{ stageEtudiant.entreprise.responsable.prenom }}</p>
    <p class="confirm_infos">Nom : {{ stageEtudiant.entreprise.responsable.nom }}</p>
    <p class="confirm_infos">Fonction dans l'entreprise : {{ stageEtudiant.entreprise.responsable.fonction }} <br></p>
    <p class="confirm_infos">Email : {{ stageEtudiant.entreprise.responsable.email }} <br></p>
    <p class="confirm_infos">Téléphone : {{ stageEtudiant.entreprise.responsable.telephone|tel_format }} <br></p>
    <p class="confirm_infos">Portable : {{ stageEtudiant.entreprise.responsable.portable|tel_format }} <br></p>


