{% extends 'base.html.twig' %}

{% block header %}
    {{ 'agenda.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('planning_index',{annee:user_data.departement.anneecourante}) }}"
               class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.planning_annuel'|trans }}"><i class="ti-agenda"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><i
                        class="material-icons">dashboard</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card">
        <h4 class="card-title">{{ 'agenda.heading'|trans }}</h4>

        <div class="card-body">

        </div>
    </div>
{% endblock %}
