{% extends 'base.html.twig' %}

{% block header %}
    {{ 'agenda.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('planning_index',{annee:user_data.departement.optAnneePrevisionnel}) }}"
               class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.planning_annuel'|trans }}"><i class="ti-agenda"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><i
                        class="material-icons">dashboard</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}


    {% if user_data.departement.optEdt == true %}
        {% if is_granted('ROLE_PERMANENT') %}
            {{ render(controller(
                'App\\Controller\\EdtController::dashboardPersonnel', {semaine:semaine}
            )) }}
        {% elseif is_granted('ROLE_ETUDIANT') %}
            {{ render(controller(
                'App\\Controller\\EdtController::dashboardEtudiant', {semaine:semaine}
            )) }}
        {% else %}
            erreur
        {% endif %}
    {% endif %}
{% endblock %}
