{% block type_chainee %}
    <fieldset class="form-group mt-2"
              id="field_{{ id }}"
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
    >
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        {% for subQuestion in questionsEnfants %}
            <div class="sub-question {% if loop.index is odd %}row-striped{% endif %}">
                <div class="row">
                    <div class="col-sm-12 col-md-12 sub-question-titre">
                        # {{ subQuestion.libelle }}
                    </div>

                    {% if valeurs == null %}
                        {# todo: a dupliquer sur les autres questions... #}
                        {% set name = 'q'~subQuestion.id %}
                    {% else %}
                        {% set name = 'q'~subQuestion.id~'_c'~valeurs[numero-1] %}
                    {% endif %}
                    {% for reponse in reponses %}
                        <div class="col-sm-12 col-md-2">
                            <div class="form-check">
                                <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                                       name="quizz_question_reponses_{{ name }}"

                                       data-fieldset="{{ id }}"
                                       data-typeQuestionnaire="radio" {# todo: pourrait être autre chose... #}
                                        {{ stimulus_action('questionnaire--enquete', 'change','change', {mode:mode}) }}
                                        {% if reponsesEtudiant|length > 0 and reponsesEtudiant[subQuestion.id] is defined %}
                                            {% if valeurs == null %}
                                                {% if reponsesEtudiant[subQuestion.id] != null
                                                    and reponsesEtudiant[subQuestion.id].valeur == reponse.valeur %}
                                                    checked="checked"
                                                {% endif %}
                                            {% else %}
                                                {% if reponsesEtudiant[subQuestion.id]['c'~valeurs[numero-1]] is
                                                    defined
                                                    and reponsesEtudiant[subQuestion.id]['c'~valeurs[numero-1]] !=
                                                    null
                                                    and reponsesEtudiant[subQuestion.id]['c'~valeurs[numero-1]].valeur ==
                                                    reponse.valeur %}
                                                    checked="checked"
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if obligatoire %}required{% endif %}
                                       class="form-check-input"
                                       value="{{ reponse.valeur }}">
                                <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">
                                    {{ reponse.libelle }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {#        {{ block('nc') }} #}
        {# todo: revoir pour mettre en place ? Comment récupérer la valeur ? #}
    </fieldset>
{% endblock %}

{% block type_echelle %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
              data-action="questionnaire--enquete:change-value->questionnaire--enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            {{ block('liste_reponses_echelle') }}
        </div>
    </fieldset>
{% endblock %}

{% block type_slider %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
              data-action="questionnaire--enquete:change-value->questionnaire--enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="quizz_question_qcu_{{ name }}_range" class="form-label">
                    Déplacer le curseur pour indiquer la valeur
                </label>

                <input type="range"
                       id="quizz_question_qcu_{{ name }}_range"
                       name="quizz_question_reponses_{{ name }}"
                       {% if reponseEtudiant != null %}value="{{ reponseEtudiant.valeur }}"{% endif %}
                        {% if obligatoire %}required{% endif %}
                        {{ stimulus_action('questionnaire--enquete', 'changeRange','change', {mode:mode}) }}
                       class="form-range" min="{{ parametres.min }}" max="{{ parametres.max }}" step="{{ parametres.pas }}">
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block type_libre %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
              data-action="questionnaire--enquete:change-value@window->questionnaire--enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}

        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="mb-3">
            <label class="form-label {% if obligatoire %}required{% endif %}"
                   for="quizz_question_text_{{ name }}">Votre réponse</label>
            <textarea id="quizz_question_text_{{ name }}"
                      name="quizz_question_text_{{ name }}"
                    {{ stimulus_action('questionnaire--enquete', 'onTextAreaChange','change', {mode:mode}) }}
                    {% if obligatoire %}required{% endif %}
         class="form-control">{% if reponseEtudiant != null %}{{ reponseEtudiant.valeur }}{% endif %}</textarea>
            <div class="form-control-feedback"></div>
        </div>
    </fieldset>
{% endblock %}

{% block type_oui_non %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
              data-action="questionnaire--enquete:change-value->questionnaire--enquete#updateQuestion"
              id="field_{{ id }}">
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-check">
                    <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}"
                            {{ stimulus_action('questionnaire--enquete', 'change','change', {mode:mode}) }}
                            {% if reponseEtudiant != null and
                                reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                            {% if obligatoire %}required{% endif %}
                           class="form-check-input"
                           value="{{ reponse.valeur }}">
                    <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-check">
                    <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                           name="quizz_question_reponses_{{ name }}"
                            {{ stimulus_action('questionnaire--enquete', 'change','change', {mode:mode}) }}
                            {% if reponseEtudiant != null and
                                reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                            {% if obligatoire %}required{% endif %}
                           class="form-check-input"
                           value="{{ reponse.valeur }}">
                    <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block type_qcm %}
    <fieldset class="form-group mt-2" {% if visible == false %}style="display:none"{% endif %}
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
              data-action="questionnaire--enquete:change-value->questionnaire--enquete#updateQuestion"
              id="field_{{ id }}"
    >
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            {{ block('liste_reponses') }}
        </div>
    </fieldset>
{% endblock %}

{% block type_qcu %}
    <fieldset class="form-group mt-2"
              {% if visible == false %}style="display:none"{% endif %}
              id="field_{{ id }}"
            {{ stimulus_controller('questionnaire--enquete', {
                parametres: parametres,
                idQuestion: id,
                questionnaireUuid: questionnaireUuid,
                choixUserUuid: choixUserUuid
            }) }}
              data-action="questionnaire--enquete:change-value@window->questionnaire--enquete#updateQuestion"
    >
        {{ block('libelle') }}
        <div aria-describedby="quizz_question_{{ id }}_help">
            <small id="quizz_question_{{ id }}_help" class="form-text text-muted">{{ help }}</small>
        </div>
        <div class="row">
            {{ block('liste_reponses') }}
        </div>
    </fieldset>
{% endblock %}

{% block libelle %}
    <legend class="col-form-label {% if obligatoire %}required{% endif %}"><strong>{{ ordre }}.{{ numero }}</strong>.
        {{ libelle }}
    </legend>
{% endblock %}

{% block liste_reponses_echelle %}
    <div class="col-12">
        {% for reponse in reponses %}
            <div class="form-check form-check-inline">
                <input type="{{ type_question }}" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                       name="quizz_question_reponses_{{ name }}"
                        {{ stimulus_action('questionnaire--enquete', 'changeRange','change', {mode:mode}) }}
                       data-fieldset="{{ id }}"
                        {% if reponseEtudiant != null and
                            reponseEtudiant.valeur == reponse.valeur %}checked{% endif %}
                        {% if obligatoire %}required{% endif %}
                       class="form-check-input"
                       value="{{ reponse.valeur }}">
                <label class="form-check-label  {% if obligatoire %}required{% endif %}" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                <div class="form-control-feedback"></div>
            </div>

        {% endfor %}
        {{ block('autres') }}
        {{ block('nc') }}
    </div>
{% endblock %}

{% block liste_reponses %}
    <div class="col-12">
        {% if valeurs != null %}
            {% set name = name ~'_c'~valeur_config %}
        {% endif %}
        {% for reponse in reponses %}
            <div class="form-check form-check-inline">
                <input type="{{ type_question }}" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                       name="quizz_question_reponses_{{ name }}"
                        {{ stimulus_action('questionnaire--enquete', 'change','change', {mode:mode}) }}
                       data-fieldset="{{ id }}"
                        {% if valeur_config != '' %}
                            {% if reponsesEtudiant[id] is defined and
                                reponsesEtudiant[id]['c'~valeur_config] is defined and
                                reponsesEtudiant[id]['c'~valeur_config].valeur == reponse.valeur %}checked
                            {% endif %}
                        {% else %}
                            {% if reponseEtudiant != null and
                                reponseEtudiant.valeur == reponse.valeur %}checked
                            {% endif %}
                        {% endif %}
                        {% if obligatoire %}required{% endif %}
                       class="form-check-input"
                       value="{{ reponse.valeur }}">
                <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                <div class="form-control-feedback"></div>
            </div>
        {% endfor %}
        {{ block('autres') }}
        {{ block('nc') }}
    </div>
{% endblock %}

    {% block autres %}
        {% if parametres.choix_autre is defined and parametres.choix_autre == true %}
            <div>
                <div class="form-check form-check-inline">
                    <input type="{{ type_question != '' ? type_question : 'radio' }}" id="quizz_question_qcu_{{ name }}_autre"
                           name="quizz_question_reponses_{{ name }}"
                            {{ stimulus_action('questionnaire--enquete', 'change','change', {mode:mode}) }}
                           data-fieldset="{{ id }}"
                            {% if reponseEtudiant != null and
                                reponseEtudiant.valeur == "CHX:OTHER" %}checked{% endif %}
                            {% if obligatoire %}required{% endif %}
                           class="form-check-input"
                           value="CHX:OTHER">

                    <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_autre">
                        Autre, précisez :
                    </label>
                </div>
                <label class="sr-only" for="quizz_question_autre_{{ name }}_autre_text">Précisez votre réponse</label>
                <input type="text" id="quizz_question_autre_{{ name }}_autre_text"
                       name="quizz_question_reponses_{{ name }}_autre"
                        {{ stimulus_action('questionnaire--enquete', 'onTextAreaChange','change', {mode:mode}) }}
                       class="form-control"
                        {% if reponseEtudiant != null and reponseEtudiant.valeur == 'CHX:OTHER' %}
                            value="{{ reponseEtudiant.complement }}"
                        {% endif %}
                >
                <div class="form-control-feedback"></div>
            </div>
        {% endif %}
    {% endblock %}

    {% block nc %}
        {% if parametres.choix_nc is defined and parametres.choix_nc == true %}
            <div class="form-check form-check-inline">
                <input type="{{ type_question != '' ? type_question : 'radio' }}" id="quizz_question_qcu_{{ name }}_nc"
                       name="quizz_question_reponses_{{ name }}"
                       data-fieldset="{{ id }}"
                        {{ stimulus_action('questionnaire--enquete', 'change','change', {mode:mode}) }}
                        {% if reponseEtudiant is defined and reponseEtudiant != null and
                            reponseEtudiant.valeur == "CHX:NC" %}checked{% endif %}
                        {% if obligatoire %}required{% endif %}
                       class="form-check-input"
                       value="CHX:NC">
                <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_nc">
                    Non concerné
                </label>
            </div>
        {% endif %}
    {% endblock %}
