<h3>...Questionnaire...</h3>
<form data-provide="wizard">
    <input type="hidden" value="{{ id }}" id="questionnaire">
    <ul class="nav nav-process nav-process-circle">
        {% for section in sections %}
            <li class="nav-item">
                <span class="nav-title">Introduction</span>
                <a class="nav-link" data-bs-toggle="tab" href="#wizard-{{ section.section.id }}"></a>
            </li>
        {% endfor %}
        {# {% for qualiteQuestionnaireSection in questionnaireSections %} #}
        {# <li class="nav-item"> #}
        {# <span class="nav-title">Section {{ qualiteQuestionnaireSection.ordre }}</span> #}
        {# <a class="nav-link" data-toggle="tab" href="#wizard-section-{{ qualiteQuestionnaireSection.id }}"></a> #}
        {# </li> #}
        {# {% if qualiteQuestionnaireSection.previs|length > 0 %} #}
        {# #}{# todo: onglet doit être supérieur ou égale à 2... sinon plantage #}
        {# {% set nbOnglet = (qualiteQuestionnaireSection.previs|length / 3)|round(0, 'ceil') %} #}
        {# {% for onglet in 2..nbOnglet %} #}
        {# <li class="nav-item"> #}
        {# <span class="nav-title">Section {{ qualiteQuestionnaireSection.ordre }}-{{ onglet }}</span> #}
        {# <a class="nav-link" data-toggle="tab" href="#wizard-section-{{ qualiteQuestionnaireSection.ordre }}-{{ onglet }}"></a> #}
        {# </li> #}
        {# {% endfor %} #}
        {# {% endif %} #}
        {# {% endfor %} #}

        {# <li class="nav-item"> #}
        {# <span class="nav-title">Confirmation</span> #}
        {# <a class="nav-link" data-toggle="tab" href="#wizard-fin"></a> #}
        {# </li> #}
    </ul>

    {% for section in sections %}
        <div class="tab-content">
            {# todo: loop.first ou onglet préselectionné... a gérer #}
            <div class="tab-pane fade {% if loop.first %}active show{% endif %}" id="wizard-{{ section.section.id }}">
                {{ section_render(section) }}
            </div>
        </div>
    {% endfor %}
</form>
