<h3>...Questionnaire...</h3>
<form {{ stimulus_controller('wizard', {
    url: path('wizard_page'),
    step: 0,
    questionnaire: questionnaire.questionnaire.id,
    maxStep: sections|length-1 }) }}>
    <input type="hidden" value="{{ id }}" id="questionnaire">
    <ul class="nav nav-process nav-process-circle">
        {% for section in sections %}
            <li class="nav-item {% if loop.first %}processing{% endif %}" data-step="{{ loop.index0 }}">
                <span class="nav-title">Section #{{ section.ordre }}</span>
                <a class="nav-link {% if loop.first %}active{% endif %}" href="#"
                   data-action="wizard#step"
                   data-step="{{ loop.index0 }}"
                ></a>
            </li>
        {% endfor %}
        {# {% for qualiteQuestionnaireSection in questionnaireSections %} #}
        {# <li class="nav-item"> #}
        {# <span class="nav-title">Section {{ qualiteQuestionnaireSection.ordre }}</span> #}
        {# <a class="nav-link" data-toggle="tab" href="#wizard-section-{{ qualiteQuestionnaireSection.id }}"></a> #}
        {# </li> #}
        {# {% if qualiteQuestionnaireSection.previs|length > 0 %} #}
        {# #}{# todo: onglet doit être supérieur ou égale à 2... sinon plantage #}
        {# {% set nbOnglet = (qualiteQuestionnaireSection.previs|length / 3)|round(0, 'ceil') %} #}
        {# {% for onglet in 2..nbOnglet %} #}
        {# <li class="nav-item"> #}
        {# <span class="nav-title">Section {{ qualiteQuestionnaireSection.ordre }}-{{ onglet }}</span> #}
        {# <a class="nav-link" data-toggle="tab" href="#wizard-section-{{ qualiteQuestionnaireSection.ordre }}-{{ onglet }}"></a> #}
        {# </li> #}
        {# {% endfor %} #}
        {# {% endif %} #}
        {# {% endfor %} #}

        {# <li class="nav-item"> #}
        {# <span class="nav-title">Confirmation</span> #}
        {# <a class="nav-link" data-toggle="tab" href="#wizard-fin"></a> #}
        {# </li> #}
    </ul>

    <div data-wizard-target="page">
        ... chargement ...
    </div>

    <div class="flexbox mt-2">
        <button class="btn btn-secondary" data-action="wizard#prev" id="prev-button">
            <i class="fas fa-left"></i> Précédent
        </button>
        <button class="btn btn-secondary" data-action="wizard#next" id="next-button">
            Suivant <i class="fas fa-right"></i>
        </button>
        <button class="btn btn-primary d-none" data-action="wizard#finish" id="finish-button">
            Terminer
        </button>
    </div>
</form>
