<div class="card">
        <header class="card-header">
            <h4 class="card-title"><strong>{{ 'service.previsionnel.heading'|trans }}</strong> | {{ user_data.user.display }} | ({{ 'periode'|trans }}
                : {{ user_data.formation.optAnneePrevisionnel }})</h4>
            <ul class="card-controls">
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('previsionnel_chronologique') }}"><i class="ti-alarm-clock"></i> {{ 'chronologique'|trans }}</a>
                        <a href="{{ path('application_personnel_previsionnel_export', {_format:'pdf'}) }}"
                           class="dropdown-item"><i class="fa fa-file-pdf-o"></i> {{ 'exporter.pdf'|trans }}</a>
                        <a href="{{ path('application_personnel_previsionnel_export', {_format:'xlsx'}) }}"
                           class="dropdown-item"><i class="fa fa-file-excel-o"></i>
                            {{ 'exporter.xls'|trans }}</a>
                        <a href="{{ path('application_personnel_previsionnel_export', {_format:'csv'}) }}"
                           class="dropdown-item"><i class="fa fa-file-text-o"></i> {{ 'exporter.csv'|trans }}</a>
                    </div>
                </li>
            </ul>
        </header>

        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                {% for semestre in previsionnel.semestres %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %} active{% endif %}" data-toggle="tab"
                           href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                    </li>
                {% endfor %}
                {# todo: devrait afficher les semestres dans lesquels ont intervient ? Que faire si année de prévi différente ?
                 Possibilité de changer l'année pour l'enseignant. #}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {% for semestre in previsionnel.semestres %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="semestre{{ semestre.id }}">
                        {{ include('bloc_previsionnel/previ_semestre.html.twig') }}

                        <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                            Information indicative !
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {{ include('bloc_previsionnel/hrs.html.twig') }}

    {{ include('bloc_previsionnel/total.html.twig') }}



{{ include('composants/fab-buttons.html.twig', {boutons:[
    {type: 'info',
        href: path('application_personnel_previsionnel_export', {_format:'pdf'}),
        title: 'exporter.pdf'|trans,
        icone : "fa fa-file-pdf-o"
    },
    {
        type:'info',
        href:path('application_personnel_previsionnel_export', {_format:'csv'}),
        title: 'exporter.csv'|trans,
        icone: 'fa fa-file-text-o'
    },
    {
        type:'info',
        href:path('application_personnel_previsionnel_export', {_format:'xlsx'}),
        title: 'exporter.xls'|trans,
        icone: 'fa fa-file-excel-o'
    },
    {
        type:'info',
        href:path('help_article', {sujet: 'previsionnel'}),
        title: 'aide'|trans,
        icone: 'fa fa-question'
    },
    {type: 'info',
        href: path('previsionnel_chronologique'),
        title: 'chronologique'|trans,
        icone : "ti-time"}
]}) }}
