<div>
    <h2>Emploi du temps de {{ matiere.display }}</h2>
    <table class="table-edt" id="selectable">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                Lundi {{ edt.tabJour.lundi|date('d/m/Y') }}</th>
            <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                Mardi {{ edt.tabJour.mardi|date('d/m/Y') }}</th>
            <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                Mercredi {{ edt.tabJour.mercredi|date('d/m/Y') }}</th>
            <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                Jeudi {{ edt.tabJour.jeudi|date('d/m/Y') }}</th>
            <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                Vendredi {{ edt.tabJour.vendredi|date('d/m/Y') }}</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            {% for jour in 1..5 %}
                {% for group in 1..edt.semestre.nbgroupeTPEDT %}
                    <th>{{ edt.groupes[group] }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for ligne in 1..27 %}
            {% set heure=(ligne/2+7.5)|number_format(0) %}
            <tr>
                <td class="heures"
                    style="height: 20px; padding:0;">{% if(ligne/2+7.5)-heure!=0 %}{{ heure-1 }}h30{% else %}{{ heure }}h00{% endif %}</td>
                {% for jour in 1..5 %}
                    {% for group in 1..edt.semestre.nbgroupeTPEDT %}
                        {% if edt.planning[jour][ligne][group] is defined %}
                            {% if edt.planning[jour][ligne][group].texte!='xx' %}
                                <td class="center td-edt edt_cours"
                                    id="cell_{{ ligne }}_{{ jour }}_{{ group }}_{{ edt.planning[jour][ligne][group].planning.id }}"
                                    rowspan="{{ edt.planning[jour][ligne][group].duree }}"
                                    style="background:{{ edt.planning[jour][ligne][group].couleur }};color:{{ edt.planning[jour][ligne][group].couleurTexte }}; padding:0;"
                                    colspan="{{ edt.planning[jour][ligne][group].largeur }}">{{ edt.planning[jour][ligne][group].texte|raw }}</td>
                            {% endif %}
                        {% else %}
                            <td id="cell_{{ ligne }}_{{ jour }}_{{ group }}">&nbsp;</td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
</div>
