<div class="card">
    {{ include('administration/edt/_header.html.twig') }}

    <div>
        <h2>Emploi du temps de {{ prof.displayPr }}</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-edt-etudiant">
                    {{ include('edt/_header_edt.html.twig') }}
                    {% for ligne in 1..7 %}
                        <div class="edt-etudiant-col1 col-edt-heure">{{ tabHeures[ligne][0] }}
                            <br>{{ tabHeures[ligne][1] }}</div>
                        {% for j in 1..5 %}
                            {% if edt.planning[j][ligne] is defined and edt.planning[j][ligne].texte != 'xx' %}
                                <div class="edt-etudiant-col1 edt-cours {% if 'now'|date('N') != j %}col-edt-hide{% endif %}"
                                     style="background-color:{{ edt.planning[j][ligne].couleur }}; color:{{ edt.planning[j][ligne].couleurTexte }};">
                                    {% if edt.planning[j][ligne].pl != "" %}
                                    <a href="{{ path('application_personnel_absence_from_planning',{'event':edt.planning[j][ligne].pl }) }}" style="color:{{ edt.planning[j][ligne]
                                    .couleurTexte }};">
                                        {% endif %}
                                        {{ edt.planning[j][ligne].texte|raw }}
                                        {% if edt.planning[j][ligne].format == 'nok' %}
                                            <br/>
                                            <span class="edt-extra-time">{{ convertHeureEdt(edt
                                                    .planning[j][ligne].debut) }} à  {{ convertHeureEdt(edt
                                                    .planning[j][ligne].fin) }}</span>
                                        {% endif %}
                                        {% if edt.planning[j][ligne].pl != "" %}
                                    </a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="edt-etudiant-col1 edt-cours {% if 'now'|date('N') != j %}col-edt-hide{% endif %}">
                                    &nbsp;
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <div class="alert alert-warning">Soit pour cette semaine : {{ edt.total.CM }} heure(s) de CM (non
                                         majorée), {{ edt.total.TD }} heure(s) de TD, {{ edt.total.TP }} heure(s) de TP
        </div>
    </div>
</div>
