<h4 class="card-title"><strong>Semaine {{ edt.semaine }}
                               (semaine formation {{ edt.semaineFormation }})</strong></h4>
<div class="card-body">

    <div class="row gap-y">
        <div class="col-md-2 col-sm-6"></div>
        <div class="col-md-2 col-sm-6"></div>
        <div class="col-md-2 col-sm-6">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary"
                       href="{{ path('administration_edt_index',{valeur:edt.valeur, filtre:edt.filtre,
                           semaine:edt.semainePrecedente}) }}" title="{{ 'semaine.precedente'|trans }}"><i
                                class="fas fa-caret-left"></i></a>
                    <a class="btn btn-primary"
                       href="{{ path('administration_edt_index',{valeur:edt.valeur, filtre:edt.filtre,
                           semaine:'now'|date('W')}) }}" title="{{ 'semaine.courante'|trans }}"><i
                                class="fas fa-clock"></i></a>
                    <a class="btn btn-primary"
                       href="{{ path('administration_edt_index',{valeur:edt.valeur, filtre:edt.filtre,
                           semaine:edt.semaineSuivante}) }}" title="{{ 'semaine.suivante'|trans }}"><i
                                class="fas fa-caret-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="btn-toolbar">
                <div class="btn-group">
                    {% for semestre in user_data.semestres|filter(semestre => semestre.actif == true) %}
                        <a class="btn {% if edt.semestre != null and edt.semestre.id == semestre.id %}btn-primary{% endif %}"
                           href="{{ path('administration_edt_index',{valeur:semestre.id, filtre:'promo',
                               semaine:edt.semaine}) }}">{{ semestre.libelle }}</a>
                    {% endfor %}
                    {% for semestre in user_data.semestres|filter(semestre => semestre.actif == false) %}
                        <a class="btn
                            {% if edt.semestre != null and edt.semestre.id == semestre.id %}
                            btn-primary
                            {% endif %}"
                           href="{{ path('administration_edt_index',{valeur:semestre.id, filtre:'promo',
                               semaine:edt.semaine}) }}"><i>{{ semestre.libelle }}</i></a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {{ include('administration/edt/blocs/_edt_nav.html.twig') }}
