<div class="card">
    <h4 class="card-title"><strong>Semaine {{ edt.semaine }}
                                   (semaine formation {{ edt.semaineFormation }})</strong></h4>
    <div class="card-body">

        <div class="row gap-y">
            <div class="col-md-2 col-sm-6"></div>
            <div class="col-md-2 col-sm-6"></div>
            <div class="col-md-2 col-sm-6">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{{ path('administration_edt_index',{valeur:edt.valeur, filtre:edt.filtre,
                               semaine:edt.semainePrecedente}) }}" title="{{ 'semaine.precedente'|trans }}"><i
                                    class="material-icons">keyboard_arrow_left</i></a>
                        <a class="btn btn-primary"
                           href="{{ path('administration_edt_index',{valeur:edt.valeur, filtre:edt.filtre,
                               semaine:'now'|date('W')}) }}" title="{{ 'semaine.courante'|trans }}"><i
                                    class="material-icons">perm_contact_calendar</i></a>
                        <a class="btn btn-primary"
                           href="{{ path('administration_edt_index',{valeur:edt.valeur, filtre:edt.filtre,
                               semaine:edt.semaineSuivante}) }}" title="{{ 'semaine.suivante'|trans }}"><i
                                    class="material-icons">keyboard_arrow_right</i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        {% for semestre in user_data.semestres %}
                            <a class="btn {% if edt.semestre.id == semestre.id %}btn-primary{% endif %}"
                               href="{{ path('administration_edt_index',{valeur:semestre.id, filtre:'promo',
                                   semaine:edt.semaine}) }}">{{ semestre
                                .libelle }}</a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div class="row gap-y">
            <div class="col-sm-2">
                <label for="affichejour" class="sr-only">Jour de la semaine</label>
                <select class="form-control" data-provide="selectpicker" data-live-search="true" id="affichejour" name="affichejour">
                    <option value="">{{ 'edt.filtrer.jour'|trans }}</option>
                    <option value="1">Lundi</option>
                    <option value="2">Mardi</option>
                    <option value="3">Mercredi</option>
                    <option value="4">Jeudi</option>
                    <option value="5">Vendredi</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label for="affichesalle" class="sr-only">Salle</label>
                <select class="form-control" data-provide="selectpicker" data-live-search="true" id="affichesalle" name="affichesalle">
                    <option value="">{{ 'edt.filtrer.salle'|trans }}</option>
                    {% for salle in salles %}
                        <option value="{{ salle.id }}">{{ salle.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <label for="affichepersonnel" class="sr-only">Personnel</label>
                <select class="form-control" data-provide="selectpicker" data-live-search="true" id="affichepersonnel" name="affichepersonnel">
                    <option value="">{{ 'edt.filtrer.personnel'|trans }}</option>
                    {% for personnel in personnels %}
                        <option value="{{ personnel.id }}">{{ personnel.displayPr }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <label for="affichematiere" class="sr-only">Matière</label>
                <select class="form-control" data-provide="selectpicker" data-live-search="true" name="affichematiere" id="affichematiere">
                    <option value="">{{ 'edt.filtrer.matiere'|trans }}</option>
                    {% for matiere in matieres %}
                        <option value="{{ matiere.id }}">{{ matiere.display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <label for="affichesemaine" class="sr-only">Semaine</label>
                <select class="form-control" data-provide="selectpicker" data-live-search="true" name="affichesemaine" id="affichesemaine">
                    <option value="">{{ 'edt.filtrer.semaine'|trans }}</option>
                    {% for sem in edt.semaines %}
                        <option value="{{ edt.filtre }}_{{ edt.valeur }}_{{ sem.semaineReelle }}">
                            du {{ sem.debut|format_date('short') }} au {{ sem.fin|format_date('short') }} |
                            S{{ sem.semaineIUT }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row gap-y">
          <div class="col-sm-12">
            <table class="table-edt" id="selectable">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                  Lundi {{ edt.tabJour.lundi|format_date('short') }}</th>
                <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                  Mardi {{ edt.tabJour.mardi|format_date('short') }}</th>
                <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                  Mercredi {{ edt.tabJour.mercredi|format_date('short') }}</th>
                <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                  Jeudi {{ edt.tabJour.jeudi|format_date('short') }}</th>
                <th class="center" colspan="{{ edt.semestre.nbgroupeTPEDT }}">
                  Vendredi {{ edt.tabJour.vendredi|format_date('short') }}</th>
              </tr>
              <tr>
                <th>&nbsp;</th>
                  {% for jour in 1..5 %}
                      {% for group in 1..edt.semestre.nbgroupeTPEDT %}
                          <th>
                              {{ edt.groupes[group] }}</th>
                      {% endfor %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for ligne in 1..27 %}
                        {% set heure=(ligne/2+7.5)|number_format(0) %}

                        <tr>
                            <td class="heures"
                                style="height: 20px; padding:0;">{% if(ligne/2+7.5)-heure!=0 %}{{ heure-1 }}h30{% else %}{{ heure }}h00{% endif %}</td>
                            {% for jour in 1..5 %}
                                {% for group in 1..edt.semestre.nbgroupeTPEDT %}
                                    {% if edt.planning[jour][ligne][group] is defined %}
                                        {% if edt.planning[jour][ligne][group].texte!='xx' %}
                                          <td class="center td-edt edt_cours"
                                              id="cell_{{ ligne }}_{{ jour }}_{{ group }}_{{ edt.planning[jour][ligne][group].planning.id }}"
                                              data-edt="{{ edt.planning[jour][ligne][group].planning.id }}"
                                              rowspan="{{ edt.planning[jour][ligne][group].duree }}"
                                              style="background:{{ edt.planning[jour][ligne][group].couleur }};color:{{ edt.planning[jour][ligne][group].couleurTexte }}; padding:0;"
                                              colspan="{{ edt.planning[jour][ligne][group].largeur }}">
                                              {{ edt.planning[jour][ligne][group].texte|raw }}
                                          </td>
                                        {% endif %}
                                    {% else %}
                                        <td id="cell_{{ ligne }}_{{ jour }}_{{ group }}">&nbsp;</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{ include('administration/edt/blocs/_blacAdd.html.twig') }}
{{ include('composants/edt.html.twig', {source: 'intranet'}) }}



