{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.edt.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if user_data.departement.optUpdateCelcat %}
        {{ render(controller(
            'App\\Controller\\administration\\EdtController::edtCelcat', {
                semaine:semaine, valeur:valeur, filtre:filtre
            }
        )) }}
    {% else %}
        {{ render(controller(
            'App\\Controller\\administration\\EdtController::edtIntranet', {
                semaine:semaine, valeur:valeur, filtre:filtre
            }
        )) }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.edt') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.edt') }}
{% endblock %}
