<table class="table table-bordered">
    <tr>
        <th style="width: 25%">Nom de la ressource</th>
        <td style="width: 25%" colspan="2">{{ apc_ressource.libelle }}</td>
        <th style="width: 25%">Code</th>
        <td style="width: 25%">{{ apc_ressource.codeMatiere }}</td>
    </tr>
    <tr>
        <th>Parcours</th>
        <td>
            {% if apc_ressource.mutualisee == true %}
                <span class="badge bg-info">
                Ressource mutualisée
            </span>
            {% else %}
                {% for parcour in apc_ressource.parcours|filter(parcour => parcour != null) %}
                    <span class="badge bg-{{ parcour.couleur }}">
                        {{ parcour.libelle }}</span>
                {% else %}
                    <span class="badge bg-info">
                        Tronc commun ou pas de parcours spécifié sur ce semestre
                        </span>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Semestres</th>
        <td colspan="4">
            {% for semestre in apc_ressource.semestres %}
                {{ semestre.display }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>
            Compétence(s) ciblée(s)
        </th>
        <td colspan="4">
            {% for competence in apc_ressource.apcRessourceCompetences|filter(competence => competence.competence !=
                null) %}
                <span class="badge badge-lg bg-{{ competence.competence.couleur }}"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ competence.competence.libelle }}">
                    {{ competence.competence.nomCourt }}
                </span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>
            Apprentissages critiques
        </th>
        <td colspan="4">
            {% for ac in apc_ressource.apcRessourceApprentissageCritiques|filter(ac => ac.apprentissageCritique !=
                null) %}
                <span class="badge badge-lg bg-{{ ac.apprentissageCritique.niveau.competence.couleur }}"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ ac.apprentissageCritique.libelle }}">
                    {{ ac.apprentissageCritique.code }}</span>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th>SAÉ concernée(s) <br><small>(cliquez pour ouvrir dans une nouvelle fenêtre)
            </small></th>
        <td colspan="3">
            {% for sae in apc_ressource.apcSaeRessources|filter(sae => sae.sae !=
                null) %}
                <a href="{{ path('but_fiche_sae',
                    {'apcSae': sae.sae.id, diplome:diplome.sigle|lower}) }}"
                   target="_blank"
                   title="Voir la fiche de la SAE (nouvelle fenêtre)"
                >
                <span class="badge bg-primary"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ sae.sae.libelle }}">
                    {{ sae.sae.codeMatiere }}
                    </span>
                </a>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <th>Prérequis</th>
        <td colspan="4">
            <p>{{ apc_ressource.preRequis|nl2br }}</p>
            {% for prereq in apc_ressource.ressourcesPreRequises %}
                <a href="{{ path('but_fiche_ressource',
                    {'apcRessource': prereq.id, diplome:diplome.sigle|lower}) }}"
                   target="_blank"
                   title="Voir la fiche de la ressource (nouvelle fenetre)"
                >
                <span class="badge bg-primary"
                      data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="{{ prereq.libelle }}">
                    {{ prereq.display }}
                    </span>
                </a>
            {% else %}
                <span class="badge bg-info">Aucune ressource prérequise</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td colspan="4">{{ apc_ressource.description != null ? apc_ressource.description|markdown_to_html : '' }}</td>
    </tr>
    <tr>
        <th>Mots clés</th>
        <td colspan="4">{{ apc_ressource.motsCles|keyWords }}</td>
    </tr>
    <tr>
        <th rowspan="2">Heures Programme National</th>
        <th class="text-center" colspan="2">Heures CM/TD**</th>
        <th class="text-center">Heures TP</th>
        <th class="text-center">Total</th>
    </tr>
    <tr>
        <th class="text-center" colspan="2">{{ apc_ressource.cmPpn + apc_ressource.tdPpn }}</th>
        <th class="text-center">{{ apc_ressource.tpPpn }}</th>
        <th class="text-center">{{ apc_ressource.cmPpn + apc_ressource.tdPpn + apc_ressource.tpPpn }}</th>
    </tr>
    <tr>
        <th rowspan="2">Heures de formation ({{ settings('NOM_IUT') }}*)</th>
        <th class="text-center">Heures CM</th>
        <th class="text-center">Heures TD</th>
        <th class="text-center">Heures TP</th>
        <th class="text-center">Total</th>
    </tr>
    <tr>
        <th class="text-center">{{ apc_ressource.cmFormation }}</th>
        <th class="text-center">{{ apc_ressource.tdFormation }}</th>
        <th class="text-center">{{ apc_ressource.tpFormation }}</th>
        <th class="text-center">{{ apc_ressource.cmFormation + apc_ressource.tdFormation + apc_ressource.tpFormation }}</th>
    </tr>
</table>
