<div class="row">
    <div class="col-sm-3">
        {{ form_row(form.codeRessource) }}
    </div>
    <div class="col-sm-9">
        {{ form_row(form.libelle) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.heuresCM) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.heuresTD) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.heuresTP) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.preRequis) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.motsCles) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.semestre) }}
        {{ form_row(form.competences) }}
    </div>
</div>
