<table class="table {% if ressources|length>0 %}table-striped{% endif %} table-bordered"
       id="tab_semestre{{ semestre.id }}"
>
    <thead>
    <tr>
        <th>{{ 'table.code_ressource'|trans }}</th>
        <th>{{ 'table.code_element'|trans }}</th>
        <th>{{ 'table.libelle'|trans }}</th>
        <th>{{ 'table.competence'|trans }}</th>
        <th>Mutualisée ?</th>
        <th>{{ 'table.suspendu'|trans }}</th>
        <th>{{ 'table.cm'|trans }}</th>
        <th>{{ 'table.td'|trans }}</th>
        <th>{{ 'table.tp'|trans }}</th>
        <th>{{ 'table.nb_notes'|trans }}</th>
        <th>{{ 'table.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ressource in ressources|filter(ressource => ressource.hasSemestre(semestre) == true) %}
        <tr {% if ressource.suspendu == true %}class="bg-pale-warning"{% endif %} id="ligne_{{ ressource.id }}">
            <td>
                <a class="editable"
                   data-field="codeMatiere"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le code matière">
                    {{ ressource.codeMatiere }}</a>
                {% if ressource.isParent %}
                <span class="badge bg-primary">Res. Parent</span>{% endif %}
                {% if ressource.isEnfant %}
                    <span class="badge bg-info">Res. Enfant</span>{% endif %}
            </td>
            <td>
                <a class="editable"
                   data-field="codeElement"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le code matière">
                    {{ ressource.codeElement }}</a>
            </td>
            <td>{{ ressource.libelle }}</td>
            <td>
                {% for competence in ressource.apcRessourceCompetences %}
                    <span class="badge bg-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }} ({{ competence.coefficient }})
                    </span>
                {% endfor %}</td>
            <td>{{ ressource.mutualisee|badgeYesNo }}</td>
            <td>{{ ressource.suspendu|badgeYesNo }}</td>
            <td>
                <a class="editable"
                   data-field="CmPpn"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le volume horaire">
                    {{ ressource.cmPpn }}</a> |
                <a class="editable"
                   data-field="CmFormation"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le volume horaire">
                    {{ ressource.cmFormation }}</a>
            </td>
            <td>
                <a class="editable"
                   data-field="TdPpn"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le volume horaire">
                    {{ ressource.tdPpn }}</a> |
                <a class="editable"
                   data-field="TdFormation"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le volume horaire">
                    {{ ressource.tdFormation }}</a>
            </td>
            <td>
                <a class="editable"
                   data-field="TpPpn"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le volume horaire">
                    {{ ressource.tpPpn }}</a> |
                <a class="editable"
                   data-field="TpFormation"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le volume horaire">
                    {{ ressource.tpFormation }}</a>
            </td>
            <td>
                <a class="editable"
                   data-field="NbNotes"
                   data-href="{{ path('administration_apc_ressources_ajax_edit', {id:ressource.id}) }}"
                   title="Corriger le nombre de notes">
                    {{ ressource.nbNotes }}</a></td>
            <td>
                {% if settings('MODIFICATION_PPN') == 1 %}

                    <a href="{{ path('administration_apc_ressource_duplicate', {'id': ressource.id, semestre:semestre.id}) }}"
                       class="btn btn-success btn-outline btn-square"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.dupliquer'|trans }}">
                        <i class="{{ iconDuplicate }}"></i>
                        <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                    </a>

                {% endif %}
                <a href="{{ path('administration_apc_ressource_show', {'id': ressource.id}) }}"
                   class="btn btn-info btn-outline btn-square"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"

                   title="{{ 'atitle.details'|trans }}">
                    <i class="{{ iconShow }}"></i>
                    <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                </a>
                {% if settings('MODIFICATION_PPN') == 1 %}

                    <a href="{{ path('administration_apc_ressource_edit', {'id': ressource.id, semestre:semestre.id}) }}"
                       class="btn btn-warning btn-outline btn-square"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.modifier'|trans }}">
                        <i class="{{ iconEdit }}"></i>
                        <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                    </a>

                    <a href="{{ path('administration_apc_ressource_enfants', {'id': ressource.id}) }}"
                       class="btn btn-warning btn-outline btn-square"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.configurer'|trans }}">
                        <i class="fas fa-wrench"></i>
                        <span class="sr-only">{{ 'atitle.configurer'|trans }}</span>
                    </a>

                    <a href="{{ path('administration_apc_ressource_delete', {id: ressource.id}) }}"
                       data-csrf="{{ csrf_token('delete' ~ ressource.id) }}"
                       class="btn btn-danger btn-outline btn-square supprimer"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"

                       title="{{ 'atitle.supprimer'|trans }}">
                        <i class="{{ iconDelete }}"></i>
                        <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="bg-pale-warning">
            <td colspan="12">{{ 'no.record.found'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
