<table class="table table-striped">
    <thead>
    <tr>
        <th>Ressource enfant</th>
        <th>Groupe *</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for enfant in enfants %}
        <tr>
            <td>{{ enfant.apcRessourceEnfant.display }}</td>
            <td>
                <label for="groupe_{{ enfant.apcRessourceEnfant.id }}" class="sr-only">Groupe</label>
                <select class="form-select"
                        id="groupe_{{ enfant.apcRessourceEnfant.id }}"
                        multiple
                        data-enfant="{{ enfant.apcRessourceEnfant.id }}"
                        data-action="change->apc-enfant#changeGroupe"
                >
                    <option value="">Choisir un groupe particulier (laisser vide pour tous les groupes)</option>
                    {% for groupe in groupes %}
                        <option value="{{ groupe.id }}" {% if enfant.containsGroupe(groupe) %}selected{% endif %}>
                            {{ groupe.display }}
                        </option>
                    {% endfor %}
                </select>
                <p class="text-small">Possibilité de selectionner plusieurs groupes</p>
            </td>
            <td><button class="btn btn-danger d-block"
                        data-enfant="{{ enfant.apcRessourceEnfant.id }}"
                        data-action="click->apc-enfant#removeEnfant">Supprimer</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<twig:Alert type="info">
    <strong>*</strong> Laisser vide pour permettre la saisie pour tous les groupes.
</twig:Alert>

