{% extends 'base.html.twig' %}

{% block header %}
    Gestion <strong>de la fin du semestre {{ semestre.libelle }}</strong>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestres %}
            <a href="{{ path('administration_fin_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-square btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-provide="tooltip"
               data-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="ti-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}
{% block content %}

{% endblock %}
