{% extends 'base.html.twig' %}

{% block header %}
    Gestion <strong>de la fin du semestre {{ semestre.libelle }}</strong>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestresActifs %}
            <a href="{{ path('administration_fin_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="card">

        <h2 class="card-title"><strong>Décision</strong> de fin de semestre | {{ semestre.display }}</h2>
        <div class="card-body">
            <div class="alert alert-info">La proposition est faite en fonction de la sous-commission de travail. Les
                                          propositions correspondent aux propositions lorsque complétées.
            </div>
            <br/>
            <form action="{{ path('administration_fin_semestre_confirme',{semestre:semestre.id}) }}" method="post">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Etudiant</th>
                        <th>Attente</th>
                        {% if semestre.precedent != null %}
                            <th>{{ semestre.precedent.libelle }}</th>
                        {% endif %}
                        {# semestre décalé #}
                        {% if semestre.decale != null %}
                            <th>{{ semestre.decale.libelle }}</th>
                        {% endif %}
                        {#fin semestre decalé#}
                        {% if semestre.suivant != null %}
                            <th>{{ semestre.suivant.libelle }}</th>
                        {% endif %}
                        <th>Réo.</th>
                        <th>Dem.</th>
                        <th>Diplôme</th>
                        <th colspan="2">Autre Formation*</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for etu in etudiants|filter(etu => etu.semestre == null or etu.semestre.id == semestre.id) %}
                        <tr>
                            <td>#{{ etu.numetudiant }}</td>
                            <td>{{ etu.display }}</td>
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_ATT">{{ etu.display }} ATT</label>
                                <input type="radio" name="etu_{{ etu.id }}" id="etu_{{ etu.id }}_ATT" value="ATT"
                                       checked>
                            </td>

                            {% if semestre.precedent != null %}
                                <td>
                                    <label class="sr-only" for="etu_{{ etu.id }}_{{ semestre.precedent.id }}">
                                        {{ etu.display }} {{ semestre.precedent.libelle }}
                                    </label>
                                    <input type="radio"
                                           name="etu_{{ etu.id }}"
                                           id="etu_{{ etu.id }}_{{ semestre.precedent.id }}"
                                           value="{{ semestre.precedent.id }}"
                                            {% if scolarites[etu.id] != null and scolarites[etu.id].proposition == semestre
                                            .precedent.libelle %} checked {% endif %}>
                                </td>
                            {% endif %}
                            {% if semestre.decale != null %}
                                <td>
                                    <label class="sr-only" for="etu_{{ etu.id }}_{{ semestre.decale.id }}">
                                        {{ etu.display }} {{ semestre.decale.libelle }}
                                    </label>
                                    <input type="radio"
                                           id="etu_{{ etu.id }}_{{ semestre.decale.id }}"
                                           name="etu_{{ etu.id }}"
                                           value="{{ semestre.decale.id }}"
                                            {% if scolarites[etu.id] != null and scolarites[etu.id].proposition ==
                                                semestre.decale.libelle %} checked {% endif %}>
                                </td>
                            {% endif %}
                            {% if semestre.suivant != null %}
                                <td>
                                    <label class="sr-only" for="etu_{{ etu.id }}_{{ semestre.suivant.id }}">
                                        {{ etu.display }} {{ semestre.suivant.libelle }}
                                    </label>
                                    <input type="radio"
                                           id="etu_{{ etu.id }}_{{ semestre.suivant.id }}"
                                           name="etu_{{ etu.id }}"
                                           value="{{ semestre.suivant.id }}"
                                            {% if scolarites[etu.id] != null and scolarites[etu.id].proposition == semestre.suivant.libelle %} checked {% endif %}>
                                </td>
                            {% endif %}
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_REO">
                                    {{ etu.display }} {{ semestre.precedent.libelle }}
                                </label>
                                <input type="radio"
                                       id="etu_{{ etu.id }}_REO"
                                       name="etu_{{ etu.id }}" value="REO"
                                        {% if scolarites[etu.id] != null and scolarites[etu.id].proposition == 'REO' %} checked {% endif %}>
                            </td>
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_DEM">
                                    {{ etu.display }} {{ semestre.precedent.libelle }}
                                </label>
                                <input type="radio"
                                       id="etu_{{ etu.id }}_DEM"
                                       name="etu_{{ etu.id }}"
                                       value="DEM"
                                        {% if scolarites[etu.id] != null and scolarites[etu.id].proposition == 'DEM' %} checked {% endif %}>
                            </td>
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_DIPLOME">
                                    {{ etu.display }} {{ semestre.precedent.libelle }}
                                </label>
                                <input type="radio"
                                       id="etu_{{ etu.id }}_DIPLOME"
                                       name="etu_{{ etu.id }}"
                                       value="DIPLOME"
                                        {% if scolarites[etu.id] != null and scolarites[etu.id].proposition == 'DUT' %} checked {% endif %} >
                            </td>
                            <td><label class="sr-only" for="etu_{{ etu.id }}_TRANSFERT">
                                    {{ etu.display }} {{ semestre.precedent.libelle }}
                                </label>
                                <input type="radio"
                                       id="etu_{{ etu.id }}_TRANSFERT"
                                       name="etu_{{ etu.id }}"
                                       value="TRANSFERT"></td>
                            <td><label class="sr-only" for="etu_{{ etu.id }}_DEPARTEMENT">
                                    {{ etu.display }} {{ semestre.precedent.libelle }}
                                </label>
                                <select
                                        id="etu_{{ etu.id }}_DEPARTEMENT"
                                        class="form-control">
                                    {% for departement in departements %}
                                        <option value="{{ departement.id }}" {% if departement.id == etu.departement.id %}selected{% endif %}>{% if departement.id != etu.departement.id %}=>{% else %}reste en {% endif %} {{ departement.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <button type="submit" class="btn btn-block btn-danger">
                    Confirmer changement de semestre
                </button>
            </form>
        </div>
    </div>
{% endblock %}
