{% extends 'base.html.twig' %}

{% block header %}
    Gestion <strong>de la fin du semestre {{ semestre.libelle }}</strong>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_fin_semestre_index'}) }}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="card">

        <h2 class="card-title"><strong>Décision</strong> de fin de semestre | {{ semestre.display }}</h2>
        <div class="card-body">
            <twig:Alert type="info">
                La proposition est faite en fonction de la sous-commission de travail. Les
                propositions correspondent aux propositions lorsque complétées.
            </twig:Alert>
            <br/>
            <form action="{{ path('administration_fin_semestre_confirme',{semestre:semestre.id}) }}" method="post">
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th rowspan="2">N°</th>
                        <th rowspan="2">Etudiant</th>
                        <th>Attente</th>
                            {% for sem in semestresPrecedents %}
                            <th>{{ sem.semestreArrive.libelle }}</th>
                            {% endfor %}
                        {# semestre décalé #}
                        {% for sem in semestresDecales %}
                            <th>{{ sem.semestreArrive.libelle }}</th>
                        {% endfor %}
                        {# fin semestre decalé #}
                        {% for sem in semestresSuivants %}
                            <th>{{ sem.semestreArrive.libelle }}</th>
                        {% endfor %}
                        <th>Réo.</th>
                        <th>Dem.</th>
                        <th>Diplôme</th>
                        <th colspan="2" rowspan="2">Autre Formation*</th>
                    </tr>
                    <tr>
                        <th>
                            <a href="#" class="btn btn-primary checkAll" data-col="attente" title="Tout selectionner"><i
                                        class="fas fa-check-double"></i></a>
                        </th>
                        {% for sem in semestresPrecedents %}
                            <th>
                                <a href="#" class="btn btn-primary checkAll" data-col="sem_{{ sem.semestreArrive.id
                                }}"
                                   title="Tout selectionner"><i
                                            class="fas fa-check-double"></i></a>
                            </th>
                        {% endfor %}
                        {# semestre décalé #}
                        {% for sem in semestresDecales %}
                            <th>
                                <a href="#" class="btn btn-primary checkAll" data-col="sem_{{ sem.semestreArrive.id }}"
                                   title="Tout selectionner"><i
                                            class="fas fa-check-double"></i></a>
                            </th>
                        {% endfor %}
                        {# fin semestre decalé #}
                        {% for sem in semestresSuivants %}
                            <th>
                                <a href="#" class="btn btn-primary checkAll" data-col="sem_{{ sem.semestreArrive.id }}"
                                   title="Tout selectionner"><i
                                            class="fas fa-check-double"></i></a>
                            </th>
                        {% endfor %}
                        <th>
                            <a href="#" class="btn btn-primary checkAll" data-col="reo"
                               title="Tout selectionner"><i
                                        class="fas fa-check-double"></i></a>
                        </th>
                        <th>
                            <a href="#" class="btn btn-primary checkAll" data-col="dem"
                               title="Tout selectionner"><i
                                        class="fas fa-check-double"></i></a>
                        </th>
                        <th>
                            <a href="#" class="btn btn-primary checkAll" data-col="diplome"
                               title="Tout selectionner"><i
                                        class="fas fa-check-double"></i></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for etu in etudiants|filter(etu => etu.semestre == null or etu.semestre.id == semestre.id) %}
                        <tr>
                            <td>#{{ etu.numetudiant }}</td>
                            <td>{{ etu.display }}</td>
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_ATT">{{ etu.display }} ATT</label>
                                <input type="radio" name="etu_{{ etu.id }}" id="etu_{{ etu.id }}_ATT" value="ATT"
                                       checked class="attente">
                            </td>

                            {% for sem in semestresPrecedents %}
                                <td>
                                    <label class="sr-only" for="etu_{{ etu.id }}_{{ sem.semestreArrive.id }}">
                                        {{ etu.display }} {{ sem.semestreArrive.libelle }}
                                    </label>
                                    <input type="radio"
                                           class="sem_{{ sem.semestreArrive.id }}"
                                           name="etu_{{ etu.id }}"
                                           id="etu_{{ etu.id }}_{{ sem.semestreArrive.id }}"
                                           value="{{ sem.semestreArrive.id }}"
                                            {% if scolarites[etu.id] is defined and scolarites[etu.id].proposition ==
                                                sem.semestreArrive.libelle %} checked {% endif %}>
                                </td>
                            {% endfor %}
                            {% for sem in semestresDecales %}
                                <td>
                                    <label class="sr-only" for="etu_{{ etu.id }}_{{ sem.semestreArrive.id }}">
                                        {{ etu.display }} {{ sem.semestreArrive.libelle }}
                                    </label>
                                    <input type="radio"
                                           class="sem_{{ sem.semestreArrive.id }}"
                                           id="etu_{{ etu.id }}_{{ sem.semestreArrive.id }}"
                                           name="etu_{{ etu.id }}"
                                           value="{{ sem.semestreArrive.id }}"
                                            {% if scolarites[etu.id] is defined and scolarites[etu.id].proposition ==
                                                sem.semestreArrive.libelle %} checked {% endif %}>
                                </td>
                            {% endfor %}
                            {% for sem in semestresSuivants %}
                                <td>
                                    <label class="sr-only" for="etu_{{ etu.id }}_{{ sem.semestreArrive.id }}">
                                        {{ etu.display }} {{ sem.semestreArrive.libelle }}
                                    </label>
                                    <input type="radio"
                                           class="sem_{{ sem.semestreArrive.id }}"
                                           id="etu_{{ etu.id }}_{{ sem.semestreArrive.id }}"
                                           name="etu_{{ etu.id }}"
                                           value="{{ sem.semestreArrive.id }}"
                                            {% if scolarites[etu.id] is defined and scolarites[etu.id].proposition ==
                                                sem.semestreArrive.libelle %} checked {% endif %}>
                                </td>
                            {% endfor %}
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_REO">
                                    {{ etu.display }} Réorientation
                                </label>
                                <input type="radio"
                                       id="etu_{{ etu.id }}_REO"
                                       class="reo"
                                       name="etu_{{ etu.id }}" value="REO"
                                        {% if scolarites[etu.id] is defined and scolarites[etu.id].proposition == 'REO' %} checked {% endif %}>
                            </td>
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_DEM">
                                    {{ etu.display }} Démission
                                </label>
                                <input type="radio"
                                       class="dem"
                                       id="etu_{{ etu.id }}_DEM"
                                       name="etu_{{ etu.id }}"
                                       value="DEM"
                                        {% if scolarites[etu.id] is defined and scolarites[etu.id].proposition == 'DEM' %} checked {% endif %}>
                            </td>
                            <td>
                                <label class="sr-only" for="etu_{{ etu.id }}_DIPLOME">
                                    {{ etu.display }} Diplômé
                                </label>
                                <input type="radio"
                                       class="diplome"
                                       id="etu_{{ etu.id }}_DIPLOME"
                                       name="etu_{{ etu.id }}"
                                       value="DIPLOME"
                                        {% if scolarites[etu.id] is defined and scolarites[etu.id].proposition == 'DUT' %} checked {% endif %} >
                            </td>
                            <td><label class="sr-only" for="etu_{{ etu.id }}_TRANSFERT">
                                    {{ etu.display }} Transfert
                                </label>
                                <input type="radio"
                                       class="transfert"
                                       id="etu_{{ etu.id }}_TRANSFERT"
                                       name="etu_{{ etu.id }}"
                                       value="TRANSFERT"></td>
                            <td><label class="sr-only" for="etu_{{ etu.id }}_DEPARTEMENT">
                                    {{ etu.display }} Département
                                </label>
                                <select
                                        id="etu_{{ etu.id }}_DEPARTEMENT"
                                        class="form-select">
                                    {% for departement in departements %}
                                        <option value="{{ departement.id }}" {% if departement.id == etu.departement.id %}selected{% endif %}>{% if departement.id != etu.departement.id %}=>{% else %}reste en {% endif %} {{ departement.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <div class="d-grid">
                    <button type="submit" class="btn d-block btn-danger">
                        Confirmer changement de semestre
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.addEventListener('load', function () { //le dom est chargé
        document.querySelectorAll('.checkAll').forEach(e => {
          e.addEventListener('click', function (event) {
            event.preventDefault()
            document.querySelectorAll('.'+event.currentTarget.dataset.col).forEach(e => {
              e.checked = true
            })
          })
        })
      })
    </script>
{% endblock %}
