<h3>{{ event.matiere }}</h3>
<dl class="row">
    <dt class="col-md-5 col-sm-12">{{ 'edt.type_groupe'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ event.type }} / {{ event.groupes }}</dd>

    <dt class="col-md-5 col-sm-12">{{ 'edt.enseignant'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ event.enseignant }}</dd>

    <dt class="col-md-5 col-sm-12">{{ 'edt.horaires'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ event.horaires }}</dd>

    <dt class="col-md-5 col-sm-12">{{ 'edt.commentaire'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ event.commentaire }}</dd>

    <dt class="col-md-5 col-sm-12">{{ 'edt.evaluation'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ event.evaluation }}</dd>

    <dt class="col-md-5 col-sm-12">{{ 'edt.salle'|trans }}:</dt>
    <dd class="col-md-7 col-sm-12"> {{ event.salle }}</dd>
</dl>
