<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }} | {{ user_data.user.displayPr }} |
                                                                   Semaine {{ edt.semaine }}
                                                                   (semaine formation {{ edt.semaineFormation }})</h4>

        <div class="card-header-actions">

            <div class="btn-toolbar pull-right">
                <div class="btn-group mr-2">
                    <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:'now'|date('W')}) }}"
                       data-provide="tooltip" title="Cette semaine"><i class="fa
	fa-calendar"></i><span class="sr-only">Semaine courante</span></a>
                </div>

                <div class="btn-group mr-2">
                    {% if user_data.user.diplome.optSemainesVisibles > 2 %}
                        <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semainePrecedente}) }}"
                           data-provide="tooltip"
                           title="Semaine précédente"
                           id="semainePrecedente"><i
                                    class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                        <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semaineSuivante}) }}"
                           data-provide="tooltip"
                           title="Semaie suivante"
                           id="semaineSuivante"><i
                                    class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                    {% else %}
                        {% if edt.semaine=='now'|date('W') %}
                            <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semaineSuivante}) }}"
                               data-provide="tooltip"
                               title="Semaie suivante"
                               id="semaineSuivante"><i
                                        class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semainePrecedente}) }}"
                               data-provide="tooltip"
                               title="Semaine précédente"
                               id="semainePrecedente"><i
                                        class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <ul class="card-controls">
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#"><i
                                class="ti-more-alt rotate-90" data-provide="tooltip" title="Options d'export ou de synchronisation"></i><span class="sr-only">Options d'export ou de synchronisation</span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('edt_etudiant_export_semaine_courante', {semaine:edt.semaine}) }}"
                           class="dropdown-item"><i
                                    class="fa fa-file-pdf-o"></i>{{ 'exporter.semaine.courante.pdf'|trans }}</a>
                        <a href="{{ path('edt_etudiant_export_ical') }}"
                           class="dropdown-item"><i
                                    class="ti-export"></i>{{ 'edt.etudiant.export.ical'|trans }}</a>
                        <a href="#"
                           data-provide="modaler tooltip"
                           data-url="{{ path('edt_affiche_ical') }}"
                           data-placement="bottom"
                           title="{{ 'atitle.lien_ical'|trans }}"
                           data-title="{{ 'edt.intervenant.synchro.ical.heading'|trans }}"
                           class="dropdown-item"><i
                                    class="ti-export"></i>{{ 'edt.intervenant.synchro.ical'|trans }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="card-body">
        <div class="wrapper-edt-etudiant">
            {{ include('edt/_header_edt.html.twig') }}
            {% for ligne in 1..7 %}
                <div class="edt-etudiant-col1 col-edt-heure col-edt-visible">{{ tabHeures[ligne][0] }}
                    <br>{{ tabHeures[ligne][1] }}</div>
                {% for j in 1..5 %}
                    {% if edt.planning[j][ligne] is defined %}
                        <div class="edt-etudiant-col1 edt-cours {% if 'now'|date('N') != j %}col-edt-hide{% endif %}" style="background-color:{{ edt.planning[j][ligne]
                        .couleur }}; color:{{ edt.planning[j][ligne].couleurTexte }};">
                            <a href="#" data-provide="modaler"
                               data-url="{{ path('edt_etudiant_detail_event', {'event': edt.planning[j][ligne].pl,
                                   type: 'planning'}) }}"
                               title="{{ 'atitle.details'|trans }}"
                               data-title="{{ 'edt.etudiant.details'|trans }}"
                               style="color:{{ edt.planning[j][ligne].couleurTexte }};"
                            >
                                {{ edt.planning[j][ligne].texte|raw }}
                                {% if edt.planning[j][ligne].format == 'nok' %}
                                    <br>
                                    <span class="edt-extra-time">{{ convertHeureEdt(edt.planning[j][ligne].debut) }} à
                                        {{ convertHeureEdt(edt.planning[j][ligne].fin) }}</span>
                                {% endif %}
                            </a>
                        </div>
                    {% else %}
                        <div class="edt-etudiant-col1 edt-cours {% if 'now'|date('N') != j %}col-edt-hide{% endif %}"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

