<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }} | {{ user_data.user.displayPr }} |
                                                                   Semaine {{ edt.semaine }}
                                                                   (semaine formation {{ edt.semaineFormation }})</h4>

        <div class="card-header-actions">

            <div class="btn-toolbar pull-right">
                <div class="btn-group mr-2">
                    <a class="btn btn-primary" href="" data-provide="tooltip" title="Cette semaine"><i class="fa
	fa-calendar"></i><span class="sr-only">Semaine courante</span></a>
                </div>

                <div class="btn-group mr-2">
                    {# todo: a gerer selon la configuration du diplome #}
                    <a class="btn btn-primary" href="" data-provide="tooltip" title="Semaine précédente"
                       id="semainePrecedente"><i
                                class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                    <a class="btn btn-primary" href="" data-provide="tooltip" title="Semaie suivante"
                       id="semaineSuivante"><i
                                class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                </div>
            </div>
            <ul class="card-controls">
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#"><i
                                class="ti-more-alt rotate-90" data-provide="tooltip" title="Options d'export ou de synchronisation"></i><span class="sr-only">Options d'export ou de synchronisation</span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('edt_etudiant_export_semaine_courante', {semaine:12}) }}"
                           class="dropdown-item"><i
                                    class="fa fa-file-pdf-o"></i>{{ 'exporter.semaine.courante.pdf'|trans }}</a>
                        <a href="{{ path('edt_etudiant_export_ical') }}"
                           class="dropdown-item"><i
                                    class="ti-export"></i>{{ 'edt.etudiant.export.ical'|trans }}</a>
                        <a href="{{ path('edt_etudiant_synchro_ical') }}"
                           class="dropdown-item"><i
                                    class="ti-export"></i>{{ 'edt.etudiant.synchro.ical'|trans }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="card-body">
        <div class="wrapper-edt-etudiant">
            <div class="edt-etudiant-col1 col-edt-header">&nbsp;</div>
            <div class="edt-etudiant-col1 col-edt-header jour">Lundi {{ edt.tabJour.lundi|date('d/m') }}</div>
            <div class="edt-etudiant-col1 col-edt-header jour">Mardi {{ edt.tabJour.mardi|date('d/m') }}</div>
            <div class="edt-etudiant-col1 col-edt-header jour">Mercredi {{ edt.tabJour.mercredi|date('d/m') }}</div>
            <div class="edt-etudiant-col1 col-edt-header jour">Jeudi {{ edt.tabJour.jeudi|date('d/m') }}</div>
            <div class="edt-etudiant-col1 col-edt-header jour">Vendredi {{ edt.tabJour.vendredi|date('d/m') }}</div>
            {% for ligne in 1..7 %}
                <div class="edt-etudiant-col1 col-edt-heure">{{ tabHeures[ligne][0] }}<br>{{ tabHeures[ligne][1]
                    }}</div>
                {% for j in 1..5 %}
                    {% if ligne != j %}
                        <div class="edt-etudiant-col1 edt-cours">cours {{ ligne }} {{ j }}</div>
                        {% else %}
                            <div class="edt-etudiant-col1 edt-cours"></div>

                    {% endif %}
                    {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

