<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }} |
                                                                   Semaine {{ edt.semaine }}
                                                                   (semaine formation {{ edt.semaineFormation }})</h4>

        <div class="card-header-actions">


            <ul class="card-controls">
                <li class="dropdown">
                    <a data-bs-toggle="dropdown" href="#"><i
                                class="fas fa-ellipsis-h rotate-90" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Options d'export ou de synchronisation"></i><span class="sr-only">Options d'export ou de synchronisation</span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {# todo:                    <a href="{{ path('edt_etudiant_export_semaine_courante', {semaine:edt.semaine}) }}" #}
                        {# class="dropdown-item"><i #}
                        {# class="fa fa-file-pdf"></i>{{ 'exporter.semaine.courante.pdf'|trans }}</a> #}
                        {# <a href="{{ path('edt_etudiant_export_ical') }}" #}
                        {# class="dropdown-item"><i #}
                        {# class="fas fa-file-export"></i>{{ 'edt.etudiant.export.ical'|trans }}</a> #}
                        <a href="#"
                                {{ stimulus_controller('modal', {
                                    modalTitle: 'edt.intervenant.synchro.ical.heading'|trans,
                                    modalUrl:  path('edt_affiche_ical') })}}
                           data-action="click->modal#openModal"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="{{ 'atitle.lien_ical'|trans }}"
                           class="dropdown-item"><i
                                    class="fas fa-file-export"></i>{{ 'edt.intervenant.synchro.ical'|trans }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="card-body">
        <div class="alert alert-danger">
            <strong>Attention S5</strong> : Votre emploi du temps est incomplet avec le début de quelques cours de S6.
            En attendant la bascule de semestre, merci de prendre en compte les captures d'écran transmises par mail et
            disponibles ici : <a
                    href="https://drive.google.com/drive/folders/1U4NpcgQSa6d2cKqX6_JbX66r716iRiBH?usp=sharing"
                    target="_blank">Emploi du temps S5/S6</a>.
        </div>
        <div class="row justify-content-end">
            <div class="col-md-3 col-sm-12 mt-2 d-grid">
                <div class="btn-group">
                    {% if user_data.user.diplome.optSemainesVisibles > 2 or user_data.user.diplome
                    .optSemainesVisibles == 0 %}
                        <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semainePrecedente,
                            filtre:'etudiant'}) }}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Semaine précédente"
                           id="semainePrecedente"><i
                                    class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                        <a class="btn btn-secondary d-block" href="{{ path('agenda_index', {semaine:'now'|date('W')}) }}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cette semaine"><i class="fa
	fa-calendar"></i> Semaine</a>
                        <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semaineSuivante,filtre:'etudiant'}) }}"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Semaine suivante"
                           id="semaineSuivante"><i
                                    class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                    {% else %}
                        {% if edt.semaine=='now'|date('W') %}
                            <a class="btn btn-secondary" href="{{ path('agenda_index', {semaine:'now'|date('W')}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cette semaine"><i class="fa
	fa-calendar"></i> Semaine</a>
                            <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semaineSuivante,filtre:'etudiant'}) }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Semaine suivante"
                               id="semaineSuivante"><i
                                        class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('agenda_index', {semaine:edt.semainePrecedente,filtre:'etudiant'
                            }) }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Semaine précédente"
                               id="semainePrecedente"><i
                                        class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                            <a class="btn btn-secondary" href="{{ path('agenda_index', {semaine:'now'|date('W')}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cette semaine"><i class="fa
	fa-calendar"></i> Semaine</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 d-md-none d-md-block mt-2 d-grid">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary w-25" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jour précédent"
                       id="jourPrecedent"><i
                                class="fa fa-caret-left"></i><span class="sr-only">Jour précédent</span></a>
                    <a class="btn btn-secondary" href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Aujourd'hui" id="jourCourant"><i
                                class="fa
	fa-calendar"></i> Aujourd'hui</a>
                    <a class="btn btn-primary w-25" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jour suivant" id="jourSuivant"><i
                                class="fa fa-caret-right"></i><span class="sr-only">Jour suivant</span></a>
                </div>
            </div>
        </div>
        <br>
        <div class="wrapper-edt-etudiant">
            {{ include('edt/_header_edt.html.twig') }}
            {% for ligne in 1..7 %}
                <div class="edt-etudiant-col1 col-edt-heure col-edt-visible">{{ tabHeures[ligne][0] }}
                    <br>{{ tabHeures[ligne][1] }}</div>
                {% for j in 1..5 %}
                    {% if edt.planning[j][ligne] is defined %}
                        <div class="edt-etudiant-col1 edt-cours edt-jour-{{ j - 1 }}  {% if 'now'|date('N') != j %}col-edt-hide{% endif %} {{ edt.planning[j][ligne].couleur }}"
                             style="color:{{ edt.planning[j][ligne].couleurTexte }};">
                            {% if edt.planning[j][ligne].id != '' %}
                            <a href="#"
                                    {{ stimulus_controller('modal', {
                                        modalTitle: 'edt.etudiant.details'|trans,
                                        modalUrl:  path('edt_etudiant_detail_event', {'event': edt.planning[j][ligne].id,type: 'planning'}) })}}
                               data-action="click->modal#openModal"
                               title="{{ 'atitle.details'|trans }}"
                               style="color:{{ edt.planning[j][ligne].couleurTexte }};"
                            >
                                {% endif %}
                                {{ edt.planning[j][ligne].texte|raw }}
                                {% if edt.planning[j][ligne].format == 'nok' %}
                                    <br/>
                                    <span class="edt-extra-time">{{ convertHeureEdt(edt
                                            .planning[j][ligne].debut) }} à  {{ convertHeureEdt(edt
                                            .planning[j][ligne].fin) }}</span>
                                {% endif %}
                                {% if edt.planning[j][ligne].id != '' %}
                            </a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="edt-etudiant-col1 edt-cours edt-vide edt-jour-{{ j - 1 }}  {% if 'now'|date('N') != j %}col-edt-hide{% endif %}"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

