<div class="edt-etudiant-col1 col-edt-header jour {% if 'now'|date('N') != 1 %}col-edt-hide{% endif %}">
    Lundi {{ calendrier.tabJour.lundi|date('d/m') }}</div>
<div class="edt-etudiant-col1 col-edt-header jour {% if 'now'|date('N') != 2 %}col-edt-hide{% endif %}">
    Mardi {{ calendrier.tabJour.mardi|date('d/m') }}</div>
<div class="edt-etudiant-col1 col-edt-header jour {% if 'now'|date('N') != 3 %}col-edt-hide{% endif %}">
    Mercredi {{ calendrier.tabJour.mercredi|date('d/m') }}</div>
<div class="edt-etudiant-col1 col-edt-header jour {% if 'now'|date('N') != 4 %}col-edt-hide{% endif %}">
    Jeudi {{ calendrier.tabJour.jeudi|date('d/m') }}</div>
<div class="edt-etudiant-col1 col-edt-header jour {% if 'now'|date('N') != 5 %}col-edt-hide{% endif %}">
    Vendredi {{ calendrier.tabJour.vendredi|date('d/m') }}</div>
