    <div class="card">
        <header class="card-header">
            <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }} | {{ user_data.user.displayPr }} | Semaine {{ edt.semaine }}
                (semaine formation {{ edt.semaineFormation }})</h4>

                <div class="card-header-actions">
                    <ul class="card-controls">
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i
                                        class="ti-more-alt rotate-90" data-provide="tooltip" title="Options d'export ou de synchronisation"></i><span class="sr-only">Options d'export ou de synchronisation</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="{{ path('edt_intervenant_export_semaine_courante', {semaine:12}) }}"
                                   class="dropdown-item"><i
                                            class="fa fa-file-pdf-o"></i>{{ 'exporter.semaine.courante.pdf'|trans }}</a>
                                <a href="{{ path('edt_intervenant_export_annee') }}"
                                   class="dropdown-item"><i
                                            class="ti-export"></i>{{ 'edt.intervenant.export.annee'|trans }}</a>
                                <a href="{{ path('edt_intervenant_export_ical') }}"
                                   class="dropdown-item"><i
                                            class="ti-export"></i>{{ 'edt.intervenant.export.ical'|trans }}</a>
                                <a href="{{ path('edt_intervenant_synchro_ical') }}"
                                   class="dropdown-item"><i
                                            class="ti-export"></i>{{ 'edt.intervenant.synchro.ical'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </div>

        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <label for="semaine" class="sr-only"></label>
                    <select class="form-control " data-provide="selectpicker"
                            data-live-search="true"
                            id="semaine"
                    >
                        <option value="">Choisir</option>
                        {% for sem in edt.semaines %}
                            <option value="{{ edt.filtre }}_{{ edt.valeur }}_{{ sem.semaineReelle
                            }}">
                                du {{ sem.debut|date('d/m/Y') }} au {{ sem.fin|date('d/m/Y') }} | S{{ sem
                                .semaineIUT }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-sm-8">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group mr-2">
                        <a class="btn btn-primary" href="" data-provide="tooltip" title="Cette semaine"><i class="fa
	fa-calendar"></i><span class="sr-only">Semaine courante</span></a>
                        </div>
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary" href="" data-provide="tooltip" title="Semaine précédente"><i
                                        class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                            {% for semestre in user_data.semestres if semestre.actif == true %}
                                <a class="btn"
                                   href="" data-provide="tooltip" title="Emploi du temps du semestre {{ semestre.libelle }}">{{ semestre.libelle }}</a>
                            {% endfor %}
                            <a class="btn {% if edt.filtre=='prof' %} btn-primary {% endif %}"
                               href="" data-provide="tooltip" title="Votre emploi du temps">Perso.</a>
                            <a class="btn btn-primary" href="" data-provide="tooltip" title="Semaie suivante"><i
                                        class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper-edt-etudiant">
                        <div class="edt-etudiant-col1 col-edt-header">&nbsp;</div>
                        <div class="edt-etudiant-col1 col-edt-header jour">Lundi {{ edt.tabJour.lundi|date('d/m') }}</div>
                        <div class="edt-etudiant-col1 col-edt-header jour">Mardi {{ edt.tabJour.mardi|date('d/m') }}</div>
                        <div class="edt-etudiant-col1 col-edt-header jour">Mercredi {{ edt.tabJour.mercredi|date('d/m') }}</div>
                        <div class="edt-etudiant-col1 col-edt-header jour">Jeudi {{ edt.tabJour.jeudi|date('d/m') }}</div>
                        <div class="edt-etudiant-col1 col-edt-header jour">Vendredi {{ edt.tabJour.vendredi|date('d/m') }}</div>
                        {% for ligne in 1..7 %}
                            <div class="edt-etudiant-col1 col-edt-heure">{{ tabHeures[ligne][0] }}<br>{{ tabHeures[ligne][1] }}</div>
                            {% for j in 1..5 %}
                                {% if edt.planning[j][ligne] is defined and edt.planning[j][ligne].texte != 'xx' %}
                                    <div class="edt-etudiant-col1 edt-cours" style="background-color:{{ edt.planning[j][ligne].couleur }}; color:{{ edt.planning[j][ligne].couleurTexte }};">
                                        <a href="{{ path('application_personnel_absence_from_planning',{'event':edt
                                            .planning[j][ligne].pl }) }}" style="color:{{
                                        edt.planning[j][ligne]
                                        .couleurTexte
                                        }};">{{ edt.planning[j][ligne].texte|raw }}</a>
                                    </div>
                                {% else %}
                                    <div class="edt-etudiant-col1 edt-cours">&nbsp;</div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

