<div class="row">
    <div class="col-sm-4">
        <label for="semaine" class="sr-only">Choisir la semaine</label>
        <select class="form-control selectpicker"

                id="semaine"
        >
            <option value="">Choisir</option>
            {% for sem in edt.semaines %}
                <option value="{{ edt.filtre }}_{{ edt.valeur }}_{{ sem.semaineReelle }}">
                    du {{ sem.debut|format_date('short') }} au {{ sem.fin|format_date('short') }} | S{{ sem
                    .semaineIUT }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="col-sm-8">
        <div class="btn-toolbar pull-right">
            <div class="btn-group mr-2">
                <a class="btn btn-primary" href="" data-provide="tooltip" title="Cette semaine"><i class="fa
	fa-calendar"></i><span class="sr-only">Semaine courante</span></a>
            </div>
            <div class="btn-group mr-2">
                <a class="btn btn-primary" href="{{ path('agenda_index',{filtre:filtre,valeur:valeur,semaine:edt
                    .semainePrecedente}) }}" data-provide="tooltip" title="Semaine précédente"><i
                            class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                {% for sem in user_data.semestresActifs %}
                    <a class="btn {% if filtre == 'promo' and semestre.id==sem.id %}btn-primary{% endif %}"
                       href="{{ path('agenda_index',{filtre:'promo',valeur:sem.id,semaine:edt.semaine}) }}" data-provide="tooltip" title="Emploi du temps du semestre {{ sem.libelle }}">{{ sem.libelle }}</a>
                {% endfor %}
                <a class="btn {% if edt.filtre=='prof' %} btn-primary {% endif %}"
                   href="{{ path('agenda_index',{filtre:'prof',valeur:user_data.user.id,semaine:edt.semaine}) }}"
                   data-provide="tooltip" title="Votre emploi du temps">Perso.</a>
                <a class="btn btn-primary" href="{{ path('agenda_index',{filtre:filtre,valeur:valeur,semaine:edt
                    .semaineSuivante}) }}" data-provide="tooltip" title="Semaine suivante"><i
                            class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
            </div>
        </div>
    </div>
</div>
