<div class="row">
    <div class="col-md-3 col-sm-12 mt-2 ">
        <div class="input-group">
            <label for="semaine" class="sr-only">Choisir la semaine</label>
            <span class="input-group-text" id="week_group">Semaine : </span>
            <input
                    class="form-control flatdatepicker_week"
                    placeholder="Choisir une semaine"
                    id="semaine"
                    {{ stimulus_action('edt-personnel', 'changeWeek', 'change', {filtre:filtre, valeur:valeur}) }}
            >
        </div>
    </div>

    <div class="col-md-4 col-sm-12 mt-2 d-grid d-block">
        <div class="btn-group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Semestres
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                {% for sem in user_data.semestresActifs %}
                    <a class="dropdown-item"
                            {{ stimulus_action('edt-personnel', 'changeSemaine', 'click', {filtre:'promo',valeur:sem
                            .id,
                                semaine:calendrier.semaine}) }}>{{ sem.display }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 mt-2 d-grid d-block">
        <a class="btn {% if filtre=='prof' %} btn-primary{% else %}btn-secondary{% endif %}"
                {{ stimulus_action('edt-personnel', 'changeSemaine', 'click', {filtre:'prof',valeur:user_data.user.id,
                    semaine:calendrier.semaine}) }}
           data-bs-toggle="tooltip" data-bs-placement="bottom" title="Votre emploi du temps">Perso.</a>
    </div>
    <div class="col-md-3 col-sm-12 mt-2 d-grid d-block">
        <div class="btn-group">
            <a class="btn btn-primary w-25"
                    {{ stimulus_action('edt-personnel', 'changeSemaine', 'click', {filtre:filtre,valeur:valeur,semaine:calendrier
                    .semainePrecedente}) }}
               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Semaine précédente"><i
                        class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
            <a class="btn btn-secondary"
                    {{ stimulus_action('edt-personnel', 'changeSemaine', 'click', {filtre:filtre,valeur:valeur,semaine:'now'|date('W')}) }}
               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cette semaine"><i class="fa
	fa-calendar"></i> Semaine</a>
            <a class="btn btn-primary w-25"
                    {{ stimulus_action('edt-personnel', 'changeSemaine', 'click', {filtre:filtre,valeur:valeur,semaine:calendrier
                    .semaineSuivante}) }}
               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Semaine suivante"><i
                        class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
        </div>
    </div>
    <div class="col-sm-12  mt-2 d-grid d-block">
        <div class="btn-group hide-on-large">
            <a class="btn btn-primary w-25" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jour précédent"
               id="jourPrecedent">
                <i class="fa fa-caret-left"></i><span class="sr-only">Jour précédent</span>
            </a>
            <a class="btn btn-secondary" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Aujourd'hui" id="jourCourant">
                <i class="fa fa-calendar"></i> Aujourd'hui
            </a>
            <a class="btn btn-primary w-25" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jour suivant" id="jourSuivant">
                <i class="fa fa-caret-right"></i><span class="sr-only">Jour suivant</span>
            </a>
        </div>
    </div>
</div>

