<h4>Semestre {{ semestre.display }} | Semaine {{ calendrier.semaine }} (semaine formation {{ calendrier
    .semaineFormationIUT }})</h4>

{% if source == 'celcat' %}
    <div class="alert alert-warning mb-2">
        L'emploi du temps est récupéré depuis Celcat. Cette fonctionnalité est encore en cours de développement.
    </div>
{% endif %}
        {{ render_esi(controller(
            'App\\Controller\\EdtController::navPersonnel', {filtre:filtre, valeur:valeur, semaine:semaine,
                semestre:semestre.id}
        )) }}
<br>
<div class="row">
    <div class="col-sm-12">
        <table class="table-edt" style="width:100%;">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="center" colspan="{{ semestre.nbgroupeTPEDT }}" style="padding:0;">Lundi {{ calendrier
                    .tabJour.lundi|format_date('short') }}</th>
                <th class="center" colspan="{{ semestre.nbgroupeTPEDT }}" style="padding:0;">
                    Mardi {{ calendrier.tabJour.mardi|format_date('short') }}</th>
                <th class="center" colspan="{{ semestre.nbgroupeTPEDT }}" style="padding:0;">
                    Mercredi {{ calendrier.tabJour.mercredi|format_date('short') }}</th>
                <th class="center" colspan="{{ semestre.nbgroupeTPEDT }}" style="padding:0;">
                    Jeudi {{ calendrier.tabJour.jeudi|format_date('short') }}</th>
                <th class="center" colspan="{{ semestre.nbgroupeTPEDT }}" style="padding:0;">
                    Vendredi {{ calendrier.tabJour.vendredi|format_date('short') }}</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                {% for jour in 1..5 %}
                    {% for groupe in 1..semestre.nbgroupeTPEDT %}{# todo: pourrait dépendre de groupes ? #}
                        <td style="padding:0;min-width:10px;">{{ groupes[groupe] }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for ligne in 1..27 %}
                {% set heure=(ligne/2+7.5)|number_format(0) %}
                <tr>
                    <td class="heures" style="padding:0;">
                        {% if(ligne/2+7.5)-heure!=0 %}
                            {{ heure-1 }}h30
                        {% else %}
                            {{ heure }}h00
                        {% endif %}</td>
                    {% for jour in 1..5 %}
                        {% if edt[jour][ligne] is defined %}
                            {% for groupe in 1..semestre.nbgroupeTPEDT %}
                                {% if edt[jour][ligne][groupe] is defined %}
                                    {% if edt[jour][ligne][groupe] !='xx' %}
                                        <td class="center td-edt {{ edt[jour][ligne][groupe].couleurEdt }} {% if
                                            groupe == 1 %} col-new-day{% endif %} {{ edt[jour][ligne][groupe].couleur }}"
                                            colspan="{{ edt[jour][ligne][groupe].largeur == 0 ? semestre
                                            .nbgroupeTPEDT : edt[jour][ligne][groupe].largeur }}"
                                            rowspan="{{ edt[jour][ligne][groupe].duree }}"
                                        >
                                            <span data-bs-toggle="tooltip"
                                                  data-bs-placement="bottom"
                                                  title="{{ edt[jour][ligne][groupe].matiere }}">
                                            {{ edt[jour][ligne][groupe].displayEdt|raw }}
                                            </span>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td style="padding:0;" {% if groupe == 1 %}class="td-edt col-new-day"{% endif %}>
                                        &nbsp;
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for groupe in 1..semestre.nbgroupeTPEDT %}
                                <td style="padding:0;" {% if groupe == 1 %}class="td-edt col-new-day"{% endif %}>
                                    &nbsp;
                                </td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

