<div class="col-sm-12">
    <div class="card">
        <header class="card-header">
            <h4 class="card-title">{{ 'heading.edt.dashboard'|trans }} | {{ user_data.user.displayPr }} | Semaine {{ edt.semaine }}
                (semaine formation {{ edt.semaineFormation }})</h4>

                <div class="card-header-actions">
                    <ul class="card-controls">
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i
                                        class="ti-more-alt rotate-90" data-provide="tooltip" title="Options d'export ou de synchronisation"></i><span class="sr-only">Options d'export ou de synchronisation</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="{{ path('edt_intervenant_export_semaine_courante', {semaine:12}) }}"
                                   class="dropdown-item"><i
                                            class="fa fa-file-pdf-o"></i>{{ 'exporter.semaine.courante.pdf'|trans }}</a>
                                <a href="{{ path('edt_intervenant_export_annee') }}"
                                   class="dropdown-item"><i
                                            class="ti-export"></i>{{ 'edt.intervenant.export.annee'|trans }}</a>
                                <a href="{{ path('edt_intervenant_export_ical') }}"
                                   class="dropdown-item"><i
                                            class="ti-export"></i>{{ 'edt.intervenant.export.ical'|trans }}</a>
                                <a href="{{ path('edt_intervenant_synchro_ical') }}"
                                   class="dropdown-item"><i
                                            class="ti-export"></i>{{ 'edt.intervenant.synchro.ical'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </div>

        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">


                    <div class="btn-toolbar pull-right">
                        <div class="btn-group mr-2">
                        <a class="btn btn-primary" href="" data-provide="tooltip" title="Cette semaine"><i class="fa
	fa-calendar"></i><span class="sr-only">Semaine courante</span></a>
                        </div>

                        <div class="btn-group mr-2">
                            <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Choisissez une semaine <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {#{% for sem in edt.semaines %}#}
                                <li><a href="">du </a>
                                    {#{% endfor %}#}

                            </ul>
                        </div>
                        <div class="btn-group mr-2">
                            <a class="btn btn-primary" href="" data-provide="tooltip" title="Semaine précédente"><i
                                        class="fa fa-caret-left"></i><span class="sr-only">Semaine précédente</span></a>
                            {% for semestre in user_data.semestres if semestre.actif == true %}
                                <a class="btn
{#{% if (edt.semestre != null and edt.semestre.id == semestre.id) %} btn-success {% else %} btn-primary {% endif %}" #}"
                                   href="" data-provide="tooltip" title="Emploi du temps du semestre {{ semestre.libelle }}">{{ semestre.libelle }}</a>
                            {% endfor %}
                            <a class="btn
{#{% if edt.filtre=='prof' %} btn-success {% else %} btn-primary {% endif %}" #}"
                               href="" data-provide="tooltip" title="Votre emploi du temps">Perso.</a>
                            <a class="btn btn-primary" href="" data-provide="tooltip" title="Semaie suivante"><i
                                        class="fa fa-caret-right"></i><span class="sr-only">Semaine suivante</span></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

