<fieldset class="form-group">
    {{ include('quizz_question/_libelle.html.twig') }}

    <div aria-describedby="quizz_question_{{ question.id }}_help">
        <small id="quizz_question_{{ question.id }}_help" class="form-text text-muted">{{ question.help }}</small>
    </div>
    <div class="form-group">
        <label class="form-check-label {% if question.obligatoire %}required{% endif %}"
               for="quizz_question_text_{{ name }}">Votre réponse</label>
        <textarea id="quizz_question_text_{{ name }}"
                  name="quizz_question_text_{{ name }}"
                  {% if question.obligatoire %}required{% endif %}
        class="form-control {% if is_granted('ROLE_ETUDIANT') %}questionQualiteTextArea{% endif %}">{% if
                reponses['quizz_question_text_'~name] is defined %}{{ reponses['quizz_question_text_'~name].valeur }}{% endif %}</textarea>
        <div class="form-control-feedback"></div>
    </div>
</fieldset>
