<fieldset class="form-group">
    <legend class="col-form-label required">{{ question.libelle }}</legend>
    <div aria-describedby="quizz_question_{{ question.id }}_help">
        <div class="form-group">
            <label class="form-check-label required" for="quizz_question_text_{{ question.id }}">Votre réponse</label>
            <input type="text" id="quizz_question_text_{{ question.id }}"
                   name="quizz_question_text_{{ question.id }}">
        </div>
    </div>
    <small id="quizz_question_{{ question.id }}_help" class="form-text text-muted">{{ question.help }}</small>
</fieldset>
