{% deprecated 'Deprécié, Remplacé par un componsant' %}

<fieldset class="form-group">
    {{ include('quizz_question/_libelle.html.twig') }}
    <div aria-describedby="quizz_question_{{ question.id }}_help">
        <small id="quizz_question_{{ question.id }}_help" class="form-text text-muted">{{ question.help }}</small>
    </div>
    {% for subQuestion in question.questionsEnfants %}
        <div class="sub-question {% if loop.index is odd %}row-striped{% endif %}">
            {% if config == null %}
                {% set name = 'q'~subQuestion.id %}
            {% else %}
                {% set name = 'q'~subQuestion.id~'_c'~config.id %}
            {% endif %}

            <div class="row">
                <div class="col-sm-12 col-md-12 sub-question-titre">
                    # {{ subQuestion.libelle }}
                </div>
                {% for reponse in question.quizzReponses %}
                    <div class="col-sm-12 col-md-2">
                        <div class="form-check">
                            <input type="radio" id="quizz_question_qcu_{{ name }}_{{ reponse.id }}"
                                   name="quizz_question_reponses_{{ name }}"
                                   data-typeQuestionnaire="{{ typeQuestionnaire }}"
                                    {% if apercu is not defined or apercu == false %}
                                        data-etudiant="{{ etudiant.id }}"
                                    {% endif %}
                                    {% if reponses['quizz_question_reponses_'~name] is defined and
                                        reponses['quizz_question_reponses_'~name].valeur == reponse.valeur %}checked{% endif %}
                                    {% if question.obligatoire %}required{% endif %}
                                   class="form-check-input {% if apercu is not defined or apercu == false %}questionQualite{% endif %}"
                                   value="{{ reponse.valeur }}">
                            <label class="form-check-label required" for="quizz_question_qcu_{{ name }}_{{ reponse.id }}">{{ reponse.libelle }}</label>
                        </div>
                        <div class="form-control-feedback"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</fieldset>
