<h1>QuizzQuestion</h1>

<table class="table">
    <tbody>


    <tr>
        <th>Updated</th>
        <td>{{ quizz_question.updated ? quizz_question.updated|format_datetime('long', 'short') : '' }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ quizz_question.libelle }}</td>
    </tr>
    <tr>
        <th>Help</th>
        <td>{{ quizz_question.help }}</td>
    </tr>
    <tr>
            <th>Type</th>
            <td>{{ quizz_question.type }}</td>
        </tr>
        {% for reponse in quizz_question.quizzReponses %}
            <tr>
                <td>Réponse {{ loop.index }}</td>
                <td>{{ reponse.libelle }} ({{ reponse.valeur }})</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if quizz_question.type == 'qcu' %}
        {{ include('quizz_question/_qcu.html.twig', {question:quizz_question}) }}
    {% endif %}
