{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    <table style="width: 100%; border:none;">
        <tr>
            <td style="text-align: center; width:20%">
                <img src="{{ settings('BASE_PATH') }}logo/urca_petit.jpg" alt="logo Université" height="75px"/>
            </td>
            <td style="text-align: center; width:60%"><h2>Convention de<br>PROJET TUTEURE</h2></td>
            <td style="text-align: center; width:20%"><img
                        src="{{ settings('BASE_PATH') }}logo/{{ settings('LOGO_IUT') }}"
                        alt="logo"
                        height="75px"/></td>
        </tr>
    </table>

    <p>entre :</p>

    <p><strong>l’Université de Reims Champagne-Ardenne représentée</strong> par Christophe Clément, Président de
        l’Université, 2, avenue Robert Schuman 51100 Reims ; la mise en application de la
                                                                            convention est suivie par
                                                                            Martial MARTIN, Directeur de l’IUT de Troyes
                                                                            – 9 rue de Québec CS 90396 10026 TROYES
                                                                            Cedex</p>

    <p>Et</p>

    <p><strong>l’Entreprise, l’organisme ou la (ou les) personne(s) physique(s), dénommés ci-après
               commanditaire(s) : {{ projetEtudiant.organisme.raisonSociale }}</strong></p>
    <p>Commanditaire (Entreprise ou organisme) représenté(e) par : {{ projetEtudiant.organisme.responsable.display }}.
       En qualité de : {{ projetEtudiant.organisme.responsable.fonction }}<br>
       Adresse: {{ projetEtudiant.organisme.adresse.display|striptags }}.<br>
       Tél : {{ projetEtudiant.organisme.responsable.telephone|tel_format }}.<br>
       Courriel : {{ projetEtudiant.organisme.responsable.email }}.</p>

    <p><strong>Article 1 :</strong> La présente convention concerne :</p>

    <p>Le projet tuteuré obligatoire en vue de la délivrance du diplôme :</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ projetEtudiant.projetPeriode.semestres[0].diplome
        .libelle }}
    </p>

    <p>Le projet tuteuré ne constitue en aucun cas un stage. Il est placé sous la responsabilité unique de
       l’Université.<br>
       Les membres du groupe de projet, étudiants-es à l’Université de Reims Champagne-Ardenne, sont :</p>
    <table class="table" style="width: 100%;">
        <thead>
        <tr>
            <th style="width:10%">Civilité</th>
            <th>Nom et Prénom</th>
            <th style="width:20%">Tél.</th>
            <th>Courriel</th>
        </tr>
        </thead>
        <tbody>
        {% for etudiant in projetEtudiant.etudiants %}
            <tr>
                <td>{{ etudiant.civilite }}</td>
                <td>{{ etudiant.display }}</td>
                <td>{{ etudiant.tel1|tel_format }}</td>
                <td>{{ etudiant.mailUniv }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <p><strong>Article 2 :</strong> Durée du projet</p>

    <p>La durée du projet est fixée du {{ projetEtudiant.projetPeriode.dateDebut|date('d/m/Y') }}
       au {{ projetEtudiant.projetPeriode.dateFin|date('d/m/Y') }}.</p>

    <p>{% if projetEtudiant.tempComplet %}[ X ]{% else %}[&nbsp;]{% endif %} à temps
                                                                             complet {% if projetEtudiant.tempComplet %}
        {{ projetEtudiant.duree }}
        {% if projetEtudiant.uniteDuree==constant
            ('App\\Entity\\ProjetEtudiant::DUREE_HEURE') %} heures par semaine
        {% elseif projetEtudiant.uniteDuree==constant('App\\Entity\\ProjetEtudiant::DUREE_JOUR') %} jours par
            semaine{% endif %}{% endif %}<br>
        {% if projetEtudiant.tempComplet == false %}[ X ]{% else %}[&nbsp;]{% endif %} {% if
            projetEtudiant.tempComplet == false %}{{ projetEtudiant.duree }} heures.{% endif %} à temps
                                                                             partiel (hors heures enseignement)</p>


    <p><strong>Article 3 :</strong> But du projet</p>

    <p>Le projet tuteuré a pour but de faciliter l’acquisition de la pratique et le maniement des concepts enseignés
       dans le cadre de la formation encadrée.<br>
       Le projet tuteuré est une des épreuves du diplôme :</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ projetEtudiant.projetPeriode.semestres[0].diplome.libelle }}
    </p>

    <p><strong>Article 4 :</strong> Contenu du projet</p>

    <p>Le contenu du projet est défini par le responsable des projets en accord avec le commanditaire qui peut être un
       représentant d’une entreprise, d’un organisme ou une ou plusieurs personnes physiques.<br>
       Sujet du projet : {{ projetEtudiant.sujet }}.<br>
       Activités confiées : {{ projetEtudiant.activitesConfiees }}</p>

    <p>Le projet sera réalisé par des étudiants en cours de formation. De ce fait, le commanditaire ne peut exiger
       aucune garantie de résultats.</p>

    <p><u>Le commanditaire est :</u></p>
    <p>{{ projetEtudiant.organisme.responsable.civilite }} {{ projetEtudiant.organisme.responsable.display }}. En
                                                                                                             qualité de
                                                                                                             : {{ projetEtudiant.organisme.responsable.fonction }}
                                                                                                             .<br>
                                                                                                             tél
                                                                                                             : {{ projetEtudiant.organisme.responsable.telephone|tel_format }}
                                                                                                             .<br>
                                                                                                             Courriel
                                                                                                             : {{ projetEtudiant.organisme.responsable.email }}
                                                                                                             .</p>

    <p><u>A l’Université, le responsable des projets est :</u></p>
    <p>{{ projetEtudiant.projetPeriode.responsables[0].civilite }} {{ projetEtudiant.projetPeriode.responsables[0]
        .display }}. En qualité de : Enseignant référent du
                   projet.<br>
                   tél : {{ projetEtudiant.projetPeriode.responsables[0].telBureau }}.<br>
                   Courriel : {{ projetEtudiant.projetPeriode.responsables[0].mailUniv }}.</p>

    <p><strong>Article 5 :</strong> Fin du projet et fin du travail réalisé par le groupe de projet</p>

    <p>A la fin de la mission réalisée dans le cadre du projet tuteuré, le responsable des projets pourra ou non, selon
       la nature du projet, demander au commanditaire son appréciation sur les résultats obtenus au regard du contrat
       de projet. Cependant, seul le responsable des projets est responsable de l’évaluation du projet tuteuré.<br>
       La mission prend fin au jour de la soutenance par les étudiants du projet. Par conséquent, le commanditaire ne
       peut pas demander de travail supplémentaire au groupe d’étudiants après cette date sauf dans des cas
       exceptionnels où un événement est programmé à une date précise nécessitant la présence du groupe.</p>

    <p><strong>Article 6 :</strong> Indemnités éventuelles</p>

    <p>Dans le cadre des projets tuteurés, les étudiants ne sont liés par aucun contrat de travail, et ils ne peuvent
       prétendre à aucun salaire. Cependant, le commanditaire peut indemniser les étudiants des divers frais
       entraînés par la réalisation des projets tuteurés, et notamment les frais de déplacement.</p>

    <p><strong>Article 7 :</strong> Protection sociale, responsabilité civile</p>

    <p>Pendant toute la durée du projet tuteuré, les étudiants demeurent sous le statut d’étudiants de l’Université de
       Reims Champagne-Ardenne et restent affiliés au même régime de sécurité sociale que durant la formation
       encadrée et bénéficient des dispositions de l’article L412-8-2) a et b du Code de la sécurité sociale modifié
       par le décret n°2006-757 du 29 juin 2006. A ce titre, ils bénéficieront des prestations maladie et seront
       garantis contre les accidents qui pourraient leur arriver au cours du projet tuteuré ou durant le trajet les
       conduisant sur les lieux du projet tuteuré. En cas d’accident survenant à un étudiant, soit dans l’entreprise ou
       dans l’organisme ou chez la personne physique, soit au cours des trajets rendus nécessaires pour l’objet du
       projet tuteuré, le commanditaire s’engage à faire parvenir aussitôt tous les éléments permettant la déclaration
       de l’accident auprès de la CPAM au service de scolarité concerné.</p>

    <p>Dans le cadre d’activités pédagogiques extérieures, l’Université assure la responsabilité civile de ses
       étudiants. Cependant, l’Université peut se retourner contre l’assureur de l’étudiant en cas de faute de
       celui-ci.</p>

    <p><strong>Article 8 :</strong> Discipline, confidentialité</p>

    <p>Les étudiants doivent respecter la discipline et le règlement de l’entreprise ou de l’organisme qui accueille le
       projet tuteuré. En outre, ils s’engagent à respecter la confidentialité des données qui leur sont confiées.
       En cas de manquement grave, le commanditaire informe le responsable des projets qui peut décider de mettre fin
       au projet tuteuré.<br>
       En cas de difficultés ou d’accident, le commanditaire est tenu de prendre contact le plus rapidement possible
       avec le responsable des projets de la formation concernée.</p>

    <p><strong>Article 9 :</strong> Absences</p>

    <p>L’étudiant est autorisé à s’absenter dans le cadre d’obligations attestées par l’Université (notamment
       examens). En cas d’absence ne relevant pas de ces dispositions, l’étudiant doit aviser le responsable des projets
       et le commanditaire.<br>
       Le commanditaire devra signaler à l’Université toute absence injustifiée.</p>

    <p>Fait à Troyes, le {{ 'now'|format_date('long') }}, en 2 exemplaires.</p>

    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <p>Pour l’Université de Reims Champagne-Ardenne<br>
                   Pour le Président et par Délégation,<br>
                   Le Directeur de l’IUT de Troyes :</p>
                <br><br><br><br>

                Martial MARTIN
            </td>
            <td style="width:50%">
                <p>Pour l’entreprise, l’organisme ou la (ou les) personne(s) physique(s),<br>
                   Le commanditaire :</p>
                <br><br><br><br>
                {{ projetEtudiant.organisme.responsable.display }}
            </td>
        </tr>
        <tr>
            <td><p>Pour le département {{ projetEtudiant.projetPeriode.semestres[0].diplome.departement.libelle }},<br>
                   Le responsable des projets :</p>
                <br><br><br><br>
                {{ projetEtudiant.projetPeriode.responsables[0].displayPr }}</td>
            <td></td>
        </tr>
    </table>
{% endblock %}
