{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.configuration.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/sadm-buttons-show.html.twig', {elt: 'configuration', id: configuration.id}) }}

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.configuration.show.heading'|trans }}</h4>
        <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configuration.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ configuration.created ? configuration.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ configuration.updated ? configuration.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Cle</th>
                <td>{{ configuration.cle }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ configuration.valeur }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
