{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.configuration.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('sa_configuration_edit', {id: configuration.id}) }}" class="btn btn-warning btn-sm
            btn-float" title="{{ 'atitle.modifier'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="{{ iconEdit }}"></i></a>
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.configuration.show.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Cle</th>
                    <td>{{ configuration.cle }}</td>
                </tr>
                <tr>
                    <th>Valeur</th>
                    <td>
                        {% if configuration.type == 'T' %}
                            {{ configuration.valeur }}
                        {% elseif configuration.type == 'F' %}
                            <a href="{{ asset('upload/logo/'~configuration.valeur) }}" target="_blank">Voir le
                                                                                                       fichier</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ configuration.typeLong }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ configuration.created ? configuration.created|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ configuration.updated ? configuration.updated|format_datetime('long', 'short') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
