<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab"
           href="#onglet1">Réglages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab"
           href="#onglet2">Choix des données</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab"
           href="#onglet3">Choix des stagiaires</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active show"
         id="onglet1">
        <h2>Réglages généraux</h2>
        <div>
            <label for="dateOuverture">Date ouverture</label>
            <input type="datetime-local" id="dateOuverture" name="dateOuverture" class="form-control" value="{{
            questionnaireQualite.dateOuverture|date('Y-m-d\\TH:i') }}">
        </div>
        <div>
            <label for="dateFermeture">Date fermeture</label>
            <input type="datetime-local" id="dateFermeture" name="dateFermeture" class="form-control" value="{{
            questionnaireQualite.dateFermeture|date('Y-m-d\\TH:i') }}">
        </div>
    </div>
    <div class="tab-pane"
         id="onglet2">
        <h2>Choix des données (ressources, SAE, matières, prévisionnels)</h2>
        <div class="row">
            {% for section in datas %}
                <h4>{{ section.section.titre }}</h4>
                {% for data in section.datas %}
                    <div class="form-group col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="questionnaire_qualite_{{ data.id }}"
                                   name="sections[{{ section.section.id_section }}][]" value="{{ data
                            .id }}" {% if data
                            .checked %}checked{% endif %}>
                            <label class="form-check-label" for="questionnaire_qualite_{{ data.id }}">
                                {{ data.code }} | {{ data.libelle }} ({{ data.personnel }})
                            </label>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane"
         id="onglet3">
        <h2>Choix des étudiants</h2>
        <twig:Alert type="info">
            Coming Soon...
        </twig:Alert>
    </div>
</div>
