{% for creneau_cour in creneau_cours %}
    <tr id="ligne_{{ creneau_cour.id }}">
        <td>{{ creneau_cour.id }}</td>
        <td>{{ creneau_cour.jourLong }}</td>
        <td>{{ creneau_cour.debut ? creneau_cour.debut|format_time('short') : '' }}</td>
        <td>{{ creneau_cour.fin ? creneau_cour.fin|format_time('short') : '' }}</td>
        <td>
            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'creneau_cours', id:
                creneau_cour.id}) }}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
{% endfor %}
