{% extends 'base.html.twig' %}

{% block title %}CreneauCours{% endblock %}

{% block body %}
    <h1>CreneauCours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creneau_cour.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ creneau_cour.jour }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ creneau_cour.debut ? creneau_cour.debut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ creneau_cour.fin ? creneau_cour.fin|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('creneau_cours_index') }}">back to list</a>

    <a href="{{ path('creneau_cours_edit', {'id': creneau_cour.id}) }}">edit</a>

    {{ include('creneau_cours/_delete_form.html.twig') }}
{% endblock %}
