{% extends 'pdf/basepdf.html.twig' %}

{% block style %}
    body {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    }

    h3 {
    text-align:center;
    border: 1px solid black;
    padding: 5px;
    }

    h4 {
    text-align:left;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    table td {
    border: 1px solid black;
    padding: 3px;
    }

    table th {
    border: 1px solid black;
    padding: 3px;
    }
{% endblock %}

{% block content %}
    <table style="width: 100%">
        <tr>
            <td style="text-align: center; width:{% if qualite is defined and qualite == true %}{% else %}20%{% endif %}">
                <img
                        src="{{ settings('BASE_PATH') }}{{ 'logo/'~ settings('LOGO_UNIVERSITE') }}" alt="logo"
                        height="{{ size|default('70px') }}"/>
            </td>
            <td style="text-align: center; width:{% if qualite is defined and qualite == true %}{% else %}60%{% endif %}">
                {{ settings('NOM_IUT') }}<br>
                PLAN DE COURS RESSOURCE
            </td>
            <td style="text-align: center; width:{% if qualite is defined and qualite == true %}{% else %}20%{% endif %}">

                {% if qualite is defined and qualite == true %}
                    <img src="{{ settings('BASE_PATH') }}{{ 'logo/'~settings('LOGO_QUALITE') }}" alt="logo certificat
                     qualité" height="{{ size|default('70px') }}" style="float:right"/>
                {% else %}
                    <img
                            src="{{ settings('BASE_PATH') }}{{ 'logo/'~departement.logoName }}"
                            alt="logo du département"
                            height="{{ size|default('70px') }}"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <h1>{{ matiere.diplome.display }} <br>
                    PARCOURS : {% if matiere.apcParcours.count == 0 %}Tronc Commun{% else %}{% for parc in matiere
                    .apcParcours %}{{ parc != null ? parc.libelle : '-' }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
                </h1>
                <h2>RESSOURCE : {{ matiere.display }}<br>
                    {{ anneeUniversitaire.displayAnneeUniversitaire }}</h2>
            </td>
        </tr>
    </table>

    <h3>DESCRIPTION RESSOURCE</h3>
    <h4>Responsable de la RESSOURCE :</h4>
    {{ pc.responsable != null ? pc.responsable.display : '-' }}

    <h4>Intervenants de la RESSOURCE :</h4>
    {% for intervenant in pc.intervenants %}
        {{ intervenant.display }}{% if not loop.last %}, {% endif %}
    {% endfor %}

    <h4>Description et objectifs de la RESSOURCE :</h4>
    <p style="text-align: justify">{{ pc.description|raw }}</p>

    <h4>Compétences et Apprentissages critiques visés : </h4>
    <ul>
        {% for ac in matiere.objet.apcRessourceApprentissageCritiques %}
            <li>{{ ac.apprentissageCritique.libelle }} ({{ ac.apprentissageCritique.niveau.competence.nomCourt }})</li>
        {% endfor %}
    </ul>

    <h4>Liste des SAÉ mobilisant la ressource :</h4>
    <ul>
        {% for ac in matiere.objet.apcSaeRessources %}
            <li>{{ ac.sae.display }}</li>
        {% else %}
            <li>Aucune SAÉ</li>
        {% endfor %}
    </ul>

    <h4>Modalités d'évaluations envisagées :</h4>
    <p style="text-align: justify">
        {{ pc.modalitesEvaluations|raw }}</p>


    <table style="width: 100%">
        <tr>
            <th>Nombre de notes prévu :</th>
            <td>{{ pc.nbNotes }}</td>
        </tr>
    </table>

    <h4>Nombre d’heures prévu :</h4>
    <table style="width: 100%">
        <tr>
            <th style="width: 33%">CM</th>
            <th style="width: 33%">TD</th>
            <th style="width: 34%">TP</th>
        </tr>
        <tr>
            <td style="text-align: center">{{ pc.cmPrevu }} heure(s)</td>
            <td style="text-align: center">{{ pc.tdPrevu }} heure(s)</td>
            <td style="text-align: center">{{ pc.tpPrevu }} heure(s)</td>
        </tr>
    </table>

    <h4>Bibliographie / webographie d’appui :</h4>
    <p style="text-align: justify">{{ pc.bibliographie|raw }}</p>


    <h3>PROGRESSION PÉDAGOGIQUE</h3>
    (au choix, possibilité d'utiliser la grille ci-dessous ou bien
    d'insérer son propre plan de cours dans un format libre)
    Programme prévu    Nombre d'heures envisagé    Commentaires éventuels
    Séquence 1 :


    <h3>RÉALISATION</h3>

    <h4>Le plan de cours a-t-il pu être suivi comme prévu ? (oui, non, pourquoi ?)</h4>
    <p style="text-align: justify"><strong>{{ pc.planSuivi == true ? 'Oui' : 'Non' }}</strong>. {{ pc
        .planSuiviCommentaire|raw }}</p>

    <h4>Les objectifs fixés ont-ils été atteints ? (oui, non, pourquoi ?)</h4>
    <p style="text-align: justify"><strong>{{ pc.objectifsAtteints == true ? 'Oui' : 'Non' }}</strong>. {{ pc
        .objectifsFAtteintsCommentaire|raw }}</p>

    <h4>Les compétences ont-elles été acquises ? (oui, non, pourquoi ?)</h4>
    <p style="text-align: justify"><strong>{{ pc.competencesAcquises == true ? 'Oui' : 'Non' }}</strong>. {{ pc
        .competencesAcquisesCommentaire|raw }}</p>

    <h4>Nombre d’heures réalisées :</h4>
    <table style="width: 100%">
        <tr>
            <th style="width: 33%">CM</th>
            <th style="width: 33%">TD</th>
            <th style="width: 34%">TP</th>
        </tr>
        <tr>
            <td style="text-align: center">{{ pc.cmRealise }} heure(s)</td>
            <td style="text-align: center">{{ pc.tdRealise }} heure(s)</td>
            <td style="text-align: center">{{ pc.tpRealise }} heure(s)</td>
        </tr>
    </table>

    <h4>Retour sur le mode d'évaluation (bilan, moyenne, …) :</h4>
    <p style="text-align: justify">{{ pc.modeEvaluationCommentaire|raw }}</p>

    <h4>Commentaires éventuels :</h4>
    <p style="text-align: justify">{{ pc.commentairesStep1|raw }}</p>
    <p style="text-align: justify">{{ pc.commentairesStep2|raw }}</p>
    <p style="text-align: justify">{{ pc.commentairesStep3|raw }}</p>
{% endblock %}
