{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.previsionnel.new.heading'|trans }}
{% endblock %}

{% block stimulus %}
    {{ stimulus_controller('adm--previsionnel', {
        url: path('administration_previsionnel_load_step'),
        urlChangeMatiere: path('administration_previsionnel_charge_content_matiere'),
        urlAddPersonnel: path('administration_previsionnel_add_enseignant'),
        urlAddMatiere: path('administration_previsionnel_add_matiere'),
        urlAddMatierePersonnel: path('administration_previsionnel_add_matiere_personnel'),
        urlChangePersonnel: path('administration_previsionnel_charge_content_personnel'),
        urlChangeSemestre: path('administration_previsionnel_charge_content_semestre'),
        urlChangeSynthesePersonnel: path('administration_previsionnel_charge_content_synthese_personnel'),
        urlAddPrime: path('administration_hrs_new'),
    }) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#"
                        {{ stimulus_action('adm--previsionnel', 'changeType', 'click', {type:'matiere'}) }}
                   role="tab"> {{ 'previsionnel.saisie.matiere.heading'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#"
                        {{ stimulus_action('adm--previsionnel', 'changeType', 'click', {type:'enseignant'}) }}
                   role="tab"> {{ 'previsionnel.saisie.enseignant.heading'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#"
                        {{ stimulus_action('adm--previsionnel', 'changeType', 'click', {type:'semestre'}) }}
                   role="tab"> {{ 'previsionnel.saisie.semestre.heading'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#"
                        {{ stimulus_action('adm--previsionnel', 'changeType', 'click', {type:'synthese-personnel'}) }}
                   role="tab"> {{ 'previsionnel.synthese.personnel.heading'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab"
                   href="#"
                        {{ stimulus_action('adm--previsionnel', 'changeType', 'click', {type:'actions'}) }}
                   role="tab"> {{ 'previsionnel.actions.heading'|trans }}</a>
            </li>
        </ul>

        <div class="buttons">
            <a href="{{ path('administration_previsionnel_import') }}" class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.import_previsionnel'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-file-import"></i></a>
            <a href="{{ path('administration_previsionnel_export_omega') }}" class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.export_omega'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-table"></i></a>
            <a href="{{ path('administration_previsionnel_index') }}" class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div {{ stimulus_target('adm--previsionnel', 'content') }}>

    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration_previsionnel'}),
    }) }}
{% endblock %}
