<div class="card">
    <header class="card-header">
        <h4 class="card-title"><strong>{{ 'service.previsionnel.heading'|trans }}</strong>
            | {{ user_data.formation.libelle }} | {{ previsionnel.personnel.display }} | ({{ 'periode'|trans }}
            : {{ user_data.formation.optAnneePrevisionnel }})</h4>
        <ul class="card-controls">
            <li class="dropdown">
                <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('previsionnel_chronologique') }}"><i
                                class="ti-alarm-clock"></i> {{ 'chronologique'|trans }}</a>
                    {# todo: finaliser la partie export des prévisionnels et harmoniser. #}
                    <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'csv'}) }}"><i
                                class="ti-export"></i> {{ 'exporter.csv'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'pdf'}) }}"><i
                                class="ti-export"></i> {{ 'exporter.pdf'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('administration_previsionnel_export', {'annee': annee, '_format': 'xlsx'}) }}"><i
                                class="ti-export"></i> {{ 'exporter.xlsx'|trans }}</a>
                </div>
            </li>
            <li><a class="card-btn-reload" href="#" id="reloadPreviPersonnel" data-annee="{{ annee }}" data-personnel="{{ previsionnel.personnel.id }}" title="" data-provide="tooltip" data-original-title="{{ 'atitle.refresh'|trans }}"><i class="fa fa-refresh"></i></a></li>
        </ul>
    </header>


    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for semestre in user_data.semestres %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %} active{% endif %}" data-toggle="tab"
                       href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for semestre in user_data.semestres %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="semestre{{ semestre.id }}">
                    {{ include('bloc_previsionnel/previ_semestre.html.twig') }}

                    <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                        Information indicative !
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ include('bloc_previsionnel/hrs.html.twig') }}

{{ include('bloc_previsionnel/total.html.twig') }}