<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="card-title"><strong>{{ 'service.previsionnel.semestre.heading'|trans }}</strong>
                | {{ previsionnel.semestre.libelle }} | {{ previsionnel.semestre.codeApogee }} |
                ({{ 'periode'|trans }}
                : {{ user_data.formation.optAnneePrevisionnel }})</h4>

            <div class="card-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="cm">NB h*</th>
                        <th class="cm">NB Gr.</th>
                        <th class="cm">1.5**</th>

                        <th class="previtd">NB h/ Gr.*</th>
                        <th class="previtd">NB Gr.</th>
                        <th class="previtd">1.5**</th>

                        <th class="previtp">NB h/ Gr.*</th>
                        <th class="previtp">NB Gr.</th>
                        <th class="previtp">1.5**</th>

                        <th class="cm">tot. CM*</th>
                        <th class="previtd">tot. TD</th>
                        <th class="previtp">tot. TP</th>

                        <th>total eq. TD**</th>
                        <th>total etu.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for previ in previsionnel.previsionnels %}
                        <tr>
                            <td colspan="5">
                                {{ previ.matiere.codeMatiere }} | {{ previ.matiere.libelle }} | {{ previ.personnel.display }}
                            </td>
                            <td colspan="4">
                                <a href="">Voir le service de la matière de {{ previ.matiere.codeMatiere }}</a>
                            </td>
                            <td colspan="4">
                                <a href="">Voir le service complet de {{ previ.personnel.display }}</a>
                            </td>

                            <td colspan="1">
                                <a href="{{ path('administration_previsionnel_duplicate', {id: previ.id}) }}"
                                   class="btn btn-success btn-outline btn-square" data-provide="tooltip"
                                   data-placement="bottom"
                                   title="{{ 'atitle.dupliquer'|trans }}"><i
                                            class="fa fa-copy"></i></a>
                                <a href="{{ path('administration_previsionnel_delete', {id: previ.id}) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer" data-provide="tooltip"
                                   data-placement="bottom"
                                   title="{{ 'atitle.supprimer'|trans }}"><i
                                            class="ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ previ.nbHCm }} h</td>
                            <td>{{ previ.nbGrCm }}</td>
                            <td>{{ previ.nbSeanceCm }}</td>
                            <td class="previtd">{{ previ.nbHTd }} h</td>
                            <td class="previtd">{{ previ.nbGrTd }}</td>
                            <td class="previtd">{{ previ.nbSeanceTd }}</td>

                            <td class="previtp">{{ previ.nbHTp }} h</td>
                            <td class="previtp">{{ previ.nbGrTp }}</td>
                            <td class="previtp">{{ previ.nbSeanceTp }}</td>

                            <td>{{ previ.totalHCm }} h</td>
                            <td class="previtd">{{ previ.totalHTd }} h</td>
                            <td class="previtp">{{ previ.totalHTp }} h</td>

                            <td>{{ previ.totalEqTd }} h</td>
                            <td>{{ previ.totalEtudiant }} h</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="alert alert-info">* CM non majorés; ** CM majorés, TP=TD.
                    Information indicative !
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">

            <h4 class="card-title"><strong>{{ 'service.previsionnel.semestre.heading'|trans }}</strong>
                | {{ previsionnel.semestre.libelle }} | {{ previsionnel.semestre.codeApogee }} |
                ({{ 'periode'|trans }}
                : {{ user_data.formation.optAnneePrevisionnel }})</h4>


            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th></th>
                        <th class="importantgros text-center">CM</th>
                        <th class="previtd text-center">TD</th>
                        <th class="previtp text-center">TP</th>
                        <th class="importantgros text-center">Total</th>
                    </tr>
                    <tr>
                        <td class="importantgros">Total général (h)</td>
                        <td class="importantgros text-center">{{ previsionnel.totalCm }}</td>
                        <td class="previtd text-center">{{ previsionnel.totalTd }}</td>
                        <td class="previtp text-center">{{ previsionnel.totalTp }}</td>
                        <td class="importantgros text-center">{{ previsionnel.totalService }}</td>
                    </tr>
                    <tr>
                        <td class="importantgros">Total Etudiant</td>
                        <td class="importantgros text-center">{{ previsionnel.totalEtuCm }}</td>
                        <td class="previtd text-center">{{ previsionnel.totalEtuTd }}</td>
                        <td class="previtp text-center">{{ previsionnel.totalEtuTp }}</td>
                        <td class="importantgros text-center">{{ previsionnel.totalEtu }}</td>
                    </tr>


                    </tbody>
                </table>
                <br>
                <div class="alert alert-info">Total donné à titre indicatif.</div>
            </div>
        </div>
    </div>
</div>