{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'adm.import_diplome.index.heading'|trans({'%diplome%': diplome.libelle}) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.import_diplome.index.heading'|trans({'%diplome%': diplome.libelle}) }}</h4>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post" class="form">
                <div class="form-group mb-3">
                    <label for="fichier" class="form-label required">Fichier</label>
                    <input type="file" class="form-control" required name="fichier" id="fichier" accept=".csv,.xml">
                </div>
                {% if diplome.typeDiplome.apc == true %}
                    <div class="form-group mb-3">
                        <label for="fichier" class="form-label required">Type de fichier</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="typeFichier" id="typeFichier1"
                                   value="competences">
                            <label class="form-check-label" for="typeFichier1">Référentiel de compétences (xml)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="typeFichier" id="typeFichier2"
                                   value="formation">
                            <label class="form-check-label" for="typeFichier2">Référentiel de formation (PN)
                                                                               (xml)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="typeFichier" id="typeFichier3"
                                   value="structure">
                            <label class="form-check-label" for="typeFichier3">Structure de diplôme (csv
                                                                               séparateur ;)</label>
                        </div>
                    </div>
                {% else %}
                    {# todo: a faire #}
                    Coming Soon...
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="typeFichier" id="typeFichier3"
                               value="competences">
                        <label class="form-check-label" for="typeFichier3">Structure de diplôme (csv
                                                                           séparateur ;)</label>
                    </div>
                {% endif %}
                <div class="form-group mb-3">
                    <label for="ppn" class="form-label required">PPN</label>
                    <select name="ppn" id="ppn" class="form-select">
                        <option value="">-- Sélectionner un PPN --</option>
                        {% for p in diplome.ppns %}
                            <option value="{{ p.id }}">{{ p.libelle }} ({{ p.annee }})</option>
                        {% endfor %}
                    </select>
                </div>
                <twig:Alert type="danger">
                    L'import d'une nouvelle maquette effacera les données déjà présentes dans la structure du diplome
                    "{{ diplome.libelle }}"
                </twig:Alert>
                <button type="submit" class="btn btn-success">Importer</button>
            </form>
        </div>
    </div>
{% endblock %}
