<div class="d-grid d-block mb-2">
    <a href="{{ path('administratif_enquete_relance',{questionnaire:questionnaire.id}) }}"
       class="btn btn-warning">
        Relancer les questionnaires non complétés
    </a></div>
<table class="table">
    <thead>
    <tr>
        <th>Destinataire</th>
        <th>Envoyé le</th>
        <th>Clé</th>
        <th>Répondu</th>
        <th>Le</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {# todo: tableau tabletype... #}
    {% for element in liste %}
        <tr>
            <td>{{ element.display }}</td>
            <td>{{ element.dateEnvoi|format_datetime('short', 'short') }}</td>
            <td>{{ element.cleQuestionnaire }}</td>
            {% if element.dateTermine != null %}
                <td id="termine_{{ element.id }}">
                    <span class="badge bg-success">Terminé</span>
                </td>
                <td id="valide_{{ element.id }}">
                    Validé le {{ element.dateTermine|format_datetime('short', 'short') }}
                </td>
            {% elseif element.envoye == true and element.commence == false %}
                <td>
                    <span class="badge bg-info">Envoyé</span>
                </td>
                <td>Envoyé
                    le {{ element.dateEnvoi|format_datetime('short','short') }}</td>
            {% elseif element.envoye == null %}
                <td>
                    <span class="badge bg-danger">Non Envoyé</span>
                </td>
                <td>-</td>
            {% else %}
                <td>
                    <span class="badge bg-warning">En cours</span>
                </td>
                <td>Modifié
                    le {{ element.updated|format_datetime('short','short') }}</td>
            {% endif %}
            <td>
                {% if element.dateTermine == null %}
                    <a href="{{ path('enquete_relance_individuelle',{idChoix:element.id, idQuestionniaire:
                        questionnaire.id}) }}"
                       class="btn
                    btn-warning
                btn-outline relanceIndividuelle">
                        Relancer
                    </a>
                    <a href="#"
                       class="btn btn-info btn-outline btn-square deverouiller"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="{{ 'atitle.deverouiller'|trans }}">
                        <i class="fas fa-unlock" data-id="{{ element.id }}"></i>
                    </a>
                {% endif %}
                {% if is_granted('ROLE_QUALITE') %}
                    {#                                        <a href="{{ path('administratif_enquete_etudiant_voir_modifier', #}
                    {#                                            {questionnaire: quizzEtudiant[questionnaire.id][etudiant.id].id}) }}" #}
                    {#                                           class="btn btn-warning btn-outline btn-square" #}
                    {#                                           data-bs-toggle="tooltip" data-bs-placement="bottom" #}
                    {#                                           title="{{ 'atitle.voir_modifier'|trans }}"> #}
                    {#                                            <i class="{{ iconEdit }}"></i> #}
                    {#                                        </a> #}
                    {#       todo: revoir le code de suppression              <a href="{{ path('administratif_enquete_etudiant_supprimer', #}
                    {#                        {questionnaire: element.id}) }}" data-csrf="{{ csrf_token('delete' ~ element.id) }}" #}
                    {#                       class="btn btn-danger btn-outline btn-square supprimer" #}
                    {#                       data-bs-toggle="tooltip" data-bs-placement="bottom" #}
                    {#                       title="{{ 'atitle.supprimer'|trans }}"> #}
                    {#                        <i class="{{ iconDelete }}"></i> #}
                    {#                    </a> #}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
