Bonjour,<br><br>

<p>Une nouvelle demande d'autorisation de déplacement professionnel vient d'être déposée
   par {{ covidAttestationPersonnel.personnel.display }}.</p>

<p>Cette demande concerne la période :</p>

<ul>
        {% for creneau in covidAttestationPersonnel.covidCreneauPresences %}
                <li> {{ creneau.display }}</li>
        {% endfor %}
</ul>

<p>Pour le motif: {{ covidAttestationPersonnel.motif|trans }}</p>

<p>Vous pouvez voir la demande ici : <a href="{{ url('administration_covid_attestation_personnel_show',
                {id:covidAttestationPersonnel.id}) }}">Voir la demande
                                                       de {{ covidAttestationPersonnel.personnel.display }}</a>
</p>


<p>Cordialement,</p>
<br><br>
<i>Ce message est un message automatique envoyé depuis l'intranet de l'{{ settings('NOM_IUT') }}.</i>
