Bonjour,

Une nouvelle demande d'autorisation de déplacement professionnel vient d'être déposée par {{ covidAttestationPersonnel.personnel.display }}.

Cette demande concerne la période :

<br>
{% for creneau in covidAttestationPersonnel.covidCreneauPresences %}
    - {{ creneau.display }}<br>
{% endfor %}

Pour le motif: {{ covidAttestationPersonnel.motif|trans }}

Vous pouvez voir la demande ici : <a href="{{ url('administration_covid_attestation_personnel_show',
    {id:covidAttestationPersonnel.id}) }}">Voir la demande de {{ covidAttestationPersonnel.personnel.display }}</a>


Cordialement,

Ce message est un message automatique envoyé depuis l'intranet de l'{{ settings('NOM_IUT') }}.
