<p>Bonjour {{ etudiant.displayPr }},</p>

<p>Vous trouverez en pièce jointe la convocation pour venir assister à des TP, TD ou des évaluations à l'IUT de Troyes,
   dans le cadre des activités en présentiel autorisées par décret du Ministère de l'Enseignement Supérieur et la
   Recherche
   du 30 octobre et arrêtés de la Rectrice ESR Grand-Est.</p>

<p>Vous êtes convoqué(e) le {{ covidAttestationEtudiant.datePresence|format_date('long') }}
   , {{ covidAttestationEtudiant.heureLong }} (pour le détail de la demi-journée ou journée, vous reporter à
   l'emploi du temps fourni par le département de DUT ou le resp. pédagogique).</p>

<p><strong>Vous devrez vous munir <u>de cette convocation et de votre carte d'identité</u> pour accéder à
           l'IUT.</strong></p>

<p>Les conditions d'accès et mesures sanitaires sont précisées en annexe - <strong>vous devez impérativement en prendre
                                                                                   connaissance et vous y
                                                                                   conformer</strong>. L'accès à l'IUT
   ne sera possible que par l'entrée du parking, rue de Québec.</p>

<p>
    Bien cordialement,<br>
    {{ covidAttestationEtudiant.diplome.responsableDiplome.displayPr }}<br>
    {{ covidAttestationEtudiant.diplome.display }}
</p>
