{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.alternance.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_alternance_delete', {id: alternance.id}) }}" data-csrf="{{ csrf_token('delete' ~ alternance.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer" title="{{ 'atitle.supprimer'|trans }}" data-provide="tooltip"
               data-placement="bottom"><i class="fas fa-trash"></i></a>
            <a href="{{ path('administration_alternance_show', {id: alternance.id}) }}" class="btn btn-info btn-sm btn-float" title="{{ 'atitle.voir'|trans }}" data-provide="tooltip"
               data-placement="bottom"><i class="fas fa-eye"></i></a>

            <a href="{{ path('administration_alternance_index', {annee:alternance.annee.id}) }}" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}" data-provide="tooltip"
               data-placement="bottom"><i class="fas fa-arrow-left"></i></a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h3 class="card-title">{{ 'adm.alternance.modification.heading'|trans }}</h3>
        <div class="card-body">
            <h4>Alternance de {{ alternance.etudiant ? alternance.etudiant.displayPr : 'non.defini'|trans }} pour
                l'année {{ alternance.annee ? alternance.annee.libelle : 'non.defini'|trans }}
                ({{ alternance.anneeUniversitaire != null ? alternance.anneeUniversitaire.displayAnneeUniversitaire : 'non.defini'|trans }}
                )</h4>
            {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}
