{% extends 'base.html.twig' %}

{% block header %}
    {{ 'applications.etudiant.projet.formulaire.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_index', {onglet:'projet'}) }}" class="btn btn-primary btn-float"
               data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_applications'|trans }}"><i
                        class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'applications.etudiant.projet.formulaire.heading'|trans }}</h4>
        <div class="card-body">
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
            <h3>Membres du groupes projet</h3>
            {{ form_row(form.etudiants) }}

            <h3>Entreprise, association...</h3>
            {{ form_row(form.organisme) }}

            <h3>Durée du projet</h3>
            {{ form_row(form.tempComplet) }}
            {{ form_row(form.duree) }}
            {{ form_row(form.uniteDuree) }}

            <h3>Sujet</h3>
            {{ form_row(form.sujet) }}
            {{ form_row(form.activitesConfiees) }}
            <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
