{% extends 'base.html.twig' %}

{% block header %}
    {{ 'projets.heading'|trans }}
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">Vos périodes de projet</h4>
    <div class="card-body">
        {% if projetsPeriodes|length > 0 %}
            <ul class="nav nav-tabs">
                {% for projetPeriode in projetsPeriodes %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                           href="#projetPeriode{{ projetPeriode.uuidString }}">{{ projetPeriode.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% for projetPeriode in projetsPeriodes %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                         id="projetPeriode{{ projetPeriode.uuidString }}">
                        {% if projetsEtudiants[projetPeriode.id] is defined %}
                            {{ include('composants/_projet_timeline.html.twig',{projetEtudiant:
                                projetsEtudiants[projetPeriode.id]}) }}
                        {% else %}
                            {{ include('composants/_projet_timeline.html.twig') }}
                        {% endif %}
                        <twig:Alert type="warning">
                            <p>{{ projetPeriode.texteLibre }}</p>
                        </twig:Alert>

                        <twig:Alert type="info">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <p>Période de stage du
                                        <strong>{{ projetPeriode.dateDebut ? projetPeriode.dateDebut|format_date('long') : 'non.defini'|trans }}
                                            au {{ projetPeriode.dateFin ? projetPeriode.dateFin|format_date('long') : 'non.defini'|trans }}</strong>
                                    </p>
                                    <p>Les responsables de cette période sont : </p>
                                    <ul>
                                        {% for personnel in projetPeriode.responsables %}
                                            <li>{{ personnel.displayPr }}</li>
                                        {% else %}
                                            {{ 'non.defini'|trans }}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </twig:Alert>
                        {% if projetsEtudiants[projetPeriode.id] is not defined %}
                            <strong>Ce document n'est pas la convention de stage !</strong>
                        {% endif %}
                        {% if ((projetsEtudiants[projetPeriode.id] is defined) and
                            (projetsEtudiants[projetPeriode.id].etatProjet == constant
                            ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_AUTORISE') )) %}
                            <twig:Alert type="warning"><p>Votre proposition a été acceptée le
                                    <strong>{{ projetsEtudiants[projetPeriode.id].dateAutorise|format_date('long') }}</strong>.
                                    Vous devez maintenant remplir le formulaire.</p></twig:Alert>
                            <div class="d-grid">
                                <a href="{{ path('application_etudiant_projet_formulaire',
                                    {projetEtudiant:projetsEtudiants[projetPeriode.id].uuidString}) }}"
                                   class="btn d-block btn-large btn-info">Compléter la proposition de projet</a>
                            </div>
                        {% elseif ((projetsEtudiants[projetPeriode.id] is  defined) and
                            (projetsEtudiants[projetPeriode.id].etatProjet == constant
                            ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_DEPOSE') )) %}
                            <twig:Alert type="success">Vous avez complété le formulaire. Il est en cours de
                                                             validation
                                                             par les responsables du projet. Vous recevrez un mail dés
                                                             que vous pourrez signer la
                                                             convention.
                            </twig:Alert>
                        {% elseif ((projetsEtudiants[projetPeriode.id] is  defined) and
                            (projetsEtudiants[projetPeriode.id] == constant
                            ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_VALIDE') )) %}
                            <twig:Alert type="success">Votre formulaire a été validé. La convention va être
                                                             imprimée
                                                             prochainement.
                            </twig:Alert>
                        {% elseif ((projetsEtudiants[projetPeriode.id] is  defined) and
                            (projetsEtudiants[projetPeriode.id] == constant
                            ('App\\Entity\\ProjetEtudiant::ETAT_PROJET_IMPRIME') )) %}
                            <div class="alert alert-success">La convention est imprimée. Vous devez venir signer votre
                                                             convention de projet
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <twig:Alert type="info">Vous n'avez pas de période de stage à compléter sur ce semestre.</twig:Alert>
        {% endif %}
    </div>
</div>
{% endblock %}
