{{ section_creation_render(section) }}

<label for="addQuestion" class="form-label mt-2">Choisir une question à recopier</label>
<select class="form-select mt-2" is="select-complete" {{ stimulus_action('questionnaire--section', 'addQuestion', 'change',
    {section:section.id}) }}
        id="addQuestion"
>
    <option value="">Choisir...</option>
    <option value="new">Ajouter une nouvelle question</option>
    {% for question in liste %}
        <option value="{{ question.id }}">{{ question.libelle }} ({{ question.section.titre }}
            // {{ question.section.questionnaire.libelle }})
        </option>
    {% endfor %}
</select>
