<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th class="previcm cm">NB h*</th>
        <th class="previcm cm">NB Gr.</th>
        <th class="previcm cm">1.5**</th>

        <th class="previtd">NB h/ Gr.*</th>
        <th class="previtd">NB Gr.</th>
        <th class="previtd">1.5**</th>

        <th class="previtp">NB h/ Gr.*</th>
        <th class="previtp">NB Gr.</th>
        <th class="previtp">1.5**</th>

        <th class="previcm cm">tot. CM*</th>
        <th class="previtd">tot. TD</th>
        <th class="previtp">tot. TP</th>

        <th>total eq. TD**</th>
        <th>total etu.</th>
    </tr>
    </thead>
    <tbody>
    {% for previsionnel in previsionnels %}
        <tr>
            <td colspan="11">
                {{ previsionnel.matiere_code }} | {{ previsionnel.matiere_libelle }}
                | {{ previsionnel.matiere_code_element }}
            </td>

            <td colspan="2">
                <div class="d-grid">
                    <button
                            {{ stimulus_controller('modal', {
                                size: 'lg',
                                modalTitle: 'previsionnel.et.intervenants.matiere'|trans,
                                modalUrl:  path('api_previsionnel_matiere', {'matiere': previsionnel.matiere_id, type: previsionnel.type_matiere}) }) }}
                            data-action="click->modal#openModal"
                            class="btn d-block btn-cyan"
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="{{ 'previsionnel.et.intervenants.matiere'|trans }}"
                    >
                        {{ 'detail.du.module'|trans }}
                    </button>
                </div>
            </td>
            <td colspan="1">

            </td>
        </tr>
        <tr id="ligne_{{ previsionnel.id }}">
            {% if (user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE')) %}
                <td class="previcm">
                    {{ previsionnel.nbHCm }} h
                </td>
                <td class="previcm">
                    {{ previsionnel.nbGrCm }}</td>
                <td class="previcm">{{ previsionnel.nbSeanceCm }}</td>
                <td class="previtd">
                    {{ previsionnel.nbHTd }} h
                </td>
                <td class="previtd">
                    {{ previsionnel.nbGrTd }}
                </td>
                <td class="previtd">{{ previsionnel.nbSeanceTd }}</td>

                <td class="previtp">
                    {{ previsionnel.nbHTp }} h
                </td>
                <td class="previtp">
                    {{ previsionnel.nbGrTp }}
                </td>
                <td class="previtp">{{ previsionnel.nbSeanceTp }}</a></td>

                <td class="previcm">{{ previsionnel.totalHCm }} h</td>
                <td class="previtd">{{ previsionnel.totalHTd }} h</td>
                <td class="previtp">{{ previsionnel.totalHTp }} h</td>

                <td>{{ previsionnel.totalEqTd }} h</td>
                <td>{{ previsionnel.totalEtudiant }} h</td>
            {% else %}
                <td class="previcm">{{ previsionnel.nbHCm }} h
                </td>
                <td class="previcm">{{ previsionnel.nbGrCm }}</td>
                <td class="previcm">{{ previsionnel.nbSeanceCm }}</td>
                <td class="previtd">{{ previsionnel.nbHTd }} h
                </td>
                <td class="previtd">{{ previsionnel.nbGrTd }}</td>
                <td class="previtd">{{ previsionnel.nbSeanceTd }}</td>

                <td class="previtp">{{ previsionnel.nbHTp }} h
                </td>
                <td class="previtp">{{ previsionnel.nbGrTp }}</td>
                <td class="previtp">{{ previsionnel.nbSeanceTp }}</td>

                <td class="previcm">{{ previsionnel.totalHCm }} h</td>
                <td class="previtd">{{ previsionnel.totalHTd }} h</td>
                <td class="previtp">{{ previsionnel.totalHTp }} h</td>

                <td>{{ previsionnel.totalEqTd }} h</td>
                <td>{{ previsionnel.totalEtudiant }} h</td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="14">
                {% if semestre is defined %}
                    Pas de service pour le semestre {{ semestre.display }}
                {% else %}
                    Choisir un semestre
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<twig:Alert type="info">* CM non majorés; ** CM majorés, TP=TD.
    Information indicative !
</twig:Alert>
