<div class="card">
    <header class="card-header">
        <h4 class="card-title"><strong>{{ 'synthese.previsionnel.heading'|trans }}</strong>
            | {{ user_data.departement.libelle }} | {{ personnel.display }} |
            ({{ 'periode'|trans }} : {{ user_data.anneePrevisionnel }})</h4>
    </header>

    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <th></th>
                <th class="importantgros">{{ 'cm'|trans }}</th>
                <th class="previtd">{{ 'td'|trans }}</th>
                <th class="previtp">{{ 'tp'|trans }}</th>
                <th class="importantgros">{{ 'eqtd'|trans }}</th>
            </tr>
            <tr>
                <td class="importantgros">Total général (h) (hors HRS)</td>
                <td class="importantgros">{{ synthsePrevisionnel.totalCm }} h</td>
                <td class="previtd">{{ synthsePrevisionnel.totalTd }} h</td>
                <td class="previtp">{{ synthsePrevisionnel.totalTp }} h</td>
                <td class="importantgros">{{ synthsePrevisionnel.totalService }} h</td>
            </tr>

            <tr>
                <td class="importantgros">{{ 'heures.complementaires'|trans }} </td>
                <td class="importantgros" colspan="3"></td>
                <td class="importantgros">{{ synthsePrevisionnel.nbHeuresComplementaires }} h</td>
            </tr>

            <tr>
                <td class="importantgros">Service + Primes (HRS, PRP, ...)</td>
                <td class="importantgros" colspan="3">&nbsp;</td>
                <td class="importantgros">{{ synthsePrevisionnel.totalHrsService }} h (éq. TD)</td>
            </tr>
            </tbody>
        </table>
        <br>

    </div>
</div>
