{% extends 'base.html.twig' %}

{% block title %}AlternanceFicheSuivi index{% endblock %}

{% block body %}
    <h1>AlternanceFicheSuivi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Methode</th>
                <th>Commentaire</th>
                <th>Missions</th>
                <th>Integration</th>
                <th>Initiative</th>
                <th>Adaptation</th>
                <th>Performance</th>
                <th>Delais</th>
                <th>Comportement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alternance_fiche_suivi in alternance_fiche_suivis %}
            <tr>
                <td>{{ alternance_fiche_suivi.id }}</td>
                <td>{{ alternance_fiche_suivi.methode }}</td>
                <td>{{ alternance_fiche_suivi.commentaire }}</td>
                <td>{{ alternance_fiche_suivi.missions }}</td>
                <td>{{ alternance_fiche_suivi.integration }}</td>
                <td>{{ alternance_fiche_suivi.initiative }}</td>
                <td>{{ alternance_fiche_suivi.adaptation }}</td>
                <td>{{ alternance_fiche_suivi.performance }}</td>
                <td>{{ alternance_fiche_suivi.delais }}</td>
                <td>{{ alternance_fiche_suivi.comportement }}</td>
                <td>
                    <a href="{{ path('alternance_fiche_suivi_show', {'id': alternance_fiche_suivi.id}) }}">show</a>
                    <a href="{{ path('alternance_fiche_suivi_edit', {'id': alternance_fiche_suivi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alternance_fiche_suivi_new') }}">Create new</a>
{% endblock %}
