<div class="card">
    <header class="card-header">
        <div class="card-title flexbox">
            <div class="avatar-circle-sm col-1">
                <span class="initials">
                    {{ message.type|upper }}
                </span>
            </div>
            <div>
                <h6 class="mb-1">Envoyé à : {{ message.type|badgeTypeMessage }}</h6>
                <p><strong>Destinataire(s) :</strong>
                    {% for dest in message.messageDestinataires %}
                        {{ dest.display }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <small>{{ message.created ? message.created|format_datetime('long', 'short') : '' }}</small>
            </div>
        </div>
    </header>

    <div class="collapse show" id="email-2">
        <div class="card-body">
            <p>{{ message.message|raw }}</p>
            <hr>
            {% if message.messagePieceJointes|length > 0 %}
                <h6 class="text-lighter text-uppercase mb-3">
                    <i class="fa fa-paperclip me-2"></i>
                    <small>{{ message.messagePieceJointes|length }} Pièce(s) jointe(s)</small>
                </h6>
                <div class="gap-items-2 gap-y">
                    {% for pj in message.messagePieceJointes %}
                        <a class="d-inline-block" href="{{ asset('upload/pj/'~pj.fichier) }}">
                            <i class="fas fa-file fa-5x"></i>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <twig:Alert type="info">
                    Pas de pièces jointes
                </twig:Alert>
            {% endif %}
        </div>
    </div>
</div>


