<div class="card">
    <header class="card-header">
        <div class="card-title flexbox">
            <img class="avatar" src="{{ asset('upload/photo/'~message.expediteur.photoName) }}"
                 alt="{{ message.expediteur.displayPr }}">
            <div>
                <h6 class="mb-0">{{ message.expediteur.displayPr }}</h6>
                <small>{{ message.created ? message.created|localizeddate('long', 'short', app.request.getLocale()) : '' }}</small>
            </div>
        </div>

        <div class="dropdown">
            <a class="text-lighter" data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fa fa-print"></i> Print</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="{{ iconDelete }}"></i> Delete</a>
            </div>
        </div>
    </header>

    <div class="collapse show" id="email-2">
        <div class="card-body">
            <p>{{ message.message|raw }}</p>
            <hr>
            {% if message.messagePieceJointes|length > 0 %}
                <h6 class="text-lighter text-uppercase mb-3">
                    <i class="fa fa-paperclip mr-2"></i>
                    <small>Attchments ({{ message.messagePieceJointes|length }})</small>
                </h6>
                <div class="gap-items-2 gap-y">
                    {% for pj in message.messagePieceJointes %}
                        <a class="d-inline-block" href="#">
                            <img class="w-140px"
                                 src="{{ asset('assets/img/gallery/thumb-sm/10.jpg') }}"
                                 alt="...">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>


