<div class="card">
    <h4 class="card-title">Ajouter une note dans le cahier de texte</h4>
    <div class="card-body">
        <form action="" class="form form-horizontal">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="daterendu">Date de rendu</label>
                        <input type="text" id="daterendu" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="enseignant">Enseignant</label>
                        <select class="form-control" id="enseignant" data-live-search="true"
                                data-provide="selectpicker">
                            <option value="">Sans objet</option>
                            {% for personnel in personnels %}
                                <option value="{{ personnel.id }}">{{ personnel.display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="matiere">Matière</label>
                        <select class="form-control" id="matiere" data-live-search="true" data-provide="selectpicker">
                            <option value="">Sans objet</option>
                            {% for matiere in matieres %}
                                <option value="{{ matiere.id }}">{{ matiere.codeMatiere }} {{ matiere.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="libelle">Libellé</label>
                        <input type="text" id="libelle" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <button class="btn btn-success">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="media-list media-list-divided media-list-hover">

                {% for carnet in carnets %}
                    <div class="media">
                        <a href="#" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}"
                           data-provide="tooltip"
                           data-placement="bottom"><i class="ti-sharethis"></i>
                        </a>

                        {# <a class="avatar avatar-lg status-success" href="#">
                             <img src="../assets/img/avatar/1.jpg" alt="...">
                         </a>#}

                        <div class="media-body">
                            <p>
                                <a class="hover-primary" href="#"><strong>{{ carnet.libelle }}</strong></a>
                                <small class="sidetitle">{{ carnet.dateRetour|date('d/m/Y') }}</small>
                            </p>
                            <p>{{ carnet.description }}
                                <small class="sidetitle">M1103</small>
                            </p>

                            <nav class="nav mt-2">
                                <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                            </nav>
                        </div>

                        <div class="media-right gap-items">
                            <a class="media-action lead" href="#" data-provide="tooltip" title="Orders"><i
                                        class="ti-shopping-cart"></i></a>
                            <a class="media-action lead" href="#" data-provide="tooltip" title="Receipts"><i
                                        class="ti-receipt"></i></a>
                            <div class="btn-group">
                                <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                            class="ti-more-alt rotate-90"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}


                <div class="media">
                    <a href="#" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}"
                       data-provide="tooltip"
                       data-placement="bottom"><i class="ti-sharethis"></i></a>

                    <div class="media-body">
                        <p>
                            <a class="hover-primary" href="#"><strong>Hossein Shams</strong></a>
                            <small class="sidetitle">Last seen: 2 hours ago</small>
                        </p>
                        <p>Full Stack Developer</p>

                        <nav class="nav mt-2">
                            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                        </nav>
                    </div>

                    <div class="media-right gap-items">
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Orders"><i
                                    class="ti-shopping-cart"></i></a>
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Receipts"><i
                                    class="ti-receipt"></i></a>
                        <div class="btn-group">
                            <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                    class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="media">
                    <a href="#" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}"
                       data-provide="tooltip"
                       data-placement="bottom"><i class="ti-briefcase"></i></a>

                    <div class="media-body">
                        <p>
                            <a class="hover-primary" href="#"><strong>Sarah Conner</strong></a>
                            <small class="sidetitle">Last seen: 12 min ago</small>
                        </p>
                        <p>Support Agent</p>

                        <nav class="nav mt-2">
                            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                        </nav>
                    </div>

                    <div class="media-right gap-items">
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Orders"><i
                                    class="ti-shopping-cart"></i></a>
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Receipts"><i
                                    class="ti-receipt"></i></a>
                        <div class="btn-group">
                            <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                    class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="media">
                    <a href="#" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}"
                       data-provide="tooltip"
                       data-placement="bottom"><i class="ti-lock"></i></a>

                    <div class="media-body">
                        <p>
                            <a class="hover-primary" href="#"><strong>Frank Camly</strong></a>
                            <small class="sidetitle">Online</small>
                        </p>
                        <p>Support Agent</p>

                        <nav class="nav mt-2">
                            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                        </nav>
                    </div>

                    <div class="media-right gap-items">
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Orders"><i
                                    class="ti-shopping-cart"></i></a>
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Receipts"><i
                                    class="ti-receipt"></i></a>
                        <div class="btn-group">
                            <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                    class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="media">
                    <a class="avatar avatar-lg status-success" href="#">
                        <img src="../assets/img/avatar/5.jpg" alt="...">
                    </a>

                    <div class="media-body">
                        <p>
                            <a class="hover-primary" href="#"><strong>Freddie Arends</strong></a>
                            <small class="sidetitle">Last seen: yesterday</small>
                        </p>
                        <p>Marketing Department</p>

                        <nav class="nav mt-2">
                            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
                            <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                        </nav>
                    </div>

                    <div class="media-right gap-items">
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Orders"><i
                                    class="ti-shopping-cart"></i></a>
                        <a class="media-action lead" href="#" data-provide="tooltip" title="Receipts"><i
                                    class="ti-receipt"></i></a>
                        <div class="btn-group">
                            <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                    class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <nav class="mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-left"></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>


        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Date de retour</th>
                <th>Module</th>
                <th>Libelle</th>
                <th>Enseignant</th>
                <th>Partager</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12/06/2018 17:00</td>
                <td>M2105</td>
                <td>Finaliser l'infographie</td>
                <td>D. Fort</td>
                <td>Saisie Ens. Visible de tous</td>
                <td>voir / Marquer comme fait</td>
            </tr>
            <tr>{# code couleur entre les personnels, etudiant partagé et étudiant perso #}
                <td>12/07/2018</td>
                <td>M2202</td>
                <td>Finaliser DUTAF</td>
                <td>F. Meuzeret</td>
                <td>Visibile de vous uniquement -Partager avec votre groupe de CM / TD / TP, avec tous les groupes de TD
                    / TP, quelques étudiants-
                </td>
                <td>voir / Modifier / supprimer / Marquer comme fait</td>
            </tr>
            <tr>
                <td>12/07/2018</td>
                <td>M1234</td>
                <td>S'inscrire à l'IUT</td>
                <td>Sans objet</td>
                <td>Partager avec mon groupe de CM -menu-</td>
                <td>voir / Modifier / supprimer / Marquer comme fait</td>
            </tr>
            <tr>
                <td>12/07/2018</td>
                <td>M1234</td>
                <td>Projet S2</td>
                <td>Sans objet</td>
                <td>Partager par XXXX avec mon groupe de CM</td>
                <td>voir / Modifier / supprimer / Marquer comme fait / Masquer</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>