{% extends 'base.html.twig' %}

{% block header %}
    {{ 'gestion.du.semestre.heading'|trans({'%libelle%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestres %}
            <a href="{{ path('administration_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-square btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'changer.de.semestre'|trans }}"
               data-provide="tooltip"
               data-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="ti-home"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 sol-sm-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'gestion.des.absences'|trans|raw }}</h4>
                    <div class="card-header-actions">
                        <a class="btn btn-sm btn-primary btn-square btn-round"
                           title="{{ 'saisir.absences'|trans }}"
                           data-provide="tooltip"
                           data-placement="bottom"
                           href="{{ path('administration_absences_semestre_saisie',{semestre:semestre.id}) }}"
                        >
                            <i class="ti ti-plus"></i>
                        </a>
                        <ul class="card-controls">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="#"><i
                                            class="ti-more-alt rotate-90"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item"><i
                                                class="ti-export"></i>{{ 'exporter.xls'|trans }}</a>
                                    <a href="#" class="dropdown-item"><i
                                                class="ti-export"></i>{{ 'exporter.csv'|trans }}</a>
                                    <a href="#" class="dropdown-item"><i
                                                class="ti-printer"></i>{{ 'exporter.pdf'|trans }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="card-body">
                    <a href="{{ path('administration_absences_semestre_liste',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary">
                        {{ 'afficher.les.absences'|trans }}</a>
                    <a href="{{ path('administration_absences_semestre_justifier',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary">
                        {{ 'justifier.les.absences'|trans }}</a>
                    <a href="{{ path('administration_commission_absences_semestre_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary">
                        {{ 'commission.des.absences'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 sol-sm-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'gestion.des.notes'|trans|raw }}</h4>
                    <ul class="card-controls">
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="ti-export"></i>{{ 'exporter.xls'|trans }}
                                </a>
                                <a href="#" class="dropdown-item"><i class="ti-export"></i>{{ 'exporter.csv'|trans }}
                                </a>
                                <a href="#" class="dropdown-item"><i class="ti-printer"></i>{{ 'exporter.pdf'|trans }}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="ti-settings"></i> Config. Notes</a>
                            </div>
                        </li>
                    </ul>
                </header>
                <div class="card-body">
                    <a href="{{ path('administration_notes_semestre_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary">
                        {{ 'afficher.les.notes'|trans }}
                    </a>
                    <a href="{{ path('administration_rattrapage_semestre_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary">
                        {{ 'demandes.rattrapages'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 sol-sm-12">
            <div class="card">
                <header class="card-header"><h4 class="card-title">{{ 'gestion.des.etudiants'|trans|raw }}</h4>
                    <div class="card-header-actions">
                        <button class="btn btn-sm btn-primary btn-square btn-round"
                                title="{{ 'Ajouter.des.etudiants'|trans }}"
                                data-provide="tooltip"
                                data-placement="bottom">
                            <i class="ti ti-plus"></i>
                        </button>
                        <ul class="card-controls">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item"><i
                                                class="ti-export"></i>{{ 'exporter.xls'|trans }}</a>
                                    <a href="#" class="dropdown-item"><i
                                                class="ti-export"></i>{{ 'exporter.csv'|trans }}</a>
                                    <a href="#" class="dropdown-item"><i
                                                class="ti-printer"></i>{{ 'exporter.pdf'|trans }}</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="card-body">
                    <a href="{{ path('administration_etudiant_semestre_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary"> {{ 'donnees.des.etudiants'|trans }}</a>
                    <a href="{{ path('administration_etudiant_groupe_semestre_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary"> {{ 'groupes'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 sol-sm-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'gerer.fin.semestre'|trans|raw }}</h4>
                    <ul class="card-controls">
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#" aria-expanded="false"><i
                                        class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="ti-export"></i>{{ 'exporter.xls'|trans }}
                                </a>
                                <a href="#" class="dropdown-item"><i class="ti-export"></i>{{ 'exporter.csv'|trans }}
                                </a>
                                <a href="#" class="dropdown-item"><i class="ti-printer"></i>{{ 'exporter.pdf'|trans }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </header>
                <div class="card-body">
                    <a href="{{ path('administration_sous_comission_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-primary">{{ 'simulation.sous-commission'|trans }}</a>
                    <a href="{{ path('administration_sous_comission_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-warning"> {{ 'preparer.sous-commission'|trans }}</a>
                    <a href="{{ path('administration_fin_semestre_index',{semestre:semestre.id}) }}"
                       class="btn btn-block btn-danger"> {{ 'changement.semestre'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}