{% extends 'base.html.twig' %}

{% block header %}
    Gestion <strong>de la structure de la formation</strong>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="ti-home"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'structure.de.la.formation.heading'|trans({ '%formation%': user_data.formation.libelle}) }}</h4>
        <div class="card-body">

            <div class="row gap-y ">
                <div class="col-md-10">{{ user_data.formation.libelle }}</div>
                <div class="col-md-2">
                    <a href="{{ path('administration_structure_formation_show', {'id': user_data.formation.id}) }}"
                       class="btn btn-info btn-outline btn-square" data-provide="tooltip"
                       data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i class="ti-eye"></i></a>

                    <a href="{{ path('administration_structure_formation_edit', {'id': user_data.formation.id}) }}"
                       class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                                         data-provide="tooltip"
                                                                         data-placement="bottom"
                                                                         title="{{ 'atitle.modifier'|trans }}"></i></a>
                </div>
            </div>
            {% for diplome in user_data.diplomes %}
                <div class="row gap-y ">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-9">{{ diplome.typediplome.sigle }}
                        | {{ diplome.libelle }} | {{ diplome.codeApogee }}</div>
                    <div class="col-md-2">
                        <a href="{{ path('administration_structure_diplome_show', {'id': diplome.id}) }}"
                           class="btn btn-info btn-outline btn-square" data-provide="tooltip"
                           data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i class="ti-eye"></i></a>

                        <a href="{{ path('administration_structure_diplome_edit', {'id': diplome.id}) }}"
                           class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                                             data-provide="tooltip"
                                                                             data-placement="bottom"
                                                                             title="{{ 'atitle.modifier'|trans }}"></i></a>
                        <a href="{{ path('administration_structure_diplome_delete', {id: diplome.id}) }}"
                           data-csrf="{{ csrf_token('delete' ~ diplome.id) }}"
                           class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                    class="ti-close" data-provide="tooltip" data-placement="bottom"
                                    title="{{ 'atitle.supprimer'|trans }}"></i></a>
                    </div>
                </div>
                {% for annee in user_data.annees if annee.diplome==diplome %}
                    <div class="row gap-y dip_{{ diplome.id }}">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">{{ annee.libelle }} | {{ annee.codeApogee }}</div>
                        <div class="col-md-2">
                            <a href="{{ path('administration_structure_annee_show', {'id': annee.id}) }}"
                               class="btn btn-info btn-outline btn-square" data-provide="tooltip"
                               data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i class="ti-eye"></i></a>

                            <a href="{{ path('administration_structure_annee_edit', {'id': annee.id}) }}"
                               class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                                                 data-provide="tooltip"
                                                                                 data-placement="bottom"
                                                                                 title="{{ 'atitle.modifier'|trans }}"></i></a>
                            <a href="{{ path('administration_structure_annee_delete', {id: annee.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ annee.id) }}"
                               class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                        class="ti-close" data-provide="tooltip" data-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>
                        </div>
                    </div>
                    {% for semestre in user_data.semestres if semestre.annee.id == annee.id %}

                        <div class="row gap-y dip_semestre_{{ diplome.id }} semestre_{{ annee.id }} deroulant">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">{{ semestre.libelle }} | {{ semestre.codeApogee }}</div>
                            <div class="col-md-2">
                                <a href="{{ path('administration_structure_semestre_show', {'id': semestre.id}) }}"
                                   class="btn btn-info btn-outline btn-square" data-provide="tooltip"
                                   data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i
                                            class="ti-eye"></i></a>

                                <a href="{{ path('administration_structure_semestre_edit', {'id': semestre.id}) }}"
                                   class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                                                     data-provide="tooltip"
                                                                                     data-placement="bottom"
                                                                                     title="{{ 'atitle.modifier'|trans }}"></i></a>
                                <a href="{{ path('administration_structure_semestre_delete', {id: semestre.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ semestre.id) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                            class="ti-close" data-provide="tooltip" data-placement="bottom"
                                            title="{{ 'atitle.supprimer'|trans }}"></i></a>
                            </div>
                        </div>

                        {% for ue in semestre.ues %}
                            <div class="row gap-y ue_{{ semestre.id }} deroulant">
                                <div class="col-md-5"></div>
                                <div class="col-md-5">{{ ue.libelle }} | {{ ue.codeApogee }}</div>
                                <div class="col-md-2">
                                    <a href="{{ path('administration_structure_ue_show', {'id': ue.id}) }}"
                                       class="btn btn-info btn-outline btn-square" data-provide="tooltip"
                                       data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i
                                                class="ti-eye"></i></a>

                                    <a href="{{ path('administration_structure_ue_edit', {'id': ue.id}) }}"
                                       class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                                                         data-provide="tooltip"
                                                                                         data-placement="bottom"
                                                                                         title="{{ 'atitle.modifier'|trans }}"></i></a>
                                    <a href="{{ path('administration_structure_ue_delete', {id: ue.id}) }}"
                                       data-csrf="{{ csrf_token('delete' ~ ue.id) }}"
                                       class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                                class="ti-close" data-provide="tooltip" data-placement="bottom"
                                                title="{{ 'atitle.supprimer'|trans }}"></i></a>
                                </div>
                            </div>

                        {% endfor %}
                        <div class="row gap-y deroulant" id="ue_new_{{ semestre.id }}">
                            <div class="col-md-4"></div>

                            <div class="col-md-8">
                                <button class="btn btn-success addUe btn-block" title="Ajouter une UE"
                                        data-semestre="{{ semestre.id }}"><i
                                            class="fa fa-plus-circle"></i> Ajouter une UE au
                                    semestre {{ semestre.libelle }}</button>
                            </div>
                        </div>
                                                        {# options #}
                        {#
                                {% for opt in t.options if opt.semestre==semestre %}

                                    <tr class="UE_{{ semestre.id }} deroulant">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td colspan="2">{{ opt.nomoption }}</td>
                                        <td>
                                            <a href="{{ path('da_kernel_administration_structure_modif_option',{id:opt.id}) }}"
                                               class="btn btn-warning" rel="tooltip"
                                               data-placement="left" title=" Modifier "><i
                                                        class="fa fa-pencil"></i></a>

                                            <a href="#modalConfirm" data-toggle="modal" id="OPT-{{ opt.id }}"
                                               class="btn  btn-danger supprimer" rel="tooltip"
                                               data-placement="right" title="Supprimer l'option"><i
                                                        class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                    {% for u in t.ue if u.option==opt %}

                                        <tr class="UE_{{ semestre.id }} deroulant">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td colspan="2">{{ u.numeroue }} | {{ u.nomue }}
                                                | {{ u.codeetape }}</td>
                                            <td>
                                                <a href="{{ path('da_kernel_administration_structure_modif_ue',{id:u.id}) }}"
                                                   class="btn btn-warning" rel="tooltip" data-placement="left"
                                                   title=" Modifier "><i class="fa fa-pencil"></i></a>

                                                <a href="#modalConfirm" data-toggle="modal" id="UE-{{ u.id }}"
                                                   class="btn btn-danger supprimer" rel="tooltip"
                                                   data-placement="right" title="Supprimer l'UE"><i
                                                            class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                                <tr class="deroulant" id="option_new_{{ semestre.id }}">
                                    <td colspan="4" class="ligneajouter">Ajouter un parcours</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Code Apogée"
                                               id="codeApogeeOption-{{ semestre.id }}"/>
    #}
                        {#<a href="{{ path('da_kernel_administration_structure_add_option',{semestre:semestre.id}) }}" class="btn btn-block btn-large btn-primary">Ajouter un parcours au semestre</a>#}
                        {# </td>
                         <td>
                             <input type="text" class="form-control"
                                    placeholder="Libellé du parcours"
                                    id="libelleOption-{{ semestre.id }}"/>
                         </td>
                         <td>
                             <button class="btn btn-success addParcours" title="Ajouter un parcours"
                                     data-semestre="{{ semestre.id }}"><i
                                         class="fa fa-plus-circle"></i></button>
                         </td>

                     </tr>#}
                    {% endfor %}

                    <div class="row gap-y deroulant" id="semestre_new_{{ annee.id }}">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button class="btn btn-success btn-block addSemestre" title="Ajouter un semestre"
                                    data-annee="{{ annee.id }}"><i class="fa fa-plus-circle"></i> Ajouter un semestre à
                                l'année {{ annee.libelle }}
                            </button>
                            //sous forme d'une modale ? ou d'une zone qui s'ouvre dans le tableau ?
                        </div>
                    </div>
                {% endfor %}
                <div id="dip_new_{{ diplome.id }}" class="row gap-y ">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-10"><a
                                href="{{ path('administration_structure_annee_new',{diplome:diplome.id}) }}"
                                class="btn btn-block btn-success" data-iddip="{{ diplome.id }}"><i
                                    class="fa fa-plus-circle"></i> Ajouter
                            une nouvelle année au diplome {{ diplome.libelle }}</a></div>
                </div>
            {% endfor %}
            <div class="row gap-y">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <a href="{{ path('administration_structure_diplome_new') }}"
                       class="btn btn-block btn-success "><i class="fa fa-plus-circle"></i> Ajouter un nouveau
                        diplôme à la formation {{ user_data.formation.libelle }}</a></div>
            </div>
        </div>
    </div>
{% endblock %}
