{% extends 'base.html.twig' %}

{% block header %}Saisie d'absences pour | <strong id="text-matiere">{{ matiere.display }}</strong>{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_absence_voir', {matiere: matiere.typeIdMatiere, semestre:
                semestre.id}) }}"
               class="btn btn-info btn-sm btn-float" title="Voir les absences de cette matière" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-eye"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block stimulus %}
    {{ stimulus_controller('absences', {
        saisieDesPresents: user_data.user.configuration['saisieDesPresents'] is defined ? user_data.user
        .configuration['saisieDesPresents'] : null,
        validationSaisieAbsence : user_data.user.configuration['validationSaisieAbsence'] is defined ? user_data.user
        .configuration['validationSaisieAbsence'] : null
    }) }}
{% endblock %}

{% block content %}
    {% if semestre == null %}
        <twig:Alert type="info">Ce créneau ne peut pas faire l'objet d'une saisie d'absence</twig:Alert>
    {% else %}
        {% if event is defined %}
            {{ render(controller('App\\Controller\\bloc_saisie_absence\\SaisieAbsenceController::index',
                {semestre:semestre, matiere:matiere, event:event})) }}
        {% else %}
            {{ render(controller('App\\Controller\\bloc_saisie_absence\\SaisieAbsenceController::index',
                {semestre:semestre, matiere:matiere, event: null})) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'personnel_absence'})
    }
    ) }}
{% endblock %}
