{% extends 'base.html.twig' %}

{% block header %}Saisie d'absences pour | <strong>{{ matiere.libelle }}</strong>{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_absence_voir', {matiere: matiere.id}) }}"
               class="btn btn-info btn-sm btn-float" title="Voir les absences de cette matière" data-provide="tooltip"
               data-placement="bottom"><i class="ti-eye"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><span class="material-icons">dashboard</span></a>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('application_personnel_absence_imprimer',{matiere:matiere.id}),
            title: 'imprimer'|trans,
            icone : "ti-printer"},
        {
            type:'info',
            href:path('application_personnel_absence_save',{matiere:matiere.id}),
            title: 'sauvegarder'|trans,
            icone: 'ti-save'
        },
        {
            type:'info',
            href:path('application_personnel_absence_help'),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}