{% extends 'base.html.twig' %}

{% block header %}Saisie d'absences pour | <strong>{{ matiere.display }}</strong>{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_absence_voir', {matiere: matiere.id}) }}"
               class="btn btn-info btn-sm btn-float" title="Voir les absences de cette matière" data-provide="tooltip"
               data-placement="bottom"><i class="fas fa-eye"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><span class="material-icons">dashboard</span></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if semestre == null %}
        <div class="alert alert-info">Ce créneau ne peut pas faire l'objet d'une saisie d'absence</div>
    {% else %}
        {% if event is defined %}
            {{ render(controller('App\\Controller\\bloc_saisie_absence\\SaisieAbsenceController::index', {semestre:semestre.id, matiere:matiere.id, event:event.id})) }}
        {% else %}
            {{ render(controller('App\\Controller\\bloc_saisie_absence\\SaisieAbsenceController::index', {semestre:semestre.id, matiere:matiere.id})) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('application_personnel_absence_export', {matiere:matiere.id, _format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('application_personnel_absence_export', {matiere:matiere.id,_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('application_personnel_absence_export', {matiere:matiere.id,_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'personnel-absence'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('absences') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('absences') }}
    {% if event is defined %}
        <script>
          $(document).ready(function () {
            updateAffichage("{{ date|date('d/m/Y') }}", "{{ heure }}")
          })
        </script>
    {% endif %}
{% endblock %}
