<h3>Demande faite par {{ emprunt.etudiant.displayPr }} | {{ emprunt.etudiant.semestre.display }}</h3>

<div class="row">
    <div class="col-sm-4">
        <img src="{{ ('uploads/img/etudiants/'~emprunt.etudiant.photoName) }}"
             alt="photo Etudiant" class="img-responsive" width="150" height="190"/>
    </div>
    <div class="col-sm-8">
        <p>{{ emprunt.dateDebut|format_datetime('long', 'short') }} | {{ emprunt.datefin|format_datetime('long',
                'short') }}</p>
        <p>Motif : {{ emprunt.motif }}</p>
        <p>Description : {{ emprunt.description }}</p>

        <ul>
            {% for materiel in emprunt.empruntMateriels %}
                <li>{{ materiel.materiel.libelle }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
