{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.borne.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'borne'}) }}
    </div>
{% endblock %}

{% block content %}
  <div class="card">
    <h4 class="card-title">{{ 'adm.borne.index.heading'|trans }}</h4>
    <div class="card-body">
        {{ table_render(table) }}
        </div>
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration-borne'})}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.bornes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.bornes') }}
{% endblock %}

