<div class="alert alert-info">
    Vos paramètres de saisie sont les suivants :
    <ul>
        <li>
            {% if user_data.user.configuration['validationSaisieAbsence'] is defined and user_data.user
            .configuration['validationSaisieAbsence'] == true %}
                <strong>Etape de confirmation</strong> de la saisie avant sauvegarde et envois des mails aux étudiants (
                <strong>si vous quittez avant de confirmer, aucune donnée n'est sauvegardée</strong>).
            {% else %}
                Les absences sont <strong>enregistées automatiquement</strong>, et les mails envoyés aux étudiants.
            {% endif %}
        </li>
        <li>
            {% if user_data.user.configuration['saisieDesPresents'] is defined and user_data.user
            .configuration['saisieDesPresents'] == true %}
                <strong>Vous indiquez les étudiants
                    présents</strong>, et vous devez valider pour comptabiliser les absents (si vous
                quittez avant de confirmer, aucune donnée n'est sauvegardée).
            {% else %}
                <strong>Vous indiquez les étudiants absents</strong>.
            {% endif %}
        </li>
    </ul>

    Pour modidier ce comportement par défaut, <a href="{{ path('user_settings') }}" target="_blank">
        vous devez aller dans vos paramètres et actualiser cette page une fois les modifications faites</a>
</div>


<div class="card">
    <h4 class="card-title">{{ 'parametres'|trans }}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="absence-matiere">{{ 'matiere'|trans }}</label>
                    <select class="form-select"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                            {{ stimulus_action('absences', 'changeMatiere') }}
                            id="absence-matiere"
                    >

                        {% for mati in matieres %}
                            <option value="{{ mati.typeIdMatiere }}"
                                    {% if matiere != null and mati.typeIdMatiere == matiere.typeIdMatiere %}selected{% endif %}>
                                {{ mati.display }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="absence-date">{{ 'date_'|trans }}</label>
                    <div class="input-group">
                        <input type="date" class="form-control"
                                {{ stimulus_action('absences', 'changeDate') }}
                               id="absence-date"
                               value="{%- if event != null and event.dateObjet != null -%}{{- event.dateObjet|date('Y-m-d') -}}
{%- else -%}
{{- date("now")|date('Y-m-d') -}}{%- endif -%}">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <input type="hidden" class="form-control"
                   id="absence-duree"
                   value="{%- if event != null -%}{{- event.dureeObjet|date('%H:%I') -}}
{%- else -%}01:30{%- endif -%}">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="absence-heure">Heure</label>
                    <select class="form-select" id="absence-heure"
                            {{ stimulus_action('absences', 'changeHeure') }}
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete') }}
                    >
                        <option value="">{{ 'choisir.heure.debut'|trans }}</option>
                        {% for i in 08..19 %}
                            <option value="{{ i|formatHeure }}:00" {% if event != null and i|formatHeure~':00' ==
                                event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{- i|formatHeure }}h00
                            </option>
                            <option value="{{ i|formatHeure }}:15" {% if event != null and
                                i|formatHeure~':15'
                                == event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{- i|formatHeure }}h15
                            </option>
                            <option value="{{ i|formatHeure }}:30" {% if event != null and  i|formatHeure~':30' == event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{ i|formatHeure }}h30
                            </option>
                            <option value="{{ i|formatHeure }}:45" {% if event != null and  i|formatHeure~':45' == event.heureDebut|date('H:i') %} selected {% endif %}>
                                {{ i|formatHeure }}h45
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="absence-groupe">{{ 'groupe'|trans }}</label>
                    <div class="row">
                        {% if typeGroupes is defined %}
                            {% for typeGroupe in typeGroupes %}
                                <div class="col-sm-2 d-grid d-block">
                                    <button
                                            {{ stimulus_action('absences', 'absChangeTypeGroupe', 'click', {
                                                typegroupe: typeGroupe.id
                                            }) }}
                                            class="btn {% if event != null and event.type_cours|upper ==
                                                typeGroupe.libelle|upper %}btn-primary{% endif %} absChangeTypeGroupe">{{ typeGroupe.libelle }}
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <div class="alert alert-warning">
                                        {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement
                                            ('ROLE_DDE') %}
                                            Aucun groupe n'existe dans ce semestre. <a
                                                href="{{ path('administration_groupe_index', {semestre:semestre.id}) }}">Veuillez
                                            d'abord
                                            ajouter
                                            des
                                            types
                                            de
                                            groupe
                                            et
                                            des
                                            groupes.</a>
                                        {% else %}
                                            Aucun groupe n'existe dans ce semestre. Contactez les responsables du
                                            département.
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for typeGroupe in groupes.typeGroupes %}
                                <div class="col-sm-2 d-grid d-block">
                                    <button
                                            {{ stimulus_action('absences', 'absChangeTypeGroupe', 'click', {
                                                typegroupe: typeGroupe.id
                                            }) }}
                                            class="btn {% if event != null and event.type_cours|upper ==
                                                typeGroupe.libelle|upper %}btn-primary{% endif %} absChangeTypeGroupe">{{ typeGroupe.libelle }}
                                    </button>
                                </div>

                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <h4 class="card-title">{{ 'etudiants.du.semestre'|trans }}</h4>
    <div class="card-body" id="listeEtudiantsAbsences" {{ stimulus_target('absences', 'listeEtudiantsAbsences') }}>
        {% if event != null %}
            {{ include('api/absence/listeEtudiant.html.twig', {selectedTypeGroupe: groupes, numerogroupe: event.groupe}) }}
        {% else %}
            <div class="alert alert-info">Choisir d'abord un groupe ci-dessus</div>
        {% endif %}
    </div>
</div>
