<div class="col-md-12 col-lg-12  col-sm-12">
    <h2 class="card-top-title">
        <i class="fa-solid fa-clock text-primary"></i>
        Absences en temps réel | {{ 'now'|date('d/m/Y') }}
    </h2>
    <div class="card administration">
        <div class="card-body p-0">
            {{ render_esi(controller(
                'App\\Controller\\administration\\AbsenceController::listeTempsReel'
            )) }}
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12  col-sm-12 mt-4">
    <h2 class="card-top-title">
        <i class="fa-solid fa-users text-primary"></i>
        {{ 'adm.etudiants'|trans }}
    </h2>
    <div class="card administration">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-3 col-10 d-grid d-block mb-2 etudiant_bloc">
                    <div class="admin_links_bloc_header">
                        <i class="fa-solid fa-user-graduate fa-2x"></i>
                        <h3>Formation Continue</h3>
                        <small>Gestion des absences, des notes, des étudiants, des fins de semestres,
                            des alternances et des PPN</small>
                    </div>

                    <hr>

                    {% for semestre in user_data.semestresActifs %}

                        {% if semestre.annee.optAlternance == true %}

                            <a href="{{ path('administration_semestre_index', {'semestre': semestre.id } ) }}">{{ semestre.displayAvecTypeDiplome }}</a>

                        {% endif %}

                    {% endfor %}

                </div>


                <div class="col-lg-3 col-10 d-grid d-block mb-2 etudiant_bloc">
                    <div class="admin_links_bloc_header">
                        <i class="fa-solid fa-user-graduate fa-2x"></i>
                        <h3>Formation Initiale</h3>
                        <small>Gestion des absences, des notes, des étudiants, des fins de semestres, des
                            stages</small>
                    </div>

                    <hr>

                    {% for semestre in user_data.semestresActifs %}

                        {% if semestre.annee.optAlternance == false %}

                            <a href="{{ path('administration_semestre_index', {'semestre': semestre.id } ) }}">{{ semestre.displayAvecTypeDiplome }}</a>

                        {% endif %}

                    {% endfor %}

                </div>

                <div class="col-lg-3 col-10 d-grid d-block mb-2 etudiant_bloc">
                    <div class="admin_links_bloc_header">
                        <i class="fa-solid fa-users fa-2x"></i>
                        <h3>Général</h3>
                        <small>Gestion des différents semestres</small>
                    </div>

                    <hr>

                    <a href="{{ path('administration_etudiant_index') }}">Tous les étudiants</a>
                    <a href="{{ path('administration_cohorte_index') }}">Cohortes</a>
                    <a href="{{ path('administration_statistique_index') }}">Statistiques</a>
                    <a href="{{ path('administration_sous_commission_mise_a_jour') }}">Mise à jour d’une
                        sous-commission</a>
                    <a href="{{ path('administration_etudiant_semestre_add') }}" methods="_POST">Ajouter des
                        étudiants</a>
                    <a data-bs-toggle="modal" data-bs-target="#semestreAction">
                        Activer/Désactiver des semestres
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
