<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card administration">
        <header class="card-header">
            <i class="fa-solid fa-toolbox fa-2x"></i>
            <h2 class="card-title">{{ 'adm.materiels'|trans }}</h2>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">

                    <a href="{{ path('administration_materiel_index') }}">{{ 'gestion.materiel'|trans }}</a>

                </div>

                <div class="col-12 d-grid d-block mb-2">

                    <a href="{{ path('administration_type_materiel_index') }}">{{ 'gestion.categorie.materiel'|trans }}</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card administration">
        <header class="card-header">
            <i class="fa-solid fa-cart-flatbed-suitcase fa-2x"></i>
            <h2 class="card-title">{{ 'adm.emprunts.menu'|trans }}</h2>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">

                    <a href="{{ path('administration_emprunts_index') }}">{{ 'gestion.des.emprunts'|trans }}</a>

                </div>
            </div>
        </div>
    </div>
</div>
