<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card"><h2 class="card-title">{{ 'adm.ppn.menu'|trans }}</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_matiere_index') }}"
                       class="btn btn-primary"> {{ 'adm.programme.pedagogique'|trans }}</a>
                </div>
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_plan_cours_index') }}" class="btn btn-primary">
                        {{ 'adm.synthese.plan.de.cours'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
