<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card administration">
        <div class="card-header">
            <i class="fa-solid fa-graduation-cap fa-2x"></i>
            <h2 class="card-title">{{ 'adm.examens'|trans }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_salle_examen_index') }}"> {{ 'adm.salle_examens'|trans }}</a>
                    <a href="{{ path('administration_reservation_materiel_commun') }}">{{ 'adm.materiel_commun_reservation'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
