<div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card"><h2 class="card-title">{{ 'adm.examens'|trans }}</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_salle_examen_index') }}"
                       class="btn btn-primary"> {{ 'adm.salle_examens'|trans }}</a>
                </div>


                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_reservation_materiel_commun') }}" class="btn
                        btn-primary">
                        {{ 'adm.materiel_commun_reservation'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
