<div class="col-md-6 col-lg-6 col-sm-12">
    <header class="card-top-header">
        <h2 class="card-top-title">
            <i class="fa-solid fa-graduation-cap text-primary"></i>
            {{ 'adm.examens'|trans }}
        </h2>
    </header>
    <div class="card administration">
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-grid d-block mb-2">
                    <a href="{{ path('administration_salle_examen_index') }}"> {{ 'adm.salle_examens'|trans }}</a>
                    <a href="{{ path('administration_reservation_materiel_commun') }}">{{ 'adm.materiel_commun_reservation'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
