<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card">
        <header class="card-header">
            <h2 class="card-title">{{ 'adm.stages'|trans }}</h2>
            <div class="card-header-actions" style="">
                <a href="{{ path('administration_stage_periode_index') }}" class="btn btn-sm btn-info"
                   title="Créer une période" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i class="fas fa-plus"></i><span
                            class="sr-only">Créer une période de stage</span></a>
            </div>
        </header>
        <div class="card-body administration">
            <div class="row">
                {% for periode in stagePeriodes %}
                        <a href="{{ path('administration_stage_periode_gestion', {uuid:periode.uuidString}) }}"> Période : <strong>{{ periode.libelle }}
                                ({{ periode.semestre.display }})</strong></a>
                {% else %}
                    <div class="col-sm-12">
                        <div class="alert alert-info">Aucune période de stage.</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
