<div class="col-md-6 col-lg-6 col-sm-12">
    <header class="card-top-header" style="justify-content: space-between">
        <div class="card-header-actions">
            <h2 class="card-top-title">
                <i class="fa-solid fa-briefcase text-primary"></i>
                {{ 'adm.stages'|trans }}
            </h2>
        </div>
        <div class="card-header-actions">
            <a href="{{ path('administration_stage_periode_index') }}" class="btn btn-sm btn-primary"
               title="Créer une période" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="fas fa-plus" style="color: white"></i><span
                        class="sr-only">Créer une période de stage</span></a>
        </div>
    </header>
    <div class="card administration">
        <div class="card-body">
            <div class="row">
                {% for periode in stagePeriodes %}
                    <div class="col-12 d-grid d-block  mb-2">
                        <a href="{{ path('administration_stage_periode_gestion', {uuid:periode.uuidString}) }}"> Période
                            :
                            <strong>{{ periode.libelle }}
                                ({{ periode.semestre.display }})</strong></a>
                    </div>
                {% else %}
                    <div class="col-sm-12">
                        <twig:Alert type="info">Aucune période de stage.</twig:Alert>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
