{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.document.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_document_new', {source:source}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconAdd }}"></i>
                <span class="sr-only">{{ 'atitle.creer_nouveau'|trans }}</span>
            </a>

            <a href="{{ path('administration_index') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

               title="{{ 'atitle.retour_administration'|trans }}">
                <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.document.index.heading'|trans }}</h4>
        <div class="card-body">
            {{ table_render(table) }}
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-button-help.html.twig', {
        href:path('help_article', {sujet: 'administration_document'})}) }}
{% endblock %}
