{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.document.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
<div class="header-action">
    {{ include('composants/adm-buttons-show.html.twig', {elt: 'document', id: document.id}) }}

</div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.document.show.heading'|trans }}</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.libelle'|trans }}</th>
                <td>{{ document.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.fichier'|trans }}</th>
                <td><a href="{{ vich_uploader_asset(document, 'documentFile') }}" target="_blank">{{ 'voir.le.document'|trans }}</a></td>
            </tr>
            <tr>
                <th>{{ 'table.created'|trans }}</th>
                <td>{{ document.created ? document.created|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.updated'|trans }}</th>
                <td>{{ document.updated ? document.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.taille'|trans }}</th>
                <td>{{ document.taille }}</td>
            </tr>
            <tr>
                <th>{{ 'table.type_fichier'|trans }}</th>
                <td>{{ document.typeFichier }}</td>
            </tr>
            <tr>
                <th>{{ 'table.description'|trans }}</th>
                <td>{{ document.description|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'table.type_document'|trans }}</th>
                <td>{{ document.typeDocument != null ? document.typeDocument.libelle : '-' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.semestres_document'|trans }}</th>
                <td>{% for semestre in document.semestres %}{{ semestre.libelle }}{% endfor %}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}