<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Intranet - {{  block('header')  }}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">
        <link href="{{ asset('src/assets/css/core.min.css') }}" rel="stylesheet">
        <link href="{{ asset('src/assets/css/app.min.css') }}" rel="stylesheet">
        <link href="{{ asset('src/assets/css/style.min.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}">

</head>

<body {% block body %}{% endblock %}>

{% block content %}

{% endblock %}



{% block javascripts %}
    <!-- Routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('src/assets/js/core.min.js') }}"></script>
    <script src="{{ asset('src/assets/js/app.js') }}"></script>
    <script src="{{ asset('src/assets/vendor/jquery-jeditable/dist/jquery.jeditable.min.js') }}"></script>
    <script src="{{ asset('src/assets/vendor/jquery.collection.js') }}"></script>
    <script src="{{ asset('src/assets/js/script.min.js') }}"></script>

{% endblock %}
</body>
</html>
