{% extends 'base.html.twig' %}

{% block content %}
    Administratif
{% endblock %}

{% block header %}

{% endblock %}

{% block sidebar_menu %}
    <li class="menu-item active" id="menu-dashboard">
        <a class="menu-link" href="{{ path('administratif_homepage') }}">
            <span class="material-icons">dashboard</span>
            <span class="title">{{ 'menu.dashboard'|trans }}</span>
        </a>
    </li>
    {#todo: a revoir.#}
    <li class="menu-item" id="menu-super-administration">
        <a class="menu-link" href="{{ path('administratif_homepage') }}">
            <span class="material-icons">access_time</span>
            <span class="title">{{ 'menu.csa_previsionnel'|trans }}</span>
        </a>
    </li>
    <li class="menu-item" id="menu-super-administration">
        <a class="menu-link" href="{{ path('administratif_enquete_index') }}">
            <span class="material-icons">access_time</span>
            <span class="title">{{ 'menu.qualite'|trans }}</span>
        </a>
    </li>
    <li class="menu-item" id="menu-super-administration">
        <a class="menu-link" href="{{ path('quizz_question_index') }}">
            <span class="material-icons">access_time</span>
            <span class="title">{{ 'menu.questions'|trans }}</span>
        </a>
    </li>
{% endblock %}

