<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Intranet - {{  block('header')  }}</title>

    {% block stylesheets %}
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

        <!-- Styles -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
{#        {{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}">

</head>

<body {% block body %}{% endblock %}>

{% block content %}

{% endblock %}



{% block javascripts %}
{#    {{ encore_entry_script_tags('app') }}#}
{% endblock %}
</body>
</html>
