<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Intranet - {{  block('header')  }}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    {{ encore_entry_link_tags('app') }}


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('sources/assets/img/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ asset('sources/assets/img/favicon.png') }}">

</head>

<body {% block body %}{% endblock %}>

{% block content %}

{% endblock %}



<!-- Scripts -->
{{ encore_entry_script_tags('app') }}

{#<script src="{{ asset('sources/assets/js/core.min.js') }}"></script>#}
{#<script src="{{ asset('sources/assets/js/app.js') }}"></script>#}
{#<script src="{{ asset('sources/assets/js/script.min.js') }}"></script>#}
</body>
</html>
