{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.trello_tache.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'trello_tache'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.trello_tache.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                <thead>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <th>{{ 'table.deadline'|trans }}</th>
                    <th>{{ 'table.description'|trans }}</th>
                    <th>{{ 'table.membres'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for trello_tache in trello_taches %}
                    <tr>
                        <td>{{ trello_tache.libelle }}</td>
                        <td>{{ trello_tache.deadline ? trello_tache.deadline|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ trello_tache.description }}</td>
                        <td>membre</td>
                        <td>{{ trello_tache.updated ? trello_tache.updated|date('Y-m-d H:i:s') : '' }}</td>

                        <td>
                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'trello_tache', id: trello_tache.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_trello_tache_print'),
            title: 'imprimer'|trans,
            icone : "ti-printer"},
        {
            type:'info',
            href:path('administration_trello_tache_save'),
            title: 'sauvegarder'|trans,
            icone: 'ti-save'
        },
        {
            type:'info',
            href:path('administration_trello_tache_new'),
            title: 'ajouter'|trans,
            icone: 'ti-plus'
        },
        {
            type:'info',
            href:path('administration_trello_tache_help'),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}