{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.trello_tache.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'trello_tache', id: trello_tache.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.trello_tache.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ trello_tache.id }}</td>
                </tr>

                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ trello_tache.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.deadline'|trans }}</th>
                    <td>{{ trello_tache.deadline ? trello_tache.deadline|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.membres'|trans }}</th>
                    <td>Membres</td>
                </tr>
                <tr>
                    <th>{{ 'table.description'|trans }}</th>
                    <td>{{ trello_tache.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ trello_tache.created ? trello_tache.created|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ trello_tache.updated ? trello_tache.updated|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}