<h3>{{ alternance.entreprise.raisonSociale }}</h3>
<p>Contacts :</p>
<ul>
    <li>Responsable : {{ alternance.entreprise.responsable.display }}
        | {{ alternance.entreprise.responsable.telephone }} |
        {{ alternance.entreprise.responsable.email|mailto }}
    </li>
    <li>Tuteur : {{ alternance.tuteur.display }} | {{ alternance.tuteur.telephone|tel_format }} |
        {{ alternance.tuteur.email|mailto }}</li>
    <li>Lieu de stage (peut être différente du siège):
        <ul>
            <li>Siège
                : {% if alternance.entreprise.adresse != null %}{{ alternance.entreprise.adresse.display|raw }}{% else %} N.C.{% endif %}</li>
        </ul>
    </li>
</ul>

