<h3>{{ stagePeriode.libelle }}</h3>
<p>Responsables
   : {% for responsable in stagePeriode.responsables %}{{ responsable.displayPr }}{% if not loop.last %}, {% endif %} {% endfor %}</p>
<p>Période de stage du {{ stageEtudiant.dateDebutStage|format_date('long') }}
   au {{ stageEtudiant.dateFinStage|format_date('long') }}</p>

<p>Périodes d'interruption :</p>
<ul>{% for interruption in stagePeriode.stagePeriodeInterruptions %}
        <li>Du {{ interruption.dateDebut|format_date('long') }}
            au {{ interruption.dateFin|format_date('long') }}</li>
    {% else %}
        <li>Aucune</li>{% endfor %}
</ul>

<p>Périodes de soutenance :</p>
<ul>{% for interruption in stagePeriode.stagePeriodeSoutenances %}
        <li>Du {{ interruption.dateDebut|format_date('long') }}
            au {{ interruption.dateFin|format_date('long') }}. Retour du rapport
            le {{ interruption.dateRenduRapport|format_datetime('long', 'short') }}</li>
    {% else %}
        <li>Aucune</li>{% endfor %}
</ul>

