<dl class="row">
    <dt class="col-md-5 col-sm-12">{{ 'abs.justificiatif.date_debut'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12"> {{ justificatif.dateDebut ? justificatif.dateDebut|format_date('long') : '' }} {{ justificatif.heureDebut ? justificatif.heureDebut|localizeddate('none', 'short', app.request.getLocale()) : '' }}</dd>
    <dt class="col-md-5 col-sm-12">{{ 'abs.justificiatif.date_fin'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12"> {{ justificatif.dateFin ? justificatif.dateFin|format_date('long') : '' }} {{ justificatif.heureFin ? justificatif.heureFin|localizeddate('none', 'short', app.request.getLocale()) : '' }}</dd>
    <dt class="col-md-5 col-sm-12">{{ 'abs.justificiatif.motif'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12"> {{ justificatif.motif }} </dd>
    <dt class="col-md-5 col-sm-12">{{ 'abs.justificiatif.etat'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12"> {{ justificatif.etat ? 'Yes'|trans : 'No'|trans }} </dd>
    <dt class="col-md-5 col-sm-12">{{ 'abs.justificiatif.etudiant'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12"> {{ justificatif.etudiant ? justificatif.etudiant.displayPr : 'non.defini'|trans }}</dd>
    <dt class="col-md-5 col-sm-12">{{ 'created'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12"> {{ justificatif.created ? justificatif.created|format_datetime('long', 'short') : '' }} </dd>
    <dt class="col-md-5 col-sm-12">{{ 'abs.justificiatif.fichier'|trans }} :</dt>
    <dd class="col-md-7 col-sm-12">
        <a href="{{ asset('upload/justificatif/'~justificatif.fichierName) }}" target="_blank">{{ 'voir.le.document'|trans }}</a>
    </dd>
</dl>

