{% extends 'base.html.twig' %}

{% block header %}
    {{ 'justificatif.absence.semestre.heading'|trans({'%semestre%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestres %}
            <a href="{{ path('administration_absences_semestre_liste', {semestre:sem.id}) }}"
               class="btn btn-square btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-provide="tooltip"
               data-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">

            {#<a href="{{ path('administration_absences_semestre_liste_export', {semestre:semestre.id, _format: 'pdf'}) }}"#}
            {#class="btn btn-info btn-sm btn-float" data-provide="tooltip"#}
            {#data-placement="bottom" title="{{ 'atitle.save_pdf'|trans }}"><i class="fa fa-file-pdf-o"></i></a>#}
            {#<a href="{{ path('administration_absences_semestre_liste_export', {semestre:semestre.id, _format: 'csv'}) }}"#}
            {#class="btn btn-info btn-sm btn-float" data-provide="tooltip"#}
            {#data-placement="bottom" title="{{ 'atitle.save_csv'|trans }}"><i class="fa fa-file-text-o"></i></a>#}
            {#<a href="{{ path('administration_absences_semestre_liste_export', {semestre:semestre.id, _format: 'xlsx'}) }}"#}
            {#class="btn btn-info btn-sm btn-float" data-provide="tooltip"#}
            {#data-placement="bottom" title="{{ 'atitle.save_xls'|trans }}"><i class="fa fa-file-excel-o"></i></a>#}

            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="ti-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                <thead>
                <tr>
                    <th>{{ 'table.etudiant'|trans }}</th>
                    <th>{{ 'table.periode_absence'|trans }}</th>
                    <th>{{ 'table.created'|trans }}</th>
                    <th>{{ 'table.motif'|trans }}</th>
                    <th>{{ 'table.etat_justificatif'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for justificatif in justificatifs %}
                    <tr>
                        <td>{{ justificatif.etudiant ? justificatif.etudiant.display : 'non.defini'|trans }}</td>
                        <td>{{ justificatif.dateDebut ? justificatif.dateDebut|localizeddate('long', 'none', app.request.getLocale()) : 'non.defini'|trans }} au {{ justificatif.dateFin ? justificatif.dateFin|localizeddate('long', 'none', app.request.getLocale()) : 'non.defini'|trans }}</td>
                        <td>{{ justificatif.created ? justificatif.created|localizeddate('long', 'none', app.request.getLocale()) : 'non.defini'|trans }} </td>
                        <td>{{ justificatif.motif }}</td>
                        <td>{{ justificatif.etat }}</td>
                        <td>
                            <button
                               class="btn btn-info btn-outline btn-square"
                               data-provide="modaler tooltip"
                               data-url="{{ path('administration_absence_justificatif_details', {uuid: justificatif.uuidString}) }}"
                               data-title="{{ 'detail.absencejustificatif'|trans }}"
                               data-placement="bottom" title="{{ 'atitle.details'|trans }}" target="_blank"><i
                                        class="ti-eye"></i></button>
                            {% if justificatif.etat == 'A' %}
                                <button
                                   class="btn btn-success btn-outline bx_{{ justificatif.uuidString }}"
                                   ><i
                                            class="ti-check"></i> Accepté</button>
                                <button
                                        data-justificatif="{{ justificatif.uuidString }}"
                                   class="btn btn-danger btn-outline btn-square justificatif-annuler bx_{{ justificatif.uuidString }}" data-provide="tooltip" data-placement="bottom"
                                        title="{{ 'atitle.annuler'|trans }}"><i
                                            class="material-icons">undo</i></button>
                            {% elseif justificatif.etat == 'R' %}
                                <button
                                   class="btn btn-warning btn-outline bx_{{ justificatif.uuidString }}"><i
                                            class="ti-na"></i> Refusé</button>
                                <button
                                        data-justificatif="{{ justificatif.uuidString }}"
                                   class="btn btn-danger btn-outline btn-square justificatif-annuler bx_{{ justificatif.uuidString }}" data-provide="tooltip" data-placement="bottom"
                                        title="{{ 'atitle.annuler'|trans }}"><i
                                            class="material-icons">undo</i></button>
                            {% else %}
                            <a href="#"
                               class="btn btn-success btn-outline btn-square justificatif-accepte bx_{{ justificatif.uuidString }}" data-provide="tooltip"
                               data-justificatif="{{ justificatif.uuidString }}"
                               data-placement="bottom" title="{{ 'atitle.accepter.le.justificatif'|trans }}"><i
                                        class="material-icons">check</i></a>
                            <a href="#"
                               class="btn btn-warning btn-outline btn-square justificatif-refuse bx_{{ justificatif.uuidString }}" data-provide="tooltip"
                               data-justificatif="{{ justificatif.uuidString }}"
                               data-placement="bottom" title="{{ 'atitle.refuser.le.justificatif'|trans }}"><i
                                        class="material-icons">not_interested</i></a>

                            <a href="{{ path('administration_absence_justificatif_delete', {id: justificatif.uuidString}) }}" data-csrf="{{ csrf_token('delete' ~ justificatif.uuidString) }}"
                               data-provide="tooltip" data-placement="bottom"
                               title="{{ 'atitle.supprimer'|trans }}"
                               class="btn btn-danger btn-outline btn-square supprimer bx_{{ justificatif.uuidString }}"><i
                                        class="material-icons" >delete</i></a>
                            {% endif %}

                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_absences_justificatif_semestre_export', {semestre:semestre.id, _format: 'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "fa fa-file-pdf-o"},
        {
            type:'info',
            href:path('administration_absences_justificatif_semestre_export', {semestre:semestre.id, _format: 'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'fa fa-file-text-o'
        },
        {
            type:'info',
            href:path('administration_absences_justificatif_semestre_export', {semestre:semestre.id, _format: 'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-file-excel-o'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_absence_justificatif'}),
            title: 'aide'|trans,
            icone: 'fa fa-question'
        }
    ]}) }}
{% endblock %}

