<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'bloc.absence.etu.heading'|trans }}</h4>
        <div class="card-header-actions">
            <a href="{{ path('app_etudiant_absence_justificatif_new') }}" class="btn btn-sm btn-primary btn-square btn-round"
                    title="{{ 'absence_justificatif_deposer'|trans }}"
                    data-provide="tooltip"
                    data-placement="bottom">
                <i class="ti ti-plus"></i>
            </a>
            <ul class="card-controls">
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('app_etudiant_absence_justificatif_index') }}"
                           class="dropdown-item"><i
                                    class="ti-eye"></i>{{ 'absence_justificatif_etat'|trans }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div class="card-body">
        <table class="table table-border">
            <thead>
            <tr>
                <th>{{ 'date'|trans }}</th>
                <th>{{ 'heure'|trans }}</th>
                <th>{{ 'matiere'|trans }}</th>
                <th>{{ 'justifiee'|trans }}</th>
                <th>{{ 'saisie_par'|trans }}</th>
                <th>{{ 'infos'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for absence in absences %}
                <tr class="{% if absence.justifie %}bg-pale-success{% else %}bg-pale-warning{% endif %}">
                    <td>{{ absence.date ? absence.date|localizeddate('long', 'none', app.request.getLocale()) : ''  }}</td>
                    <td>{{ absence.heure ? absence.heure|localizeddate('none', 'short', app.request.getLocale()) : ''}}</td>
                    <td>{{ absence.matiere.codeMatiere }}</td>
                    <td>{{ absence.justifie ? 'Yes'|trans : 'No'|trans }}</td>
                    <td>{{ absence.personnel ? absence.personnel.display : 'non.defini'|trans }}</td>
                    <td>
                        <button data-provide="modaler tooltip"
                                data-url="{{ path('app_etudiant_absence_detail', {'uuid': absence.uuidString}) }}"
                                class="btn btn-info btn-outline btn-square btn-xs"
                                data-placement="bottom"
                                title="{{ 'atitle.details'|trans }}"
                                data-title="{{ 'detail.absence'|trans }}"
                        >
                            <i class="{{ iconShow }}"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>