<div class="card">
    <h4 class="card-title">{{ 'bloc.note.etu.heading'|trans }}</h4>
    <div class="card-body">
        <table class="table table-border">
            <thead>
            <tr>
                <th>{{ 'evaluation'|trans }}</th>
                <th>{{ 'matiere'|trans }}</th>
                <th class="hide">{{ 'date'|trans }}</th>
                <th class="hide">{{ 'com_eval'|trans }}</th>
                <th>{{ 'note'|trans }}</th>
                <th class="hide">{{ 'coefficient'|trans }}</th>
                <th>{{ 'infos'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes|filter(note => (note.evaluation.visible == true and note.evaluation.parent == null)) %}
                <tr>
                    <td>{{ note.evaluation.libelle is defined ? note.evaluation.libelle : note.evaluation.id }}</td>
                    <td>{{ note.evaluation.matiere.codeMatiere }}</td>
                    <td class="hide">{{ note.evaluation.dateEvaluation ? note.evaluation.dateEvaluation|format_datetime('long',
                            'short') : '' }}</td>
                    <td class="hide">{{ note.evaluation.commentaire }}</td>
                    <td>{{ note.note|format_note(2, 10) }}</td>
                    <td class="hide">{{ note.evaluation.coefficient|number_format(2) }}</td>
                    <td>
                        <button data-provide="modaler tooltip"
                                data-url="{{ path('app_etudiant_note_detail', {'id': note.id}) }}"
                                class="btn btn-info btn-outline btn-square btn-xs"
                                data-placement="bottom"
                                title="{{ 'atitle.details'|trans }}"
                                data-title="{{ 'detail.note'|trans }}"
                        >
                            <i class="fas fa-info"></i>
                        </button>
                    </td>
                </tr>
                {# notes enfants #}
                {% for nnote in note.evaluation.enfants|filter(nnote => (nnote.evaluation.visible == true)) %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>--> {{ nnote.evaluation.matiere.codeMatiere }}</td>
                        <td class="hide">{{ nnote.evaluation.dateEvaluation ? nnote.evaluation.dateEvaluation|format_datetime('long',
                                'short') : '' }}</td>
                        <td class="hide">{{ nnote.evaluation.commentaire }}</td>
                        <td>{{ nnote.note|format_note(2, 10) }}</td>
                        <td class="hide">{{ nnote.evaluation.coefficient|number_format(2) }}</td>
                        <td>
                            <button data-provide="modaler tooltip"
                                    data-url="{{ path('app_etudiant_note_detail', {'id': nnote.id}) }}"
                                    class="btn btn-info btn-outline btn-square btn-xs"
                                    data-placement="bottom"
                                    title="{{ 'atitle.details'|trans }}"
                                    data-title="{{ 'detail.note'|trans }}"
                            >
                                <i class="fas fa-info"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">
                        <div class="alert alert-info">Aucune note n'a été saisie</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
