<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'bloc.absence.etu.heading'|trans }}</h4>
        {% if is_granted('ROLE_ETUDIANT') %}
            <div class="card-header-actions">
                <a href="{{ path('app_etudiant_absence_justificatif_new') }}" class="btn btn-sm btn-primary"
                   title="{{ 'absence_justificatif_deposer'|trans }}"
                   data-provide="tooltip"
                   data-placement="bottom">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        {% endif %}
    </header>

    <div class="card-body">
        <table class="table table-border" id="tableAbsence">
            <thead>
            <tr>
                <th>{{ 'dateHeure'|trans }}</th>
                <th>{{ 'matiere'|trans }}</th>
                <th>{{ 'justifiee'|trans }}</th>
                <th class="hide">{{ 'saisie_par'|trans }}</th>
                <th>{{ 'infos'|trans }}</th>
                {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or
                    user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                    <th>Justifiée?</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for absence in absences %}
                <tr class="{% if absence.justifie %}bg-pale-success{% else %}bg-pale-warning{% endif %}" id="ligne_{{ absence.id }}">
                    <td>{{ absence.dateHeure ? absence.dateHeure|format_datetime('long', 'short') : '' }}</td>
                    <td>{{ absence.matiere.codeMatiere }}</td>
                    <td>{{ absence.justifie ? 'Yes'|trans : 'No'|trans }}</td>
                    <td class="hide">{{ absence.personnel ? absence.personnel.display : 'non.defini'|trans }}</td>
                    <td>
                        <button data-provide="modaler tooltip"
                                data-url="{{ path('app_etudiant_absence_detail', {'uuid': absence.uuidString}) }}"
                                class="btn btn-info btn-outline btn-square btn-xs"
                                data-placement="bottom"
                                title="{{ 'atitle.details'|trans }}"
                                data-title="{{ 'detail.absence'|trans }}"
                        >
                            <i class="{{ iconShow }}"></i>
                        </button>
                    </td>
                    {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                        <td>
                            <div class="custom-control custom-control-lg custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkAbsence" id="check_{{ absence.id }}"
                                       data-absence="{{ absence.id }}" {% if absence.justifie %}checked{% endif %}>
                                <label class="custom-control-label" for="check_{{ absence.id }}">Justifiée*</label>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
                    <td colspan="6">
                        {% else %}
                    <td colspan="5">
                        {% endif %}
                        <div class="alert alert-info">Aucune absence n'a été saisie</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if  user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
            <div class="alert alert-info">* Si la case est cochée, l'absence est justifiée.</div>
        {% endif %}
        {% if etudiant.semestre.optPenaliteAbsence == true %}
            <div class="alert alert-warning">
                Vous avez <strong> {{ absences|length }} </strong> cours manqués, dont
                <strong>{{ statistiquesAbsences.nbNonJustifie }} non justifiées</strong>. <br/>
                <strong>Vous avez perdu ce semestre {{ statistiquesAbsences.nbNonJustifie * etudiant
                    .semestre.optPointPenaliteAbsence }} points.</strong>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Vous avez <strong> {{ absences|length }} </strong> cours manqués, dont
                <strong>{{ statistiquesAbsences.nbNonJustifie }} non justifiées</strong>. <br/>
            </div>
        {% endif %}
    </div>
</div>
