<div class="card">
    <h4 class="card-title">{{ 'bloc.note.etu.heading'|trans }}</h4>
    <div class="card-body">
        <table class="table table-border">
            <thead>
            <tr>
                <th>{{ 'matiere'|trans }}</th>
                <th>{{ 'date'|trans }}</th>
                <th>{{ 'com_eval'|trans }}</th>
                <th>{{ 'note'|trans }}</th>
                <th>{{ 'infos'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.evaluation.matiere.codeMatiere }}</td>
                    <td>{{ note.evaluation.dateEvaluation ? note.evaluation.dateEvaluation|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                    <td>{{ note.evaluation.commentaire }}</td>
                    <td>{{ note.note|number_format(2) }}</td>
                    <td><a href="{{ path('app_etudiant_note_detail', {'id': note.id}) }}"
                           class="btn btn-info btn-outline btn-square btn-xs" data-provide="tooltip"
                           data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i class="ti-info"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>