<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'bloc.note.etu.heading'|trans }}</h4>
        {% if is_granted('ROLE_ETUDIANT') %}
            <div class="card-header-actions">
                <a href="{{ path('application_index', {'onglet': 'rattrapage'}) }}" class="btn btn-sm btn-primary"
                   title="Faire une demande de rattrapage"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-plus"></i> Faire une demande de rattrapage
                </a>
            </div>
        {% endif %}
    </header>
    <div class="card-body">
        <table class="table table-border table-striped">
            <thead>
            <tr>
                <th>{{ 'matiere'|trans }}</th>
                <th>{{ 'evaluation'|trans }}</th>
                <th class="hide">{{ 'date'|trans }}</th>
                <th class="hide">{{ 'com_eval'|trans }}</th>
                <th>{{ 'note'|trans }}</th>
                <th class="hide">{{ 'coefficient'|trans }}</th>
                <th>{{ 'infos'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if notes != null and notes|length > 0 %}
                {% for note in notes|filter(note => (note.evaluation.visible == true and note.evaluation.parent == null)) %}
                    <tr>
                        <td>{{ matieres[note.evaluation.typeIdMatiere] is defined ? matieres[note.evaluation
                            .typeIdMatiere].codeMatiere : '-' }}</td>
                        <td>{{ note.evaluation.libelle is defined ? note.evaluation.libelle : note.evaluation.id }}</td>
                        <td class="hide">
                            {{ note.evaluation.dateEvaluation ? note.evaluation.dateEvaluation|format_date('long') : '' }}
                        </td>
                        <td class="hide">{{ note.evaluation.commentaire }}</td>
                        <td>
                            {% if note.note > -0.01 %}
                                {{ note.note|styleMatiere }}
                            {% elseif note.absenceJustifie == true %}
                                <span class="badge bg-info">Abs. Justifiée</span>
                            {% elseif note.note == -0.01 %}
                                <span class="badge bg-warning">Pas de note ou pas de saisie ?</span>
                            {% else %}
                                <span class="badge bg-danger">Erreur</span>
                            {% endif %}
                        </td>
                        <td class="hide">{{ note.evaluation.coefficient|number_format(2) }}</td>
                        <td>
                            <button
                                    {{ stimulus_controller('modal', {
                                        modalTitle: 'detail.note'|trans,
                                        modalUrl:  path('app_etudiant_note_detail', {'id': note.id}) }) }}
                                    data-action="click->modal#openModal"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    class="btn btn-info btn-outline btn-square btn-xs"
                                    title="{{ 'atitle.details'|trans }}"
                            >
                                <i class="fas fa-info"></i>
                            </button>
                        </td>
                    </tr>
                    {# notes enfants #}
                    {% for nnote in note.evaluation.enfants|filter(nnote => (nnote.evaluation.visible == true)) %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>--> {{ nnote.evaluation.matiere.codeMatiere }}</td>
                            <td class="hide">{{ nnote.evaluation.dateEvaluation ? nnote.evaluation.dateEvaluation|format_datetime('long',
                                    'short') : '' }}</td>
                            <td class="hide">{{ nnote.evaluation.commentaire }}</td>
                            <td>
                                {% if nnote.absence_justifie == true %}
                                    Absence justifiée
                                {% else %}
                                    {# todo: améliorer l'affichage. -0.01 absence de note #}
                                    {% if nnote.note == -0.01 and nnote.evaluation.matiere.pac == true %}
                                        Pas d'option
                                    {% else %}
                                        {% if nnote.note == -0.01 %}
                                            Note non saisie
                                        {% else %}
                                            {{ nnote.note|format_note(2, 10) }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="hide">{{ nnote.evaluation.coefficient|number_format(2) }}</td>
                            <td>
                                <button
                                        {{ stimulus_controller('modal', {
                                            modalTitle: 'detail.note'|trans,
                                            modalUrl:  path('app_etudiant_note_detail', {'id': nnote.id}) }) }}
                                        data-action="click->modal#openModal"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        class="btn btn-info btn-outline btn-square btn-xs"
                                        title="{{ 'atitle.details'|trans }}"
                                >
                                    <i class="fas fa-info"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">
                        <div class="alert alert-info">Aucune note n'a été saisie</div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br>
        {% if  user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ADMIN') %}
            <a href="{{ path('administration_semestre_export_releve_provisoire',{slug:etudiant.slug}) }}"
               class="btn btn-info d-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editer un
               relevé de notes
           provisoire"><i
                        class="fa fa-print"></i> Editer un relevé de notes provisoire</a>
        {% endif %}
    </div>
</div>
