<div class="col-md-12">
    <div class="card">
        <h4 class="card-header card-title">
            {{ 'mes_cours.heading'|trans }}
        </h4>
        <div class="card-body">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    {% for semestre in user_data.semestresActifs %}
                        <li class="nav-item">
                            <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab"
                               href="#sem{{ semestre.id }}">{{ semestre.libelle }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content">
                {% for semestre in user_data.semestresActifs %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="sem{{ semestre.id }}">
                        <h3>{{ 'vos.modules.du.semestre'|trans({'%semestre%':semestre.display}) }}</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'table.matiere'|trans }}</th>
                                <th>{{ 'table.previ'|trans }}</th>
                                <th>{{ 'table.absences'|trans }}</th>
                                <th>{{ 'table.notes'|trans }}</th>
                                <th>{{ 'table.exports'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for matiere in previsionnel if matiere.matiere.ue.semestre.id == semestre.id %}
                                <tr>
                                    <td>{{ matiere.matiere.display }}</td>
                                    <td>
                                        <button data-provide="modaler tooltip"
                                                data-url="{{ path('api_previsionnel_matiere', {'matiere': matiere.matiere.id}) }}"
                                                data-size="lg"
                                                data-confirm-text="{{ 'fermer'|trans }}"
                                                class="btn btn-block btn-primary-outline "
                                                data-placement="bottom"
                                                title="{{ 'previsionnel.et.intervenants.matiere'|trans }}"
                                                data-title="{{ 'previsionnel.et.intervenants.matiere'|trans }}"
                                        >
                                            {{ 'voir'|trans }}
                                        </button>
                                    </td>
                                    <td>
                                        <a href="{{ path('application_personnel_absence_index',{'matiere':matiere.matiere.id}) }}"
                                           class="btn btn-block btn-primary-outline"
                                           title="{{ 'saisir.voir.modifier.absences'|trans }}"
                                           data-provide="tooltip"
                                           data-placement="bottom"
                                        >
                                            {{ 'saisir.voir.modifier.absences'|trans }}
                                        </a></td>
                                    <td>
                                        <a href="{{ path('application_personnel_note_index',{'matiere':matiere.matiere.id}) }}"
                                           class="btn btn-block btn-primary-outline"
                                           title="{{ 'saisir.voir.modifier.notes'|trans }}"
                                           data-provide="tooltip"
                                           data-placement="bottom"
                                        >
                                            {{ 'saisir.voir.modifier.notes'|trans }}
                                        </a></td>
                                    <td>
                                        <button data-provide="modaler tooltip"
                                                data-url="{{ path('api_export_document_matiere', {'matiere': matiere.matiere.id}) }}"
                                                data-size="lg"
                                                data-confirm-text="{{ 'fermer'|trans }}"
                                                class="btn btn-block btn-primary-outline "
                                                data-placement="bottom"
                                                title="{{ 'atitle.export'|trans }}"
                                                data-title="{{ 'export.heading'|trans }}"
                                        >
                                            {{ 'choisir'|trans }}
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
