<div class="col-md-12">
    <div class="card">
        <h3 class="card-header card-title">
            {{ 'mes_cours.heading'|trans }}
        </h3>
        <div class="card-body">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    {% for semestre in user_data.semestresActifs %}
                        <li class="nav-item">
                            <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab"
                               href="#sem{{ semestre.id }}">{{ semestre.libelle }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content">
                {% for semestre in user_data.semestresActifs %}
                    <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="sem{{ semestre.id }}">
                        <h4>{{ 'vos.modules.du.semestre'|trans({'%semestre%':semestre.display}) }}</h4>
                        <div class="wrapper-notes-absences">
                            <div class="col-notes-header">{{ 'table.matiere'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.previ'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.absences'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.notes'|trans }}</div>
                            <div class="col-notes-header">{{ 'table.exports'|trans }}</div>
                            {% for matiere in previsionnel|filter(matiere => matiere.matiere.ue.semestre.id ==
                                semestre.id) %}
                                    <div>{{ matiere.matiere.display }}</div>
                                    <div>
                                        <button data-provide="modaler tooltip"
                                                data-url="{{ path('api_previsionnel_matiere', {'matiere': matiere.matiere.id}) }}"
                                                data-size="lg"
                                                data-confirm-text="{{ 'fermer'|trans }}"
                                                class="btn btn-block btn-cyan"
                                                data-placement="bottom"
                                                title="{{ 'previsionnel.et.intervenants.matiere'|trans }}"
                                                data-title="{{ 'previsionnel.et.intervenants.matiere'|trans }}"
                                        >
                                            {{ 'voir.previsionnel.et.intervenants.matiere'|trans }}
                                        </button>
                                    </div>
                                    <div>
                                        <a href="{{ path('application_personnel_absence_index',{'matiere':matiere.matiere.id}) }}"
                                           class="btn btn-block btn-cyan"
                                           title="{{ 'saisir.voir.modifier.absences'|trans }}"
                                           data-provide="tooltip"
                                           data-placement="bottom"
                                        >
                                            {{ 'saisir.voir.modifier.absences'|trans }}
                                        </a></div>
                                    <div>
                                        <a href="{{ path('application_personnel_note_index',{'matiere':matiere.matiere.id}) }}"
                                           class="btn btn-block btn-cyan"
                                           title="{{ 'saisir.voir.modifier.notes'|trans }}"
                                           data-provide="tooltip"
                                           data-placement="bottom"
                                        >
                                            {{ 'saisir.voir.modifier.notes'|trans }}
                                        </a></div>
                                    <div>
                                        <button data-provide="modaler tooltip"
                                                data-url="{{ path('api_export_document_matiere', {'matiere': matiere.matiere.id}) }}"
                                                data-size="lg"
                                                data-confirm-text="{{ 'fermer'|trans }}"
                                                class="btn btn-block btn-cyan"
                                                data-placement="bottom"
                                                title="{{ 'atitle.export'|trans }}"
                                                data-title="{{ 'export.heading'|trans }}"
                                        >
                                            {{ 'choisir.export'|trans }}
                                        </button>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
