{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.alternance.fiche_suivi.index.heading'|trans({'%etudiant%':alternance.etudiant
        .displayPr }) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_alternance_fiche_suivi_new',{alternance:alternance.id}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-plus"></i>
                <span class="sr-only">{{ 'atitle.creer_nouveau'|trans }}</span>
            </a>

            <a href="{{ path('application_index',{onglet:'stage'}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

               title="{{ 'retour_applications'|trans }}">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'retour_applications'|trans }}</span>
            </a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">    {{ 'app.personnel.alternance.fiche_suivi.index.heading'|trans
                ({'%etudiant%':alternance.etudiant
                    .displayPr }) }}
        </h4>
        <div class="card-body">
            <twig:Alert type="info">Alternance de <strong>{{ alternance.etudiant.displayPr }}</strong>, dans
                                          l'entreprise
                <strong>{{ alternance.entreprise.raisonSociale }}</strong>.<br>
                                          Contact Tuteur Entreprise : {{ alternance.tuteur.display }}
                                          , {{ alternance.tuteur.telephone|tel_format }}
                                          , {{ alternance.tuteur.email|mailto }}
            </twig:Alert>
            <table class="table table-striped table-bordered">

                <thead>
                <tr>
                    <th>Methode</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for alternance_fiche_suivi in alternance_fiche_suivis %}
                    <tr>
                        <td>{{ alternance_fiche_suivi.methodeLong }}</td>
                        <td>{{ alternance_fiche_suivi.date ? alternance_fiche_suivi.date|format_date('long') : '' }}</td>
                        <td>
                            <a href="{{ path('application_personnel_alternance_fiche_suivi_show', {'id': alternance_fiche_suivi.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span></a>
                            <a href="{{ path('application_personnel_alternance_fiche_suivi_edit', {'id': alternance_fiche_suivi
                                .id}) }}"
                               class="btn btn-warning btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.modifier'|trans }}">
                                <i class="{{ iconEdit }}"></i>
                                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span></a>
                            <a href="{{ path('application_personnel_alternance_fiche_suivi_print', {'id': alternance_fiche_suivi.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.print'|trans }}">
                                <i class="{{ iconPrint }}"></i>
                                <span class="sr-only">{{ 'atitle.print'|trans }}</span></a>
                            <a href="{{ path('application_personnel_alternance_fiche_suivi_delete', {id:
                                alternance_fiche_suivi.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ alternance_fiche_suivi.id) }}"
                               class="btn btn-danger btn-outline btn-square supprimer"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                               title="{{ 'atitle.supprimer'|trans }}">
                                <i class="{{ iconDelete }}"></i>
                                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
