{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.alternance_fiche_suivi.new.heading'|trans({'%etudiant%': alternance.etudiant.displayPr}) }}
{% endblock %}

{%block headeractions %}
    <div class="header-action">
        <div class="buttons">

                <a href="{{ path('application_personnel_alternance_fiche_suivi_alternance',{alternance:alternance
                    .id}) }}"
                   class="btn btn-primary btn-float"
                   title="{{ 'atitle.retour_liste'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-arrow-left"></i>
                    <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
                </a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.alternance_fiche_suivi.new.heading'|trans({'%etudiant%': alternance.etudiant.displayPr}) }}</h4>
        <div class="card-body">
            <twig:Alert type="info">Alternance de <strong>{{ alternance.etudiant.displayPr }}</strong>, dans
                                          l'entreprise
                <strong>{{ alternance.entreprise.raisonSociale }}</strong>.
            </twig:Alert>
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}
