{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.alternance_fiche_suivi.show.heading'|trans({'%etudiant%':alternance_fiche_suivi.alternance.etudiant
        .displayPr }) }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_alternance_fiche_suivi_delete', {id: alternance_fiche_suivi.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ alternance_fiche_suivi.id) }}"
               class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconDelete }}"></i>
                <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
            </a>
            <a href="{{ path('application_personnel_alternance_fiche_suivi_print', {id: alternance_fiche_suivi.id}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.print'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconPrint }}"></i>
                <span class="sr-only">{{ 'atitle.print'|trans }}</span>
            </a>
            <a href="{{ path('application_personnel_alternance_fiche_suivi_edit', {id: alternance_fiche_suivi.id}) }}"
               class="btn btn-warning btn-sm btn-float"
               title="{{ 'atitle.modifier'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="{{ iconEdit }}"></i>
                <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
            </a>
            <a href="{{ path('application_personnel_alternance_fiche_suivi_alternance', {alternance:
                alternance_fiche_suivi.alternance.id}) }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title"><strong>Résumé de la fiche de suivie</strong> de {{ alternance_fiche_suivi
            .alternance.etudiant.displayPr }}</h4>
        <div class="card-body">
            <dl>
                <dt>Nom de l'étudiant :</dt>
                <dd>{{ alternance_fiche_suivi.alternance.etudiant.displayPr }}</dd>
                <dt>Entreprise :</dt>
                <dd>{{ alternance_fiche_suivi.alternance.entreprise.raisonSociale }}</dd>
                <dt>Tuteur Universitaire :</dt>
                <dd>{{ alternance_fiche_suivi.alternance.tuteurUniversitaire.displayPr }}</dd>
                <dt>Visite réalisée le :</dt>
                <dd>{{ alternance_fiche_suivi.date|format_date('short') }},
                                                                          par {{ alternance_fiche_suivi.methodeLong }}</dd>
                <dt>Personne rencontrée :</dt>
                <dd>{{ alternance_fiche_suivi.alternance.tuteur.display }}</dd>
                <dt>Missions :</dt>
                <dd>{{ alternance_fiche_suivi.missions }}</dd>
                <dt>Evaluation de l'alternance :</dt>
                <dd>
                    <ul>
                        <li>Intégration dans l'entreprise : {{ alternance_fiche_suivi.integrationLong }}</li>
                        <li>Prise d'initiative : {{ alternance_fiche_suivi.initiativeLong }}</li>
                        <li>Capacité d'adaptation : {{ alternance_fiche_suivi.adaptationLong }}</li>
                        <li>Niveau de performances : {{ alternance_fiche_suivi.performanceLong }}</li>
                        <li>Respect des délais : {{ alternance_fiche_suivi.delaisLong }}</li>
                        <li>Comportement de manière globale : {{ alternance_fiche_suivi.comportementLong }}</li>
                    </ul>
                </dd>

                <dt>Commentaire :</dt>
                <dd>{{ alternance_fiche_suivi.commentaire }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
