<div class="card">
    <h4 class="card-title">Les travaux que vous avez demandé</h4>
    <div class="card-body">
        {# possibilité de les masquer, de les modifier, ... #}
        <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
            <thead>
            <tr>
                <th>{{ 'table.semestre'|trans }}</th>
                <th>{{ 'table.libelle'|trans }}</th>
                <th>{{ 'table.date_retour'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for cahierTexte in cahierTextes %}
                <tr id="ligne_{{ cahierTexte.id }}">
                    <td>{{ cahierTexte.semestre ? cahierTexte.semestre.libelle : 'non.defini'|trans }}</td>
                    <td>{{ cahierTexte.libelle }}</td>
                    <td>{{ cahierTexte.dateRetour ? cahierTexte.dateRetour|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                    <td>
                        <a href="{{ path('application_personnel_carnet_show', {'id': cahierTexte.id}) }}"
                           class="btn btn-info btn-outline btn-square" data-provide="tooltip"
                           data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i class="ti-eye"></i></a>
                        <a href="{{ path('application_personnel_carnet_edit', {'id': cahierTexte.id}) }}"
                           class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                                             data-provide="tooltip"
                                                                             data-placement="bottom"
                                                                             title="{{ 'atitle.modifier'|trans }}"></i></a>
                        <a href="{{ path('application_personnel_carnet_delete', {id: cahierTexte.id}) }}"
                           data-csrf="{{ csrf_token('delete' ~ cahierTexte.id) }}"
                           class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                    class="ti-close" data-provide="tooltip" data-placement="bottom"
                                    title="{{ 'atitle.supprimer'|trans }}"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'no.record.found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{{ include('composants/fab-buttons.html.twig', {boutons:[
    {type: 'info',
        href: path('application_personnel_carnet_export', {_format:'pdf'}),
        title: 'exporter.pdf'|trans,
        icone : "ti-printer"},
    {
        type:'info',
        href:path('application_personnel_carnet_export', {_format:'csv'}),
        title: 'exporter.csv'|trans,
        icone: 'ti-save'
    },
    {
        type:'info',
        href:path('application_personnel_carnet_export', {_format:'xlsx'}),
        title: 'exporter.xls'|trans,
        icone: 'fa fa-table'
    },
    {
        type:'info',
        href:path('application_personnel_carnet_new'),
        title: 'ajouter'|trans,
        icone: 'ti-plus'
    },
    {
        type:'info',
        href:path('help_article', {sujet: 'application/personnel_carnet'}),
        title: 'aide'|trans,
        icone: 'ti-help'
    }
]}) }}