{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.carnet.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_carnet_delete', {id: cahierTexte.id}) }}"
               data-csrf="{{ csrf_token('delete' ~ cahierTexte.id) }}" class="btn btn-danger btn-sm btn-float supprimer"
               title="{{ 'atitle.supprimer'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-trash"></i></a>
            <a href="{{ path('application_personnel_carnet_edit', {id: cahierTexte.id}) }}"
               class="btn btn-warning btn-sm btn-float" title="{{ 'atitle.modifier'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="{{ iconEdit }}"></i></a>
            <a href="{{ path('application_index', {onglet:'carnet'}) }}" class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_applications'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.carnet.show.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ cahierTexte.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.libelle'|trans }}</th>
                    <td>{{ cahierTexte.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.description'|trans }}</th>
                    <td>{{ cahierTexte.description|raw }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.semestre'|trans }}</th>
                    <td>{{ cahierTexte.semestre ? cahierTexte.semestre.libelle : 'non.defini'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.date_retour'|trans }}</th>
                    <td>{{ cahierTexte.dateRetour ? cahierTexte.dateRetour|format_datetime('long', 'short') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
