{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.date.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'date', id: date.id}) }}
    </div>
{% endblock %}


{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.date.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'table.id'|trans }}</th>
                    <td>{{ date.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.titre'|trans }}</th>
                    <td>{{ date.libelle }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.type_event'|trans }}</th>
                    <td>{{ date.type }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.texte'|trans }}</th>
                    <td>{{ date.texte }}</td>
                </tr>
                {% if date.dateDebut == date.dateFin %}
                    <tr>
                        <th>{{ 'table.date_evenement'|trans }}</th>
                        <td>
                            Le {{ date.dateDebut ? date.dateDebut|format_date('long') : '' }}  </td>
                    </tr>
                    <tr>
                        <th>{{ 'table.heure_event'|trans }}</th>
                        <td>
                            de {{ date.heureDebut ? date.heureDebut|format_datetime('none', 'short') : '' }}
                            à {{ date.heureFin ? date.heureFin|format_datetime('none', 'short') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th>{{ 'table.date_evenement'|trans }}</th>
                        <td>
                            Du {{ date.dateDebut ? date.dateDebut|format_date('long') : '' }}
                            ,
                            à {{ date.heureDebut ? date.heureDebut|format_time('short') : '' }}  </td>
                    </tr>
                    <tr>
                        <th>{{ 'table.au'|trans }}</th>
                        <td>{{ date.dateFin ? date.dateFin|format_date('long') : '' }}
                            ,
                            à {{ date.heureFin ? date.heureFin|format_time('short') : '' }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'table.lieu'|trans }}</th>
                    <td>{{ date.lieu }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.semestres'|trans }}</th>
                    <td>{% for semestre in date.semestres %}
                            <span class="badge badge-success">{{ semestre.libelle }}</span>{% endfor %}</td>
                </tr>
                <tr>
                    <th>{{ 'table.created'|trans }}</th>
                    <td>{{ date.created ? date.created|format_datetime('long', 'short') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'table.updated'|trans }}</th>
                    <td>{{ date.updated ? date.updated|format_datetime('long', 'short') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
