<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <h5 class="text-uppercase fw-400">{{ 'etudiants'|trans }} ({{ etudiants|length }})</h5>

        <div class="media-list media-list-hover">
            {% for etudiant in etudiants %}
                <div class="row mb-4 h-64px">
                    <div class="col-3">
                        {% if (etudiant.photo == 'noimage.png' or etudiant.photo == null) %}

                            <a href="{{ path('user_profil', {slug: etudiant.slug, type:'etudiant'}) }}" target="_blank">
                                <div class="avatar-circle-md">
                                    <span class="initials">{{ etudiant.avatarInitiales }}</span>
                                </div>
                            </a>

                        {% else %}
                            <a href="{{ path('user_profil', {slug: etudiant.slug, type:'etudiant'}) }}" target="_blank">
                                <img class="avatar-circle-md"
                                     src="{{ absolute_url(asset('/upload/etudiants/'~etudiant.photo)|imagine_filter('avatar')) }}"
                                     alt="Photo de profil de {{ etudiant.displayPr }}"
                                >
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <a href="{{ path('user_profil', {slug: etudiant.slug, type:'etudiant'}) }}" target="_blank">
                            <p>
                                <strong>{{ etudiant.displayPr }} ({{ etudiant.semestre }})</strong><br>
                                <span class="text-sm-end">{{ etudiant.groupes }}</span><br>
                                <a href="mailto:{{ etudiant.mailUniv }}" target="_blank">{{ etudiant.mailUniv }}</a><br>
                            </p>
                        </a>
                    </div>
                </div>
            {% else %}
                <twig:Alert type="warning">Pas de résultats correspondant à la recherche
                    <strong>{{ q }}</strong></twig:Alert>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
        <h5 class="text-uppercase fw-400">{{ 'permanents'|trans }} ({{ personnels|length }})</h5>

        <div class="media-list media-list-divided media-list-hover">
            {% for personnel in personnels %}
                <div class="row mb-2 h-64px">
                    <div class="col-3">
                        {% if (personnel.photo == 'noimage.png' or personnel.photo == null) %}

                            <a href="{{ path('user_profil', {slug: personnel.slug, type:'personnel'}) }}" target="_blank">
                                <div class="avatar-circle-md">
                                    <span class="initials">{{ personnel.avatarInitiales }}</span>
                                </div>
                            </a>

                        {% else %}
                            <a href="{{ path('user_profil', {slug: personnel.slug, type:'personnel'}) }}" target="_blank">
                                <img class="avatar-circle-md" src="{{ absolute_url(asset
                                    ('/upload/personnels/'~personnel
                                    .photo)|imagine_filter('avatar')) }}"
                                     alt="Photo de profil de {{ personnel.displayPr }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <a href="{{ path('user_profil', {slug: personnel.slug, type:'personnel'}) }}" target="_blank">
                            <p>
                                <strong>{{ personnel.displayPr }}</strong><br>
                                <a href="mailto:{{ personnel.mailUniv }}" target="_blank">{{ personnel.mailUniv }}</a><br>
                            </p>
                        </a>
                    </div>
                </div>
            {% else %}
                <twig:Alert type="warning">Pas de résultats correspondant à la recherche
                    <strong>{{ q }}</strong></twig:Alert>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4" id="search_reponse_autre">
        <h5 class="text-uppercase fw-400">{{ 'documents'|trans }} ({{ documents|length }})</h5>
        {% for document in documents %}
            {% if is_granted('ROLE_ETUDIANT') and document.originaux == false or is_granted('ROLE_PERMANENT') %}
            <div class="row mb-2 h-64px">
                <div class="col-3">
                    <a href="{{ asset('upload/documents/'~document.documentName) }}" target="_blank">
                        {{ document.typeFichierIconePetit|raw }}
                    </a>
                </div>
                <div class="col-9">
                    <a href="{{ asset('upload/documents/'~document.documentName) }}" target="_blank">
                        <p>
                            <strong>{{ document.libelle }}</strong><br>
                        </p>
                    </a>
                </div>
            </div>
            {% endif %}
        {% else %}
            <twig:Alert type="warning">Pas de résultats correspondant à la recherche
                <strong>{{ q }}</strong></twig:Alert>
        {% endfor %}
    </div>
</div>
