<div class="col-md-4 col-sm-12">
    <div class="card">
        <h4 class="card-title">{{ ressource.codeRessource }} | {{ ressource.libelle }}</h4>
        <div class="card-body">
            <p>{{ ressource.motsCles|nl2br }}</p>
            <p>
                <a href="{{ path('but_fiche_ressource',
                       {'apcRessource': ressource.id, diplome:diplome.sigle|lower}) }}"
                   class="btn btn-info stretched-link"
                   target="_blank"
                >
                    Voir la fiche ressource
                </a>
            </p>
            <h5>Heures ressources (prescriptives)</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="33%">CM/TD</th>
                    <th width="33%">TP</th>
                    <th width="33%">Coeff.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ressource.heuresCM + ressource.heuresTD }}</td>
                    <td>{{ ressource.heuresTP }}</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
            <h5>Heures totales (indicatives)</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="33%">Ressources</th>
                    <th width="33%">SAÉ*</th>
                    <th width="33%">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ressource.heuresCM + ressource.heuresTD + ressource.heuresTP }}</td>
                    <td>{{ ressource.heuresSAE + ressource.heuresSAEPtut }}</td>
                    <td>{{ ressource.heuresCM + ressource.heuresTD + ressource.heuresTP + ressource.heuresSAE + ressource.heuresSAEPtut }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% for competence in ressource.apcRessourceCompetences %}
                <span class="badge badge-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }}</span>
            {% endfor %}
        </div>
    </div>
</div>
