{% extends 'base-but.html.twig' %}

{% block header %}Répartition horaire - Préconnisation{% endblock %}

{% block content %}
  {% for semestre in diplome.semestres %}
    {% set totalRessource = 0 %}
    {% set totalSAE = 0 %}
    <h2>Semestre : {{ semestre.libelle }}</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Heures en ressources</th>
        <th>Heures totales</th>
      </tr>
      </thead>
      <tbody>
      {% for ressource in ressources[semestre.id] %}
          <tr>
              <td>{{ ressource.codeMatiere }}</td>
              <td>
                  <a href="{{ path('but_fiche_ressource', {'apcRessource': ressource.id, diplome:diplome.sigle|lower}) }}" target="_blank">{{ ressource.libelle }}</a>
              </td>
              <td>{{ ressource.cmPpn + ressource.tdPpn + ressource.tpPpn }}</td>
              <td>{{ ressource.heuresSAE + ressource.heuresSAEPtut }}</td>
              <td>{{ ressource.cmPpn + ressource.tdPpn + ressource.tpPpn + ressource.heuresSAE + ressource
                  .heuresSAEPtut }}</td>
          </tr>
          {% set totalRessource = totalRessource + ressource.cmPpn + ressource.tdPpn + ressource.tpPpn %}
          {% set totalSAE = totalSAE + ressource.heuresSAE + ressource.heuresSAEPtut %}
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <th>Total</th>
        <th></th>
        <th>{{ totalRessource }}</th>
        <th>{{ totalSAE }}</th>
        <th>{{ totalRessource + totalSAE }}</th>
      </tr>
      </tfoot>
    </table>
  {% endfor %}
  <div class="alert alert-warning">
    * Le volume horaire en lien avec la ressource dans les SAÉ est indicatif et peut être adapté dans chaque
    département.
  </div>
{% endblock %}
