{% extends 'base-but.html.twig' %}

{% block header %}Ressources du semestre {{ semestre.libelle }}{% endblock %}

{% block content %}


    <div class="row">
        {% for ressource in ressources %}
            <div class="col-4">
                <div class="card">
                    <h4 class="card-title">{{ ressource.codeRessource }} | {{ ressource.libelle }}</h4>
                    <div class="card-body">
                        <p>{{ ressource.motsCles|nl2br }}</p>
                        <p>
                            <a data-provide="tooltip"
                               href="{{ path('but_fiche_ressource',
                                   {'apcRessource': ressource.id}) }}"
                               class="btn btn-info"
                               data-placement="bottom"
                               title="Voir la fiche ressource"
                               target="_blank"
                            >
                                Voir la fiche ressource
                            </a>
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>CM/TD</th>
                                <th>TP</th>
                                <th>Coeff.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ ressource.heuresCM + ressource.heuresTD }} heure(s)</td>
                                <td>{{ ressource.heuresTP }} heures</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        {% for competence in ressource.apcRessourceCompetences %}
                            <span class="badge badge-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
