{% extends 'base.html.twig' %}

{% block header %}
    {{ 'documents.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="#" class="btn btn-primary btn-float" data-provide="tooltip" id="boutonBack" style="display: none"
               data-placement="bottom" title="{{ 'atitle.retour_categories'|trans }}"><i class="ti-arrow-left"></i></a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}"><i
                        class="material-icons">dashboard</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row" id="zone_document">
        {{ render(controller(
            'App\\Controller\\DocumentController::typeDocument'
        )) }}
    </div>
{% endblock %}