{% for typedocument in typedocuments %}
    <div class="col-md-6 col-xl-4 code code-card code-fold">
        <div class="code-preview afficheDocuments" data-type="{{ typedocument.id }}">
            <div class="media align-items-center">
                <span>
                    <i class="ti-folder fs-30 text-info"></i>
                </span>
                <div class="media-body">
                    <h5>{{ typedocument.libelle }}</h5>
                    <p class="gap-items">
                        <small>{{ 'nb.documents.categories'|trans }}Nombre de documents : {{ typedocument.documents|length }} </small>
                        {#
                                                        <small>{{ typedocument.description }}</small>
                        #}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
