{% extends "pdf/basepdf.html.twig" %}

{% block content %}
    <table style="width: 100%; border:none;">
        <tr>
            <td style="text-align: center; width:20%">
                <img src="{{ settings('BASE_PATH') }}{{ 'logo/'~user_data.departement.logoName }}" alt="logo" height="75px"/>
            </td>
            <td style="text-align: center; width:60%">
                <h2>Fiche d'emprunt de matériel <br>
                    {{ user_data.displayAnneeUniversitaire }}</h2>
            </td>
            <td style="text-align: center; width:20%">
                <img
                        src="{{ settings('BASE_PATH') }}{{ 'logo/' }}{{ settings('LOGO_IUT') }}"
                        alt="logo"
                        height="75px"/>
            </td>
        </tr>
    </table>

    <h3>Matériel emprunté par <strong>{{ emprunt.etudiant.displayPr }}</strong></h3>

    <h4>Le {{ emprunt.dateDebut|format_datetime('short', 'short') }}, retour <strong>{{ emprunt.dateFin|format_datetime
                ('short', 'short') }}</strong>
    </h4>
    <p>Contact : {{ emprunt.telephone }}</p>
    <br/>
    <p><strong>Motif : </strong> {{ emprunt.motif }}</p>
    <br/>
    <p><strong>Projet : </strong> {{ emprunt.description }}</p>
    <br>
    <p>Matriel emprunté :</p>
    <ul>
        {% for mat in emprunt.empruntMateriels %}
            <li>{{ mat.materiel.libelle }}</li>
        {% endfor %}
    </ul>

    <table style="width: 100%; border:none;">
        <tr>
            <td style="text-align: center; width:35%">
                Code étudiant
            </td>
            <td style="text-align: center; width:30%">

            </td>
            <td style="text-align: center; width:35%">
                Code Emprunt
            </td>
        </tr>
        <tr>
            <td style="text-align: center; width:35%">
                <img src="{{ qr_code_data_uri(emprunt.etudiant.numetudiant, {size: 150 }) }}" alt="QRCode etudiant"/>
            </td>
            <td style="text-align: center; width:30%">

            </td>
            <td style="text-align: center; width:35%">
                <img src="{{ qr_code_data_uri(emprunt.uuidString, { size: 150 }) }}" alt="QR Code emprunt"/>
            </td>
        </tr>
    </table>
{% endblock %}
