{% extends "pdf/basepdf.html.twig" %}

{% block content %}
{{include('pdf/_headerPdf.html.twig', {
    titre: 'Structure de la formation',
    qualite: false
}) }}

    <br>
    <table class="table" style="width:100%">
        <tr class="active">
            <td colspan="6">{{ departement.libelle }}</td>
        </tr>
        {% for diplome in departement.diplomes %}
            <tr>
                <td>&nbsp;</td>
                <td colspan="5" class="success">{{ diplome.typeDiplome.libelle }} {{ diplome.libelle }} | {{ diplome.codeApogee }}
                    | {{ diplome.codeVersion }}</td>
            </tr>
            {% for annee in diplome.annees %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="4" class="info">{{ annee.libelle }} | {{ annee.codeApogee }}
                        | {{ annee.codeVersion }}</td>
                </tr>
                {% for semestre in annee.semestres %}

                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="3">{{ semestre.libelle }} | {{ semestre.codeElement }}</td>

                    </tr>
                    {% for ue in semestre.ues %}

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td colspan="2">{{ ue.numeroUe }} | {{ ue.libelle }} | {{ ue.codeElement }}</td>
                        </tr>
                        {% for matiere in ue.matieres %}

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>{{ matiere.codeMatiere }} | {{ matiere.libelle }} | {{ matiere.codeElement }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {# options #}
                    {#{% for opt in t.options if opt.semestre==semestre %}#}

                    {#<tr class="UE_{{ semestre.id }} deroulant" >#}
                    {#<td>&nbsp;</td>#}
                    {#<td>&nbsp;</td>#}
                    {#<td>&nbsp;</td>#}
                    {#<td>&nbsp;</td>#}
                    {#<td colspan="2">{{ opt.nomoption }}</td>#}

                    {#</tr>#}
                    {#{% endfor %}#}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
