{% set etudiant = scolarite.etudiant %}
{% set scolaritePromo = scolarite.scolaritePromo %}
{% set semestre = etudiant.semestre %}
{% set anneeUniversitaire = scolarite.anneeUniversitaire %}

        {{ include('pdf/_headerPdf.html.twig', {
            departement: etudiant.departement,
            titre: '<h1>'~semestre.diplome.departement.libelle~'</h1>
            <stong>Année Universitaire '~anneeUniversitaire.displayAnneeUniversitaire~'</stong>
            <br/>
            '~settings('NOM_UNIVERSITE') ~'<br/>
'~settings('NOM_IUT')~'<br/>
            <strong>'~semestre.diplome.typediplome.libelle~'</strong><br/>
            <strong>'~semestre.diplome.libelle~'</strong><br/>',
            qualite: semestre.diplome.optCertifieQualite
        }) }}

{#<table style="width:100%">#}
{#    <tr>#}
{#        <td style="text-align: center; width:20%"><img#}
{#                    src="{{ settings('BASE_PATH') }}{{ 'logo/'~etudiant.departement.logoName }}" alt="logo"#}
{#                    width="75"/></td>#}
{#        <td style="text-align: center; width:60%"><h1>{{ semestre.diplome.departement.libelle }}</h1>#}
{#            <stong>Année Universitaire {{ anneeUniversitaire.displayAnneeUniversitaire }}</stong>#}
{#            <br/>#}
{#            UNIVERSITE de REIMS CHAMPAGNE-ARDENNE<br/>#}
{#            {{ settings('NOM_IUT') }}<br/>#}
{#            <strong>{{ semestre.diplome.typediplome.libelle }}</strong><br/>#}
{#            <strong>{{ semestre.diplome.libelle }}</strong><br/>#}
{#        </td>#}
{#        <td style="text-align: center; width:20%">#}
{#            <img src="{{ settings('BASE_PATH') }}{{ 'logo/' }}{{ settings('LOGO_IUT') }}" alt="logo"#}
{#                 width="75"/>#}
{#            {% if semestre.diplome.optCertifieQualite == true %}#}
{#                <img src="{{ settings('BASE_PATH') }}{{ 'logo/'~settings('LOGO_QUALITE') }}" alt="logo certificat#}
{#                     qualité" height="75px"/>#}
{#            {% endif %}#}
{#        </td>#}
{#    </tr>#}
{#</table>#}
<h1>Résultats du semestre {{ semestre.display }}</h1><br/>
<h2>{{ etudiant.display }}</h2> Né(e) le {{ etudiant.dateNaissance|format_date('short') }}
<p>N° étudiant : {{ etudiant.numEtudiant }}
    <br/>N° étudiant INE : {{ etudiant.numIne }}</p>
<p>Titulaire du Bac {{ etudiant.bac != null ? etudiant.bac.libelle : 'non.defini'|trans }}</p><br>
<table class="table" style="width:100%">
    <tr>
        <th rowspan="2">Module</th>
        <th rowspan="2">Ects</th>
        <th rowspan="2" class="noborder">&nbsp;</th>
        <th rowspan="2">Moy. Etudiant</th>
        <th rowspan="2">Rang</th>
        <th colspan="3">Promo</th>
    </tr>
    <tr>
        <th>Min.</th>
        <th>Moy.</th>
        <th>Max.</th>
    </tr>
    {% for ue in semestre.ues %}
        <tr>
            <th>UE {{ ue.numeroue }} : {{ ue.libelle }}</th>
            <th style="text-align: center">{{ ue.nbEcts }}</th>
            <td class="noborder">&nbsp;</td>
            <th style="text-align: center">{{ scolarite.moyennesUes[ue.id] is defined ? scolarite.moyennesUes[ue.id]
                .moyenne: '-' }}</th>
            <th style="text-align: center">{{ scolarite.moyennesUes[ue.id] is defined ? scolarite.moyennesUes[ue.id].rang:
                '-' }}</th>
            <th style="text-align: center">{{ scolaritePromo.moyenneUes[ue.id] is defined ? scolaritePromo.moyenneUes[ue.id]
                .min: '-' }}</th>
            <th style="text-align: center">{{ scolaritePromo.moyenneUes[ue.id] is defined ? scolaritePromo.moyenneUes[ue.id]
                .moyenne: '-' }}</th>
            <th style="text-align: center">{{ scolaritePromo.moyenneUes[ue.id] is defined ? scolaritePromo.moyenneUes[ue.id]
                .max: '-' }}</th>
        </tr>

        {% for matiere in ue.matieres|filter(matiere => (matiere.suspendu == false and matiere.nbNotes>0)) %}
            <tr>
                <td>{{ matiere.display }}</td>
                <td style="text-align: center">{{ matiere.coefficient }}</td>
                <td class="noborder">&nbsp;</td>
                <td style="text-align: center">{{ scolarite.moyennesMatieres[matiere.id] is defined ? scolarite.moyennesMatieres[matiere
                    .id].moyenne : '-' }}</td>
                <td style="text-align: center">{{ scolarite.moyennesMatieres[matiere.id] is defined ?scolarite.moyennesMatieres[matiere.id].rang: '-' }}</td>

                <td style="text-align: center">{{ scolaritePromo.moyenneMatieres[matiere.id] is defined ?scolaritePromo.moyenneMatieres[matiere.id].min: '-' }}</td>
                <td style="text-align: center">{{ scolaritePromo.moyenneMatieres[matiere.id] is defined ?scolaritePromo.moyenneMatieres[matiere.id].moyenne: '-' }}</td>
                <td style="text-align: center">{{ scolaritePromo.moyenneMatieres[matiere.id] is defined ?scolaritePromo.moyenneMatieres[matiere.id].max: '-' }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="8" class="noborder">&nbsp;</td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="2">MOYENNE GENERALE</th>
        <td class="noborder">&nbsp;</td>
        <th style="text-align: center">{{ scolarite.moyenne }}</th>
        <th style="text-align: center">{{ scolarite.rang }}</th>
        <th style="text-align: center">{{ scolaritePromo.min }}</th>
        <th style="text-align: center">{{ scolaritePromo.moyenne }}</th>
        <th style="text-align: center">{{ scolaritePromo.max }}</th>
    </tr>
    <tr>
        <td colspan="2" class="noborder">Nombre d'absences non justifiées : <strong>{{ scolarite
                .nbAbsences }}</strong></td>
        <td colspan="6" class="noborder">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">Décision du Grand Jury</th>
        <td class="noborder">&nbsp;</td>
        <td colspan="5">Semestre {{ semestre.ordreLmd }} {{ scolarite.decision.value|trans }}</td>
    </tr>
    <tr>
        <th colspan="2">Décision pour l'orientation</th>
        <td class="noborder">&nbsp;</td>
        <td colspan="5">{{ scolarite.proposition|trans }}</td>
    </tr>
</table>
<br>
<table style="width:100%">
    <tr>
        <td style="width:50%">
            {{ semestre.diplome.departement.ufr.sitePrincipal.adresse.ville }},
            le {{ 'now'|format_date('short') }}
        </td>
        <td style="width:50%">
            Le responsable du diplôme<br/>
            {{ semestre.diplome.responsableDiplome.displayPr }}
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td>Observations</td>
        <td>Signature</td>
    </tr>
</table>
