{% form_theme form 'form/my-form.html.twig' %}
{{ form_start(form) }}

<div class="row">
    {% if not is_granted('ROLE_ETUDIANT') %}
        <div class="col-md-6 col-sm-12 mb-3">{{ form_row(form.etudiant) }}</div>
        <div class="col-md-6 col-sm-12 mb-3">{{ form_row(form.etat) }}</div>
    {% endif %}
    <div class="col-md-6 col-sm-12">{{ form_row(form.dateDebut) }}</div>
    <div class="col-md-6 col-sm-12">{{ form_row(form.heureDebut) }}</div>
    <div class="col-md-6 col-sm-12">{{ form_row(form.dateFin) }}</div>
    <div class="col-md-6 col-sm-12">{{ form_row(form.heureFin) }}</div>
    <div class="col-md-6 col-sm-12">{{ form_row(form.motif) }}</div>
    <div class="col-md-6 col-sm-12">{{ form_row(form.fichierFile) }}</div>
</div>

<button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>

{% if button_label is defined and button_label == 'update'|trans %}
    <button class="btn btn-success" value="redirect_to_index" name="btn_update">{{ 'button_update_index'|trans }}</button>
{% endif %}
<twig:Alert type="info">
    Tous les champs avec un <span class="text-red">*</span> sont obligatoires
</twig:Alert>
{{ form_end(form) }}
