{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.etudiant.absence.justificatif.new.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_index',{'onglet': 'justificatif'}) }}" class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
            ><i class="fas fa-th-list"></i>
            </a>
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.etudiant.absence.justificatif.new.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('appEtudiant/absence_justificatif/_form.html.twig') }}
          <br>
            <twig:Alert type="info">
            Vous devez déposer le justificatif original (ou une copie accompagnée de l'original) au secrétariat de
            votre département.
            </twig:Alert>
        </div>
    </div>
{% endblock %}
