{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_competence.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'apc_competence', id: apc_competence.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_competence.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ apc_comptence.id }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ apc_comptence.libelle }}</td>
                </tr>
                <tr>
                    <th>Nom_court</th>
                    <td>{{ apc_comptence.nomCourt }}</td>
                </tr>
                <tr>
                    <th>Couleur</th>
                    <td>{{ apc_comptence.couleur }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
