{% extends 'base-super_admin.html.twig' %}


{% block header %}
    {{ 'adm.edusign.index.heading'|trans }}
{% endblock %}

{% block headeractions %}

    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i
                        class="{{ iconDashboard }}"><span
                            class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex flex-column align-items-start">
            <h4 class="card-title">{{ 'adm.edusign.context.new'|trans }}</h4>
            <small>Pour récupérer la clé API d'un département :
                <a href="https://edusign.app/school/settings/api">https://edusign.app/school/settings/api</a>
            </small>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                <span>{{ 'adm.edusign.context.info'|trans }}</span>
            </div>
            {% for dept in departements %}
                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                        data-bs-target="#initModal{{ dept.id }}">{{ dept.libelle }}</button>
                <!-- Modal -->
                <div class="modal fade" id="initModal{{ dept.id }}" tabindex="-1"
                     aria-labelledby="initModalLabel{{ dept.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="initModalLabel{{ dept.id }}">Initialisation du
                                    département {{ dept.libelle }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Cette action va créer les groupes et importer les étudiants
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_edu_sign_init', {'id': dept.id}) }}"
                                   class="btn btn-primary">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex flex-column align-items-start">
            <h4 class="card-title">{{ 'adm.edusign.context.change'|trans }}</h4>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                <span>{{ 'adm.edusign.commands.info-annee'|trans }}</span>
            </div>

            {% for dept in departements %}
                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                        data-bs-target="#chgtAnneeModal{{ dept.id }}">{{ dept.libelle }}</button>
                <!-- Modal -->
                <div class="modal fade" id="chgtAnneeModal{{ dept.id }}" tabindex="-1"
                     aria-labelledby="chgtAnneeModalLabel{{ dept.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="chgtAnneeModalLabel{{ dept.id }}">Initialisation du
                                    département {{ dept.libelle }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Cette action va mettre à jour les données pour la nouvelle année
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_edu_sign_update_annee', {'id': dept.id}) }}"
                                   class="btn btn-primary">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <h4 class="card-title">{{ 'adm.edusign.commands.heading'|trans }}</h4>
        <nav class="nav nav-tabs">
            {% for departement in departements %}
                <a class="nav-link {% if ((departementSelect != null and departementSelect
                .id == departement.id) or (departementSelect == null)) %}active{% endif %}"
                   href="{{ path('app_edu_sign', {'dept': departement.id}) }}">{{ departement.libelle }}</a>
            {% endfor %}
        </nav>
        <div class="card-body">
            <h5 class="card-title">{{ 'adm.edusign.commands.cours'|trans }}</h5>
            <div class="alert alert-info">
                <span>{{ 'adm.edusign.commands.info-create'|trans }}</span>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'adm.edusign.commands.create'|trans }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" type="button" data-bs-toggle="modal"
                           data-bs-target="#newCoursesWeekModal{{ departementSelect.id }}">Pour la semaine en cours</a>
                    </li>
                    <li>
                        <a class="dropdown-item" type="button" data-bs-toggle="modal"
                           data-bs-target="#newCoursesDayModal{{ departementSelect.id }}">Pour la journée</a>
                    </li>
                </ul>

                <!-- Modal -->
                <div class="modal fade" id="newCoursesWeekModal{{ departementSelect.id }}" tabindex="-1"
                     aria-labelledby="newCoursesWeekModalLabel{{ departementSelect.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="newCoursesWeekModalLabel{{ departementSelect.id }}">
                                    Mise à jour des cours de la semaine pour {{ departementSelect.libelle }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Cette action va créer les nouveaux cours et corriger les cours déjà existants si
                                nécessaire
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_edu_sign_create_courses', {'opt': 1, 'id': departementSelect.id}) }}"
                                   class="btn btn-primary">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="newCoursesDayModal{{ departementSelect.id }}" tabindex="-1"
                     aria-labelledby="newCoursesDayModalLabel{{ departementSelect.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="newCoursesDayModalLabel{{ departementSelect.id }}">
                                    Mise à jour des cours de la journée pour {{ departementSelect.libelle }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Cette action va créer les nouveaux cours et corriger les cours déjà existants si
                                nécessaire
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_edu_sign_create_courses', {'opt': 2, 'id': departementSelect.id}) }}"
                                   class="btn btn-primary">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="card-body">
            <h5 class="card-title">{{ 'adm.edusign.context.groups'|trans }}</h5>
            <a href="{{ path('app_edu_sign_groupes', {'id': departementSelect.id}) }}"
               class="btn btn-secondary">Afficher les groupes
            </a>
        </div>
    </div>
{% endblock %}
