<div {{ attributes }}>
    <div class="col-sm-12">
        <div class="card">
            <h3 class="card-title">Listing Etudiants</h3>
            <div class="card-body">
                <!-- 1 onglets par promo -->
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        {% for semestre in user_data.semestresActifs %}
                            <li class="nav-item">
                                <button data-action="live#action"
                                        class="nav-link {% if this.semestre != null and semestre.id == this.semestre.id %} active{% endif %}"
                                        data-action-name="changeSemestre(semestre={{ semestre.id ? semestre.id : null }})">{{ semestre.display }}</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane fade active show">
                    {% if this.semestre == null %}
                        <div class="alert alert-warning">Choisir un semestre pour accéder aux groupes.</div>
                    {% else %}
                        <h4>Les listings du semestre {{ this.semestre }}{# semestre.libelle #}</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    {% for typeGroupe in this.typeGroupes|filter
                                        (typeGroupe => (typeGroupe.defaut
                                        == true)) %}
                                        {% for groupe in typeGroupe.groupes %}
                                            <div class="col-md-3 col-sm-12 d-grid d-block mb-2">
                                                <a href="{{ path('trombinoscope_etudiant_export_groupe',
                                                    {_format:'pdf', groupe:groupe.id}) }}"
                                                   class="btn btn-cyan">
                                                    {{ groupe.libelle }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="alert alert-info">
                                            Aucun ensemble de groupe par défaut de défini.
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if not is_granted("ROLE_ETUDIANT") %}
                            <div class="row">
                                <div class="col-sm-12 col-md-2">
                                    <div class="dropdown d-grid d-block">
                                        <button class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown">Format PDF
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for typegroupe in this.typeGroupes %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('trombinoscope_etudiant_export', {_format:'pdf', typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="dropdown d-grid d-block">
                                        <button class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown">Format Excel
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for typegroupe in this.typeGroupes %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('trombinoscope_etudiant_export',
                                                        {_format:'xlsx', typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="dropdown d-grid d-block">
                                        <button class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown">Format Csv
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for typegroupe in this.typeGroupes %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('trombinoscope_etudiant_export',
                                                        {_format:'csv', typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="dropdown d-grid d-block">
                                        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            Trombi. (PDF)
                                        </button>

                                        <div class="dropdown-menu">
                                            {% for typegroupe in this.typeGroupes %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path
                                                        ('trombinoscope_etudiant_image',
                                                        {typeGroupe: typegroupe.id}) }}">{{ typegroupe.libelle }}</a>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-grid d-block">
                                    <button
                                            {{ stimulus_controller('modal', {
                                                size: 'lg',
                                                form: true,
                                                formAction: path('export_listing'),
                                                modalTitle: 'export.heading'|trans,
                                                modalUrl:  path('api_export_document_personnalise',
                                                    {semestre:semestre.id}) }) }}
                                            data-action="click->modal#openModal"
                                            class="btn btn-primary"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="{{ 'atitle.export'|trans }}"
                                    >
                                        Export personnalisé
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</div>
