<div class="col-md-12" {{ attributes }}>
    <h3 class="card-top-title">{{ 'mes_cours.heading'|trans }}</h3>
    <div class="card">
        <div class="card-body p-0">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'table.matiere'|trans }}</th>
                    <th>{{ 'table.semestre'|trans }}</th>
                    <th>{{ 'table.previ'|trans }}</th>
                    <th>{{ 'table.absences'|trans }}</th>
                    <th>{{ 'table.notes'|trans }}</th>
                    <th>{{ 'table.exports'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for matiere in this.previsionnels %}
                    <tr>
                        <td>{{ matiere.display }}</td>
                        <td>{{ matiere.semestre_libelle }}</td>
                        <td>
                            <a
                                    href="#"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}),
                                        modalUrl:  path('api_previsionnel_matiere', {'matiere': matiere
                                        .matiere_id, type: matiere.type_matiere}) }) }}
                                    data-action="click->modal#openModal"
                                    class="text-complementaire"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}) }}"
                            >
                                {{ 'voir.previsionnel.et.intervenants.matiere'|trans }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('application_personnel_absence_index',{semestre: matiere.semestre_id,
                                matiere: matiere.typeIdMatiere}) }}"
                               class="text-complementaire"
                               title="{{ 'saisir.voir.modifier.absences'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                            >
                                {{ 'saisir.voir.modifier.absences'|trans }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('application_personnel_note_index',{semestre: matiere.semestre_id,
                                'matiere': matiere.typeIdMatiere}) }}"
                               class="text-complementaire"
                               title="{{ 'saisir.voir.modifier.notes'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                            >
                                {{ 'saisir.voir.modifier.notes'|trans }}
                            </a>
                        </td>
                        <td>
                            <a
                                    href="#"
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        form: true,
                                        formAction: path('export_listing'),
                                        modalTitle: 'export.heading'|trans,
                                        modalUrl:  path('api_export_document_matiere', {'matiere': matiere
                                        .matiere_id, typeMatiere:matiere.type_matiere, semestre:matiere.semestre_id})
                                    }) }}
                                    data-action="click->modal#openModal"
                                    class="text-complementaire"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'atitle.export'|trans }}"
                            >
                                {{ 'choisir.export'|trans }}
                            </a>
                        </td>
                    </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="alert alert-info">
                            Aucun cours n'est prévu pour le moment
                        </div>
                    </td>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
