<div class="col-md-12" {{ attributes }}>
    <div class="card">
        <h3 class="card-header card-title">
            {{ 'mes_cours.heading'|trans }}
        </h3>
        <div class="card-body">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    {% for semestre in user_data.semestresActifs %}
                        <li class="nav-item">
                            <button data-action="live#action"
                                    class="nav-link {% if this.semestre != null and semestre.id == this.semestre.id %} active{% endif %}"
                                    data-action-name="changeSemestre(semestre={{ semestre.id ? semestre.id : null }})">{{ semestre.display }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade active show">
                <h4>{{ 'vos.modules.du.semestre'|trans({'%semestre%':this.semestre.display}) }}</h4>
                <div class="wrapper-notes-absences">
                    <div class="col-notes-header">{{ 'table.matiere'|trans }}</div>
                    <div class="col-notes-header">{{ 'table.previ'|trans }}</div>
                    <div class="col-notes-header">{{ 'table.absences'|trans }}</div>
                    <div class="col-notes-header">{{ 'table.notes'|trans }}</div>
                    <div class="col-notes-header">{{ 'table.exports'|trans }}</div>
                    {% for matiere in this.previsionnels %}
                        <div>{{ matiere.display }}</div>
                        <div class="d-grid d-block">
                            <button
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        modalTitle: 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}),
                                        modalUrl:  path('api_previsionnel_matiere', {'matiere': matiere
                                        .matiere_id, type: matiere.type_matiere}) }) }}
                                    data-action="click->modal#openModal"
                                    class="btn btn-cyan h-100"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'previsionnel.et.intervenants.matiere'|trans({'%matiere%':matiere.display}) }}"
                            >
                                {{ 'voir.previsionnel.et.intervenants.matiere'|trans }}
                            </button>
                        </div>
                        <div class="d-grid d-block">
                            <a href="{{ path('application_personnel_absence_index',{semestre: this.semestre.id,
                                matiere: matiere.typeIdMatiere}) }}"
                               class="btn btn-cyan h-100"
                               title="{{ 'saisir.voir.modifier.absences'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                            >
                                {{ 'saisir.voir.modifier.absences'|trans }}
                            </a></div>
                        <div class="d-grid d-block">
                            <a href="{{ path('application_personnel_note_index',{semestre: this.semestre.id,
                                'matiere': matiere.typeIdMatiere}) }}"
                               class="btn btn-cyan h-100"
                               title="{{ 'saisir.voir.modifier.notes'|trans }}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"

                            >
                                {{ 'saisir.voir.modifier.notes'|trans }}
                            </a></div>
                        <div class="d-grid d-block">
                            <button
                                    {{ stimulus_controller('modal', {
                                        size: 'lg',
                                        form: true,
                                        formAction: path('export_listing'),
                                        modalTitle: 'export.heading'|trans,
                                        modalUrl:  path('api_export_document_matiere', {'matiere': matiere
                                        .matiere_id, typeMatiere:matiere.type_matiere, semestre:this.semestre.id})
                                    }) }}
                                    data-action="click->modal#openModal"
                                    class="btn btn-cyan h-100"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="{{ 'atitle.export'|trans }}"
                            >
                                {{ 'choisir.export'|trans }}
                            </button>
                        </div>
                    {% else %}
                        <div class="d-grid d-block">
                            <div class="alert alert-info">
                                Aucune donnée pour ce semestre.
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
