<div{{ attributes }}>
    <div class="media">
        <div class="media-body">
            <p><strong>{{ this.label }}</strong></p>
            <p>{{ this.help }}</p>
        </div>
        <label class="sr-only" for="respRi">{{ this.label }}</label>
        <select class="form-select col-sm-6"
                name="{{ this.cle }}"
                data-model="on(change)|value"
                data-action="live#action"
                data-action-name="changeOptionSelect"
                id="{{ this.id }}">
            <option value="">{{ 'non.selectione'|trans }} / {{ 'aucun'|trans }}</option>
            {% for element in this.liste %}
                <option value="{{ element.id }}"
                        {% if this.value != null and this.value == element.id %}selected{% endif %}>{{ element.display }}</option>
            {% endfor %}
        </select>
    </div>
</div>
