<div{{ attributes }}>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Actuellement</h4>
                </div>
                <div class="card-body">
                    {% if this.currentEvent != null %}

                    {% else %}
                        <div class="alert alert-info">
                            C'est tout pour aujourd'hui...
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>A venir</h4>
                </div>
                <div class="card-body">
                    {% if this.nextEvent != null %}
                        {% if this.sameDay %}
                            <div class="col-4">
                                <p class="jour_grand">à {{ this.nextEvent.heureDebut|date('H:i') }}</p>
                                <p class="heure_petit">{{ this.nextEvent.date|date('d/m') }}</p>

                            </div>
                            <div class="col-6">
                                <p class="jour_grand">{{ this.nextEvent.matiere }}</p>
                                <p class="heure_petit">{{ this.nextEvent.salle }} | {{ this.nextEvent.groupe }}</p>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-4">
                                    <p class="jour_grand">le {{ this.nextEvent.date|date('d/m') }}</p>
                                    <p class="heure_petit">{{ this.nextEvent.heureDebut|date('H:i') }}</p>
                                </div>
                                <div class="col-6">
                                    <p class="jour_grand">{{ this.nextEvent.matiere }}</p>
                                    <p class="heure_petit">{{ this.nextEvent.salle }} | {{ this.nextEvent.groupe }}</p>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}

                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
