<div class="row mb-3">
    <div class="col-sm-2">
        {{ form_row(form.codeMatiere) }}
    </div>
    <div class="col-sm-8">
        {{ form_row(form.libelle) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.codeElement) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.coefficient) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.nbEcts) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.nbNotes) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.pac) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.suspendu) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.mutualisee) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.cmPpn) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.tdPpn) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.tpPpn) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.cmFormation) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.tdFormation) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.tpFormation) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.Ppn) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.semestre) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.ue) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.parcours) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.matiereParent) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.commentaire) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.objectifsModule) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.competencesVisees) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.contenu) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.preRequis) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.modalites) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.prolongements) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.motsCles) }}
    </div>
</div>
