<div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'adm.matiere.index.heading'|trans }} | {{ diplome.libelle }}</h4>
        <div class="card-header-actions">
            {% if settings('MODIFICATION_PPN') == 1 %}
                <span>
                    <a href="{{ path('administration_matiere_new',{diplome:diplome.id}) }}"
                       class="btn btn-sm btn btn-info" title="{{ 'atitle.creer_nouveau'|trans }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                    ><i class="fas fa-plus"></i></a>
                </span>
            {% endif %}
        </div>
    </header>


    <div class="card-body">
        <ul class="nav nav-tabs">
            {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %} active{% endif %}" data-bs-toggle="tab"
                       href="#semestre{{ semestre.id }}">{{ semestre.libelle }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for semestre in user_data.semestresByDiplome(diplome.id) %}
                <div class="tab-pane {% if loop.first %}fade active show{% endif %}"
                     id="semestre{{ semestre.id }}">

                    <table class="table table-striped table-bordered"
                           id="tab_semestre{{ semestre.id }}">
                        <thead>
                        <tr>
                            <th>{{ 'table.code_element'|trans }}</th>
                            <th>{{ 'table.refmatiere'|trans }}</th>
                            <th>{{ 'table.libelle'|trans }}</th>
                            <th>{{ 'table.ue'|trans }}</th>
                            {% if semestre.parcours|length > 0 %}
                                <th>{{ 'table.parcours'|trans }}</th>
                            {% endif %}
                            <th>{{ 'table.cm'|trans }}</th>
                            <th>{{ 'table.td'|trans }}</th>
                            <th>{{ 'table.tp'|trans }}</th>
                            <th>{{ 'table.nb_notes'|trans }}</th>
                            <th>{{ 'table.coefficient'|trans }}.</th>
                            <th>{{ 'table.nb_ects'|trans }}</th>
                            <th>{{ 'table.suspendu'|trans }}</th>
                            <th>{{ 'table.pac'|trans }}</th>
                            <th>{{ 'table.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for matiere in matieres|filter(matiere => matiere.semestre.id == semestre.id) %}
                            <tr {% if matiere.suspendu == true %}class="bg-pale-warning"{% endif %} id="ligne_{{ matiere.id }}">
                                <td>{{ matiere.codeElement }}</td>
                                <td>{{ matiere.codeMatiere }}</td>
                                <td>{{ matiere.libelle }}</td>
                                <td>
                                    <label for="changeUe{{ semestre.id }}" class="sr-only">Change d'UE</label>
                                    <select class="form-select changeUe"
                                            data-matiere="{{ matiere.id }}"
                                            id="changeUe{{ semestre.id }}"
                                    >
                                        {% for ue in semestre.ues %}
                                            <option value="{{ ue.id }}" {% if matiere.ue != null and ue.id == matiere.ue
                                            .id %}selected{% endif %}>{{ ue.display }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                {% if semestre.parcours|length > 0 %}
                                    <td>
                                        <label for="changeParcours{{ semestre.id }}" class="sr-only">Change de
                                            parcours</label>
                                        <select class="form-select changeParcours"
                                                data-matiere="{{ matiere.id }}"
                                                id="changeParcours{{ semestre.id }}"
                                        >
                                            <option value="null" selected>Tous les parcours</option>
                                            {% for parcour in semestre.parcours %}
                                                <option value="{{ parcour.id }}" {% if matiere.parcours != null
                                                    and parcour.id == matiere.parcours
                                                    .id %}selected{% endif %}>{{ parcour.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                {% endif %}
                                <td>
                                    <twig:Editable
                                            titre="Corriger le volume horaire"
                                            field="cmPpn"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.cmPpn|number_format(2) }}"
                                    >
                                    </twig:Editable>
                                    |
                                    <twig:Editable
                                            titre="Corriger le volume horaire"
                                            field="cmFormation"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.cmFormation|number_format(2) }}"
                                    >
                                    </twig:Editable>

                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="CmPpn" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.cmPpn }}</a> | #}
                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="CmFormation" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.cmFormation }}</a> #}
                                </td>
                                <td>
                                    <twig:Editable
                                            titre="Corriger le volume horaire"
                                            field="tdPpn"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.tdPpn|number_format(2) }}"
                                    >
                                    </twig:Editable>
                                    |
                                    <twig:Editable
                                            titre="Corriger le volume horaire"
                                            field="tdFormation"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.tdFormation|number_format(2) }}"
                                    >
                                    </twig:Editable>

                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="TdPpn" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.tdPpn }}</a> | #}
                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="TdFormation" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.tdFormation }}</a> #}
                                </td>
                                <td>
                                    <twig:Editable
                                            titre="Corriger le volume horaire"
                                            field="tpPpn"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.tpPpn|number_format(2) }}"
                                    >
                                    </twig:Editable>
                                    |
                                    <twig:Editable
                                            titre="Corriger le volume horaire"
                                            field="tpFormation"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.tpFormation|number_format(2) }}"
                                    >
                                    </twig:Editable>

                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="TpPpn" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.tpPpn }} #}
                                    {#                                    </a> | #}
                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="TpFormation" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.tpFormation }} #}
                                    {#                                    </a> #}
                                </td>
                                <td>
                                    <twig:Editable
                                            titre="Corriger le nombre de notes"
                                            field="nbNotes"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.nbNotes }}"
                                    >
                                    </twig:Editable>
                                    {#                                    #}
                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="NbNotes" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.nbNotes }}</a> #}
                                </td>
                                <td>
                                    <twig:Editable
                                            titre="Corriger le coefficient"
                                            field="coefficient"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.coefficient }}"
                                    >
                                    </twig:Editable>
                                    {#                                    #}
                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="Coefficient" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.coefficient }}</a> #}
                                </td>
                                <td>
                                    <twig:Editable
                                            titre="Corriger le nombre d'ECTS"
                                            field="nbEcts"
                                            id="{{ matiere.id }}"
                                            className="{{ matiere|classFQN }}"
                                            value="{{ matiere.nbEcts }}"
                                    >
                                    </twig:Editable>

                                    {#                                    <a class="editable" #}
                                    {#                                       data-field="NbEcts" #}
                                    {#                                       data-href="{{ path('administration_matiere_ajax_edit', {id:matiere.id}) }}" #}
                                    {#                                       title="Corriger le volume horaire"> #}
                                    {#                                        {{ matiere.nbEcts }}</a> #}
                                </td>
                                <td>{{ matiere.suspendu|badgeYesNo }}</td>
                                <td>{{ matiere.pac|badgeYesNo }}</td>
                                <td>
                                    {% if settings('MODIFICATION_PPN') == 1 %}

                                        <a href="{{ path('administration_matiere_duplicate', {'id': matiere.id}) }}"
                                           class="btn btn-success btn-outline btn-square"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.dupliquer'|trans }}">
                                            <i class="{{ iconDuplicate }}"></i>
                                            <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('administration_matiere_show', {'id': matiere.id}) }}"
                                       class="btn btn-info btn-outline btn-square"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       title="{{ 'atitle.details'|trans }}">
                                        <i class="{{ iconShow }}"></i>
                                        <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                                    </a>
                                    {% if settings('MODIFICATION_PPN') == 1 %}

                                        <a href="{{ path('administration_matiere_edit', {'id': matiere.id}) }}"
                                           class="btn btn-warning btn-outline btn-square"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.modifier'|trans }}">
                                            <i class="{{ iconEdit }}"></i>
                                            <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                                        </a>
                                        <a href="{{ path('administration_matiere_delete', {id: matiere.id}) }}"
                                           data-csrf="{{ csrf_token('delete' ~ matiere.id) }}"
                                           class="btn btn-danger btn-outline btn-square supprimer"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="{{ 'atitle.supprimer'|trans }}">
                                            <i class="{{ iconDelete }}"></i>
                                            <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr class="bg-pale-warning">
                                <td colspan="12">{{ 'no.record.found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
