{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.matiere.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
<div class="header-action">
    {{ include('composants/adm-buttons-edit.html.twig', {elt:'matiere', id: matiere.id}) }}

</div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.matiere.modification.heading'|trans }}</h4>
    <div class="card-body">
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}
        {{ include('administration/matiere/_form.html.twig', {'button_label': 'update'|trans})}}

        <button class="btn btn-success"><i class="fas fa-floppy-disk"></i> {{ button_label|default('label.save'|trans) }}
        </button>

            <button class="btn btn-success" value="redirect_to_index" name="btn_update">
                <i class="fas fa-floppy-disk-circle-arrow-right"></i> {{ 'button_update_index'|trans }}</button>
        <twig:Alert type="info">
            Tous les champs avec un <span class="text-red">*</span> sont obligatoires
        </twig:Alert>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}
