{% extends 'base.html.twig' %}


{% block header %}
    {{ 'adm.matiere.index.heading'|trans }}
{% endblock %}

{% block headeractions %}

    <div class="header-action bg-white">
        <nav class="nav nav-tabs">
            {% for diplome in user_data.diplomes %}
                <a class="nav-link {% if loop.first %}active{% endif %} change-diplome"
                   href="#" data-diplome="{{ diplome.id }}">{{ diplome.libelle }}</a>
            {% endfor %}
        </nav>

        <div class="buttons">

            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">build</i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content_diplome">
        {% for diplome in user_data.diplomes %}
            {% if loop.first %}
                {{ render(controller(
                    'App\\Controller\\administration\\MatiereController::diplome', {diplome:diplome.id}
                )) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'warning',
            href: path('administration_ppn_index'),
            title: 'gestion.ppn'|trans,
            icone : 'fas fa-maps-sign'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_matiere'}),
            title: 'aide'|trans,
            icone: 'fa fa-question',
            target: '_blank'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.matieres') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.matieres') }}
{% endblock %}
