{% extends 'base.html.twig' %}


{% block header %}
    {{ 'adm.matiere.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">

            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span
                            class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        <div class="btn-group">
            <button id="btnGroupDrop1"
                    type="button"
                    class="btn btn-secondary dropdown-toggle"
                    title="{{ 'changer.de.diplome'|trans }}"
                    data-bs-placement="bottom"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Changer de diplôme
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                {% for diplome in user_data.diplomes|filter(diplome => diplome.actif) %}
                    <a class="dropdown-item
                    change-diplome
{% if (diplomeSelect == null and loop.first) or (diplomeSelect != null and diplomeSelect
                    .id==diplome.id) %}active{% endif %}
" data-diplome="{{ diplome.id }}" href="#">{{ diplome.displayCourt }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content_diplome">
        {% for diplome in user_data.diplomes|filter(diplome => diplome.actif) %}
            {% if (diplomeSelect == null and loop.first) or (diplomeSelect != null and diplomeSelect.id==diplome.id) %}
                {{ render(controller(
                    'App\\Controller\\administration\\MatiereController::diplome', {diplome:diplome.id}
                )) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block fabactions %}
    {% set diplome_id = user_data.diplomes[0].id %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_matiere_export', {_format:'pdf', diplome: diplome_id}),
            title: 'exporter.pdf'|trans,
            id: 'export_pdf',
            icone : "fa fa-file-pdf"
        },
        {
            type:'info',
            href:path('administration_matiere_export', {_format:'csv', diplome: diplome_id}),
            title: 'exporter.csv'|trans,
            id: 'export_csv',
            icone: 'fa fa-file-csv'
        },
        {
            type:'info',
            href:path('administration_matiere_export', {_format:'xlsx', diplome: diplome_id}),
            title: 'exporter.xls'|trans,
            id: 'export_xlsx',
            icone: 'fa fa-file-excel'
        },
        {type: 'warning',
            href: path('administration_ppn_index'),
            title: 'gestion.ppn'|trans,
            icone : 'fas fa-maps-sign'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_matiere'}),
            title: 'aide'|trans,
            icone: 'fas fa-question',
            target: '_blank'
        }
    ]}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adm.matieres') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adm.matieres') }}
{% endblock %}
