{% extends type == 'administration' ? 'base.html.twig' : 'base-super_admin.html.twig' %}

{% block header %}
    Création d'un questionnaire
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_qualite_apercu', {id:questionnaire.id, type:type}) }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.apercu'|trans }}"
               target="_blank"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
            >
                <i class="fas fa-eye"></i>
                <span class="sr-only">{{ 'atitle.apercu'|trans }}</span>
            </a>
            {% if is_granted('ROLE_ADMINISTRATIF') %}
                <a href="{{ path('administratif_enquete_destinataire_index', {typeDestinataire:questionnaire.typeDestinataireLink}) }}"
                   class="btn btn-primary btn-float"
                   title="{{ 'atitle.retour_liste'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-arrow-left"></i>
                    <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
                </a>
            {% else %}
                <a href="{{ path('administration_qualite_index', {type:type}) }}"
                   class="btn btn-primary btn-float"
                   title="{{ 'atitle.retour_liste'|trans }}"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                >
                    <i class="fas fa-arrow-left"></i>
                    <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="card" {{ stimulus_controller('questionnaire--creation', {
        url: path('adm_questionnaire_creation_step', {questionnaire: questionnaire.id, type: type}),
        urlSave: path('adm_questionnaire_creation_save', {questionnaire: questionnaire.id, type: type})
    }) }}
         data-action="questionnaire--section:updateQuestionnaire->questionnaire--creation#refreshContent">
        <h4 class="card-header">
            Création d'un questionnaire
        </h4>
        <div class="card-body" {{ stimulus_target('questionnaire--creation', 'stepZone') }}>

        </div>
    </div>
{% endblock %}
