{% extends 'base-super_admin.html.twig' %}

{% block header %}
    {{ 'sadm.scolarite.ajouter.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="material-icons">dashboard</i></a>
        </div>
    </div>
{% endblock %}
{# todo: a fusionner avec la partie administration/etudiant #}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'sadm.scolarite.ajouter.un.heading'|trans }}</h4>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'sadm.scolarite.import.listing.heading'|trans }}</h4>
                <div class="card-body">
                    <form method="POST" action="{{ path('sa_scolarite_importer') }}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="importer_etudiant">Selectionnez le fichier en
                                                                                 respectant le format</label>
                            <input type="file" name="fichier_import" id="importer_etudiant" class="form-control">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-block btn-warning">Importer les étudiants</button>
                        </div>
                        <div class="alert alert-info">Le fichier doit contenir les données suivantes et les en-têtes
                                                      correctement nommées (<a href="">voir le fichier d'exemple</a>)
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <h4 class="card-title">{{ 'sadm.scolarite.synchro.apogee.heading'|trans }}</h4>
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>

{% endblock %}
