{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_composante_essentielle.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'apc_composante_essentielle', id: apc_composante_essentielle.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_composante_essentielle.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ apc_composante_essentielle.id }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ apc_composante_essentielle.libelle }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
