{% extends 'base.html.twig' %}

{% block header %}
    {{ 'initialisation.des.evaluations'|trans({'%libelle%':semestre.libelle})|raw }}
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {{ include('administration/_navSemestre.html.twig', {path_name: 'administration_notes_semestre_index'}) }}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="alert alert-info mb-2">
                Les listes d'enseignant sont filtrées en fonction des données du prévisionnel pour chaque matière,
                SAE ou ressource.
            </div>
            <form action="{{ path('administration_evaluation_initialisation_index', {semestre:semestre.id}) }}"
                  method="post">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Matière/Ressource/SAÉ</th>
                        <th>Commentaire/nom</th>
                        <th>Coefficient</th>
                        <th>Type de saisie</th>
                        <th>Intervenants</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for matiere in matieres %}
                        {% if matiere.nbNotes>0 %}
                            <tr>
                                <td colspan="5" class="table-primary">
                                    <strong>{{ matiere.display }}</strong>
                                </td>
                            </tr>
                            {% set nbeval=1 %}

                            {% for eval in evaluations|filter(eval =>  eval.typeIdMatiere==matiere.typeIdMatiere) %}
                                <tr>
                                    <td>{{ matiere.display }}</td>
                                    <td colspan="4">Evaluation existante</td>
                                </tr>
                                {% set nbeval=nbeval+1 %}
                            {% endfor %}

                            {% if nbeval!=matiere.nbNotes+1 %}
                                {% for i in nbeval..matiere.nbNotes %}
                                    <tr>
                                        <td>{{ matiere.display }}</td>
                                        <td>
                                            <input type="text" class="form-control" name="commentaire_{{ matiere
                                            .typeIdMatiere }}_{{ i }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="coefficient_{{ matiere.typeIdMatiere }}_{{ i }}">
                                        </td>
                                        <td>
                                            <select class="form-select" name="typeGroupe_{{ matiere.typeIdMatiere }}_{{ i }}">
                                                {% for tg in typeGroupes %}
                                                    <option value="{{ tg.id }}">{{ tg.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            {% if tabPrevi[matiere.typeIdMatiere] is defined %}
                                                <select class="form-select" multiple name="enseignant_{{ matiere.typeIdMatiere }}_{{ i }}[]">
                                                    {% for enseignant in tabPrevi[matiere.typeIdMatiere] %}
                                                        <option value="{{ enseignant.id }}">{{ enseignant.display }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                Pas de prévisionnel.
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="5">
                            <button type="submit" class="btn btn-primary">Initialiser les évaluations</button>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
{% endblock %}
