{{ include('components/plan_cours/_header.html.twig') }}

<div class="row">
    <div class="col-12">
        Objectif : <br>
        {{ matiere.objet.objectifs|raw }}<br><br>
        {{ form_row(form.description) }} //prérempli
    </div>
    <div class="col-12">
        Compétences et Apprentissages critiques visés
    </div>
    <div class="col-12">
        Liste des ressources à mobiliser
    </div>
    <div class="col-12">
        {{ form_row(form.miseEnOeuvre) }}
    </div>
    <div class="col-12">
        {{ form_row(form.livrables) }}
    </div>
    <div class="col-6">{{ form_row(form.nbNotes) }}</div>
    <div class="col-6">&nbsp;</div>
    <div class="col-3">{{ form_row(form.cmPrevu) }}</div>
    <div class="col-3">{{ form_row(form.tdPrevu) }}</div>
    <div class="col-3">{{ form_row(form.tpPrevu) }}</div>
    <div class="col-3">{{ form_row(form.projetPrevu) }}</div>
</div>


<div class="row">

</div>

{{ form_row(form.modalitesEvaluations) }}
{{ form_row(form.modaliteEncadrementAutonomie) }}


{{ form_row(form.bibliographie) }}
{{ form_row(form.commentaires_step1) }}


