<h3>Plan de cours de la ressource <strong>{{ matiere.display }}</strong></h3>

<h4>Formation {{ matiere.diplomeDisplay }}</h4>

<p>Année universitaire {{ user_data.displayAnneeUniversitaire }}</p>

Formateurs : liste des auteurs du prévisionnel

Description et objectifs de la ressource
{{ form_row(form.description) }} //pré-rempli

Compétences et Apprentissages critiques visés

Liste des SAE associées à la ressource

{{ form_row(form.modalitesEvaluations) }}

{{ form_row(form.coefficient) }}

{{ form_row(form.nbNotes) }}

Nombre d'heures prévues : CM / TD  / TP Prévisionnel?
<div class="row">
    <div class="col-4">{{ form_row(form.cmPrevu) }}</div>
    <div class="col-4">{{ form_row(form.tdPrevu) }}</div>
    <div class="col-4">{{ form_row(form.tpPrevu) }}</div>
</div>


{{ form_row(form.bibliographie) }}

//Upload du fichier ou ajout des séquences

{{ form_row(form.planSuivi) }}
{{ form_row(form.planSuiviCommentaire) }}

{{ form_row(form.objectifsAtteints) }}
{{ form_row(form.objectifsFAtteintsCommentaire) }}

{{ form_row(form.competencesAcquises) }} {#  pas ici ? juste pour matière ?? #}
{{ form_row(form.competencesAcquisesCommentaire) }}

Nombre d'heures réalisées : CM / TD  / TP saisie ?

<div class="row">
    <div class="col-4">{{ form_row(form.cmRealise) }}</div>
    <div class="col-4">{{ form_row(form.tdRealise) }}</div>
    <div class="col-4">{{ form_row(form.tpRealise) }}</div>
</div>

{{ form_row(form.modeEvaluationCommentaire) }}
{{ form_row(form.commentaires) }}



