<div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
        <div class="card card-warning">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.attestation_deplacement'|trans }}</h2>
            </header>
            <div class="card-body">
                <a href="{{ path('administration_covid_attestation_personnel_index') }}" class="btn btn-block
                btn-info">Voir les demandes</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.etudiants'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_etudiant_semestre_add') }}" class="btn btn-sm btn-info"
                       title="{{ 'atitle.creer_nouveau'|trans }}" data-provide="tooltip" data-placement="bottom"><i
                                class="fas fa-plus"></i><span class="sr-only">ajouter des étudiants</span></a>
                </div>
            </header>

            <div class="card-body">
                <div class="row gap-y">
                    {% for semestre in user_data.semestres|filter(semestre => semestre.actif == true) %}
                        <div class="col-md-2"><a
                                    href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
                                    class="btn btn-block btn-primary">
                                {{ semestre.diplome.sigle }} | {{ semestre.libelle }}
                            </a></div>
                    {% endfor %}

                    {% for semestre in user_data.semestres|filter(semestre => semestre.actif == false) %}
                        <div class="col-md-2"><a
                                    href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
                                    class="btn btn-block btn-default">
                                {{ semestre.diplome.sigle }} | {{ semestre.libelle }}
                            </a></div>
                    {% endfor %}

                </div>
                <div class="row gap-y">
                    <div class="col-sm-12 col-md-4">
                        <div><a href="{{ path('administration_etudiant_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.tous.les.etudiants'|trans }}</a></div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div><a href="{{ path('administration_statistique_index') }}"
                                class="btn btn-block btn-primary">
                                {{ 'adm.statistiques.menu'|trans }}</a></div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div><a href="{{ path('administration_cohorte_index') }}" class="btn btn-block btn-primary">
                                {{ 'adm.cohortes'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.personnels'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12"><a href="{{ path('administration_personnel_index') }}"
                                              class="btn btn-block btn-primary"> {{ 'adm.permanents.et.vacataires'|trans }}
                        </a></div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-6">
                        <div><a href="{{ path('administration_previsionnel_index') }}"
                                class="btn btn-block btn-primary">
                                {{ 'adm.previsionnels'|trans }}</a></div>
                    </div>
                    <div class="col-md-6">
                        <div><a href="{{ path('administration_hrs_index') }}" class="btn btn-block btn-primary">
                                {{ 'adm.hrs.primes'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.ppn.menu'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <div><a href="{{ path('administration_matiere_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.programme.pedagogique'|trans }}</a></div>
                    </div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-12">
                        <div><a href="{{ path('administration_groupe_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.type.groupes'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.edt.menu'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_date_new') }}" class="btn btn-sm btn-info"
                       title="Ajouter une date" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                class="sr-only">ajouter un événement</span></a>
                </div>
            </header>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <div><a href="{{ path('administration_edt_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.gerer.edt'|trans }}</a></div>
                    </div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-6 col-sm-12">
                        <div><a href="{{ path('administration_date_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.gerer.dates'|trans }}</a></div>
                    </div>
{#                    <div class="col-md-6 col-sm-12">#}
{#                        <div><a href="{{ path('administration_creneau_bloque_index') }}"#}
{#                                class="btn btn-block btn-primary"> {{ 'adm.gerer.creneaux'|trans }}</a></div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    {% if user_data.departement.optStage %}
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ 'adm.stages'|trans }}</h2>
                    <div class="card-header-actions" style="">
                        <a href="{{ path('administration_stage_periode_index') }}" class="btn btn-sm btn-info"
                           title="Créer une période" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                    class="sr-only">Créer une période de stage</span></a>
                    </div>
                </header>
                <div class="card-body">
                    <div class="row gap-y">
                        {% for periode in stagePeriodes %}
                            <div class="col-md-6">
                                <div>
                                    <a href="{{ path('administration_stage_periode_gestion', {uuid:periode.uuidString}) }}"
                                       class="btn btn-block btn-primary"> Période : <strong>{{ periode.libelle }}
                                            ({{ periode.semestre.display }})</strong></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-12">
                                <div class="alert alert-info">Aucune période de stage.</div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.alternances'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        {% set alternance = false %}
                        {% for annee in user_data.annees|filter(annee => annee.optAlternance == true)  %}
                            {% set alternance = true %}
                            <a href="{{ path('administration_alternance_index',{annee:annee.id}) }}"
                               class="btn btn-block btn-primary"> Alternances pour l'année {{ annee.libelle }}</a>
                        {% endfor %}
                        {% if alternance == false %}
                            <div class="alert alert-info">Aucune année n'est proposée en alternance</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.projet'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_projet_periode_index') }}" class="btn btn-sm btn-info"
                       title="Créer une période de projet" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                class="sr-only">Créer une période de projet</span></a>
                </div>
            </header>
            <div class="card-body">
                <div class="row gap-y">
                    {% for periode in projetPeriodes %}
                        <div class="col-md-6">
                            <div>
                                <a href="{{ path('administration_projet_periode_gestion', {uuid:periode.uuidString}) }}"
                                   class="btn btn-block btn-primary"> Période : <strong>{{ periode.libelle }}
                                        ({{ periode.semestre.display }})</strong></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-12">
                            <div class="alert alert-info">Aucune période de projet.</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.documents'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_document_new') }}" class="btn btn-sm btn-info"
                       title="Ajouter un document" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                class="sr-only">ajouter un document</span></a>
                </div>
            </header>

            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_document_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.les.documents'|trans }}</a></div>

                </div>
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_type_document_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.les.categories.de.document'|trans }}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.articles'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_article_new') }}" class="btn btn-sm btn-info"
                       title="Ajouter un article" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                class="sr-only">Publier un article</span></a>
                </div>
            </header>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_article_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.articles'|trans }}
                        </a>
                        <a href="{{ path('administration_article_categories') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.les.categories.articles'|trans }}
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.actualites.bornes'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_actualite_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.actualites'|trans }}
                        </a></div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_borne_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.bornes'|trans }}
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.structure.departement'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_structure_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.structure.menu'|trans }}</a>
                    </div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_configuration') }}" class="btn btn-block btn-primary">
                            {{ 'adm.configuration.menu'|trans }}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.examens'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_salle_examen_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.salle_examens'|trans }}</a>
                    </div>

                </div>
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_reservation_materiel_commun') }}" class="btn btn-block
                        btn-primary">
                            {{ 'adm.materiel_commun_reservation'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.parametres.departement'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_creneau_cours_index') }}" class="btn btn-block btn-primary">
                            {{ 'adm.creneau_cours_menu'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user_data.departement.optMateriel %}
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ 'adm.materiels'|trans }}</h2>
                    <div class="card-header-actions" style="">
                        <a href="{{ path('administration_materiel_new') }}" class="btn btn-sm btn-info"
                           title="Ajouter un matériel" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                    class="sr-only">aAjouter un matériel</span></a>
                    </div>
                </header>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div>
                                <a href="{{ path('administration_materiel_index') }}"
                                   class="btn btn-block btn-primary">{{ 'gestion.materiel'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div>
                                <a href="{{ path('administration_type_materiel_index') }}"
                                   class="btn btn-block btn-primary">{{ 'gestion.categorie.materiel'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">{{ 'adm.emprunts.menu'|trans }}</h2>
                </header>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div>
                                <a href="{{ path('administration_emprunts_index') }}"
                                   class="btn btn-block btn-primary">{{ 'gestion.des.emprunts'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
