<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.edt'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_date_new') }}" class="btn btn-sm btn-info"
                       title="Ajouter une date" data-provide="tooltip"> <i class="fas fa-plus"></i><span
                                class="sr-only">ajouter un événement</span></a>
                </div>
            </header>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <div><a href="{{ path('administration_edt_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.gerer.edt'|trans }}</a></div>
                    </div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-6 col-sm-12">
                        <div><a href="{{ path('administration_date_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.gerer.dates'|trans }}</a></div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div><a href="{{ path('administration_creneau_bloque_index') }}"
                                class="btn btn-block btn-primary"> {{ 'adm.gerer.creneaux'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.personnels'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12"><a href="{{ path('administration_personnel_index') }}"
                                              class="btn btn-block btn-primary"> {{ 'adm.permanents.et.vacataires'|trans }}
                        </a></div>
                </div>
                <div class="row gap-y">
                    <div class="col-md-6">
                        <div><a href="{{ path('administration_previsionnel_index') }}"
                                class="btn btn-block btn-primary">
                                {{ 'adm.previsionnels'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
