<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.stages'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_stage_periode_index') }}" class="btn btn-sm btn-info"
                       title="Créer une période" data-provide="tooltip"> <i class="ti-plus"></i><span
                                class="sr-only">Créer une période de stage</span></a>
                </div>
            </header>
            <div class="card-body">
                <div class="row gap-y">
                    {% for periode in periodes %}
                        <div class="col-md-6">
                            <div>
                                <a href="{{ path('administration_stage_periode_gestion', {uuid:periode.uuidString}) }}"
                                   class="btn btn-block btn-primary"> Période {{ periode.libelle }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-12">
                            <div class="alert alert-info">Aucune période de stage.</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card"><h2 class="card-title">{{ 'adm.alternances'|trans }}</h2>
            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        {% set alternance = false %}
                        {% for annee in user_data.annees if annee.optAlternance == true %}
                            {% set alternance = true %}
                            <a href="{{ path('administration_alternance_index',{annee:annee.id}) }}"
                               class="btn btn-block btn-primary"> Alternances pour l'année {{ annee.libelle }}</a>
                        {% endfor %}
                        {% if alternance == false %}
                            <div class="alert alert-info">Aucune année n'est proposée en alternance</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
            <header class="card-header">
                <h2 class="card-title">{{ 'adm.documents'|trans }}</h2>
                <div class="card-header-actions" style="">
                    <a href="{{ path('administration_document_new') }}" class="btn btn-sm btn-info"
                       title="Ajouter un document" data-provide="tooltip"> <i class="ti-plus"></i><span
                                class="sr-only">ajouter un document</span></a>
                </div>
            </header>

            <div class="card-body">
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_document_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.les.documents'|trans }}</a></div>

                </div>
                <div class="row gap-y">
                    <div class="col-md-12">
                        <a href="{{ path('administration_type_document_index') }}"
                           class="btn btn-block btn-primary"> {{ 'adm.gerer.les.categories.de.document'|trans }}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
