{% extends 'base.html.twig' %}

{% block header %}
    {{ 'administration.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('default_homepage') }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data
        .isGoodDepartement('ROLE_ASS') or user_data.isGoodDepartement('ROLE_RP') %}
        <div class="row block_admin" {{ stimulus_controller('adm--semestre-maj', {url:path('administration_bloc_etudiant')}) }}>

            <div  {{ stimulus_target('adm--semestre-maj', 'bloc_etudiant') }}>
            {{ include('administration/block_admin/_etudiant.html.twig') }}
            </div>

            <!-- Modal -->
            <div class="modal fade modal-lg" id="semestreAction" tabindex="-1" aria-labelledby="semestreActionLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="semestreActionLabel">Sélectionner un ou plusieurs semestres
                                à
                                activer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for semestre in user_data.semestres %}
                                {% if semestre.actif == true %}
                                    {% set actif = 0 %}
                                {% else %}
                                    {% set actif = 1 %}
                                {% endif %}
                                <div {{ stimulus_controller('adm--semestre', {url:path('administration_semestre_actif', {semestre:semestre.id})}) }}
                                        data-action="adm--semestre:semestre:updated:{{ semestre.id }}@window->adm--semestre-maj#toggle"
                                        style="display: flex; justify-content: space-between; align-items: center">
                                    <p>
                                        {% if semestre.actif == true %}
                                            <span class="semestre-active badge bg-success">Actif</span>
                                        {% else %}
                                            <span class="semestre-active badge bg-danger">Inactif</span>
                                        {% endif %}
                                        <span class="semestre-detail semestre-detail">
                                                {{ semestre.displayAvecTypeDiplome }}
                                            </span>
                                    </p>
                                    {% if semestre.actif == true %}
                                        <button {{ stimulus_action('adm--semestre', 'toggle', 'click') }}
                                                value="{{ semestre.id }}"
                                                data-actif="0"
                                                class="btn btn-primary btn-sm"
                                                data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="{{ 'atitle.masquer_semestre'|trans }}"><i
                                                    class="semestre-btn-active fa fa-eye-slash"></i>
                                        </button>
                                    {% else %}
                                        <button {{ stimulus_action('adm--semestre', 'toggle', 'click') }}
                                                value="{{ semestre.id }}"
                                                data-actif="1"
                                                class="btn btn-primary btn-sm"
                                                data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="{{ 'atitle.afficher_semestre'|trans }}"><i
                                                    class="semestre-btn-active fa fa-eye"></i>
                                        </button>
                                    {% endif %}
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block_admin">
            {{ include('administration/block_admin/_personnels.html.twig') }}
            {{ include('administration/block_admin/_ppn.html.twig') }}
        </div>
        <div class="row block_admin">
            {{ include('administration/block_admin/_edt.html.twig') }}

            {% if user_data.departement.optStage %}
                {{ include('administration/block_admin/_stage.html.twig') }}
            {% endif %}
        </div>
        <div class="row block_admin">
            {{ include('administration/block_admin/_alternance.html.twig') }}
            {{ include('administration/block_admin/_bornes.html.twig') }}
        </div>
        <div class="row block_admin">
            {{ include('administration/block_admin/_document.html.twig') }}
        </div>
        <div class="row block_admin">
            {{ include('administration/block_admin/_qualite.html.twig') }}
            {{ include('administration/block_admin/_structure.html.twig') }}
        </div>
        <div class="row block_admin">
            {{ include('administration/block_admin/_projet.html.twig') }}
            {{ include('administration/block_admin/_salle.html.twig') }}
        </div>
        <div class="row block_admin">
        {% if user_data.departement.optMateriel %}
            {{ include('administration/block_admin/_materiel.html.twig') }}
        {% endif %}
    {% else %}
        {% if user_data.isGoodDepartement('ROLE_QUALITE') %}
            {{ include('administration/block_admin/_etudiant.html.twig') }}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_qualite.html.twig') }}
                {{ include('administration/block_admin/_personnels.html.twig') }}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_ppn.html.twig') }}
                {{ include('administration/block_admin/_edt.html.twig') }}
            </div>
            <div class="row block_admin">
                {% if user_data.departement.optStage %}
                    {{ include('administration/block_admin/_stage.html.twig') }}
                {% endif %}
                {{ include('administration/block_admin/_alternance.html.twig') }}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_projet.html.twig') }}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_document.html.twig') }}
                {{ include('administration/block_admin/_bornes.html.twig') }}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_structure.html.twig') }}
                {{ include('administration/block_admin/_salle.html.twig') }}
            </div>
        {% endif %}
        <div class="row block_admin">
        {% if user_data.isGoodDepartement('ROLE_ABS') or user_data.isGoodDepartement('ROLE_NOTES') %}
            {{ include('administration/block_admin/_etudiant.html.twig') }}
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_STA') %}
            {{ include('administration/block_admin/_stage.html.twig') }}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_alternance.html.twig') }}
                {{ include('administration/block_admin/_document.html.twig') }}
            </div>
        {% endif %}
        <div class="row block_admin">
        {% if user_data.isGoodDepartement('ROLE_PRJ') %}
            {{ include('administration/block_admin/_projet.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_AUTEUR') %}
            </div>
            <div class="row block_admin">
                {{ include('administration/block_admin/_document.html.twig') }}
                {{ include('administration/block_admin/_bornes.html.twig') }}
            </div>
        {% endif %}
        <div class="row block_admin">
        {% if user_data.isGoodDepartement('ROLE_EDT') %}
            {{ include('administration/block_admin/_personnels.html.twig') }}
            {{ include('administration/block_admin/_ppn.html.twig') }}
            </div>
            <div class="row block_admin">
            {{ include('administration/block_admin/_edt.html.twig') }}
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_MAT') %}
            {{ include('administration/block_admin/_materiel.html.twig') }}
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
