{% extends 'base.html.twig' %}

{% block header %}
    {{ 'administration.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('default_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_dashboard'|trans }}">
                <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user_data.isGoodDepartement('ROLE_CDD') or user_data.isGoodDepartement('ROLE_DDE') or user_data.isGoodDepartement('ROLE_ASS') %}
        {{ include('administration/_cdd_dde_ass.html.twig') }}
    {% else %}
        {% if user_data.isGoodDepartement('ROLE_QUALITE') %}
            {{ include('administration/_qualite.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_ABS') %}
            {{ include('administration/_abs.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_NOTES') %}
            {{ include('administration/_notes.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_RP') %}
            {{ include('administration/_rp.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_STA') %}
            {{ include('administration/_sta.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_PRJ') %}
            {{ include('administration/_prj.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_AUTEUR') %}
            {{ include('administration/_auteur.html.twig') }}
        {% endif %}
        {% if user_data.isGoodDepartement('ROLE_EDT') %}
            {{ include('administration/_edt.html.twig') }}
        {% endif %}

        {% if user_data.isGoodDepartement('ROLE_MAT') %}
            {{ include('administration/_materiel.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
