{% extends 'base.html.twig' %}

{% block header %}
    Administration
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.etudiants'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        {% for semestre in user_data.semestres %}
                        <div class="col-md-2"><a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
                                                 class="btn btn-block btn-primary">
                                {{ semestre.libelle }}
                            </a></div>
                        {% endfor %}
                    </div>
                    <div class="row gap-y">
                        <div class="col-sm-4">
                            <div><a href="{{ path('administration_etudiant_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.tous.les.etudiants'|trans }}</a></div>
                        </div>
                        <div class="col-sm-4">
                            <div><a href="{{ path('administration_statistique_index') }}" class="btn btn-block btn-primary">
                                    {{ 'adm.statistiques'|trans }}</a></div>
                        </div>
                        <div class="col-sm-4">
                            <div><a href="{{ path('administration_cohorte_index') }}" class="btn btn-block btn-primary">
                                    {{ 'adm.cohortes'|trans }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.personnels'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12"><a href="{{ path('administration_personnel_index') }}"
                                                  class="btn btn-block btn-primary"> {{ 'adm.permanents.et.vacataires'|trans }}
                            </a></div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-6">
                            <div><a href="{{ path('administration_previsionnel_index') }}" class="btn btn-block btn-primary">
                                    {{ 'adm.previsionnels'|trans }}</a></div>
                        </div>
                        <div class="col-md-6">
                            <div><a href="{{ path('administration_hrs_index') }}" class="btn btn-block btn-primary">
                                    {{ 'adm.hrs.primes'|trans }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.ppn'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_matiere_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.programme.pedagogique'|trans }}</a></div>
                        </div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_groupe_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.type.groupes'|trans }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.documents'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_document_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.gerer.les.documents'|trans }}</a></div>
                        </div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_type_document_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.gerer.les.categories.de.document'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.edt'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_edt_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.gerer.edt'|trans }}</a></div>
                        </div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_date_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.gerer.dates'|trans }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.stages'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-4">
                            <div><a href="{{ path('administration_stage_index', {periode:1}) }}" class="btn btn-block btn-primary"> Période ...</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div><a href="/administration/stages/2" class="btn btn-block btn-primary"> Période ...</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div><a href="/administration/stages/3" class="btn btn-block btn-primary"> Période ...</a>
                            </div>
                        </div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_stage_gestion_index') }}" class="btn btn-block btn-primary"> Gérer
                                    (ajouter période, offres de stages, statistiques)</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.articles'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12"><a href="{{ path('administration_article_new') }}"
                                                  class="btn btn-block btn-primary"> {{ 'adm.ajouter.articles'|trans }}
                            </a></div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12"><a href="{{ path('administration_article_index') }}"
                                                  class="btn btn-block btn-primary"> {{ 'adm.gerer.articles'|trans }}
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.actualites.bornes'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12"><a href="{{ path('administration_actualite_index') }}"
                                                  class="btn btn-block btn-primary"> {{ 'adm.gerer.actualites'|trans }}
                            </a></div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12"><a href="{{ path('administration_borne_index') }}"
                                                  class="btn btn-block btn-primary"> {{ 'adm.gerer.bornes'|trans }}
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card"><h4 class="card-title"><strong>{{ 'adm.structure.formation'|trans }}</strong></h4>
                <div class="card-body">
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_structure_index') }}"
                                    class="btn btn-block btn-primary"> {{ 'adm.structure'|trans }}</a></div>
                        </div>
                    </div>
                    <div class="row gap-y">
                        <div class="col-md-12">
                            <div><a href="{{ path('administration_configuration') }}" class="btn btn-block btn-primary">
                                    {{ 'adm.configuration'|trans }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}