{% block filter_search %}
    <div class="col-6">
        <div class="form-group">
            <label for="{{ id }}" class="sr-only">
                {{ label }}
            </label>
            <input type="text" name="{{ name }}" id="{{ id }}" class="form-control" placeholder="{{ label }}">
        </div>
    </div>
{% endblock %}

{% block filter_range %}
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="{{ id }}" class="sr-only">
                        {{ label }}{# translation domain... #}
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">{{ label_1 }}</span>
                        </div>
                        <input type="text" name="{{ name }}_1" id="{{ id }}_1" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">{{ label_2 }}</span>
                        </div>
                        <input type="text" name="{{ name }}_2" id="{{ id }}_2" class="form-control">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block filter_select %}
    <div class="col-3">
        <div class="form-group">
            <label for="{{ id }}" class="sr-only">
                {{ label }}
            </label>
            <select name="{{ name }}" id="{{ id }}" class="form-control">
                <option value="">{{ label }}</option>
                {% for label, value in choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}

{% block filter_select_expanded %}
    <div class="col-3">

        <div class="form-group">
            <label>
                {{ label }}
            </label>
            {% set i = 1 %}
            <div class="row">
                {% for label, value in choices %}

                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="{{ type }}" value="{{ value }}"
                                   name="{{ name }}"
                                   id="{{ name }}_{{ i }}">
                            <label class="form-check-label" for={{ name }}_{{ i }}">
                                {{ label }}
                            </label>
                        </div>
                    </div>

                    {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

