{% macro attributes(attr) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endmacro -%}

<my-table {{ _self.attributes(attr) }}>

    {% block toolbar %}
        {{ fitlers_render(filters) }}
    {% endblock %}

    {% block table %}
        <div class="table-responsive">
            <table {{ _self.attributes(table_attr) }}>
                <thead>
                <tr>
                    {% for column in columns %}
                        <th {{ _self.attributes(column.attr) }}>
                            {%- if column.label is not empty %}
                                {%- if column.translation_domain %}
                                    {{- (column.label) | trans([], column.translation_domain) | raw -}}
                                {% else -%}
                                    {{- (column.label) | raw -}}
                                {% endif -%}
                            {% else %}
                                {%- if column.translation_domain %}
                                    {{- (column.name) | trans([], column.translation_domain) | raw -}}
                                {% else -%}
                                    {{- (column.name) | raw -}}
                                {% endif -%}
                            {% endif -%}

                            {% if column.sortable == true %} &#9650;{% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                </tr>

                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block paging %}
        <div class="row" id="{{ paging_attr.id }}_bloc">
            <div class="col-3">
                <select class="form-control" id="{{ paging_attr.id }}_select">
                    {% for length in paging_attr.lengths %}
                        <option value="{{ length }}" {% if length == paging_attr.length %}selected="selected"{% endif %}>{{ length }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3" id="{{ paging_attr.id }}_middle"></div>
            <div class="col-6">
                <nav id="{{ paging_attr.id }}_nav">

                </nav>
            </div>
        </div>
    {% endblock %}
</my-table>
