<div class="row gap-y">
  <div class="col-sm-2">
    <label for="affichejour" class="sr-only">Jour de la semaine</label>
    <select class="form-control" id="affichejour" name="affichejour">
      <option value="">{{ 'edt.filtrer.jour'|trans }}</option>
      <option value="1">Lundi</option>
      <option value="2">Mardi</option>
      <option value="3">Mercredi</option>
      <option value="4">Jeudi</option>
      <option value="5">Vendredi</option>
    </select>
  </div>
  <div class="col-sm-2">
    <label for="affichesalle" class="sr-only">Salle</label>
    <select class="form-control" id="affichesalle" name="affichesalle" is="select-complete">
      <option value="">{{ 'edt.filtrer.salle'|trans }}</option>
      {% for salle in salles %}
        <option value="{{ salle.libelle }}">{{ salle.libelle }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-2">
    <label for="affichepersonnel" class="sr-only">Personnel</label>
    <select class="form-control" id="affichepersonnel" name="affichepersonnel" is="select-complete">
      <option value="">{{ 'edt.filtrer.personnel'|trans }}</option>
      {% for personnel in personnels %}
        <option value="{{ personnel.id }}">{{ personnel.displayPr }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-3">
    <label for="affichematiere" class="sr-only">Matière</label>
    <select class="form-control" name="affichematiere" id="affichematiere" is="select-complete">
      <option value="">{{ 'edt.filtrer.matiere'|trans }}</option>
      {% for matiere in matieres %}
          <option value="{{ matiere.typeIdMatiere }}">{{ matiere.display }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-3">
    <label for="affichesemaine" class="sr-only">Semaine</label>
    <select class="form-control" name="affichesemaine" id="affichesemaine" is="select-complete">
      <option value="">{{ 'edt.filtrer.semaine'|trans }}</option>
      {% for sem in edt.semaines %}
        <option value="{{ edt.filtre }}_{{ edt.valeur }}_{{ sem.semaineReelle }}">
          du {{ sem.debut|format_date('short') }} au {{ sem.fin|format_date('short') }} |
          S{{ sem.semaineIUT }}</option>
      {% endfor %}
    </select>
  </div>

</div>
