{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    {% for question in questions %}
        <label for="q_{{ question.id }}">{{ question.libelle }}</label>
        <div>
            {% for reponse in question.quizzReponses %}
                <input type="{{ question.type|type_question }}" name="answer[{{ question.id }}]" value="{{ reponse.valeur }}">{{ reponse.libelle }}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

