{% extends 'base.html.twig' %}

{% block header %}{{ 'app.personnel.plan_cours.new.heading'|trans({'%matiere%': matiere.display}) }}{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('app_plan_cours_export_pdf', {id:previsionnel.id}) }}" class="btn btn-info btn-sm
            btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.export_pdf'|trans }}">
                <i class="fas fa-download"></i>
            </a>
            <a href="{{ path('application_index', {onglet:'plan_cours'}) }}" class="btn btn-primary btn-float"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ 'atitle.retour_plan_cours'|trans }}">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.plan_cours.new.heading'|trans({'%matiere%': matiere.display}) }}</h4>
        <div class="card-body" {{ stimulus_controller('plan_cours--new', {
            urlStep: path('app_plan_cours_apc_step', {previsionnel:previsionnel.id}),
            step:step
        }) }}>

            <div {{ stimulus_target('plan_cours--new', 'content') }}>

            </div>
        </div>
    </div>
{% endblock %}

