{% extends 'base.html.twig' %}

{% block header %}
    Plan de cours : <strong>{{ matiere.display }}</strong>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_index',{onglet:'plan_cours'}) }}"
               class="btn btn-primary btn-float"
               data-bs-toggle="tooltip" data-bs-placement="bottom"

               title="{{ 'retour_applications'|trans }}">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'retour_applications'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">Plan de cours : <strong>{{ matiere.display }}</strong></h4>
        <div class="card-body">
            {{ include('components/plan_cours/show/'~template) }}
        </div>
    </div>
{% endblock %}
