{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.semestre.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('composants/sadm-buttons-edit.html.twig', {elt: 'semestre', id:semestre.id, retour: {path: 'sa_structure_index', titre: 'atitle.retour_structure'|trans, params:{departement:semestre.annee.diplome.departement.id}}}) }}
        {% else %}
            {{ include('composants/adm-buttons-edit.html.twig', {elt: 'semestre', id:semestre.id, retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.structure.semestre.modification.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}
