{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.semestre.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('composants/sadm-buttons-show.html.twig', {elt: 'semestre', id: semestre.id, retour: {path:
                'sa_structure_index', titre: 'atitle.retour_structure'|trans, params:{departement:semestre.annee.diplome.departement.id}}}) }}
        {% else %}
            {{ include('composants/adm-buttons-show.html.twig', {elt: 'structure_semestre', id: semestre.id, retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
        {% endif %}       </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.structure.semestre.show.heading'|trans }}</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <td>{{ semestre.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.libelle'|trans }}</th>
                <td>{{ semestre.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.annee'|trans }}</th>
                <td>{{ semestre.annee ? semestre.annee.libelle : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.code_apogee'|trans }}</th>
                <td>{{ semestre.codeApogee }}</td>
            </tr>
            <tr>
                <th>{{ 'table.code_version'|trans }}</th>
                <td>{{ semestre.codeVersion }}</td>
            </tr>
            <tr>
                <th>{{ 'table.code_departement'|trans }}</th>
                <td>{{ semestre.codeDepartement }}</td>
            </tr>
            <tr>
                <th>{{ 'table.couleur'|trans }}</th>
                <td>{{ semestre.couleur }}</td>
            </tr>
            <tr>
                <th>{{ 'table.ordre_annee'|trans }}</th>
                <td>{{ semestre.ordreAnnee }}</td>
            </tr>
            <tr>
                <th>{{ 'table.ordre_lmd'|trans }}</th>
                <td>{{ semestre.ordreLmd }}</td>
            </tr>
            <tr>
                <th>{{ 'table.actif'|trans }}</th>
                <td>{{ semestre.actif ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.nb_groupes_td'|trans }}</th>
                <td>{{ semestre.nbGroupesTd }}</td>
            </tr>
            <tr>
                <th>{{ 'table.nb_groupes_tp'|trans }}</th>
                <td>{{ semestre.nbGroupesTP }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_releve'|trans }}</th>
                <td>{{ semestre.optMailReleve ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_destinataire_mail_releve'|trans }}</th>
                <td>{{ semestre.optDestMailReleve ? semestre.optDestMailReleve.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_evaluation_modifiable'|trans }}</th>
                <td>{{ semestre.optEvaluationModifiable ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_modification_note'|trans }}</th>
                <td>{{ semestre.optMailModificationNote ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_destinataure_mail_modification_note'|trans }}</th>
                <td>{{ semestre.optDestMailModifNote ? semestre.optDestMailModifNote.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_evaluation_visible'|trans }}</th>
                <td>{{ semestre.optEvaluationVisible ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>

            <tr>
                <th>{{ 'table.opt_penalite_absence'|trans }}</th>
                <td>{{ semestre.optPenaliteAbsence ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_point_penalite_absence'|trans }}</th>
                <td>{{ semestre.optPointPenaliteAbsence }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_absence_responsable'|trans }}</th>
                <td>{{ semestre.optMailAbsenceResp ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_destinataure_mail_absence_responsable'|trans }}</th>
                <td>{{ semestre.optMailAbsenceResp ? semestre.optMailAbsenceResp.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_absence_etudiant'|trans }}</th>
                <td>{{ semestre.optMailAbsenceEtudiant ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>

            <tr>
                <th>{{ 'table.semestre_suivant'|trans }}</th>
                <td>{{ semestre.suivant ? semestre.suivant.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.semestre_precedent'|trans }}</th>
                <td>{{ semestre.precedent ? semestre.precedent.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'semestre.semestre_decale'|trans }}</th>
                <td>{{ semestre.decale ? semestre.decale.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.created'|trans }}</th>
                <td>{{ semestre.created ? semestre.created|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'table.updated'|trans }}</th>
                <td>{{ semestre.updated ? semestre.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
