{% extends is_granted('ROLE_SUPER_ADMIN') ? 'base-super_admin.html.twig' : 'base.html.twig' %}

{% block header %}
    {{ 'adm.structure.semestre.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ include('composants/sadm-buttons-show.html.twig', {elt: 'semestre', id: semestre.id, retour: {path:
                'sa_structure_index', titre: 'atitle.retour_structure'|trans, params:{departement:semestre.annee.diplome.departement.id}}}) }}
        {% else %}
            {{ include('composants/adm-buttons-show.html.twig', {elt: 'semestre', id: semestre.id, retour: {path: 'administration_structure_index', titre: 'atitle.retour_structure'|trans}}) }}
        {% endif %}       </div>
{% endblock %}

{% block content %}
<div class="card">
    <h4 class="card-title">{{ 'adm.structure.semestre.show.heading'|trans }}</h4>
    <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <td>{{ semestre.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.libelle'|trans }}</th>
                <td>{{ semestre.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'table.annee'|trans }}</th>
                <td>{{ semestre.annee ? semestre.annee.libelle : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.code_element'|trans }}</th>
                <td>{{ semestre.codeElement }}</td>
            </tr>
            <tr>
                <th>{{ 'table.ordre_annee'|trans }}</th>
                <td>{{ semestre.ordreAnnee }}</td>
            </tr>
            <tr>
                <th>{{ 'table.ordre_lmd'|trans }}</th>
                <td>{{ semestre.ordreLmd }}</td>
            </tr>
            <tr>
                <th>{{ 'table.actif'|trans }}</th>
                <td>{{ semestre.actif|badgeYesNo }}</td>
            </tr>
            <tr>
                <th>{{ 'table.nb_groupes_td'|trans }}</th>
                <td>{{ semestre.nbGroupesTd }}</td>
            </tr>
            <tr>
                <th>{{ 'table.nb_groupes_tp'|trans }}</th>
                <td>{{ semestre.nbGroupesTP }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_releve'|trans }}</th>
                <td>{{ semestre.optMailReleve|badgeYesNo }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_destinataire_mail_releve'|trans }}</th>
                <td>{{ semestre.optDestMailReleve ? semestre.optDestMailReleve.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_evaluation_modifiable'|trans }}</th>
                <td>{{ semestre.optEvaluationModifiable|badgeYesNo }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_modification_note'|trans }}</th>
                <td>{{ semestre.optMailModificationNote|badgeYesNo }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_destinataure_mail_modification_note'|trans }}</th>
                <td>{{ semestre.optDestMailModifNote ? semestre.optDestMailModifNote.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_evaluation_visible'|trans }}</th>
                <td>{{ semestre.optEvaluationVisible|badgeYesNo }}</td>
            </tr>

            <tr>
                <th>{{ 'table.opt_penalite_absence'|trans }}</th>
                <td>{{ semestre.optPenaliteAbsence|badgeYesNo }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_point_penalite_absence'|trans }}</th>
                <td>{{ semestre.optPointPenaliteAbsence }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_absence_responsable'|trans }}</th>
                <td>{{ semestre.optMailAbsenceResp|badgeYesNo }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_destinataure_mail_absence_responsable'|trans }}</th>
                <td>{{ semestre.optMailAbsenceResp ? semestre.optMailAbsenceResp.display : 'non.defini'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'table.opt_mail_absence_etudiant'|trans }}</th>
                <td>{{ semestre.optMailAbsenceEtudiant|badgeYesNo }}</td>
            </tr>

            <tr>
                <td>Liens avec les autres semestres</td>
                <td>
                    <ul>
                    {% for semestre in semestre.semestreLienDepart %}
                        <li>{{ semestre.semestreLienArrive.displayLong }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
              <th>{{ 'table.created'|trans }}</th>
              <td>{{ semestre.created ? semestre.created|format_datetime('long', 'short') : '' }}</td>
            </tr>
            <tr>
              <th>{{ 'table.updated'|trans }}</th>
              <td>{{ semestre.updated ? semestre.updated|format_datetime('long', 'short') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
