{% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
<h4>Vos informations</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.personnel.prenom) }}
        {{ form_row(form.personnel.mail_univ) }}
        {{ form_row(form.personnel.date_naissance) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.personnel.nom) }}
        {{ form_row(form.personnel.mail_perso) }}
        {{ form_row(form.personnel.lieuNaissance) }}
    </div>
</div>
<h4>Adresse de votre domicile</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.personnel.adresse.adresse1) }}
        {{ form_row(form.personnel.adresse.adresse2) }}
        {{ form_row(form.personnel.adresse.adresse3) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.personnel.adresse.code_postal) }}
        {{ form_row(form.personnel.adresse.ville) }}
        {{ form_row(form.personnel.adresse.pays) }}
    </div>
</div>
<h4>Motif et dates de votre/vos déplacements</h4>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.motif) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.moyenDeplacement) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.diplome) }}
        {{ form_row(form.covidCreneauPresences) }}
    </div>
</div>


<button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>

{% if button_label is defined and button_label == 'update'|trans %}
    <button class="btn btn-success" value="redirect_to_index" name="btn_update">{{ 'button_update_index'|trans }}</button>
{% endif %}
{{ form_end(form) }}
