{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.covid.attestation.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('application_personnel_covid_attestation_personnel_new') }}"
               class="btn btn-info btn-sm btn-float"
               title="{{ 'atitle.creer_nouveau'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="fas fa-plus"></i>
                <span class="sr-only">{{ 'atitle.creer_nouveau'|trans }}</span>
            </a>

            <a href="{{ path('default_homepage') }}"
               class="btn btn-primary btn-float"
               data-provide="tooltip"
               data-placement="bottom"
               title="{{ 'atitle.retour_dashboard'|trans }}">
                <span class="material-icons">dashboard</span></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.covid.attestation.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" data-provide="datatables" data-checkbox="true">
                <thead>
                <tr>
                    <th>Date de la demande</th>
                    <th>Créneaux présence</th>
                    <th>Motif</th>
                    <th>Validation Département</th>
                    <th>Validation Direction</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for covid_attestation_personnel in covid_attestation_personnels %}
                    <tr id="ligne_{{ covid_attestation_personnel.id }}">
                        <td>{{ covid_attestation_personnel.created ? covid_attestation_personnel.created|format_datetime
                                ('short', 'short') : '' }}</td>
                        <td>
                            <ul>{% for creneau in covid_attestation_personnel.covidCreneauPresences %}
                                    <li>{{ creneau.display }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ covid_attestation_personnel.motif|trans }}</td>
                        <td class="{{ covid_attestation_personnel.validationDepartement|bg }}">{{ covid_attestation_personnel.validationDepartementDisplay|trans }}</td>
                        <td class="{{ covid_attestation_personnel.validationDirection|bg }}">{{ covid_attestation_personnel
                            .validationDirectionDisplay|trans }}</td>
                        <td>
                            <a href="{{ path('application_personnel_covid_attestation_personnel_duplicate', {'id':
                                covid_attestation_personnel.id}) }}"
                               class="btn btn-success btn-outline btn-square"
                               data-provide="tooltip"
                               data-placement="bottom"
                               title="{{ 'atitle.dupliquer'|trans }}">
                                <i class="{{ iconDuplicate }}"></i>
                                <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
                            </a>
                            <a href="{{ path('application_personnel_covid_attestation_personnel_show', {'id': covid_attestation_personnel.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-provide="tooltip"
                               data-placement="bottom"
                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>

                            {% if covid_attestation_personnel.validationDirection == null or covid_attestation_personnel
                                .validationDirection == false %}
                                <a href="{{ path('application_personnel_covid_attestation_personnel_edit', {'id': covid_attestation_personnel.id}) }}"
                                   class="btn btn-warning btn-outline btn-square"
                                   data-provide="tooltip"
                                   data-placement="bottom"
                                   title="{{ 'atitle.modifier'|trans }}">
                                    <i class="{{ iconEdit }}"></i>
                                    <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                                </a>
                                <a href="{{ path('application_personnel_covid_attestation_personnel_delete', {id: covid_attestation_personnel.id}) }}"
                                   data-csrf="{{ csrf_token('delete' ~ covid_attestation_personnel.id) }}"
                                   class="btn btn-danger btn-outline btn-square supprimer"
                                   data-provide="tooltip"
                                   data-placement="bottom"
                                   title="{{ 'atitle.supprimer'|trans }}">
                                    <i class="{{ iconDelete }}"></i>
                                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                                </a>
                            {% endif %}
                            {% if covid_attestation_personnel.validationDirection == true %}
                                <a href="{{ path('application_personnel_covid_attestation_personnel_pdf', {'id':
                                    covid_attestation_personnel.id}) }}"
                                   class="btn btn-info btn-outline btn-square"
                                   data-provide="tooltip"
                                   data-placement="bottom"
                                   title="{{ 'atitle.print'|trans }}">
                                    <i class="{{ iconPrint }}"></i>
                                    <span class="sr-only">{{ 'atitle.print'|trans }}</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
