{% extends 'base.html.twig' %}

{% block header %}
    {{ 'app.personnel.covid.attestation.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            {% if covid_attestation_personnel.validationDirection == null or covid_attestation_personnel
                .validationDirection == false %}
                <a href="{{ path('application_personnel_covid_attestation_personnel_delete', {id:
                    covid_attestation_personnel.id}) }}"
                   data-csrf="{{ csrf_token('delete' ~ covid_attestation_personnel.id) }}"
                   class="btn btn-danger btn-sm btn-float supprimer"
                   title="{{ 'atitle.supprimer'|trans }}"
                   data-provide="tooltip"
                   data-placement="bottom">
                    <i class="{{ iconDelete }}"></i>
                    <span class="sr-only">{{ 'atitle.supprimer'|trans }}</span>
                </a>
                <a href="{{ path('application_personnel_covid_attestation_personnel_edit', {id: covid_attestation_personnel
                    .id}) }}"
                   class="btn btn-warning btn-sm btn-float"
                   title="{{ 'atitle.modifier'|trans }}"
                   data-provide="tooltip"
                   data-placement="bottom">
                    <i class="{{ iconEdit }}"></i>
                    <span class="sr-only">{{ 'atitle.modifier'|trans }}</span>
                </a>
            {% endif %}
            <a href="{{ path('application_personnel_covid_attestation_personnel_duplicate', {id:
                covid_attestation_personnel.id}) }}"
               class="btn btn-success btn-sm btn-float"
               title="{{ 'atitle.dupliquer'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="{{ iconDuplicate }}"></i>
                <span class="sr-only">{{ 'atitle.dupliquer'|trans }}</span>
            </a>
            <a href="{{ path('application_personnel_covid_attestation_personnel_pdf', {id: covid_attestation_personnel
                .id}) }}"
               class="btn btn-primary btn-sm btn-float"
               title="{{ 'atitle.print'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="{{ iconPrint }}"></i>
                <span class="sr-only">{{ 'atitle.print'|trans }}</span>
            </a>
            <a href="{{ path('application_personnel_covid_attestation_personnel_index') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_liste'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_liste'|trans }}</span>
            </a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'app.personnel.covid.attestation.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Demande du</th>
                    <td>{{ covid_attestation_personnel.created ? covid_attestation_personnel.created|format_datetime
                            ('medium', 'short') }}</td>
                </tr>
                <tr>
                    <th>Moyen de Deplacement</th>
                    <td>{{ covid_attestation_personnel.moyenDeplacement }}</td>
                </tr>
                <tr>
                    <th>Duree de Validitée</th>
                    <td>{{ covid_attestation_personnel.dureeValiditee }}</td>
                </tr>
                <tr>
                    <th>Motif</th>
                    <td>{{ covid_attestation_personnel.motif|trans }}</td>
                </tr>
                <tr>
                    <th>Validation Departement</th>
                    <td>{{ covid_attestation_personnel.validationDepartementDisplay|trans }}</td>
                </tr>
                <tr>
                    <th>Validation Direction</th>
                    <td>{{ covid_attestation_personnel.validationDirectionDisplay|trans }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
