{% for pers in personnels %}
    <tr>
        <td>{{ pers.nom }}</td>
        <td>{{ pers.prenom }}</td>
        <td>{{ pers.numeroHarpege }}</td>
        <td>{{ pers.username }}</td>
        <td>{{ pers.mail_univ }}</td>
        <td>
            <button
                    class="btn btn-success btn-outline btn-square"
                    data-provide="tooltip"
                    data-placement="bottom"
                    {{ stimulus_action('adm--personnel--add', 'addPersonnel', 'click', {slug: pers.slug}) }}
                    title="Ajouter au departement"
            >
                <i class="fas fa-plus"></i>
            </button>
        </td>
    </tr>
{% else %}
    <tr id="ligne-no-result">
        <td colspan="6">Saisissez quelques caractères pour afficher des résultats</td>
    </tr>
{% endfor %}
