{% extends 'base.html.twig' %}

{% block header %}
{{ 'adm.personnel.add.titre'|trans }}
{% endblock %}

{%block headeractions %}
<div class="header-action">
    <div class="buttons">
        <a href="{{ path('administration_personnel_index', {type:'permanent'}) }}" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}" data-provide="tooltip"
           data-placement="bottom"><i class="ti-arrow-left"></i></a>
    </div></div>
{% endblock %}

{% block content %}
    <div class="card">
    <h4 class="card-title">{{ 'adm.personnel.add.titre'|trans }}</h4>
    <div class="card-body">
        <div class="form-group">
            <label class="control-label" for="login_urca">Login URCA, nom ou prénom du nouvel intervenant :</label>

            <input type="text" name="login_urca" id="login_urca" class="form-control"
                   placeholder="Saisissez les premiers caractères">

        </div>
        <div>
            <button type="submit" class="btn btn-block btn-warning">Vérifiez si l'intervenant est déjà présent dans un
                autre departement.
            </button>
            <br>
        </div>
        <br/>
        <table class="table table-striped table-bordered" id="table-resultat">
            <thead>
            <tr>
                <th>{{ 'table.nom'|trans }}</th>
                <th>{{ 'table.prenom'|trans }}</th>
                <th>{{ 'table.login'|trans }}</th>
                <th>{{ 'table.mail_univ'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody id="result">
            <tr id="ligne-no-result">
                <td colspan="5">Saisissez quelques caractères pour afficher des résultats</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
