{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.personnel.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
<div class="header-action">
    {{ include('composants/adm-buttons-edit.html.twig', {elt:'personnel', id: personnel.id}) }}

</div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.personnel.modification.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('common_form/_addPersonnel.html.twig',{'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sadm.personnels') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sadm.personnels') }}
{% endblock %}
