<form data-provide="wizard">
    <input type="hidden" value="{{ questionnaire.uuidString }}" id="questionnaire">
    <ul class="nav nav-process nav-process-circle">
        <li class="nav-item">
            <span class="nav-title">Introduction</span>
            <a class="nav-link" data-toggle="tab" href="#wizard-intro"></a>
        </li>
        {% for qualiteQuestionnaireSection in questionnaire.qualiteQuestionnaireSections %}
            <li class="nav-item">
                <span class="nav-title">Section {{ qualiteQuestionnaireSection.ordre }}</span>
                <a class="nav-link" data-toggle="tab" href="#wizard-section-{{ qualiteQuestionnaireSection.id }}"></a>
            </li>
        {% endfor %}

        <li class="nav-item">
            <span class="nav-title">Confirmation</span>
            <a class="nav-link" data-toggle="tab" href="#wizard-fin"></a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane fade active show" id="wizard-intro">
            <p class="text-center fs-35 text-muted"><strong class="text-primary">Bienvenue</strong>
                sur le questionnaire {{ questionnaire.libelle }}</p>
            <p class="text-center text-gray">{{ questionnaire.texteDebut }}</p>
            <hr class="w-100px">
            <div class="alert alert-info">Questionnaire à compléter entre le {{ questionnaire
                .dateOuverture|format_date
                    ('short') }}au {{ questionnaire.dateFermeture|format_date('short') }}.
            </div>
        </div>


        {% for qualiteQuestionnaireSection in questionnaire.qualiteQuestionnaireSections %}
            <div class="tab-pane fade" {% if is_granted('ROLE_ETUDIANT') %}data-provide="validation"{% endif %}
                 id="wizard-section-{{ qualiteQuestionnaireSection.id }}">
                {% if is_granted('ROLE_ETUDIANT') %}
                    {{ render(controller(
                        'App\\Controller\\appEtudiant\\QualiteController::section',
                        {qualiteQuestionnaireSection:qualiteQuestionnaireSection.id}
                    )) }}
                {% elseif is_granted('ROLE_QUALITE') or is_granted('ROLE_SUPER_ADMIN') %}
                    {{ render(controller(
                        'App\\Controller\\superAdministration\\enquete\\EnqueteController::section',
                        {qualiteQuestionnaireSection:qualiteQuestionnaireSection.id, semestre:semestre.id}
                    )) }}
                {% endif %}
            </div>
        {% endfor %}


        <div class="tab-pane fade" id="wizard-fin">
            <p class="text-center fs-35 text-muted"><strong class="text-primary">Merci</strong></p>
            <p class="text-center text-gray">{{ questionnaire.textFin }}</p>
            <hr class="w-100px">
            <div class="alert alert-warning">Pour compléter votre questionnaire, n'oubliez pas de cliquer
                                             sur "terminer" pour recevoir l'accusé de réception.
            </div>
        </div>
    </div>

    <hr>

    <div class="flexbox">
        <button class="btn btn-secondary" data-wizard="prev" type="button">Précédent</button>
        <button class="btn btn-secondary" data-wizard="next" type="button">Suivant</button>
        <a href="{{ path('app_etudiant_qualite_questionnaire_complete', {uuid: questionnaire.uuidString}) }}"
           class="btn btn-primary d-none"
           data-wizard="finish"
           type="submit">Terminer</a>
    </div>
</form>
