<a href="{{ path('administration_'~elt~'_show', {'id': id}) }}"
   class="btn btn-info btn-outline btn-square" data-provide="tooltip"
   data-placement="bottom" title="{{ 'atitle.details'|trans }}"><i class="ti-eye"></i></a>
<a href="{{ path('administration_'~elt~'_edit', {'id': id}) }}"
   class="btn btn-warning btn-outline btn-square"><i class="ti-pencil"
                                                     data-provide="tooltip"
                                                     data-placement="bottom"
                                                     title="{{ 'atitle.modifier'|trans }}"></i></a>
<a href="{{ path('administration_'~elt~'_delete', {id: id}) }}" data-csrf="{{ csrf_token('delete' ~ id) }}"
   class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
            class="ti-close" data-provide="tooltip" data-placement="bottom"
            title="{{ 'atitle.supprimer'|trans }}"></i></a>