<div class="buttons">
    <a href="{{ path('administration_'~ elt ~ '_new') }}"
       class="btn btn-info btn-sm btn-float"
       title="{{ 'atitle.creer_nouveau'|trans }}"
       data-bs-toggle="tooltip" data-bs-placement="bottom"
    >
        <i class="fas fa-plus"></i>
        <span class="sr-only">{{ 'atitle.creer_nouveau'|trans }}</span>
    </a>
    {% if retour is defined %}
        <a href="{{ path(retour.path) }}"
           class="btn btn-primary btn-float"
           data-bs-toggle="tooltip" data-bs-placement="bottom"

           title="{{ retour.titre }}">
            <i class="fas fa-home"></i>
            <span class="sr-only">{{ retour.titre }}</span>
        </a>
    {% else %}
        <a href="{{ path('administration_index') }}"
           class="btn btn-primary btn-float"
           data-bs-toggle="tooltip" data-bs-placement="bottom"

           title="{{ 'atitle.retour_administration'|trans }}">
            <i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
    {% endif %}
</div>
