{% form_theme form 'form/my-form.html.twig' %}
{{ form_start(form) }}
{#{{ dump(form.dateRange) }}#}
    {{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
{{ form_end(form) }}