{% if adresse != null %}
    <tr>
        <th>{{ 'table.adresse'|trans }}</th>
        <td>
            {% if editable is defined and editable == 'true' %}
                <a class="editable"
                   data-field="adresse1"
                   data-href="{{ path('adresse_ajax_edit', {id:adresse.id}) }}"
                   title="Corriger l'adresse">
                    {{ adresse.adresse1 }}
                </a>
                <br/>
                <a class="editable"
                   data-field="adresse2"
                   data-href="{{ path('adresse_ajax_edit', {id:adresse.id}) }}"
                   title="Corriger l'adresse">
                    {{ adresse.adresse2 }}
                </a>

                <br/> <a class="editable"
                         data-field="adresse3"
                         data-href="{{ path('adresse_ajax_edit', {id:adresse.id}) }}"
                         title="Corriger l'adresse">
                {{ adresse.adresse3 }}
            </a>
                <br/><a class="editable"
                        data-field="codepostal"
                        data-href="{{ path('adresse_ajax_edit', {id:adresse.id}) }}"
                        title="Corriger l'adresse">
                {{ adresse.codepostal }}
            </a> <a class="editable"
                    data-field="ville"
                    data-href="{{ path('adresse_ajax_edit', {id:adresse.id}) }}"
                    title="Corriger l'adresse">
                {{ adresse.ville }}
            </a>
                <br/><a class="editable"
                        data-field="pays"
                        data-href="{{ path('adresse_ajax_edit', {id:adresse.id}) }}"
                        title="Corriger l'adresse">
                {{ adresse.pays }}
            </a>

            {% else %}
                {{ adresse.adresse1 }}
                {% if adresse.adresse2 != '' %}
                    <br/>{{ adresse.adresse2 }}
                {% endif %}

                {% if adresse.adresse3 != '' %}
                    <br/>{{ adresse.adresse3 }}
                {% endif %}

                <br/>{{ adresse.codepostal }} {{ adresse.ville }}
                <br/>{{ adresse.pays }}
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <th>{{ 'table.adresse'|trans }}</th>
        <td>{{ 'non.defini'|trans }}</td>
    </tr>
{% endif %}
