{% if adresse != null %}
    <p>
        {{ adresse.adresse1 }}
        {% if adresse.adresse2 != '' %}
            <br/>{{ adresse.adresse2 }}
        {% endif %}

        {% if adresse.adresse3 != '' %}
            <br/>{{ adresse.adresse3 }}
        {% endif %}

        <br/>{{ adresse.codepostal }} {{ adresse.ville }}
        <br/>{{ adresse.pays }}
    </p>
{% else %}
    <twig:Alert type="info">{{ 'aucune.adresse.fournie'|trans }}</twig:Alert>
{% endif %}
