{% if entreprise != null %}
    <tr>
        <th>{{ 'table.entreprise'|trans }}</th>
        <td>
            {% if editable is defined and editable == 'true' %}
                <a class="editable"
                   data-field="raisonSociale"
                   data-href="{{ path('entreprise_ajax_edit', {id:entreprise.id}) }}"
                   title="Corriger la raison sociale de l'entreprise">
                    {{ entreprise.raisonSociale }}
                </a>
            {% else %}
                {{ entreprise.raisonSociale }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'table.siret'|trans }}</th>
        <td>
            {% if editable is defined and editable == 'true' %}
                <a class="editable"
                   data-field="siret"
                   data-href="{{ path('entreprise_ajax_edit', {id:entreprise.id}) }}"
                   title="Corriger le numéro de siret de l'entreprise">
                    {{ entreprise.siret }}
                </a>
            {% else %}
                {{ entreprise.siret|siret_format }}
            {% endif %}
        </td>
    </tr>

    {% if editable is defined and editable == 'true' %}
        {{ include('composants/adresse_array.html.twig', {adresse:entreprise.adresse,editable:'true'}) }}
    {% else %}
        {% if entreprise.adresse != null %}
            {{ include('composants/adresse_array.html.twig', {adresse:entreprise.adresse}) }}
        {% else %}
            <tr>
                <th>{{ 'table.adresse'|trans }}</th>
                <td>{{ 'non.defini'|trans }}</td>
            </tr>
        {% endif %}
    {% endif %}


    {% if editable is defined and editable == 'true' %}
        {{ include('composants/contact_array.html.twig', {contact:entreprise.responsable,editable:'true'}) }}
    {% else %}
        {% if entreprise.responsable != null %}
            {{ include('composants/contact_array.html.twig', {contact:entreprise.responsable}) }}
        {% else %}
            <tr>
                <th>{{ 'table.responsable'|trans }}</th>
                <td>
                    {{ 'non.defini'|trans }} </td>
            </tr>
        {% endif %}
    {% endif %}
{% else %}
    <tr>
        <th>{{ 'table.entreprise'|trans }}</th>
        <td>{{ 'non.defini'|trans }}</td>
    </tr>
{% endif %}
