<div class="fab fab-fixed">
    <button class="btn btn-float btn-primary" data-toggle="button">
        <i class="fab-icon-default fas fa-plus"></i>
        <i class="fab-icon-active fas fa-times"></i>
        <span class="sr-only">Bouton déroulant</span>
    </button>

    <ul class="fab-buttons">
        {% for bouton in boutons %}
            <li><a class="btn btn-float btn-sm btn-{{ bouton.type }}" href="{{ bouton.href }}"
                   title="{{ bouton.title }}" data-provide="tooltip"
                   data-placement="left"
                   {% if bouton.id is defined %}id="{{ bouton.id }}"{% endif %}
                   target="{{ bouton.target is defined ? bouton.target : '' }}"
                ><i class="{{ bouton.icone }}" ></i>
                    <span class="sr-only">{{ bouton.title }}</span></a></li>
        {% endfor %}
    </ul>
</div>
