<table style="border:1px solid black; collapse: 0px; width:100%">
    <thead>
    <tr>
        <th style="border:1px solid black; collapse: 0px">Créneaux</th>
        {% for jour, creneau in creneaux %}
        <th style="border:1px solid black; collapse: 0px" colspan="{{ creneau|length }}">{{ jour }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>&nbsp;</th>
        {% for jour, creneau in creneaux %}
            {% for cr in creneau %}
                <th style="border:1px solid black; collapse: 0px">{{ cr.debut|format_time('short') }}</th>
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for semaine in semaines %}
        <tr>
            <th style="border:1px solid black; collapse: 0px">Sem. {{ semaine.semaineFormation }}</th>
            {% for jour, creneau in creneaux %}
                {% for cr in creneau %}
                    <td style="border:1px solid black; collapse: 0px" data-creneau="{{ cr.id }}" data-semaine="{{ semaine.id
                    }}" class="bloquercreneau">&nbsp</td>
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
