<div class="buttons">
    <a href="{{ path('sa_'~ elt ~ '_delete', {id: id}) }}" data-csrf="{{ csrf_token('delete' ~ id) }}"
       class="btn btn-danger btn-sm btn-float supprimer" title="{{ 'atitle.supprimer'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
    ><i class="fas fa-trash"></i></a>
    <a href="{{ path('sa_'~ elt ~ '_show', {id: id}) }}" class="btn btn-info btn-sm btn-float" title="{{ 'atitle.voir'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
    ><i class="fas fa-eye"></i></a>
    {% if retour is defined %}
        <a href="{% if retour.params is defined %} {{ path(retour.path, retour.params) }}{% else %} {{ path(retour.path) }} {% endif %}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ retour.titre }}"><i class="fas fa-home"></i></a>
    {% else %}
        <a href="{{ path('sa_'~ elt ~ '_index') }}" class="btn btn-primary btn-float" title="{{ 'atitle.retour_liste'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
        ><i class="fas fa-arrow-left"></i></a>
    {% endif %}
</div>
