<div class="buttons">
    <a href="{{ path('sa_'~ elt ~ '_delete', {id: id}) }}" data-csrf="{{ csrf_token('delete' ~ id) }}"
       class="btn btn-danger btn-sm btn-float supprimer" title="{{ 'atitle.supprimer'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
    ><i class="{{ iconDelete }}"></i></a>
    <a href="{{ path('sa_'~elt~'_edit', {id: id}) }}" class="btn btn-warning btn-sm btn-float" title="{{ 'atitle.modifier'|trans }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
    ><i class="{{ iconEdit }}"></i></a>
    {% if retour is defined %}
        <a href="{% if retour.params is defined %} {{ path(retour.path, retour.params) }}{% else %} {{ path(retour.path) }} {% endif %}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ retour.titre }}"><i class="fas fa-arrow-left"></i></a>
    {% else %}
        <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="{{ 'atitle.retour_administration'|trans }}"><i class="{{ iconAdmin }}"><span class="sr-only">Administration</span></i></a>
    {% endif %}

</div>
