<div class="buttons">
    <a href="{{ path('sa_'~ elt ~ '_new') }}" class="btn btn-info btn-sm btn-float" title="{{ 'atitle.creer_nouveau'|trans }}" data-provide="tooltip" data-placement="bottom"><i class="fas fa-plus"></i></a>
    <a href="{{ path('super_admin_homepage') }}" class="btn btn-primary btn-float" data-provide="tooltip"
       data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}">
        <i class="{{ iconDashboard }}"><span class="sr-only">dashboard</span></i>
    </a>
</div>
