{% extends 'base.html.twig' %}

{% block header %}
    Liste des <strong>rattrapages du semestre {{ semestre.libelle }}</strong>
{% endblock %}

{% block headerright %}
    <div class="right gap-items-2">
        {% for sem in user_data.semestres %}
            <a href="{{ path('administration_rattrapage_semestre_index', {semestre:sem.id}) }}"
               class="btn btn-square btn-round {% if sem.id == semestre.id %}btn-primary{% endif %}"
               title="{{ 'atitle.changer.semestre'|trans }}"
               data-provide="tooltip"
               data-placement="bottom"
            >{{ sem.libelle }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administration_rattrapage_export', {semestre:semestre.id, _format:'pdf'}) }}"
               class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.imprimer_pdf'|trans }}"><i class="ti-printer"></i></a>
            <a href="{{ path('administration_rattrapage_export', {semestre:semestre.id,_format:'csv'}) }}"
               class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.save_csv'|trans }}"><i class="ti-save"></i></a>
            <a href="{{ path('administration_rattrapage_export', {semestre:semestre.id, _format:'xlsx'}) }}"
               class="btn btn-info btn-sm btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.save_xls'|trans }}"><i class="fa fa-table"></i></a>

            <a href="{{ path('administration_semestre_index', {semestre:semestre.id}) }}"
               class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_semestres'|trans }}"><i class="ti-arrow-left"></i></a>
            <a href="{{ path('administration_index') }}" class="btn btn-primary btn-float" data-provide="tooltip"
               data-placement="bottom" title="{{ 'atitle.retour_administration'|trans }}"><i class="ti-home"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                <thead>
                <tr>
                    <th>{{ 'table.etudiant'|trans }}</th>
                    <th>{{ 'table.matiere'|trans }}</th>
                    <th>{{ 'table.personnel'|trans }}</th>
                    <th>{{ 'table.date_evaluation'|trans }}</th>
                    <th>{{ 'table.date_demande'|trans }}</th>
                    <th>{{ 'table.absence_justifiee'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for rattrapage in rattrapages %}
                    <tr>
                        <td>{{ rattrapage.etudiant.display }}</td>
                        <td>{{ rattrapage.matiere ? rattrapage.matiere.codeMatiere : 'non.defini'|trans }}</td>
                        <td>{{ rattrapage.personnel ? rattrapage.personnel.display : 'non.defini'|trans }}</td>
                        <td>{{ rattrapage.dateEval ? rattrapage.dateEval|localizeddate('long', 'none', app.request.getLocale()) : 'non.defini'|trans }}</td>
                        <td>{{ rattrapage.created ? rattrapage.created|localizeddate('long', 'none', app.request.getLocale()) : 'non.defini'|trans }}</td>
                        <td>{% if absences[rattrapage.etudiant.id] is defined and absences[rattrapage.etudiant.id][rattrapage.dateEval|date('Ymd')] is defined and absences[rattrapage.etudiant.id][rattrapage.dateEval|date('Ymd')][rattrapage.heureEval|date('Hi')] is defined %}{{ absences[rattrapage.etudiant.id][rattrapage.dateEval|date('Ymd')][rattrapage.heureEval|date('Hi')] ? 'Yes'|trans : 'No'|trans }}{% else %}Pas d'absence saisie{% endif %}</td>
                        <td>
                            {% if rattrapage.etatDemande == 'f' %}
                                <a href="#"
                                   data-rattrapage="{{ rattrapage.id }}"
                                   class="btn btn-success btn-outline btn-square rattrapage-accepte bx_{{ rattrapage.id }}"><i
                                            class="ti-check"
                                            data-provide="tooltip"
                                            data-placement="bottom"
                                            title="{{ 'atitle.accepter.la.demande'|trans }}"></i></a>
                                <a href="#"
                                   data-rattrapage="{{ rattrapage.id }}"
                                   class="btn btn-warning btn-outline btn-square rattrapage-refuse bx_{{ rattrapage.id }}"><i
                                            class="ti-na"
                                            data-provide="tooltip"
                                            data-placement="bottom"
                                            title="{{ 'atitle.accepter.la.demande'|trans }}"></i></a>
                            {% elseif rattrapage.etatDemande == 'A' %}
                                <a href="#" class="btn btn-success btn-outline"><i class="ti-check"></i>
                                    Acceptée</a>
                            {% elseif rattrapage.etatDemande == 'R' %}
                                <a href="#" class="btn btn-warning btn-outline"><i class="ti-na"></i> Refusée</a>
                            {% else %}
                                Erreur
                            {% endif %}
                            <a href="{{ path('administration_rattrapage_delete', {id: rattrapage.id}) }}"
                               data-csrf="{{ csrf_token('delete' ~ rattrapage.id) }}"
                               class="btn btn-danger btn-outline btn-square supprimer" data-id="id"><i
                                        class="ti-close" data-provide="tooltip" data-placement="bottom"
                                        title="{{ 'atitle.supprimer'|trans }}"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                {#todo: ajotuer deux colonnes pour planifier date, salle et heure de rattrapage ? ou une page supplémentaire avec les demandes acceptées uniquement ?#}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_rattrapage_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "ti-printer"},
        {
            type:'info',
            href:path('administration_rattrapage_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'ti-save'
        },
        {
            type:'info',
            href:path('administration_rattrapage_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-table'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_rattrapage'}),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}
