{% extends 'base-speciale.html.twig' %}

{% block header %}{{ 'erreur500.heading'|trans }}{% endblock %}

{% block content %}
    <div class="row no-margin h-fullscreen" style="padding-top: 10%">

        <div class="col-12">
            <div class="card card-transparent mx-auto text-center" style="box-shadow: none">
                <h1 class="text-secondary lh-1" style="font-size: 200px">500</h1>
              <hr class="w-30px">
              <h3 class="text-uppercase">{{ 'titre.500'|trans }}</h3>
                <twig:Alert type="warning">
                    <strong>{{ exception.message }}</strong>
                </twig:Alert>

              <p class="lead">{{ 'message.500'|trans }}</p>
              <br>
              <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center fs-14">
                <li class="nav-item">
                  <a class="nav-link" href="mailto:david.annebicque@univ-reims.fr" target="_blank">{{ 'report.problem'|trans }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path(app.request.server.get('http-referer')|default('default_homepage')) }}">{{ 'return.page.precedente'|trans }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('default_homepage') }}">{{ 'return.home'|trans }}</a>
                </li>
              </ul>
            </div>
        </div>

        {{ include('_footer.html.twig') }}
    </div>
{% endblock %}
