{% extends 'base.html.twig' %}

{% block header %}
    {{ 'settings.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <nav class="nav">
            <a class="nav-link active show"
               href="#vosInformations" data-bs-toggle="tab" role="tab"
               id="profil-vosInformations">{{ 'tab.vosInformations'|trans }}</a>
            {% if not is_granted('ROLE_ETUDIANT') %}
                <a class="nav-link" href="#vosParametres" data-bs-toggle="tab" role="tab"
                   id="profil-vosParametres">{{ 'tab.vosParametres'|trans }}</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}

{% block content %}

    <div class="tab-content">
        <div class="tab-pane active show" id="vosInformations">
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
            {% if type == 'personnel' %}
                {{ form_row(form) }}
            {% else %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <h4 class="card-title">Vos informations</h4>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        {{ form_row(form.mail_perso) }}
                                        {{ form_row(form.site_perso) }}
                                        {{ form_row(form.tel1) }}
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        {{ form_row(form.tel2) }}
                                        {{ form_row(form.intituleSecuriteSociale) }}
                                        {{ form_row(form.adresseSecuriteSociale) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <h4 class="card-title">Vos coordonnées</h4>
                            <div class="card-body">
                                {{ form_row(form.adresse) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <h4 class="card-title">Coordonnées parentales (si mineur)</h4>
                            <div class="card-body">
                                {{ form_row(form.adresseParentale) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
            {{ form_end(form) }}
        </div>
        {% if not is_granted('ROLE_ETUDIANT') %}
            <div class="tab-pane" id="vosParametres">
                {% if user.password is defined %}
                    <div class="card">
                        <h4 class="card-title">{{ 'settings.votre.password'|trans }}</h4>
                        <div class="card-body">
                            <twig:Alert type="warning">
                                Attention ! Cette fonctionnalité n'est à utuliser que si vous n'utilisez pas le CAS de
                                l'Université. Si vous utilisez le CAS la modification doit se faire sur votre bureau
                                virtuel.
                            </twig:Alert>
                            <form>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="password_actuel" class="required">Mot de passe actuel</label>
                                            <input type="password"
                                                   id="password_actuel"
                                                   name="password_actuel"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="password_1" class="required">Nouveau mot de passe</label>
                                            <input type="password"
                                                   id="password_1"
                                                   name="password_1"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="password_2" class="required">Répéter le nouveau mot de
                                                passe</label>
                                            <input type="password"
                                                   id="password_2"
                                                   name="password_2"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid mt-2">
                                    <button class="btn d-block btn-success" id="valideNewpassword">
                                        Enregistrer la modification du mot de passe
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <h4 class="card-title">{{ 'settings.vos.parametres.absences'|trans }}</h4>
                    <div class="card-body">
                        {% if user.typeUser == 'permanent' %}
                        <div class="row">
                            <div class="col-6">
                                <div class="media">
                                    <div class="media-body">
                                        <p><strong>{{ 'table.validationSaisieAbsence'|trans }}</strong></p>
                                        <p>{{ 'help.validationSaisieAbsence'|trans }}</p>
                                    </div>
                                    <label class="switch" for="validationSaisieAbsence">
                                        <input type="checkbox" {{ (user_data.user.configuration
                                        .validationSaisieAbsence is
                                        defined and user_data.user.configuration.validationSaisieAbsence == true) ?
                                        'checked': '' }}
                                               class="changeConfigurationPersonne"
                                               name="validationSaisieAbsence"
                                               id="validationSaisieAbsence">
                                        <span class="switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="media">
                                    <div class="media-body">
                                        <p><strong>{{ 'table.saisieDesPresents'|trans }}</strong></p>
                                        <p>{{ 'help.saisieDesPresents'|trans }}</p>
                                    </div>
                                    <label class="switch" for="saisieDesPresents">
                                        <input type="checkbox" {{ (user_data.user.configuration.saisieDesPresents is
                                        defined and user_data.user.configuration.saisieDesPresents == true) ?
                                        'checked': '' }}
                                               class="changeConfigurationPersonne"
                                               name="saisieDesPresents"
                                               id="saisieDesPresents">
                                        <span class="switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h4 class="card-title">{{ 'settings.vos.parametres.departements'|trans }}</h4>
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'table.departement'|trans }}</th>
                                <th>{{ 'table.diplomes'|trans }}</th>
                                <th>{{ 'table.par.defaut'|trans }}</th>
                            </tr>
                            </thead>

                            {% for departement in user.personnelDepartements %}
                                <tr>
                                    <td>{{ departement.departement.libelle }}</td>
                                    <td>{% for diplome in departement.departement.diplomes %}{{ diplome.display }}, {% endfor %}</td>
                                    <td>
                                        <div class="form-check">
                                            <label for="pardefaut_{{ departement.departement.uuidString }}"
                                                   class="sr-only">
                                                {{ departement.departement.libelle }} par défaut
                                            </label>
                                            <input class="form-check-input departementParDefaut" type="radio"
                                                   name="pardefaut"
                                                   id="pardefaut_{{ departement.departement.uuidString }}"
                                                   value="{{ departement.departement.uuidString }}"
                                                   {% if departement.defaut == true %}checked{% endif %}>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                            <twig:Alert type="danger">{{ 'erreur.type.user'|trans }}</twig:Alert>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('settings') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('settings') }}
{% endblock %}
