{% extends 'base.html.twig' %}

{% block header %}
    {{ 'settings.heading'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <h4 class="card-title">Card title</h4>

        <div class="card-body">
            Choix de la formation par défaut (automatiquement logé)
            Définition de la signature, de l'avatar
            gestion de l'adresse (plutôt que dans apropos ?)

            {% form_theme form 'form/bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('label.save'|trans) }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}