{% extends 'base-administratif.html.twig' %}

{% block header %}
    {{ 'scolarite.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        <div class="buttons">
            <a href="{{ path('administratif_homepage') }}"
               class="btn btn-primary btn-float"
               title="{{ 'atitle.retour_administratif'|trans }}"
               data-provide="tooltip"
               data-placement="bottom">
                <i class="ti-arrow-left"></i>
                <span class="sr-only">{{ 'atitle.retour_administratif'|trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'scolarite.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Diplôme</th>
                    <th>Type</th>
                    <th>Actif</th>
                    <th>Année en cours</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for diplome in diplomes %}
                    <tr>
                        <td>{{ diplome.libelle }}</td>
                        <td>{{ diplome.typeDiplome.libelle }}</td>
                        <td>{{ diplome.actif == true ? 'Actif' : 'Désactivé' }}</td>
                        <td>{{ diplome.anneeUniversitaire.libelle }}</td>
                        <td>
                            <a href="{{ path('administratif_scolarite_diplome', {'diplome': diplome.id}) }}"
                               class="btn btn-info btn-outline btn-square"
                               data-provide="tooltip"
                               data-placement="bottom"
                               title="{{ 'atitle.details'|trans }}">
                                <i class="{{ iconShow }}"></i>
                                <span class="sr-only">{{ 'atitle.details'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
