{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.actualite.modification.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-edit.html.twig', {elt:'actualite', id: actualite.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.actualite.modification.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('composants/adm-form.html.twig', {'button_label': 'update'|trans}) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tinyMce') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tinyMce') }}
{% endblock %}
