{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.actualite.index.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-index.html.twig', {elt:'actualite'}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.actualite.index.heading'|trans }}</h4>
        <div class="card-body">
            <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                <thead>
                <tr>
                    <th>{{ 'table.titre'|trans }}</th>
                    <th>{{ 'table.texte'|trans }}</th>
                    <th>{{ 'table.updated'|trans }}</th>
                    <th>{{ 'table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for actualite in actualites %}
                    <tr id="ligne_{{ actualite.id }}">
                        <td>{{ actualite.titre }}</td>
                        <td>{{ actualite.texte }}</td>
                        <td>{{ actualite.updated ? actualite.updated|localizeddate('long', 'short', app.request.getLocale()) : '' }}</td>
                        <td>
                            {{ include('composants/adm-buttons-table-index.html.twig', {elt: 'actualite', id: actualite.id}) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'no.record.found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block fabactions %}
    {{ include('composants/fab-buttons.html.twig', {boutons:[
        {type: 'info',
            href: path('administration_actualite_export', {_format:'pdf'}),
            title: 'exporter.pdf'|trans,
            icone : "ti-printer"},
        {
            type:'info',
            href:path('administration_actualite_export', {_format:'csv'}),
            title: 'exporter.csv'|trans,
            icone: 'ti-save'
        },
        {
            type:'info',
            href:path('administration_actualite_export', {_format:'xlsx'}),
            title: 'exporter.xls'|trans,
            icone: 'fa fa-table'
        },
        {
            type:'info',
            href:path('administration_actualite_new'),
            title: 'ajouter'|trans,
            icone: 'ti-plus'
        },
        {
            type:'info',
            href:path('help_article', {sujet: 'administration_actualite'}),
            title: 'aide'|trans,
            icone: 'ti-help'
        }
    ]}) }}
{% endblock %}