{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.actualite.show.heading'|trans }}
{% endblock %}

{% block headeractions %}
    <div class="header-action">
        {{ include('composants/adm-buttons-show.html.twig', {elt: 'actualite', id: actualite.id}) }}
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.actualite.show.heading'|trans }}</h4>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ actualite.id }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ actualite.created ? actualite.created|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ actualite.updated ? actualite.updated|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ actualite.titre }}</td>
                </tr>
                <tr>
                    <th>Texte</th>
                    <td>{{ actualite.texte }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}